<!-- ==============[هدر]=========== -->
<div class="flex justify-center relative">
    <img class="baner" src="assets/img/search-baner.svg" alt="baner" >
    <div class="absolute text-center w-[85%] sm:!w-[72%] xl:!w-[56%]
    mt-20 sm:!mt-16 md:!mt-24">
        <div class="flex justify-center sm:!mb-4 lg:!mb-8 lg:!-mt-4 2xl:!mb-12">
            <h5 class="baner-titile flex justify-center
            sm:!text-3xl">مقاله،آموزش یا اکسپرتی که به دنبال آن هستید را جست و جو کنید</h5>
        </div>
        <div class="flex justify-center">
            <div class="flex justify-between items-center box-search h-16
            sm:!h-20 w-full lg:!w-[80%]">
                <input class="h-full search-input-box" placeholder="جستجو" type="text">
                <button>
                    <i class="scale-75 ie-search-page"></i>
                </button>
            </div>
        </div>
    </div>
</div>
 <!-- ==================[فیلتر تگ ها]======== -->
 <div class="hidden sm:flex sm:justify-center items-center mr-4 lg:!-mr-2 mb-6 sm:mt-20 2xl:!-mr-20">
     <div class="flex xl:flex-nowrap sm:flex-wrap">
        <ng-container *ngFor="let item of tags;let i = index">
            <button
            (click)="toggle(i)"
            [ngClass]="tags[i].active ? 'btn-tags-actived pt-1 pb-0 pr-6 pl-6 md:!text-lg' : 'btn-tags pt-1 pb-0 pr-6 pl-6 md:!text-lg'"
            >{{item.name}}</button>
        </ng-container>
     </div>
 </div>
     <!-- =========[فیلتر تگ ها رسپانسیو]========= -->
 <div class="sm:hidden overflow-scroll w-[98vw] flex flex-nowrap mr-4 items-center mt-7 pb-4">
     <ng-container *ngFor="let item of tags;let i = index">
         <button
         (click)="toggle(i)"
         [ngClass]="tags[i].active ? 'btn-tags-actived h-auto pr-4 pl-4' : 'btn-tags h-auto pr-4 pl-4'"
         >{{item.name}}</button>
     </ng-container>
 </div>