<div class="flex justify-center">
  <div class="lg::w-9/12 mb-7">
    <div class="mb-3">
      <div class="md:mb-10 mb-2">
        <div class="flex items-center text-base font-semibold text-[#3246D3]">
          <div
            class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
          ></div>
          <p class="mt-1.5 text-[#3246D3]">ATM نظرات خریداران ربات</p>
        </div>
        <p class="sm:text-[27px] text-xl font-bold mt-1 text-black">
          لطفا نظرات خود را جهت راهنمایی دیگر خریداران ثبت کنید
        </p>
      </div>
      <form [formGroup]="form" (ngSubmit)="commentServices()">
        <div class="flex flex-col items-center">
          <div
            class="flex md:w-[52.5rem] justify-between max-lg:flex-col max-lg:items-center"
          >
            <div class="sep-part max-md:w-11/12">
              <input
                type="text"
                placeholder="نام خود را وارد کنید"
                formControlName="NameInfo"
              />
              <div class="w-[20rem] flex items-center font-bold text-2xl">
                نام و نام خانوادگی
              </div>
            </div>
            <div class="sep-part max-md:w-11/12 max-md:mt-6">
              <input
                type="text"
                placeholder="ایمیل خود را وارد کنید"
                formControlName="Email"
              />
              <div class="w-[5rem] flex items-center font-bold text-2xl">
                ایمیل
              </div>
            </div>
          </div>

          <div class="md:w-10/12 w-11/12 mt-5">
            <textarea
              formControlName="textAr"
              placeholder="نظر خود را درباره بروکر معرفی شده ثبت کنید"
            ></textarea>
          </div>

          <div class="flex sm:w-10/12 flex-col">
            <div class="w-full flex justify-between max-md:flex-col-reverse">
              <div class="flex">
                <span class="font-bold">امتیاز دهید:{{ rateText }}</span>
                <span>برداشت خود را در بررسی مطلب ارائه شده ثبت کنید</span>
              </div>
              <div class="flex items-center max-md:mb-4">
                ثبت نظر به صورت ناشناس <app-toggle class="mr-3"></app-toggle>
              </div>
            </div>
            <div class="flex flex-col w-full justify-center">
              <div
                class="p-div lg:w-[18rem] flex flex-col p-2 text-2xl mb-[24px] justify-center"
              >
                <div class="flex flex-col">
                  <div class="flex flex-row-reverse max-md:justify-around">
                    <div class="flex justify-center">
                      <i
                        class="ie-bg-yellow absolute -z-10"
                        *ngIf="rate == 1"
                      ></i>
                      <i
                        class="ie-h1 mx-1"
                        (click)="putStyle(1, 'خیلی بد ')"
                      ></i>
                    </div>
                    <div class="flex justify-center">
                      <i
                        class="ie-bg-yellow absolute -z-10"
                        *ngIf="rate == 2"
                      ></i>
                      <i class="ie-h2 mx-1" (click)="putStyle(2, 'بد')"></i>
                    </div>
                    <div class="flex justify-center">
                      <i
                        class="ie-bg-yellow absolute -z-10"
                        *ngIf="rate == 3"
                      ></i>
                      <i class="ie-h3 mx-1" (click)="putStyle(3, 'خوب')"></i>
                    </div>
                    <div class="flex justify-center">
                      <i
                        class="ie-bg-yellow absolute -z-10"
                        *ngIf="rate == 4"
                      ></i>
                      <i
                        class="ie-h4 mx-1"
                        (click)="putStyle(4, 'خیلی خوب')"
                      ></i>
                    </div>
                    <div class="flex justify-center">
                      <i
                        class="ie-bg-yellow absolute -z-10"
                        *ngIf="rate == 5"
                      ></i>
                      <i class="ie-h5 mx-1" (click)="putStyle(5, 'عالی')"> </i>
                    </div>
                  </div>
                  <!-- <div class="flex justify-end items-center sm:mt-2 mt-6">
                    <span class="me-2">{{ rateText }}</span>
                    <button
                      class="bg-[#0080FF] text-white font-bold text-2xl p-2 rounded-2xl"
                    >
                      ثبت رای
                    </button>
                  </div> -->
                </div>
                <!-- <progress
                  min="0"
                  max="100"
                  class="pr-Before w-full cursor-pointer"
                  value="{{ rangeRate }}"
                  (click)="handleClick($event)"
                  [ngStyle]="{ '--movement': left }"
                ></progress> -->
              </div>
            </div>
            <div
              class="flex flex-col w-full max-md:items-center items-end justify-end mb-4 md:relative bottom-16 lg:-z-20"
            >
              <button
                class="bg--blue rounded-xl text-white sm:w-[13.5rem] w-[12rem] mr-2 p-4"
              >
                ثبت دیدگاه
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- <div class="border-solid border-2 border-gray-300 rounded-lg">
        <div
          class="flex justify-between border-b-2 m-2 py-2 sm:mx-8 border-gray-300"
        >
          <div class="flex justify-around text-xs">
            <div class="point-card font-extrabold">5</div>
            <p class="font-bold sm:leading-[20px] mx-2 pt-2 text-[#847b7b]">
              3 شهریور 1400
            </p>
            <p class="font-bold sm:leading-[20x] mx-2 pt-2 text-[#847b7b]">
              سعید عبداللهی
            </p>

            <div
              class="rounded-full flex text-[#17ee9d] items-center text-base bg-gray-100 px-6 ms-1 sm:mt-2 py-4 font-bold max-md:hidden sm:h-[36%]"
            >
              خریدار
            </div>
          </div>
          <div class="w-1/4 flex justify-end">
            <i
              class="fa fa-ellipsis-v leading-[44px] text-xl text-gray-400"
            ></i>
          </div>
        </div>
        <div class="sm:h-[48%] flex m-2 sm:mx-8 border-b-2 pt-2">
          <img
            src="../../../assets/img/avatar-c-2.webp"
            class="ms-8 h-12 w-12 bg-[#e8e8e8] rounded-full"
            alt="avatar"
            width="10"
            height="20"
          />
          <p class="sm:leading-[3.4rem] ms-2">
            سلام ... ابتدا یکماهه و سپس یکساله گرفتم و روی تمام جفت ارزهای ماژور
            کار میکنم ... خدا بهتون برکت بده و ممنون از محصول بی نظیرتون
          </p>
        </div>
        <div class="h-1/4 sm:m-2 mx-8">
          <span class="text-[#0f9260]"
            ><i class="fa fa-thumbs-up text-lg cursor-pointer"></i> 27+</span
          >
          <i class="fa fa-thumbs-down text-gray-400 text-lg cursor-pointer"></i>
        </div>
      </div>
      <div class="flex lg:items-end lg:h-64 max-lg:mt-7 mix-blend-screen:ms-3">
        <div class="h-full max-md:hidden">
          <div
            class="border-solid border-r-2 border-b-2 border-gray-300 w-5 h-4/6"
          ></div>
        </div>
        <div
          class="border-solid border-2 border-gray-300 w-full rounded-lg bg-[#E9F6FF]"
        >
          <div
            class="flex justify-between border-b-2 py-2 sm:mx-8 max-md:justify-around lg:w-full border-gray-300"
          >
            <div class="flex justify-around text-xs">
              <p class="font-bold sm:leading-[22px] text-[#847b7b] pt-2.5 me-2">
                3 شهریور 1400
              </p>
              <p class="font-bold sm:leading-[22px] text-[#847b7b] pt-2.5 me-2">
                سعید عبداللهی
              </p>
              <div
                class="rounded-full flex items-center text-white text-base md:py-4 bg-[#17C9EE] px-4 ms-1 sm:mt-2 p-1 font-bold md:h-[36%] max-md:h-fit"
              >
                فروشنده
              </div>
            </div>
            <div class="md:w-1/4 flex justify-end">
              <i
                class="fa fa-ellipsis-v leading-[44px] text-xl text-gray-400"
              ></i>
            </div>
          </div>
          <div class="flex m-2 sm:mx-8 border-b-2 pt-2">
            <img
              src="../../../assets/img/avatar-c.webp"
              class="ms-8 mb-3 h-12 w-12 rounded-full bg-white"
              alt="avatar"
              width="10"
              height="20"
            />
            <p class="ms-2 mx-2">
              سلام و عرض ادب ... خیلی ممنون لطف دارید همیشه پر سود باشید
            </p>
          </div>
          <div class="h-1/4 sm:m-2 mx-8">
            <span class="text-[#0f9260]"
              ><i class="fa fa-thumbs-up text-lg cursor-pointer"></i> 27+</span
            >
            <i
              class="fa fa-thumbs-down text-gray-400 text-lg cursor-pointer"
            ></i>
          </div>
        </div>
      </div> -->
      <!-- <div class="flex items-end h-64 ms-3">
        <div class="h-full">
          <div
            class="border-solid border-r-2 border-b-2 border-gray-300 w-5 h-4/6"
          ></div>
          <div class="border-solid w-5 h-2/6"></div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- ========================[رسپانسیو]================== -->
<div class="comment-mobile" [ngClass]="device == 'sm' ? 'block' : 'hidden'">
  <div class="lg:!mr-14 row">
    <span class="divid-h lg:!text-base">ATM نظرات خریداران ربات </span>
    <h6 class="faq-h mb-4 lg:!text-2xl">
      لطفا نظرات خود را جهت راهنمایی دیگر خریداران ثبت کنید
    </h6>
  </div>

  <!-- =======================[نظرات]=========== -->
  <!-- ===================={نظرات فروشنده}========== -->
  <!-- ==========={ارسال نظر}==== -->
</div>
