@media (min-width: 640px) {
  body {
    font-size: 8px !important ;
  }
  .ins-baner {
    max-width: 575px;
    min-width: 490px;
    min-height: 6rem;
  }
  .logo-i {
    padding: 0px 32px;
  }
}
@media (max-width: 640px) {
  .ins-baner {
    min-height: 5rem;
  }
  .logo-i {
    padding: 0px 22px;
  }
}

.link {
  border-radius: 30px;
}
.logo {
  transform: translate(0px, -26px);
}
.ins-baner {
  background: rgb(93, 0, 255);
  background: linear-gradient(
    267deg,
    rgba(93, 0, 255, 1) 24%,
    rgba(173, 62, 115, 1) 45%,
    rgba(240, 210, 20, 1) 82%
  );
  border-radius: 22px;
}
// .body {
//   color: white;
//   font-weight: 700;
//   padding-right: 24px;
//   font-size: 16px;
// }
