<div class="flex justify-center mt-8">
  <div
    class="flex flex-wrap items-center justify-center w-full md:flex-row flex-col-reverse lg:flex-nowrap"
  >
    <div
      class="relative contents lg:flex mb-4 mr-3 text-center md:basis-1/2 lg:text-right ml-24"
    >
      <div>
        <div class="sm:text-2xl text-lg font-bold">
          جدیدترین اخبار و رویدادها را در ایرانی اکسپرت دنبال کنید
        </div>
        <p class="sm:text-base font-normal">
          صفحه اینستاگرام ایرانی اکسپرت با قرعه کشی جذاب ماهانه
        </p>
      </div>
    </div>
    <!-- ===============[بنر اینستا]========== -->
    <div class="relative w-full md:basis-1/2 mt-8 lg:mt-0">
      <div class="flex flex-row ins-baner sm:p-4 p-1 mx-2">
        <div class="flex basis-1/4 items-center text-center">
          <div class="sm:text-base  ins-desc lg">
            برای عضویت در اینستاگرام ایرانی اکسپرت کلیک کنید
          </div>
        </div>
        <div class="flex items-center justify-center text-center basis-2/4">
          <a
            href="https://www.instagram.com/irani_expert/"
            class="link-ins text-sm px-0 py-2 bg-white mr-4 font-semibold flex min-w-[75%] justify-center"
            >ورود
          </a>
        </div>
        <div class="relative flex justify-center items-center basis-1/4">
          <img
            class="logo-ins absolute w-20"
            src="assets/img/logo-ins.webp"
            alt="logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
