<div class="flex justify-center mt-3">
  <div
    class="flex flex-wrap items-center justify-center w-full
    md:flex-row lg:flex-nowrap"
  >
    <div class="relative contents lg:flex mb-4 mr-3 text-center md:basis-1/2 lg:text-right ml-24">
      <div>
        <h6 class="sm:text-2xl text-lg font-bold">
          جدیدترین اخبار و رویدادها را در ایرانی اکسپرت دنبال کنید
        </h6>
        <p class="sm:text-base font-normal">
          صفحه اینستگرام ایرانی اکسپرت با قرعه کشی جذاب ماهانه
        </p>
      </div>
    </div>
    <!-- ===============[بنر اینستا]========== -->
    <div class="relative w-full md:basis-1/2 mt-8 lg:mt-0">
      <div class="flex flex-row ins-baner p-4 mx-2">
        <div class="flex basis-1/4 items-center text-center ">
          <p class="sm:text-base text-xs font-bold text-white">
            برای عضویت در اینستگرام ایرانی اکسپرت کلیک کنید
          </p>
        </div>
        <div class="flex items-center justify-center text-center basis-2/4">
          <a href="https://www.instagram.com/irani_expert/" class="link text-sm px-0 py-2 bg-white mr-4 font-semibold flex min-w-[75%] justify-center"
            >ورود
            <span class="sm:block hidden">به صفحه اینستگرام</span>
          </a>
        </div>
        <div class="relative flex justify-center items-center basis-1/4">
          <img class="logo absolute w-20" src="assets/img/logo-ins.webp" alt="logo" width="15" height="20" />
        </div>
      </div>
    </div>
  </div>
</div>
