<div class="all mt-3">
  <div class="inline-grid gap-8 grid-cols-2 items-center justify-items-start">
    <div class="relative">
      <h6 class="baner-h">
        جدیدترین اخبار و رویدادها را در ایرانی اکسپرت دنبال کنید
      </h6>
      <p class="baner-p">
        صفحه اینستگرام ایرانی اکسپرت با قرعه کشی جذاب ماهانه
      </p>
    </div>
    <div class="relative">
      <div class="grid grid-cols-3 gap-3 ins-baner">
        <div class="box-body">
          <p class="body">برای عضویت در اینستگرام ایرانی اکسپرت کلیک کنید</p>
        </div>
        <div class="box-link">
          <a href="#" class="link font-semibold">ورود به صفحه اینستگرام</a>
        </div>
        <div class="logo-i">
          <img class="logo" src="assets/img/ins.png" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</div>
