<div class="flex p-4 bg-white rounded-2xl box-shadow-ac border">
  <div class="w-4/12">
    <img
      class="bg-[#f3f3f3] rounded-2xl h-60 scale-x-[-1]"
      style="aspect-ratio: 4/3; object-fit: contain"
      src="../../../../../assets/img/hero.webp"
    />
  </div>

  <div class="w-9/12 flex flex-col justify-around p-2">
    <div>
      <h1 style="font-size: 38px; font-weight: 600">
        {{ product.title }}
      </h1>
      <div class="flex flex-row">
        <span
          class="border-l border-stone-300 pe-2 flex justify-center items-center"
        >
          <i
            class="fa fa-solid fa-star text-yellow-400 pl-0.5"
            *ngFor="let _ of [].constructor(product.rate)"
          ></i>

          <i
            class="fa fa-solid fa-star text-gray-300 pl-0.5"
            style="direction: ltr"
            *ngFor="let _ of [].constructor(5 - product.rate)"
          >
          </i>
          <span class="h-3/4"> {{ product.rate }} </span>
        </span>
        <span class="border-l border-stone-300 pe-2 ps-2"
          >بازدید ها {{ product.viewsCount }}
        </span>
        <span class="pe-2 ps-2">مشترک ها 232</span>
      </div>
    </div>
    <div>
      <p class="text-base">
        {{ product.description }}
      </p>
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <ng-container>
          <div
            *ngFor="let i of product.linkTag"
            class="rounded-full bg-neutral-100 pe-4 ps-4 p-1 text-base font-bold m-1 items-center"
            style="display: flex; align-items: flex-start"
          >
            <img class="w-4 pt-0.5" *ngIf="i.icon != ''" src="{{ i.icon }}" />
            {{ i.name }}
          </div>
        </ng-container>

        <!-- <div
          class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1"
        >
          فارکس
        </div>
        <div
          class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1"
        >
          اکسپرت
        </div>
        <div
          class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1"
        >
          ترید
        </div>
        <div
          class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1"
        >
          ترید
        </div> -->
      </div>
    </div>
    <div class="flex items-center justify-end border-t-[1px] pt-3 border-solid">
      <p class="pt-2 font-bold text-black text-xl">
        شروع قیمت از {{ product.minPrice }}$
      </p>
      <button
        class="bg-[#3246d3] border-2 ms-2 relative border-[#3246d3] border-solid text-white p-1 w-1/4 rounded-full text-lg"
      >
        بررسی پلن ها
      </button>
    </div>
  </div>
</div>
