<!-- <div
  class="button-right rounded-full text-white text-2xl text-center font-extrabold mx-1 bg-[#3246d3] p-1"
>
  فیلتر
</div>
<div class="p-4">
  <div class="border-b-2">
    <div
      class="font-bold text-base flex justify-between items-center cursor-pointer"
    >
      تاریخ
      <span class="text-sm flex text-gray-500">
        دوره
        <app-toggle class="me-1 ms-1" [name]="stres"></app-toggle>
        روز
      </span>
      <i
        class="text-gray-400 text-2xl"
        (click)="openFilter(0)"
        [ngClass]="
          this.openedList[0] != true ? 'fa fa-caret-left' : ' fa fa-caret-down'
        "
      ></i>
    </div>
    <div class="border-t-2" *ngIf="this.openedList[0] == true">
      <app-date-picker></app-date-picker>
    </div>
  </div>
  <div class="border-b-2">
    <div
      class="font-bold text-base flex justify-between items-center cursor-pointer"
    >
      اهمیت خبر

      <i
        class="text-gray-400 text-2xl"
        (click)="openFilter(1)"
        [ngClass]="
          this.openedList[1] != true ? 'fa fa-caret-left' : ' fa fa-caret-down'
        "
      ></i>
    </div>
    <div class="border-t-2" *ngIf="this.openedList[1] == true">sss</div>
  </div>
  <div class="border-b-2">
    <div
      class="font-bold text-base flex justify-between items-center cursor-pointer"
    >
      بخش

      <i
        class="text-gray-400 text-2xl"
        (click)="openFilter(2)"
        [ngClass]="
          this.openedList[2] != true ? 'fa fa-caret-left' : ' fa fa-caret-down'
        "
      ></i>
    </div>
    <div class="border-t-2" *ngIf="this.openedList[2] == true">sss</div>
  </div>
  <div class="border-b-2">
    <div
      class="font-bold text-base flex justify-between items-center cursor-pointer"
    >
      نماد

      <i
        class="text-gray-400 text-2xl"
        (click)="openFilter(3)"
        [ngClass]="
          this.openedList[3] != true ? 'fa fa-caret-left' : ' fa fa-caret-down'
        "
      ></i>
    </div>
    <div class="border-t-2" *ngIf="this.openedList[3] == true">sss</div>
  </div>
</div> -->
