<div class="all-articles mt-6">
    <div class="flex justify-start">
        <div class="articles-titile">
            <p class="title-b mb-2"> راه اندازی ربات معامله گر </p>
            <h6 class="bot-h mb-3">ربات معامله گر فارکس ATM</h6>
        </div>
    </div>
    <div class="flex justify-start">
        <div class="articles">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque harum blanditiis eos laboriosam
                facilis cumque odit nemo fugiat rerum id, vitae neque deserunt. Voluptates dolor esse debitis nemo neque? Rerum.
            </p>
        </div>
    </div>
</div>
