<div class="flex lg:flex-row-reverse flex-col m-6">
  <app-video-player
    class="lg:w-1/2"
    [VideoId]="100"
    [homeScreen]="false"
    [Link]="
      'https://persian15.cdn.asset.aparat.com/aparat-video/35ace1f461f00b987b81a756e8e133a456796996-480p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjYwYjJkMjcxNjg4NGUzY2NhZGM2NzA2Y2E5YjhmYmU1IiwiZXhwIjoxNzA1NzY3ODY4LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.CsrnMAeiKoEi8koBKVCgIYSQbBE8nBbyLHsfPQ5dG64'
    "
  ></app-video-player>
  <div class="lg:w-1/2 md:p-8">
    <h1 class="sm:text-4xl text-2xl font-extrabold md:m-6 md:ms-0 ms-3 md:mt-9">
      درباره ایرانی اکسپرت
    </h1>
    <span class="flex md:pt-3 sm:text-3xl text-xl font-bold md:m-6 md:ms-0">
      <i
        class="ms-3 ie-icon text-white flex items-center text-base ie-thick small"
      ></i>
      <p class="color--green pt-1.5 ps-2">آشنایی با تیم ما</p>
    </span>
    <p class="m-6 text-lg text-justify font-medium">
      با سلام ما تیم ربات ATM هستیم یک تیم نواور حوزه معاملات ارزهای خارجی
      (فارکس) با استفاده از تکنولوژیهای هوش مصنوعی از آغاز تأسیس ایرانی اکسپرت،
      1 فوریه سال 2021 ، ماموریت ما این بوده که بهترین اکسپرت معامله گری را
      ارائه دهیم که به معامله گران فارکس کمک کنند به شکل هوشمندانه‌تر و موفق‌تر
      در بازار حضور یابند. بخشی از فعالیت ایرانی اکسپرت در .حوزه فین تک است
    </p>
  </div>
</div>
<app-aboutus-targets class="max-lg:hidden">
  <i
    class="ms-3 ie-icon text-white flex items-center text-base ie-target small"
  ></i>
  <span class="text-3xl font-bold pt-2 ps-2">اهداف ما</span>
</app-aboutus-targets>
<app-aboutus-targets-responsive class="lg:hidden">
</app-aboutus-targets-responsive>

<div class="sm:mx-8">
  <h2 class="text-3xl">
    <i class="ie-icon ie-Rectangle"></i>
    چرا ما؟
  </h2>
  <div>چرا باید ایرانی اکسپرت رو انتخاب کنیم</div>
</div>
<div class="whyUs sm:flex-row flex-col">
  <div class="item">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>
  <div class="item">
    <h2 class="font-bold text-3xl">تخصص فنی :</h2>
    <p class="mx-6 font-medium text-lg my-4">
      تیم ما از متخصصین با رزومه آکادمیک قوی و با تجربه میانگین 5 ساله در حوزه
      بازارهای مالی، هوش مصنوعی و برنامه نویسی تشکیل شده است.
    </p>
    <h2 class="font-bold text-3xl">اهداف تیم فنی :</h2>
    <p class="mx-6 font-medium text-lg my-4">
      تیم ما از متخصصین با رزومه آکادمیک قوی و با تجربه میانگین 5 ساله در حوزه
      بازارهای مالی، هوش مصنوعی و برنامه نویسی تشکیل شده است.
    </p>
  </div>
  <div class="item sm:hidden block">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>

  <div class="item">
    <h2 class="font-bold text-3xl mt-4">شامل معیارهای استاندارد</h2>
    <p class="mx-6 font-medium text-lg my-4">
      ما تمامی معیارهای استاندارد برای نوشتن بهترین ربات هوش مصنوعی برای ترید رو
      داریم. مانند، استیتمنت بلندمدت، دارا بودن چندین حساب روی سایت‌های معتبر و
      مرجع مثل MQL و Myfxbook، ارایه حساب دمو، مدیریت سرمایه، همراه با پشتیبانی
      که تلاش ما برای ارایه تمامی این موارد موجب تفاوت ما با بقیه رقبا شده...
    </p>
  </div>
  <div class="item sm:block hidden">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>
  <div class="item">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>
  <div class="item">
    <h2 class="font-bold text-3xl mt-4">خدمات نوآورانه</h2>
    <p class="mx-6 font-medium text-lg my-4">
      ما به طور دائم به دنبال نوآوری هستیم و خدماتی ارائه می‌دهیم که باعث بهبود
      و سهولت در معاملالت فارکس و حفظ رضایت مشتریان می‌شوند. مثلا، سیستم کپی
      ترید ارایه شده توسط ایرانی اکسپرت، در ایران بی نظیره، که میتوانید از صفحه
      کپی ترید وب‌سایت، اطلاعات کامل را بدست آورید. منتظر نسخه دوم از سیستم کپی
      ترید ما باشید، که دقیقا مانند MQL5.COM هست و حتی کسانی‌که خدمات کپی ترید
      ارائه میدهند، می توانند خدمات خود را از طریق سایت ایرانی اکسپرت ارائه
      دهند. یعنی، کپی ترید را راه‌اندازی کنند تا سرمایه گذاران بهشون وصل شوند.
    </p>
  </div>
  <div class="item block sm:hidden">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>

  <div class="item">
    <h2 class="font-bold text-3xl mt-4">تیم بین المللی</h2>
    <p class="mx-6 font-medium text-lg my-4">
      از دیگر مواردی که ایرانی اکسپرت را بی بدیل کرده همکاری با یک تیم بین
      المللی است که از کشورهای مختلف با تیم مرکزی در ارتباطند. به‌عنوان مثال،
      مدیر فنی -برنامه نویسی ایرانی اکسپرت، مدرس دانشگاه ژیان چین (شعبه دانشگاه
      لیورپول انگلستان) است که با برگزاری ماهانه جلسات داخلی، تمامی سیستم های
      نرم افزاری و هوش مصنوعی اعم از ربات و کپی ترید را آپدیت می‌کنند.
    </p>
  </div>
  <div class="item hidden sm:block">
    <img
      src="../../../../../assets/img/whyUs.webp"
      class="w-full h-full"
      alt="why-us"
      width="717"
      height="418"
    />
  </div>
</div>
<app-comment-slider>
  <h2 class="flex items-center text-3xl font-bold">
    <i class="ie-icon ie-starUser me-2"></i> رضایت مشتریان
  </h2>
  <span class="text-base">چرا مشتریان از خرید ربات Atm رضایت دارند؟</span>
  <div class="flex flex-col items-center">
    <h3 class="text-2xl font-bold">تجربه‌ای جذاب و سودآور !</h3>
    <span class="max-w-[50rem] text-justify"
      >زمانی که با ربات معامله گر فارکس کار کردم تجربه معاملاتم به شدت بهبود
      یافته است. ربات با الگوریتم‌های هوش مصنوعی پیشرفته خود، تصمیمات
      هوشمندانه‌ای را انجام داده و به من کمک کرده است تا سود بیشتری در بازار
      فارکس داشته باشم</span
    >
  </div>
</app-comment-slider>
<div class="flex flex-col items-center max-sm:mt-10">
  <h2 class="max-w-[80rem] font-bold text-2xl relative left-[15%]">
    سود ما در راستای سود شماست
  </h2>
  <div
    class="flex sm:flex-row flex-col-reverse border-solid border-2 rounded-2xl border-[#707070] mx-8 my-4 sm:max-h-[8rem] sm:max-w-[80rem]"
  >
    <div class="flex justify-end">
      <img
        class="sm:relative sm:bottom-16 sm:w-[26rem] h-[6.5rem] sm:h-[12rem]"
        src="../../../../../assets/img/btcFlower.webp"
        class="w-full h-full"
        alt="why-us"
        width="717"
        height="418"
      />
    </div>
    <p class="py-10 px-8 font-xl font-bold">
      ما با افتخار توجه به تجربیات مشتریانمان از ربات معامله‌گر ATMداریم و به
      دنبال بهبود مداوم خدمات خود هستیم. اگر شما هم تجربیات یا نظراتی دارید،
      خوشحال می‌شویم که این اطلاعات را با ما به اشتراک بگذارید .
    </p>
  </div>
</div>
<div class="flex flex-col items-center">
  <h2 class="font-bold text-2xl">
    ATM ویدیو نتایج شما از ربات معامله گر <i></i>
  </h2>
  <span class="text-base"
    >را به نمایش می گزارد ATM ویدیو هایی که شما از حساب های ریل خود ارسال کردید
    و نتایج معاملات ربات معامله گر</span
  >
</div>
<app-video-slider></app-video-slider>

<!-- <div class="item">
  <h2 class="font-bold text-3xl mt-4">شامل معیارهای استاندارد</h2>
  <p class="mx-6 font-medium text-lg my-4">
    ما تمامی معیارهای استاندارد برای نوشتن بهترین ربات هوش مصنوعی برای ترید رو
    داریم. مانند، استیتمنت بلندمدت، دارا بودن چندین حساب روی سایت‌های معتبر و
    مرجع مثل MQL و Myfxbook، ارایه حساب دمو، مدیریت سرمایه، همراه با پشتیبانی که
    تلاش ما برای ارایه تمامی این موارد موجب تفاوت ما با بقیه رقبا شده...
  </p>
</div>
<div class="item"><img src="../../../../../assets/img/whyUs.webp" class="w-full h-full" alt="why-us" width="717" height="418" /></div> -->
<div class="mx-8 mt-24">
  <div class="sm:mx-20">
    <div class="flex">
      <i class="ie-icon ie-handshake"></i>
      <h3 class="font-bold text-3xl">دعوت به همکاری</h3>
    </div>
    <p class="font-semibold text-sm">فرصت های شغلی در ایرانی اکسپرت</p>
  </div>
  <div class="flex sm:flex-row flex-col justify-center">
    <div class="sm:w-5/12 flex flex-col justify-evenly">
      <p class="font-medium text-sm text-black">
        <span class="font-normal">
          ما به ایده‌های نوآورانه پایبندیم و پیشرفت پایدار را برای تجارت‌ها
          فراهم می‌کنیم. بنابراین
        </span>
        <br />
        <i class="ie-icon ie-Rectangle"></i>
        از تمامی برنامه‌نویسان (هوش مصنوعی و وب) و تریدرها، جهت همکاریف دعوت
        به‌عمل می‌آید
        <br />

        <i class="ie-icon ie-Rectangle"></i>
        همچنین از همـــکاران گرامی دعـوت می شود، اگر اکسپرت قابل ارائه دارنـد،
        جهت فروش آن محصول در ایرانی اکسپرت، با پشتیبانی در ارتباط باشند
        <br />
        با ما همراه شوید تا به همراه یکدیگر به آینده تجارت الکترونیکی پیش برویم
      </p>
      <div class="flex">
        <button
          class="bg-main-blue border-2 flex items-center justify-evenly relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] text-white sm:px-2 px-6 p-2 w-40 rounded-full font-semibold sm:text-base text-sm"
        >
          ارسال رزومه
          <i
            class="flex items-center ab justify-evenly ie-icon ie-dir bottom-[3px] relative left w-3"
          ></i>
        </button>
        <button class="ms-3 text-gray-500">درخواست همکاری</button>
      </div>
    </div>
    <div class="sm:w-5/12 mt-4">
      <img
        src="../../../../../assets/img/whyUs.webp"
        class="w-full h-full"
        alt="why-us"
        width="717"
        height="418"
      />
    </div>
  </div>
</div>
<app-free-advice></app-free-advice>
