ul {
  list-style-type: none; /* Removes the default dot */
  padding-left: 20px; /* Adjust the left indentation */
  position: relative; /* Enable relative positioning */
}

ul li::before {
  content: "";
  vertical-align: middle;
  position: absolute; /* Enable absolute positioning */
  right: -15px; /* Adjust the horizontal position of the bullet */
  transform: translateY(23px); /* Center the bullet vertically */
  width: 12px;
  height: 12px;
  background-color: blue; /* Change the color of the bullet */
  border-radius: 50%; /* Make the bullet round */
}
.close-btn {
  position: relative;
  left: 20%;
  bottom: 14rem;
}
.open-item {
  animation: myAnim 0.5s linear 0s 1 normal forwards;
}
.video-bottom-Shadow {
  filter: blur(8px);
  height: 7rem;
  transform: translatey(-104px);
  position: absolute;
  width: 76rem;
  background-image: linear-gradient(
    to top,
    #ffffffa3,
    #ffffff,
    #ffffffba,
    rgba(255, 255, 255, 0.568627451),
    rgba(255, 255, 255, 0.3607843137)
  );

  z-index: 1000;
}
@keyframes myAnim {
  0% {
    top: 0px;
  }

  100% {
    top: 7.5rem;
  }
}
