@import "../../../sass/colors";
.bg-page{
  background-color: #FBFBFB;
}
@media (min-width: 1024px) {
  .baner-bot {
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  }
  .of-number {
    font-size: 5rem;
  }
}
.robot-trader-img {
  object-fit: contain;
  width: auto;
  aspect-ratio: 16/11;
}
.header-start {
  &::before {
    content: "";
    width: 20px;
    height: 5px;
    background-color: $blue;
    border-radius: 6px;
    display: inline-block;
    margin: 2px 6px;
  }
}
.blue-font {
  color: #0080ff;
}
.blue-back {
  background-color: #0066ff;
}
.green-back {
  background-color: #098b41;
}
.divider {
  border-radius: 30px;
  margin-bottom: 0.5rem;
}

.inside-box-shadow {
  box-shadow: inset -14px -27px 130px 19px rgba(0, 0, 0, 0.63);
}
::-webkit-scrollbar {
  display: none;
}

.baner-bot {
  background: rgb(0, 22, 178);
  background: linear-gradient(
    270deg,
    rgb(0, 22, 178) 28%,
    rgb(102, 146, 215) 76%
  );
  width: 100%;
  align-items: center;
  border-radius: 15px;
  height: 9rem;
}
.of-number {
  color: #fe0;
  font-style: oblique;
}
.box-articles {
  background-color: white;
  height: auto;
  border: #eaeaea 1px solid;
  border-radius: 20px;
  padding: 1.5rem;
}
.box-articles h5 {
  font-size: 1.4rem;
  color: #0080ff;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.school-box {
  background-color: white;
  border: #eaeaea solid 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
}
.box-video {
  background-color: #fafafa;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
.video {
  background-color: white;
  height: 160px;
  width: 100%;
}
.video-title {
  font-weight: 600;
  color: #7d7d7d;
  font-size: 0.9rem;
}
.time-video {
  color: #7d7d7d;
  font-size: 0.8rem;
  background-color: #f5f5f5;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border-radius: 22px;
}
.title1-row {
  color: black;
}
.title2-row {
  color: #098b41;
  font-size: 1.2rem;
}
ul {
  list-style-type: none;
  margin-left: 10px;
}

ul li {
  margin-bottom: 12px;
  margin-left: -10px;
  display: flex;
  align-items: center;
}
.ul-space {
  li:not(:last-child) {
    margin-bottom: 48px !important;
  }
}

.secend-line::before {
  position: relative;
  bottom: 9px;
}
ul li::before {
  color: transparent;
  font-size: 1px;
  content: " ";
  margin-left: -1.3em;
  padding: 6px;
  padding-top: 0px;
  content: url(../../../assets/icon/Tick-circle.svg);
}
