<div class="flex flex-row-reverse w-full sm:p-5 p-2">
  <div class="lg:w-9/12 w-full">
    <div class="flex justify-between">
      <div class="flex items-center blue-font font-semibold">
        <i class="ie-folder"></i>
        <span class="mt-2 ms-2">ترید فارکس</span>
      </div>
      <div
        class="flex items-center blue-font font-semibold bg-gray-100 p-1 px-4 rounded-full"
      >
        <span class="mt-1.5 me-2"> اشتراک گزاری </span>

        <img src="../../../assets/img/shared-icon.svg" alt="" />
      </div>
    </div>
    <h1 class="text-black font-bold text-4xl mt-3 mb-1 max-sm:text-2xl">
      صفر تا صد کپی تریدینگ در فارکس
    </h1>
    <div>
      <small class="font-light">انتشار : 01 دی 1402</small>
      <small class="ms-6 font-light">زمان مطالعه 7 دقیقه</small>
    </div>
    <div
      class="flex relative my-4 bg-[#CFCFCF] rounded-2xl inside-box-shadow max-md:hidden"
    >
      <img
        class="img-blog rounded-xl"
        src="../../../assets/img/Copy-Trading-1.png"
      />
      <div class="absolute flex h-full w-full items-center">
        <div class="mt-60 mr-12">
          <div class="divider blue-back w-1/4 h-1"></div>
          <h4 class="title-blog-img text-white text-4xl font-semibold">
            صفر تا صد کپی تریدینگ در فارکس
          </h4>
        </div>
      </div>
    </div>
    <p class="text-justify text-lg font-medium mt-2 mb-4">
      آیا شما هم از آن دسته افرادی هستید که علاقه مند به انجام معاملات در
      بازارهای مالی نظیر فارکس و کسب درآمد دلاری از آن ها هستید اما دانش لازم را
      ندارید؟ آیا می توانید به خوبی تجزیه و تحلیل کنید اما استراتژی سودآور
      ندارید و در کسب سود ثابت در بازار شکست خورده‌اید؟ آیا مشغله کاری شما آنقدر
      زیاد است که نمی‌توانید تمام وقت خود را به معاملات فارکس اختصاص دهید؟
      <br />
      امروزه، کپی تریدینگ (copytrading)، یکی از روش‌های درآمدزایی در فارکس می
      باشد که به کاربران این امکان را می‌دهد که بدون نیاز به تجربه‌ی حرفه‌ای در
      بازار فارکس، از موفقیت سرمایه‌گذاران حرفه‌ای بهره‌مند شوند. این نوع
      معاملات به دلیل این واقعیت که به معامله گران تازه کار اجازه فعالیت و کسب
      درآمد می دهد، به طور فزاینده‌ای محبوب شده است. بنابراین در این مقاله، به
      مفهوم کپی ترید فارکس، نحوه انجام کپی تریدینگ و سیستم کپی ترید ربات ATM
      ایرانی اکسپرت، به‌عنوان یک اکسپرت کپی ترید متاتریدر، پرداخته‌ایم که می
      تواند بهترین گزینه برای شما باشد.
    </p>
    <app-content-menu [data]="listElems" [wid]="100"></app-content-menu>
    <h2 class="font-bold text-3xl">
      (copytrading) کپی تریدینگ به زبان ساده چیست؟
    </h2>
    <p class="text-justify text-lg font-medium mt-2 mb-4">
      کپی ترید یا کپی تریدینگ (copytrading)، یک روش در بازارهای مالی است که به
      افراد امکان می‌دهد تا معاملات و سیاست‌های مالی یک سرمایه‌گذار حرفه‌ای را
      تقلید کنند. به عبارت دیگر، شما می‌توانید به عنوان یک سرمایه‌گذار عادی،
      معاملات یک سرمایه‌گذار حرفه‌ای را کپی کرده و به اندازه‌ی آن شخص در بازار
      سرمایه حضور داشته باشید.
      <br />
      حال اینکه چگونه کپی ترید کنیم، به این صورت است که شما یک حساب مخصوص باز
      کرده و به سیستم مدیریت حساب متصل می‌شوید. سپس، شما می‌توانید یک یا چند
      سرمایه‌گذار حرفه‌ای را انتخاب کرده و معاملات آن‌ها را کپی کنید. هر وقت که
      سرمایه‌گذار حرفه‌ای مورد انتخاب شما یک معامله را انجام دهد، این معامله به
      صورت خودکار در حساب شما نیز اجرا می‌شود.
      <br />
      به این ترتیب، شما از تجربیات و استراتژی‌های تریدرهای حرفه‌ای بهره می‌برید،
      حتی اگر خود تجربه‌ی کمتری در بازار سرمایه داشته باشید. البته، همواره وجود
      ریسک‌ها و اینکه ممکن است عملکرد گذشته یک سرمایه‌گذار نشانگر عملکرد آینده
      نباشد، در نظر بگیرید و با دقت و اطلاعات کافی اقدام به انتخاب سرمایه‌گذاران
      حرفه‌ای کنید.
    </p>
    <div
      class="flex relative my-4 bg-[#CFCFCF] rounded-2xl inside-box-shadow max-md:hidden"
    >
      <img
        class="img-blog rounded-xl"
        src="../../../assets/img/Mask Group 158.png"
      />
      <div class="absolute flex h-full w-full items-center">
        <div class="mt-60 mr-[34rem]">
          <div class="divider blue-back w-1/4 h-1"></div>
          <h4 class="title-blog-img text-4xl font-semibold">
            مزایا و معایب کپی تریدینگ
          </h4>
        </div>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="flex flex-col">
          <h3 class="font-bold text-3xl">مزایای کپی تریدینگ</h3>
          <p class="p-10 ps-0 text-lg">
            <span class="font-bold"> سهولت در شروع: </span>
            کپی تریدینگ به شما به عنوان مبتدی و تریدری که تازه وارد دنیای مالی
            شده‌، این امکان را می‌دهد که بدون دانش عمیق در زمینه مالی، به معامله
            بپردازند.
            <br />
            <br />
            <br />
            <span class="font-bold"> صرفه‌جویی در زمان: </span>
            با استفاده از سیستم کپی تریدینگ، نیازی به تحلیل بازار و اتخاذ
            تصمیمات معاملاتی زمان‌بر ندارید و و در زمان خود صرفه‌جویی می‌کنید
            <br />
            <br />
            <br />
            <span class="font-bold"> افزایش اطمینان: </span>
            تریدرها معمولاً از تصمیمات معاملاتی خود مطمئن نیستند. اما با کپی
            تریدینگ، معاملات به صورت اتوماتیک اجرا می‌شوند و این، اطمینان را
            افزایش می‌دهد
            <br />
            <br />
            <br />
            <span class="font-bold"> متنوع‌سازی سرمایه: </span>
            امکان کپی تریدینگ به تریدران این امکان را می‌دهد که سرمایه خود را بر
            روی چندین استراتژی و تریدر تنوع دهند.

            <br />
            <br />
            <br />
            <span class="font-bold"> مدیریت ریسک: </span>
            کپی تریدینگ به شما این امکان را می‌دهد که معاملات خود را بر اساس سطح
            ریسک تریدر حرفه‌ای مدیریت کنید
          </p>
        </div>

        <div>
          <img
            src="../../../assets/img/phone trader.png"
            alt=""
            class="min-w-[35rem]"
          />
        </div>
      </div>
      <div class="flex">
        <div class="m-20 ms-0">
          <img
            src="../../../assets/img/flover-pot.png"
            class="min-w-[22rem]"
            alt=""
          />
        </div>
        <div>
          <h3 class="font-bold text-3xl">معایب کپی تریدینگ</h3>
          <p class="p-10 ps-0 text-lg">
            <span class="font-bold"> عدم کنترل کامل: </span>
            شما به عنوان کپی‌کننده، هیچ کنترلی بر فرآیند تصمیم‌گیری و اجرای
            معاملات ندارید، این ممکن است باعث احساس کمبود کنترل شود
            <br />
            <br />
            <span class="font-bold">
              عملکرد گذشته نمی‌تواند به طور دقیق پیش‌بینی کننده آینده باشد:
            </span>
            اینکه یک تریدر در گذشته موفق بوده، همیشه تضمینی برای موفقیت در آینده
            نیست. بازارهای مالی همواره تغییر می‌کنند و عملکرد گذشته قطعیتی برای
            آینده ندارد
            <br />
            <br />
            <span class="font-bold"> هزینه‌های اضافی: </span>
            برخی از سیستم‌های کپی تریدینگ ممکن است هزینه‌های اضافی به عنوان
            کارمزد یا هزینه اشتراک از تریدران کپی شده درخواست کنند
            <br />
            <br />
            <span class="font-bold"> استراتژی‌های محدود: </span>
            شما فقط به استراتژی‌ها و معاملات تریدر حرفه‌ای محدود هستید و امکان
            تغییر در استراتژی یا تصمیمات معاملاتی ندارید.

            <br />
            <br />
            <span class="font-bold"> مخاطرات بازار: </span>
            همانطور که در هر نوع سرمایه‌گذاری مالی، مخاطرات بازار همیشه وجود
            دارند، تریدران حرفه‌ای نیز ممکن است در معاملات خود خسارت داشته باشند
            و به‌طبع، شما نیز متحمل خسارت شوید
          </p>
        </div>
      </div>
    </div>
    <app-instagram-baner class="mb-4"></app-instagram-baner>
    <h2 class="font-bold text-3xl mt-4">
      میزان سود و ضرر در سیستم کپی ترید به چه صورت می باشد؟
    </h2>
    <p>
      در هنگام کپی ترید، معاملات تریدر حرفه‌ای روی حساب شما کپی می‌شوند و هر
      تغییری در سرمایه او (سود یا ضرر) به صورت متناسب در حساب شما نیز اعمال
      می‌شود. این میزان‌ها به شما اطلاع می‌دهند که چقدر از سرمایه اولیه حساب شما
      به دلیل معاملات تریدر حرفه‌ای، افت یا افزایش یافته است.
      <br />
      برای درک بهتر، مفاهیم مهمی که در زمینه کپی ترید استفاده می‌شوند را توضیح
      می‌دهیم:
      <br />
      <span class="font-bold">1. میزان سود (Profit): </span>
      <br />
      Profit، نشان‌دهنده تغییر سرمایه مثبت در حساب معامله‌گر است که به صورت زیر
      محاسبه می شود:
      <img src="../../../assets/img/cal-profit.png" alt="" />
      <span class="font-bold">2. میزان ضرر (Drawdown): </span>
      <br />
      Drawdown، نشان‌دهنده کاهش سرمایه حساب، از اوج به کمینه در یک دوره زمانی
      است که به صورت زیر محاسبه می‌شود:
      <img src="../../../assets/img/cal-draw.png" alt="" />
      <span class="font-bold">3.نسبت موفقیت (WinRate): </span> <br />
      مهم است که دربررسی استیتمت یک تریدر برای کپی ترید، نه تنها به میزان سود
      (Profit) و کاهش سرمایه (Drawdown) بلکه همچنین به نرخ موفقیت (WinRate) نیز
      توجه کنید. ، نسبت تعداد معاملات موفق به کل تعداد معاملات است
      <br />
      و معمولاً به صورت درصدی اعلام می‌شود. این نسبت نشان‌دهنده احتمال موفقیت
      تریدر یا سیستم ترید در انجام معاملات است. به طور کلی، Profit، Drawdown و
      WinRate ، سه پارامتر مهمی هستند که به شما کمک می‌کنند تا ریسک‌های مرتبط با
      کپی ترید را بهتر درک کنید و تصمیمات به موقع‌تری در مورد ادامه یا قطع کپی
      ترید بگیرید.
      <br />
      لازم به ذکر است که ربات ATM تیم ایرانی اکسپرت نیز در حال حاضر به عنوان یک
      اکسپرت کپی ترید در متاتریدر، قابل استفاده توسط معامله گران عزیز می‌باشد.
      استیمنت یک حساب از ربات معامله گر ATM در تصویر زیر قابل مشاهده است:
      <br />
      IRaniExpert Copy trade Statement: Profit: %63 Drawdown: %20 WinRate:%75
      <img src="../../../assets/img/chart.png" alt="" />
      <span class="text-center block w-full"
        >استیتمنت بقیه حساب‌های ربات، در سایت MyFxbook قابل مشاهده هستند.</span
      >
    </p>
    <div class="flex my-10">
      <a href="#">
        <div class="flex baner-bot max-sm:max-h-20">
          <div class="flex max-lg:flex-col max-sm:px-1 lg:items-center">
            <p
              class="of-number basis-1/5 sm:text-[3rem] leading-8 max-sm:text-[32px] max-sm:leading-[24px] pt-4"
            >
              %20
            </p>
            <p
              class="lg:text-3xl text-white font-extrabold max-lg:text-xs max-sm:text-[11px] max-sm:leading-[11px]"
            >
              تخفیف ویژه اشتراک پلن های سه ماهه و شش ماهه به مناسبات یک
              سالگـــــی ربات معامله گـری ATM
            </p>
          </div>
          <div class="flex min-w-[8rem]">
            <img
              class="bot-baner-img max-sm:relative bottom-4"
              src="assets/img/bot-baner-money-m.svg"
              alt="bot"
            />
          </div>
        </div>
      </a>
    </div>
    <h3 class="font-bold text-3xl">
      در کپی ترید انتخاب بهترین تریدرمرجع به چه نحوی است؟
    </h3>
    <p>
      به طور کلی، بهترین کپی تریدر درانتخاب بهترین تریدر مرجع برای کپی تریدینگ،
      نیاز به مطالعه دقیق و ارزیابی موارد مختلف دارد. در زیر تعدادی از این موارد
      آورده شده‌اند:
      <br />
      <br />
      <span class="font-bold">1. بررسی استیتمنت یا سابقه عملکرد: </span>
      <br />
      نگاهی به نتایج گذشته تریدر و تحلیل عملکرد معاملات او می‌تواند به شما کمک
      کند تا درک بهتری از توانایی و استراتژی او داشته باشید.
      <br />
      <span class="font-bold">2. مدیریت ریسک: </span>
      <br />
      تریدر باید استراتژی مشخصی برای تعیین حداکثر افت سرمایه (Drawdown) و
      تنظیمات مربوط به مدیریت ریسک داشته باشد.

      <br />
      <span class="font-bold">3. استراتژی ترید: </span>
      <br />
      بررسی نحوه تحلیل بازار و انجام معاملات توسط تریدر می‌تواند در انتخاب تریدر
      مناسب کمک‌کننده باشد.
      <br />
      <span class="font-bold">4. تایم فریم معاملات: </span>
      <br />
      بررسی تایم فریم معاملاتی نیز در انتخاب تریدر می‌تواند مهم باشد. مثلاً اگر
      شما به دنبال ترید در بازارهای کوتاه مدت هستید، تریدری که در این زمینه
      تجربه دارد ممکن است گزینه مناسبی باشد.

      <br />
      <span class="font-bold">5. میزان سود و ضرر: </span>
      <br />
      بررسی میزان سود(Profit) و ضرر(DrawDown) تریدریا اکسپرت کپی ترید مورد نظر
      نیز بااهمیت است. نه تنها به میزان سود بلکه همچنین به نسبت ریسک به سود
      (Risk-Reward Ratio) توجه کنید.
      <br />
      <span class="font-bold">6. شفافیت: </span>
      <br />
      شفافیت درارائه مواردی مانند اسیتمنت، حد ضرر (Stop Loss) و تغییرات در
      استراتژی توسط تریدر، بسیار حائز اهمیت است.

      <br />
      <span class="font-bold">8. محدودیت‌ها و شرایط: </span>
      <br />
      بررسی محدودیت‌ها و شرایط کپی ترید تریدرمورد نظر، از جمله حداقل دیپازیت و
      هزینه‌های بروکر مرتبط، نیز مهم است. مطالعه دقیق توافق‌نامه و شرایط استفاده
      می‌تواند جلوی مشکلات آینده را بگیرد.
    </p>
  </div>
  <div class="w-3/12 max-lg:hidden">
    <app-quick-access [strText]="qA"></app-quick-access>
    <!-- ===================[مدرسه فارکس ]=================== -->
    <div class="flex justify-center mt-8 m-2">
      <div class="school-box">
        <div class="flex justify-start">
          <div class="mb-4 mt-4">
            <p class="title1-row">مدرسه فارکس</p>
            <p class="title2-row">ویدیو گذشته</p>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="box-video flex-wrap xl:flex-nowrap flex flex-row">
            <div class="video mb-4 xl:mb-0 xl:basis-1/2"></div>
            <div class="mr-2 xl:mr-4 xl:basis-1/2">
              <p class="video-title mb-12">
                ایرانی اکسپرت چیکار میکند؟ معرفی و اهداف تیم های ایرانی اکسپرت
              </p>
              <div class="flex justify-end">
                <p class="time-video">11:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
