<!-- ==============[پیشنهاد]================ -->
<div class="all-offer"> 
    <div class="row-title">
        <p class="title">پیشنهاد سردبیر</p>
        <a href="">
        <p class="link">مشاهده مطالب بیشتر</p>
        </a>
    </div>
    <!-- ////////////////[اسکرول کارت]////////////////// -->
    <div class="flex flex-nowrap">
        <drag-scroll>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        <div class="cart" drag-scroll-item><app-blog-cart ></app-blog-cart></div>
        </drag-scroll>
    </div>
</div>
<!-- ==============[جدیدترین]================ -->
<div class="all-news">
    <div class="flex justify-start">
        <div class="row2-title">
            <p class="row-p"> مقالات ایرانی اکسپرت</p>
            <h6 class="title2">جدیدترین و آخرین مقالات ایرانی اکسپرت</h6>
        </div>
    </div>
    <div class="cart-row flex items-center">
        <div class="cart2"><app-blog-cart></app-blog-cart></div>
        <div class="cart2"><app-blog-cart></app-blog-cart></div>
        <div class="cart2"><app-blog-cart></app-blog-cart></div>
    </div>
</div>
<div class="divider-row">
    <div class="divider"></div>
    <div class="box-link">
        <a href="">
        <p class="link">مشاهده مطالب بیشتر</p>
        </a>
    </div>
</div>
<!-- ==============[بنر]================ -->
    <div class="grid grid-cols-2 gap-2 baner">
        <div class="part-1">
            <h6 class="titile-baner">جهت دریافت آخرین اخبار و مقالات به خبرنامه بپیوندید</h6>
            <p class="p-baner">آخرین اخبار دنیای ارزهای دیجیتال،شبکه پرداخت ارزی،کسب درامد دلاری،
                تکنولوژی و دنیای بازارهای مالی در ایرانی اکسپرت
            </p>
        </div>
        <div class="part-2">
            <p class="email-p">ایمیل خود را جهت عضویت وارد کنید</p>
            <div class="box-email">
            <input class="input-email">
            <button class="btn-email">
                <p class="btn-p">عضویت در خبرنامه</p>
            </button>
            </div>
        </div>
    </div>