<div class="hidden lg:block">
  <ng-container *ngIf="!loading">
    <!-- ==============[پیشنهاد]================ -->
    <div class="all-offer">
      <div class="row-title">
        <p class="title">پیشنهاد سردبیر</p>
        <a routerLink="page/1">
          <span class="link flex items-center"
            >مشاهده مطالب بیشتر
            <i class="Arrow-left-blue-icon mr-2"></i>
          </span>
        </a>
      </div>
      <!-- ////////////////[اسکرول کارت]////////////////// -->
      <div class="flex flex-nowrap items-center">
        <drag-scroll>
          <ng-container *ngFor="let item of popularBlog">
            <div class="cart" drag-scroll-item>
              <app-blog-cart [data]="item"></app-blog-cart>
            </div>
          </ng-container>
        </drag-scroll>
      </div>
    </div>
    <!-- ==============[جدیدترین]================ -->
    <div class="all-news mb-6">
      <div class="flex justify-start">
        <div class="mt-6">
          <div class="flex items-center">
            <i class="article-icon scale-90 ml-1"></i>
            <p class="row-p">مقالات ایرانی اکسپرت</p>
          </div>
          <h6 class="font-semibold mt-1">
            جدیدترین و آخرین مقالات ایرانی اکسپرت
          </h6>
        </div>
      </div>
      <div class="grid xl:grid-cols-3 grid-cols-2 gap-1">
        <ng-container *ngFor="let item of items.slice(0, 6)">
          <div class="cart2" drag-scroll-item>
            <app-blog-cart [data]="item"></app-blog-cart>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="divider"></div>
    <div class="box-link">
      <a routerLink="page/1">
        <span class="link flex items-center"
          >مشاهده مطالب بیشتر
          <i class="Arrow-left-blue-icon mr-2"></i>
        </span>
      </a>
    </div>
    <!-- ==============[بنر]================ -->
    <div class="my-10 opacity-30 select-none relative">
      <div class="flex justify-center">
        <div class="flex flex-row baner">
          <div class="flex items-center basis-1/2">
            <div class="mr-8">
              <h6 class="titile-baner">
                جهت دریافت آخرین اخبار و مقالات به خبرنامه بپیوندید
              </h6>
              <p class="p-baner">
                آخرین اخبار دنیای ارزهای دیجیتال،شبکه پرداخت ارزی،کسب درامد دلاری،
                تکنولوژی و دنیای بازارهای مالی در ایرانی اکسپرت
              </p>
            </div>
          </div>
          <div class="flex items-center justify-center basis-1/2">
            <div class="mr-2">
              <p class="email-p">ایمیل خود را جهت عضویت وارد کنید</p>
              <div class="box-email">
                <input class="mt-3 input-email" />
                <button class="mt-3 btn-email">
                  <p class="btn-p">عضویت در خبرنامه</p>
                </button>
              </div>
            </div>
          </div>
         </div>
      </div>
      <div
        class="absolute w-full h-full z-10 bg-transparent translate-x-[50%] translate-y-[-50%] top-[50%] right-[50%]"
      ></div>
    </div>
  </ng-container>
</div>
<!-- ====================[رسپانسیو========== -->
<div class="lg:hidden">
  <ng-container *ngIf="!loading">
    <div class="divier-mobile mt-4"></div>
    <div class="mr-6 ml-6 mt-6">
      <!-- ==============[جدیدترین]================ -->
      <span class="flex items-center title-offer mb-4">
        <i class="article-icon scale-90 ml-1"></i>
        مقالات ایرانی اکسپرت
      </span>
      <h6 class="title-offer2">جدیدترین و آخرین مقالات ایرانی اکسپرت</h6>
      <ng-container *ngFor="let item of items.slice(0, 6)">
        <app-blog-cart [data]="item"></app-blog-cart>
      </ng-container>
      <div class="mt-10 mb-10">
        <div class="divier-mobile2"></div>
        <div class="box-link">
          <a [routerLink]="'page/1'">
            <span class="link-mobile flex items-center"
              >مشاهده مطالب بیشتر
              <i class="Arrow-left-blue-icon mr-2"></i>
            </span>
          </a>
        </div>
      </div>
      <!-- ==============[بنر]================ -->
      <div class="my-10 opacity-30 select-none relative">
        <div class="baner-mobile">
          <div>
            <h6 class="titile-baner-mobile">
              جهت دریافت آخرین اخبار و مقالات به خبرنامه بپیوندید
            </h6>
            <p class="p-baner mb-8">
              آخرین اخبار دنیای ارزهای دیجیتال،شبکه پرداخت ارزی،کسب درامد دلاری،
              تکنولوژی و دنیای بازارهای مالی در ایرانی اکسپرت
            </p>
          </div>
          <div>
            <p class="email-p-mobile">ایمیل خود را جهت عضویت وارد کنید</p>
            <div class="flex flex-row items-stretch mt-4">
              <input class="input-email-mobile" />
              <button class="bnt-mobile">
                <p class="btn-p-mobile">عضویت در خبرنامه</p>
              </button>
            </div>
          </div>
        </div>
        <div
          class="absolute w-full h-full z-10 bg-transparent translate-x-[50%] translate-y-[-50%] top-[50%] right-[50%]"
        ></div>
      </div>
    </div>
  </ng-container>
</div>
