<div class="bg-[#F5F5F5] w-48 h-[25rem] rounded-[1.75rem] mx-auto py-10 px-4">
  <div class="w-[55%] bg-white h-full rounded-2xl relative">
    <div
      class="w-full h-full overflow-hidden inline-flex flex-col pl-3 pr-2 py-6 gap-4 justify-between"
    >
      <ng-container *ngFor="let session of sessions; let i = index">
        <!-- Each Clock -->
        <div
          class="clock-item"
          [ngClass]="[changing ? 'scroll' : '', i > 1 ? 'opacity-25' : '']"
        >
          <span class="city">{{ session.name }}</span>
          <span class="seperator-dashed"></span>
          <span class="time">{{ getTime(session.timezone) }}</span>
        </div>
        <!-- Each Clock -->
      </ng-container>
    </div>
    <!-- Marker -->

    <div class="absolute bg-[#0498FB] w-3 h-28 rounded-full marker-position">
      <div class="absolute time-city-container">
        <p class="time">{{ currentTime | date : "HH:mm" }}</p>
        <p class="city">{{ activeTimeZone.city_1 }}</p>
        <p class="city">{{ activeTimeZone.city_2 }}</p>
      </div>
    </div>

    <!-- Marker -->
  </div>
</div>
