$white: #fff !default;
$black: #000 !default;
$darken-white: #f3f3f3 !default;
$gray-200: #f8f8f8 !default;
$gray-300: #d8d8d8 !default;
$gray-500: #6b7280 !default;
$gray-600: #676767 !default;
$gray-700: #646464 !default;
$gray-800: #535353 !default;
$light-blue: #9ba8ff !default;
$blue: #3246d3 !default;
$red: #cc3a39 !default;
$yellow: #ffee00 !default;
$green: #098b41 !default;
$light-green: #6db500 !default;
$text-header-primary: #6e6e6e !default;
$text-header-hover: $blue;
$activeBlue: #293dc8;
$dim-green: #707070 !default;
$border-input: #e3e3e3 !default;
$border-hover: #a1a1a1 !default;
$close-btn-hover: $gray-300;
