.ie-icon {
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.ie-chevron {
  &.right {
    transform: rotate(-90deg);
  }
  &.left {
    transform: rotate(90deg);
  }
  &.up {
    transform: rotate(180deg);
  }
  &::before {
    content: url(../assets/icon/chevron.svg);
  }
  transition: transform 0.3s ease;
}
.ie-Polygon {
  &.small::before {
    width: 17px !important;
  }
  &::before {
    @media (min-width: 640px) {
      width: 55px !important;
    }
    width: 33px;
    display: block;
    content: url(../assets/icon/Polygon.svg);
  }
  transition: transform 0.3s ease;
}
.ie-expand {
  &::before {
    transform: rotate(-90deg);
    content: url(../assets/icon/expand.svg);
  }
  transition: transform 0.3s ease;
}
.ie-pause {
  &.small::before {
    width: 16px !important;
  }
  &::before {
    @media (min-width: 640px) {
      width: 66px !important;
    }
    width: 26px;

    display: block;
    content: url(../assets/icon/puase.svg);
  }
  transition: transform 0.3s ease;
}
.ie-thick {
  &::before {
    content: url(../assets/icon/thick.svg);
  }
  transition: transform 0.3s ease;
}
.ie-target {
  &::before {
    content: url(../assets/icon/target.svg);
  }
  transition: transform 0.3s ease;
}
.ie-Rectangle {
  &::before {
    content: url(../assets/icon/Rectangle.svg);
  }
  transition: transform 0.3s ease;
}
.ie-search-page {
  content: url(../assets/icon/search-icon-page.svg);
  display: block;
}
.ie-drop-down {
  display: block;
  content: url(../assets/icon/drop-down-icon-search.svg);
}
.ie-dir {
  &::before {
    content: url(../assets/icon/direction.svg);
    fill: white;
  }
  &.ab::before {
    width: 10px;
    height: 28px;
  }
  &.left {
    transform: rotate(180deg);
    position: relative;
  }

  transition: transform 0.3s ease;
}
.ie-handshake {
  &::before {
    content: url(../assets/icon/handshake.svg);
  }

  transition: transform 0.3s ease;
}
.ie-comments {
  &::before {
    content: url(../assets/icon/comment.svg);
  }

  transition: transform 0.3s ease;
}
.ie-starUser {
  &::before {
    content: url(../assets/icon/starUser.svg);
  }

  transition: transform 0.3s ease;
}

.ie-content-menu-close {
  content: url(../assets/icon/content-menu-close.svg);
  display: block;
}
.ie-content-menu-open {
  content: url(../assets/icon/content-menu-open.svg);
  display: block;
}
.ie-content-menu-icon {
  content: url(../assets/icon/content-menu-icon.svg);
  display: block;
}
.ie-folder {
  content: url(../assets/icon/folder.svg);
  display: block;
}
.ie-meta-trader {
  content: url(../assets/icon/meta-trader.svg);
  display: block;
  stroke: black;
}
.ie-laptop {
  content: url(../assets/icon/laptop.svg);
  display: block;
}

.ie-target-2 {
  content: url(../assets/icon/target.svg);
  display: block;
}
.ie-h1 {
  content: url(../assets/icon/h-1.svg);
  display: block;
}
.ie-h2 {
  content: url(../assets/icon/h-2.svg);
  display: block;
}
.ie-h3 {
  content: url(../assets/icon/h-3.svg);
  display: block;
}
.ie-h4 {
  content: url(../assets/icon/h-4.svg);
  display: block;
}
.ie-h5 {
  content: url(../assets/icon/h-5.svg);
  display: block;
}
.ie-bg-yellow {
  content: url(../assets/icon/bg-yellow.svg);
  display: block;
}

// ======[ایکون های هوم]====

.Arrow-left-icon-white {
  content: url(../assets/icon/Arrow-left-icon-white.svg);
  display: block;
}
.call-icon {
  content: url(../assets/icon/call-icon.svg);
  display: block;
}
.icon-service-baner-1 {
  content: url(../assets/icon/icon-service-baner-1.webp);
  display: block;
}
.icon-service-baner-2 {
  content: url(../assets/icon/icon-service-baner-2.webp);
  display: block;
}
.icon-service-baner-3 {
  content: url(../assets/icon/icon-service-baner-3.webp);
  display: block;
}
.icon-service-baner-4 {
  content: url(../assets/icon/icon-service-baner-4.webp);
  display: block;
}
.icon-shop {
  content: url(../assets/icon/icon-shop.webp);
  display: block;
}
.icon-trade-school {
  content: url(../assets/icon/icon-trade-school.webp);
  display: block;
}

// ======[ایکون های shared]====
.chevron {
  content: url(../assets/icon/chevron.svg);
  display: block;
}

.icon-tick {
  content: url(../assets/icon/icon-tick.svg);
  display: block;
}

// ======[ایکون های بلاگ]====
.shared-icon {
  content: url(../assets/icon/shared-icon.svg);
  display: block;
}
.icon-carousel-card {
  content: url(../assets/icon/icon-carousel-card.svg);
  display: block;
}
.Arrow-left-blue-icon {
  content: url(../assets/icon/Arrow-left-blue-icon.svg);
  display: block;
}
.article-icon {
  content: url(../assets/icon/article-icon.svg);
  display: block;
}
.icon-offer {
  content: url(../assets/icon/icon-offer.svg);
  display: block;
}
.search-icon-blog {
  content: url(../assets/icon/search-icon-blog.svg);
  display: block;
}
.favorite-icon {
  content: url(../assets/icon/favorite-icon.svg);
  display: block;
}
.eye-icon {
  content: url(../assets/icon/eye-icon.svg);
  display: block;
}
// ======[ایکون های بروکر ]====

.flag-icon {
  content: url(../assets/icon/uk@2x.svg);
  display: block;
}
.icon-articles-break {
  content: url(../assets/icon/icon-articles-break.svg);
  display: block;
}
// ======[ایکون های تقویم اقتصادی ]====
.refresh-icon{
  content: url(../assets/icon/refresh-icon.svg);
  display: block;
}
.flag-icon{
  content: url(../assets/icon/flag-icon.svg);
  display: block;
}
.ie-times {
  &::before {
    content: url(../assets/icon/times.svg);
  }
}
.ie-telegram {
  &::before {
    content: url(../assets/icon/telegram.svg);
  }
}
.icon-play-voice {
  content: url(../assets/icon/play-voice.svg);
  display: block;
}
.icon-pause-voice {
  content: url(../assets/icon/pause-voice.svg);
  display: block;
}
.icon-speed-1 {
  content: url(../assets/icon/speed1.svg);
  display: block;
}

.icon-speed-15 {
  content: url(../assets/icon/speed1.5.svg);
  display: block;
}

.icon-speed-2 {
  content: url(../assets/icon/speed2.svg);
  display: block;
}
