.ie-icon {
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.ie-chevron {
  &.right {
    transform: rotate(-90deg);
  }
  &.left {
    transform: rotate(90deg);
  }
  &.up {
    transform: rotate(180deg);
  }
  &::before {
    content: url(../assets/icon/chevron.svg);
  }
  transition: transform 0.3s ease;
}
.ie-Polygon {
  &.small::before {
    width: 21px !important;
  }
  &::before {
    width: 66px;
    display: block;
    content: url(../assets/icon/Polygon.svg);
  }
  transition: transform 0.3s ease;
}
.ie-expand {
  &::before {
    transform: rotate(-90deg);
    content: url(../assets/icon/expand.svg);
  }
  transition: transform 0.3s ease;
}
.ie-puase {
  &.small::before {
    width: 21px !important;
  }
  &::before {
    width: 66px;
    display: block;
    content: url(../assets/icon/puase.svg);
  }
  transition: transform 0.3s ease;
}
.ie-thick {
  &::before {
    content: url(../assets/icon/thick.svg);
  }
  transition: transform 0.3s ease;
}
.ie-target {
  &::before {
    content: url(../assets/icon/target.svg);
  }
  transition: transform 0.3s ease;
}
.ie-Rectangle {
  &::before {
    content: url(../assets/icon/Rectangle.svg);
  }
  transition: transform 0.3s ease;
}
.ie-search-page {
  content: url(../assets/icon/search-icon-page.svg);
  display: block;
}
.ie-drop-down {
  display: block;
  content: url(../assets/icon/drop-down-icon-search.svg);
}
.ie-dir {
  &::before {
    content: url(../assets/icon/direction.svg);
  }
  &.left {
    transform: rotate(180deg);
    position: relative;
    bottom: 5px;
  }
  transition: transform 0.3s ease;
}
