$heading: $black;
$caption: $gray-700;
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
}
p {
  color: $caption;
}
small {
  font-weight: 100;
}
.font-fat {
  font-style: oblique;
}
.text-small {
  font-size: 0.82rem;
}
