@import "./variables";
@import "./mixins";
@import "./colors";
@import "./typography";
@import "./forms";
@import "scss/font-awesome";
@import "tailwind";
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $darken-white;
  word-spacing: $word-spacing-base;
}
.button-styles {
  color: white;
  border: none;
}
.header-sm-button {
  padding: 0.625rem;
  background: #6db500;
  @extend .button-styles;
}
.btn-blue {
  @extend .button-styles;
  background-color: $activeBlue;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.color--blue {
  color: $blue;
}
.color--grey500 {
  color: $gray-500;
}
.border-01 {
  border-width: 0.1px;
}
