@import "tailwind";
@import "ngx-toastr/toastr";
@import "./variables";
@import "./colors";
@import "./mixins";
@import "./typography";
@import "./icons";
@import "./forms";
@import "./components/components";
@import "./components/instagram-baner";
@import "./components/ckeditor";
@import "./components/header";
@import "./components/search";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  // background-color: $darken-white;
  word-spacing: $word-spacing-base;
}

.button-styles {
  color: white;
  border: none;
}
.header-sm-button {
  padding: 0.625rem;
  background: #6db500;
  @extend .button-styles;
}
.header-panel-button {
  padding: 0.625rem;
  background: #6db500;
  @extend .button-styles;
}
.header-exit-button {
  padding: 0.625rem;
  background: #fb3556;
  @extend .button-styles;
}
.bg-main-blue {
  background-color: $blue;
}
.active-tab {
  background-color: $activeBlue;
}
.btn-blue {
  @extend .button-styles;
  background-color: $activeBlue;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.color--blue {
  color: $blue;
}
.color--grey500 {
  color: $gray-500;
}
.color-green {
  color: $green;
}
.bg-darken-white {
  background-color: $darken-white;
}
.bg--gray300 {
  background-color: $gray-300;
}
.drag-scroll-content::-webkit-scrollbar {
  display: none !important;
}
.mainCards-design {
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;

  background-color: white;
}
.border-01 {
  border-width: 0.1px;
}
.oblique {
  font-style: oblique;
}
.grey-filter {
  filter: grayscale(7);
}
.bg--dimGreen {
  background-color: $dim-green;
}
.bg--blue {
  background-color: #3246d3;
}
.bg--red {
  background-color: $red;
}
.color--green {
  color: $green;
}
.color--blue {
  color: $blue;
}

@for $i from 1 through 2 {
  .seperator-hz-#{$i} {
    width: 100%;
    display: block;
    border-bottom: #{$i}px solid #d2d2d2;
  }
  .seperator-vc-#{$i} {
    height: 100%;
    display: block;
    border-bottom: #{$i}px solid #d2d2d2;
  }
}
.bg-lightBlue {
  background-color: #e3e7ff;
}
//esmesh ro behtarok
.box-shadow-ac:hover {
  animation: blueborder 0.4s ease forwards;
}
@keyframes blueborder {
  100% {
    border-color: #3246d3;

    border-width: 1px;
  }
}
.circle-on-top {
  display: block;
  width: 98vw;
  height: 250px;
  box-shadow: 0 40px 50px 50px #d5e4ffc2;
  position: absolute;
  transform: translate(0, -100%);
  border-radius: 36%;
  z-index: 1;
  opacity: 0.34;
}
