@import "tailwind";
@import "./variables";
@import "./mixins";
@import "./colors";
@import "./typography";
@import "./forms";
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $darken-white;
  word-spacing: $word-spacing-base;
}
.button-styles{
  
  color: white;
  border: none;
  border-radius: 11px;
}
.header-sm-button{
  background: #6db500;
@extend .button-styles

}