<!-- <div class="sidenav p-4 shadow-sm bg-white rounded-t-3xl" *ngIf="openNav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <app-filter [search]="true" [filterModel]="filter">
    <ng-container category *ngFor="let item of checkboxes">
      <checkbox
        [fillOrNot]="item.checked"
        (checked)="checkboxCategory($event, item.value)"
        ><p class="text-small pt-1.5" title>{{ item.title }}</p></checkbox
      >
    </ng-container>
    <checkbox producer
      ><p class="text-small pt-1.5" title>ایرانی اکسپرت</p></checkbox
    >
    <app-rating rating [config]="ratingConfig"></app-rating>
    <app-rating priceRange [config]="rangeConfig"></app-rating>
  </app-filter>
</div>
<div *ngIf="openNav" class="overlay3" style="width: 100%; opacity: 0.8"></div> -->
