<div class="flex">
    
    <ng-container *ngIf="!hideBreadCrumb">

        <div class="">
            <a href="home" class="cursor-pointer">
                خانه
            </a>
        </div>
        <span class="px-1"> &#62; </span>


        <div class="" *ngFor="let item of breadCrumb">
            
            <ng-container *ngIf="item.path == route">
                
                <ng-container *ngIf="!lastIndex">
                    <a [routerLink]="item.path">
                        {{item.name}}
                    </a>
                </ng-container>

                <ng-container *ngIf="lastIndex">
                    <p [routerLink]="item.path">
                        {{item.name}}
                    </p>
                </ng-container>

            </ng-container>
    
        </div>
        <ng-container *ngIf="!lastIndex">
            <span class="px-1"> &#62; </span>
            <div class="">
                <p>
                    {{pageTitle}}
                </p>
            </div>
        </ng-container>

    </ng-container>

</div>