<div class="flex">
    
    <ng-container *ngIf="!hideBreadCrumb">

        <div class="">
            <a href="home" class="cursor-pointer">
                خانه
            </a>
        </div>
        <span class="px-2"> &#62; </span>

                <ng-container *ngIf="!lastIndex">
                    <a [routerLink]="url">
                        {{nameRoute}}
                    </a>
                </ng-container>

                <ng-container *ngIf="lastIndex">
                    <p>
                        {{nameRoute}}
                    </p>
                </ng-container>

        <ng-container *ngIf="!lastIndex">
            <span class="px-2"> &#62; </span>
            <div class="">
                <p>
                    {{pageTitle}}
                </p>
            </div>
        </ng-container>

    </ng-container>

</div>