<footer class="bg--blue flex text-white p-10">
  <div class="flex flex-col">
    <div class="flex">
      <div class="w-1/2">
        <div>
          <img src="../../../assets/img/logo sefid.png" />
          <span class="text-lg font-bold">در ارتباط باشید</span>
        </div>
        <div class="flex">
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/01.png"
          />
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/02.png"
          />
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/03.png"
          />
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/04.png"
          />
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/05.png"
          />
          <img
            class="w-11 h-11 m-1"
            src="../../../assets/../assets/img/06.png"
          />
        </div>
        <ul>
          <li>support@IraniExpert.com</li>
          <li>+98 915 422 2973</li>
          <li>Whatsapp</li>
        </ul>
      </div>
      <div class="w-1/2 flex flex-col">
        <div class="flex">
          <div class="w-4/12">
            <h3 class="text-white text-xl">دسترسی سریع</h3>
            <ul>
              <li>خانه</li>
              <li>فروشگاه</li>
              <li>مجله ایرانی اکسپرت</li>
              <li>بروکر ها</li>
              <li>تقویم اقتصادی</li>
              <li>تماس با ما</li>
            </ul>
          </div>
          <div class="w-8/12">
            <h3 class="text-white text-xl">ایرانی اکسپرت</h3>
            <p class="text-white">
              ایرانی اکسپرت مفتخر است اعلام کند در دو فاز فعالیت دارد فاز اول
              تولید و توسعـه ابزارهـای معاملاتی، فاز دوم فروشگاه اکسپرت برای
              همکاران تولیـد کننده ربات که محصولات شان را بر بستر فروشگاه ما
              عرضه کنند هر یک از این دو فاز توسط تیمی متخصص درحال اجراست که
              کیفیت هریک در سطح بین المللی درحال رشد و توسعه است
            </p>
          </div>
        </div>
        <div>
          <small class="" style="font-weight: 800"
            >برای با خبر شدن از تخفیفات ایرانی اکسپرت شماره تماس خود را وارد
            کنید</small
          >
          <div class="wrapper text-lg bg-white rounded-md">
            <input
              class="w-9/12 p-4 text-black rounded-md"
              type="text"
              placeholder="شماره تماس خود را وارد کنید"
              dir="ltr"
            />
            <button class="w-3/12 bg--red rounded-md">عضویت در خبر نامه</button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center text-center">
      کلیه حقوق این سایت محفوظ و متعلق به سامانه آنلاین ایرانی اکسپرت میباشد
    </div>
  </div>
</footer>
