<footer class="bg--dimGreen">
  <div class="flex text-white max-md:flex-col md:p-12">
    <div class="m-5 sm:hidden flex justify-center">
      <img class="w-44 h-10" src="../../../assets/img/Group 728.png" />
    </div>
    <div class="flex flex-col">
      <div class="flex sm:flex-row flex-col-reverse">
        <div class="sm:w-5/12">
          <div class="m-5 max-sm:hidden">
            <img class="w-60 h-32" src="../../../assets/img/logo sefid.png" />
            <span class="text-lg font-bold">در ارتباط باشید</span>
          </div>
          <div class="flex sm:m-5 max-sm:justify-center">
            <a href="https://www.telegram.me/irani_expert">
              <img
                class="w-11 h-11 ico-res m-1"
                src="../../../assets/../assets/img/01.png"
            /></a>
            <a href="https://www.linkedin.com/in/irani-expert-5b7600239/">
              <img
                class="w-11 h-11 ico-res m-1"
                src="../../../assets/../assets/img/02.png"
            /></a>
            <a href="https://www.facebook.com/iraniexpert"
              ><img
                class="w-11 h-11 ico-res m-1"
                src="../../../assets/../assets/img/03.png"
            /></a>
            <img
              class="w-11 h-11 ico-res m-1"
              src="../../../assets/../assets/img/04.png"
            />
            <a href="https://www.instagram.com/irani_expert/">
              <img
                class="w-11 h-11 ico-res m-1"
                src="../../../assets/../assets/img/05.png"
            /></a>
            <img
              class="w-11 h-11 ico-res m-1"
              src="../../../assets/../assets/img/06.png"
            />
            <!-- <img
              class="w-12 h-12 ico-res m-2"
              src="../../../assets/img/03.png"
            /> -->
          </div>
          <ul class="m-5 max-sm:text-center">
            <li>support@IraniExpert.com</li>
            <li dir="ltr">+98 915 422 2973</li>
            <li>Whatsapp</li>
          </ul>
        </div>
        <div class="sm:w-6/12 flex flex-col justify-around">
          <div class="flex max-sm:flex-col-reverse">
            <div
              class="sm:w-4/12 max-sm:flex items-center flex-col max-sm:mt-4"
            >
              <h3 class="text-white text-xl font-bold sm:m-4 sm:ms-0">
                دسترسی سریع
              </h3>
              <ul class="max-sm:flex flex-col items-center cursor-pointer">
                <li><a href="">خانه</a></li>
                <li [routerLink]="'/products/page/1'">فروشگاه</li>
                <li [routerLink]="'/blog'">مجله ایرانی اکسپرت</li>
                <li [routerLink]="'/brokers'">بروکر ها</li>
                <!-- <li [routerLink]="">تقویم اقتصادی</li> -->
                <li [routerLink]="'/about-us'">تماس با ما</li>
              </ul>
            </div>
            <div class="sm:w-7/12 max-sm:flex items-center flex-col">
              <h3 class="text-white text-xl ms-0 sm:m-4 font-bold">
                ایرانی اکسپرت
              </h3>
              <p
                class="text-white sm:text-justify p-10 py-0 max-sm:text-xs max-sm:text-center"
              >
                ایرانی اکسپرت مفتخر است اعلام کند در دو فاز فعالیت دارد فاز اول
                تولید و توسعـه ابزارهـای معاملاتی، فاز دوم فروشگاه اکسپرت برای
                همکاران تولیـد کننده ربات که محصولات شان را بر بستر فروشگاه ما
                عرضه کنند
                <br />
                هر یک از این دو فاز توسط تیمی متخصص درحال اجراست که کیفیت هریک
                در سطح بین المللی درحال رشد و توسعه است
              </p>
            </div>
          </div>
          <div class="sm:hidden flex justify-between my-4 items-center">
            <div class="text-left w-4/12"><hr /></div>
            <span class="text-lg font-bold">در ارتباط باشید</span>
            <div class="text-right w-4/12"><hr /></div>
          </div>
          <div class="hidden sm:block">
            <small class="font-extrabold"
              >برای با خبر شدن از تخفیفات ایرانی اکسپرت شماره تماس خود را وارد
              کنید</small
            >
            <div class="wrapper text-lg bg-white rounded-md">
              <input
                class="w-7/12 p-4 text-black rounded-md"
                type="text"
                placeholder="شماره تماس خود را وارد کنید"
                dir="ltr"
              />
              <button class="w-3/12 bg--red rounded-md">
                عضویت در خبر نامه
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center text-center sm:text-xl text-sm px-6">
        کلیه حقوق این سایت محفوظ و متعلق به سامانه آنلاین ایرانی اکسپرت میباشد
      </div>
    </div>
  </div>
</footer>
