<div class="w-full h-[60rem] flex bg-white justify-center rounded-b-[60px]">
  <div class="w-8/12">
    <div class="w-full flex items-center text-[#CFCFCF] text-lg p-6 ps-0">
      <a class="pt-[5px]">خانه</a>
      <i class="fa fa-angle-left ms-1 me-1"></i>
      <a class="pt-[5px]">فروشگاه</a>
    </div>
    <app-discount-banner></app-discount-banner>
    <div class="flex">
      <div class="w-[22%] p-4 ps-0">
        <div class="mb-3">
          <img
            src="../../../../../assets/img/product-mask.webp"
            class="w-[14rem]"
            alt="product"
            width="50"
            height="40"
          />
        </div>
        <div class="bg-[#F5F5F5] p-4 flex rounded-[20px] flex-col items-center">
          <div class="w-10/12 m-5 mt-3">
            <h3 class="text-base font-extrabold">جستجو</h3>
          </div>
          <app-search-feild></app-search-feild>
        </div>
      </div>
      <div>
        <div class="m-2 flex items-center">
          <span class="text-sm font-medium me-2">مرتب سازی </span>

          <app-order-filter
            *ngFor="let Mytitle of orderTitle"
            [title]="Mytitle"
          ></app-order-filter>
        </div>
        <app-detail-card
          *ngFor="let product of productModel"
          [product]="product"
        ></app-detail-card>
      </div>
    </div>
  </div>
</div>
