@import "src/sass/colors";
$font-size: 16px;
$size: 40px;
.navbar {
  display: flex;
}
.image-top-right {
  width: 180px;
  height: 100px;
  aspect-ratio: 4/3;
}

p {
  font-size: $font-size;
  font-weight: 500;
  color: $text-header-primary;
  &:hover {
    color: $text-header-hover;
    font-weight: 700;
    transition: font-weight 0.3s ease;
  }
}
button {
  font-size: $font-size;
  &.button-subscription {
    padding: 7px 17px 6px 18px;
    background-color: #3246D3;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #1f2c8f;
    }
  }
  &.button-logout {
    padding: 7px 17px 6px 18px;
    background-color: #fb3556;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #b53349;
    }
  }
  &.button-enter {
    color: $blue;
  }
}
.search-custom {
  background-color: white;
}
.active::after {
  width: 85%;
  height: 2px;

  background-color: #3246d3;
  content: "";
  display: block;
}

.link-active {
  transition: transform 0.3s ease;
}