<nav
  (mouseleave)="unHovered()"
  class="px-6 pb-6 pt-4 max-w-screen-2xl self-center w-full"
>
  <div class="flex items-center mx-auto relative">
    <a [routerLink]="'home'" class="flex items-center lg:w-32 xl:w-auto">
      <span class="sr-only">ایرانی اکسپرت - Irani Expert</span>
      <img
        src="assets/icon/logo.svg"
        class="mr-1 h-12 w-auto"
        alt="Irani-Expert Logo"
        title="ایرانی اکسپرت - Irani Expert"
        width="34"
        height="20"
      />
    </a>
    <div class="justify-between items-center flex xl:w-auto mr-8 lg:w-[576px]">
      <ul class="flex flex-row mt-0 font-medium items-center space-x-8">
        <ng-container *ngFor="let item of items; let i = index">
          <li
            (mouseenter)="onHover(i)"
            class="pr-2 link-active relative"
            [ngClass]="{ 'ml-6': i == 0, '-translate-y-1': item.active }"
          >
          
            <ng-container *ngIf="item.path">
              <a
                (click)="selectItem(item)"
                [routerLink]="item.path"
                [href]="'https://iraniexpert.com/' + item.path"
                [ngClass]="{ active: item.active }"
                ><p class="lg:!text-sm xl:!text-base">{{ item.name }}</p></a
              >
            </ng-container>

            <ng-container *ngIf="!item.path">
              <span
                class="cursor-pointer"
                (click)="selectItem(item)"
                [ngClass]="{ active: item.active }"
              >
                <p class="lg:!text-sm xl:!text-base">{{ item.name }}</p>
              </span>
            </ng-container>

            <ng-container *ngIf="hoveredItem == i && item.sub">
              <div (mouseleave)="unHovered()" class="dropdown">
                <ul class="dropdown-ul">
                  <ng-container *ngFor="let sub of item.sub">
                    <li class="dropdown-li">
                      <a
                        [routerLink]="sub.path"
                        target="_blank"
                        [href]="'https://iraniexpert.com/' + sub.path"
                        (click)="selectItem(item)"
                      >
                        <p>{{ sub.name }}</p>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>

          </li>
        </ng-container>
      </ul>
    </div>
    <app-search-header />
    <div class="relative">
      <div class="lg:left-32 2xl:left-8 absolute login-user-header">
        <!-- =========[ورود و عضویت حساب]==== -->
  
        <div class="flex items-center login-items" *ngIf="!loggedIn">
          <button
            [disabled]="_btnDisabled"
            type="button"
            (click)="openModal('login')"
            class="button-enter font-medium mx-4"
          >
            ورود
          </button>
          <button
            [disabled]="_btnDisabled"
            type="button"
            (click)="openModal('sign-up')"
            class="button-subscription rounded-3xl px-1 text-white font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            عضویت
          </button>
        </div>
        <div *ngIf="loggedIn" class="flex items-baseline mt-3 logout-items">
          <!-- =========[خروج از حساب]==== -->
  
          <button
          [disabled]="_btnDisabled"
          type="button"
          (click)="logout()"
          (mouseenter)="onHoverUser()"
          (mouseleave)="unHoverUser()"
          class="mx-6"
          >
          <i class="header-login-icon"></i>
          <ng-container *ngIf="hoveredItemUser" >
          <div class="dropdown dropdown-user">
              <ul class="dropdown-ul">
                <ng-container>
                  <li class="dropdown-li">
                    <button type="button" (click)="logout()">
                      <p class="!text-xl !font-medium">
                        خروج
                      </p>
                    </button>
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-container>
          </button>
          <!-- =========[ورود به پنل]==== -->
          <a [href]="panelUrl" target="_blank">
            <button
            (mouseenter)="onHoverUser2()"
            (mouseleave)="unHoverUser2()"
              [disabled]="_btnDisabled"
              type="button"
              >
              <i class="header-panel-icon"></i>
              <ng-container *ngIf="hoveredItemUser2" >
                <div class="dropdown dropdown-user-2">
                    <ul class="dropdown-ul">
                      <ng-container>
                        <li class="dropdown-li">
                          <button type="button" (click)="logout()">
                            <p class="!text-xl !font-medium">
                              داشبورد شخصی
                            </p>
                          </button>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </ng-container>
            </button>
          </a>
          <!-- =========[آواتار]==== -->
          <div class="h-6">
            <i class="avatar-user-icon avatar-user"
            (mouseenter)="onHoverUser3()"
            (mouseleave)="unHoverUser3()"></i>
            <ng-container *ngIf="hoveredItemUser3" >
              <div class="dropdown dropdown-user-3">
                  <ul class="dropdown-ul">
                    <ng-container>
                      <li class="dropdown-li">
                          <p class="!text-xl !font-medium">
                            {{username}}
                          </p>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </ng-container>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</nav>
