<div class="flex">
  <div class="">
    <img src="assets/img/logo.webp" class="image-top-right">
  </div>
  <div class="flex flex-row ">
    <a routerLink="./" href="./">
      <p class="">خانه</p>
    </a>
    <a routerLink="./" href="./">
      <p class="">فروشگاه</p>
    </a>
    <a routerLink="./" href="./">
      <p class="">تقویم اقتصادی</p>
    </a>
    <a routerLink="./" href="./">
      <p class="">مجله ایرانی اکسپرت</p>
    </a>
    <a routerLink="./" href="./">
      <p class="">چرا ما؟</p>
    </a>
    <a routerLink="./" href="./">
      <p class="">فروشگاه</p>
    </a>
  </div>

</div>