@import "src/sass/colors";
$font-size:18px;
$size: 40px;
.navbar{
    display: flex;
}
.image-top-right{
    width: 200px;
    height: 110px;
    aspect-ratio: 4/3;
}
a{
    margin-left: 15px;
    p{
        font-size: $font-size;
        color: $text-header-primary;
        &:hover{
            color: $text-header-hover;
        }
    }
}
button{
    font-size: $font-size;
    &.button-subscription{
        padding: 6px 17px 5px 18px;
        background-color: $blue;
    }
    &.button-enter{
        color: $blue;
    }
}
.search-custom{
    background-color: white;
}