<div
  class="flex sm:py-2 p-1 sm:p-2 items-stretch bg-white rounded-3xl md:rounded-2xl box-shadow-ac border sm:max-h-max sm:max-w-full max-w-[69rem]"
>
  <div class="basis-full max-w-[240px]">
    <a routerLink="atm-expert">
      <img
        class="rounded-3xl md:rounded-2xl"
        [src]="contentUrl + product.cardImagePath"
        width="240"
        height="240"
        alt="bot-img"
      />
    </a>
  </div>

  <div class="flex flex-col p-2 w-full">
    <span class="text-xl md:text-3xl font-black">
      {{ product.title }}
    </span>
    <div class="sm:flex flex-row hidden items-center">
      <span class="flex justify-center items-center">
        <app-rating
          class="hidden sm:block"
          rating
          [config]="ratingConfig"
          style="scale: 0.9"
        ></app-rating>
        <p class="text-lg text-gray-300 font-bold pt-3">{{ product.rate }}</p>
      </span>
      <span class="divider-custom-vertical mx-2"></span>
      <p class="text-lg font-bold text-gray-300 pt-3">
        بازدید ها {{ product.viewsCount }}
      </p>
      <span class="divider-custom-vertical mx-2 hidden sm:block"></span>
      <p class="text-lg font-bold text-gray-300 pt-3">مشترک ها 232</p>
    </div>
    <p class="sm:text-base text-xs block md:hidden pl-3">
      {{ product.description | slice : 0 : 100 }}....
    </p>
    <p class="sm:text-base text-xs md:block hidden xl:hidden">
      {{ product.description | slice : 0 : 150 }}....
    </p>
    <p class="sm:text-base text-xs hidden xl:block mt-3">
      {{ product.description | slice : 0 : 220 }}....
    </p>
    <div class="sm:hidden flex flex-row items-center my-2 gap-2">
      <span class="flex justify-center items-baseline md:items-center">
        <svg
          class="min-w-[10px]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 23.932 22.239"
        >
          <path
            d="M4919.279,3097.68l-5.25-3.909a.412.412,0,1,0-.822,0l-5.25,3.909a1.712,1.712,0,0,1-2.644-1.924l2.092-6.2c.014-.041.029-.082.045-.121l-5-3.17a1.714,1.714,0,0,1,.846-3.16l6.538-.27a1.737,1.737,0,0,1,.428.035l1.836-5.878a1.714,1.714,0,0,1,3.271,0l1.829,5.845a1.778,1.778,0,0,1,.2,0l6.538.27a1.714,1.714,0,0,1,.846,3.16l-5,3.169c.017.04.032.08.046.122l2.092,6.2a1.72,1.72,0,0,1-1.629,2.271A1.683,1.683,0,0,1,4919.279,3097.68Z"
            transform="translate(-4901.652 -3075.788)"
            fill="#FFD500"
          />
        </svg>
        <p class="text-xs h-[9px] text-gray-300 font-bold text-[12px]">
          {{ product.rate }}
        </p>
      </span>
      <span class="divider-custom-vertical mx-1 !hidden md:inline-block"></span>
      <p class="text-xs font-bold mt-1 text-gray-300 text-[12px]">
        بازدید ها {{ product.viewsCount }}
      </p>
      <span class="divider-custom-vertical mx-1 !hidden md:inline-block"></span>
      <p class="text-xs font-bold mt-1 text-gray-300 text-[12px]">
        مشترک ها 232
      </p>
    </div>

    <div class="items-center hidden sm:flex">
      <ng-container>
        <div
          *ngFor="let i of product.linkTag"
          class="rounded-full bg-neutral-100 pe-4 ps-4 p-1 text-base font-bold m-1 items-center"
          style="display: flex; align-items: flex-start"
        >
          <img
            class="sm:w-4 pt-0.5"
            *ngIf="i.icon != ''"
            src="{{ i.icon }}"
            alt="icon"
            width="16"
            height="5"
          />
          {{ i.name }}
        </div>
      </ng-container>

      <div class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1">
        فارکس
      </div>
      <div class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1">
        اکسپرت
      </div>
      <div class="rounded-full bg-neutral-100 pe-4 ps-4 text-lg font-bold m-1">
        ترید
      </div>
    </div>
    <div
      class="flex items-center h-full justify-end md:border-t-[1px] sm:pt-3 pt-1 md:border-solid"
    >
      <a routerLink="atm-expert">
        <p class="sm:pt-2 sm:text-xl text-sm font-black text-black">
          شروع قیمت از {{ product.minPrice || "50" | currency }}
        </p>
      </a>
      <button
        class="bg-[#3246d3] hidden sm:block border-2 ms-2 relative border-[#3246d3] border-solid text-white p-1 w-1/4 rounded-full text-lg font-black min-w-[147px]"
      >
        <a routerLink="atm-expert"> بررسی پلن ها </a>
      </button>
    </div>
  </div>
</div>
