.circle {
  position: absolute;
  top: -384px;
}
.bot-h {
  color: black;
  font-size: 30px;
  margin-top: -3px;
  font-style: oblique;
}
.star-rating {
  position: relative;
  transform: translate(57px, 0px);
  display: block;
  scale: 0.6;
  width: 152px;
  z-index: -31;
}
.bazdid {
  border-right: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  color: #b6b6b6;
}
.moshtarak {
  color: #b6b6b6;
}
.p-rating {
  position: relative;
  transform: translate(-85px, -25px);
  font-size: 12px;
  font-weight: bold;
}
.product-left {
  margin-right: -215px;
  margin-left: 30px;
}
.click {
  color: #6e6e6e;
  font-weight: 500;
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 4px 7.5px 4px 7.5px;
  font-size: 10px;
}
.row-rating {
  position: relative;
  margin-top: -17px;
}
.p-title {
  font-weight: 800;
  font-size: 15px;
}
.plan {
  background-color: #f3f3f3;
  color: black;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
}
.activated {
  background-color: #3246d3 !important;
  color: white;
  font-weight: 800;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.product-d {
  background-color: #f5f5f5;
  border: #dcdcdc solid 2px;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 78px;
  min-width: 265px;
  max-width: 265px;
  height: 23rem;
}
.product-rows {
  margin-top: 22px;
  margin-right: 20px;
  margin-left: 20px;
}
.row {
  border-bottom: 1px solid #d2d2d2;
}
.row-h {
  font-weight: 900;
  font-size: 16px;
}
.row-p {
  font-size: 14px;
  font-weight: 700;
  color: #535353;
}
.row-p-2 {
  font-size: 14px;
  font-weight: 700;
  color: #606060;
}
.row-p-3 {
  font-size: 14px;
  color: #535353;
  font-weight: 700;
}
.row-p-4 {
  font-size: 14px;
  font-weight: 800;
  color: #0f9b66;
}
.price-1 {
  font-weight: 900;
    font-size: 1.45rem;
    color: black;
}
.price-2 {
  color: rgba(110, 110, 110, 0.7058823529);
  font-size: 0.9rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  font-weight: 600;
}
.row-btn{
  margin-top: -0.5rem
}
.btn {
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
}
.btn-cadr {
  background-color: #3246d3;
  aspect-ratio: 16/3;
  border-radius: 9px;
}
.btn-p {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.row-title {
  margin-top: -22px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 600;
}
.p-plan {
  margin-top: -10px;
}
.price-box{
  display: flex;
  margin-right: 3.5rem;
  align-items: center;
}
.off-price{
  background-color: #17EE9D;
    font-size: 0.7rem;
    padding: 4px 12px 0px 12px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 0.3rem;
    scale: 0.9;
}
.smooth-width {
display: flex;
align-items: center;
}
// ====================[بنر]=============
.all {
  display: flex;
  justify-content: center;
}
.baner-p {
  font-size: 1rem;
  font-weight: normal;
  position: relative;
}
.baner-h {
  font-size: 1.5rem;
  font-weight: bold;
}
.box-link {
  display: flex;
  align-items: center;
  text-align: center;
}
.link {
  color: white;
  transform: translate(-250px, 0px);
  background-color: #098b41;
  padding: 7px 19px 7px 19px;
  border-radius: 2px 18px 18px 18px;
  font-size: 1.1rem;
  margin-right: 15px;
}
.logo-i {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  padding: 0px 35px;
}
.logo {
  position: absolute;
  width: 7rem;
  aspect-ratio: 1/1;
  bottom: 44px;
  height: auto;
  object-fit: contain;
}
.baner {
  background-color: #f5f5f5;
  height: 105px;
  border-radius: 32px;
  margin-left: 10px;
  min-width: 490px;
}
.body {
  color: black;
  font-weight: 700;
  margin-right: -190px;
  margin-left: -179px;
  font-size: 1.2rem;
}
.box-body {
  display: flex;
  align-items: center;
}
// =================[انیمیشن کارت]===============
.smooth{
  width: 100px;
}
.price-animation{
  animation: display 0.4s ease-in forwards;
}
@keyframes display {
  0% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
