.circle {
  position: absolute;
  top: -384px;
}
.bot-h {
  color: black;
  font-size: 30px;
  margin-top: -3px;
  font-style: oblique;
}
.star-rating {
  position: relative;
  transform: translate(57px, 0px);
  display: block;
  scale: 0.6;
  width: 152px;
  z-index: -31;
}
.bazdid {
  border-right: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
  color: #b6b6b6;
}
.moshtarak {
  color: #b6b6b6;
}
.p-rating {
  position: relative;
  transform: translate(-85px, -25px);
  font-size: 12px;
  font-weight: bold;
}
.product-left {
  margin-right: -215px;
  margin-left: 30px;
}
.click {
  color: #6e6e6e;
  font-weight: 500;
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 4px 7.5px 4px 7.5px;
  font-size: 10px;
}
.row-rating {
  position: relative;
  margin-top: -17px;
}
.p-title {
  font-weight: 800;
  font-size: 15px;
}
.plan {
  background-color: #f3f3f3;
  color: black;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
}
.activated {
  background-color: #3246d3 !important;
  color: white;
  font-weight: 800;
}
.product-d {
  background-color: #f5f5f5;
  border: #dcdcdc solid 2px;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 78px;
  min-width: 265px;
  max-width: 265px;
  height: 384px;
}
.product-rows {
  margin-top: 22px;
  margin-right: 29px;
  margin-left: 29px;
}
.row {
  border-bottom: 1px solid #d2d2d2;
}
.row-h {
  font-weight: 900;
  font-size: 16px;
}
.row-p {
  font-size: 14px;
  font-weight: 700;
  color: #535353;
}
.row-p-2 {
  font-size: 14px;
  font-weight: 700;
  color: #606060;
}
.row-p-3 {
  font-size: 14px;
  color: #535353;
  font-weight: 700;
}
.row-p-4 {
  font-size: 14px;
  font-weight: 800;
  color: #0f9b66;
}
.price-1 {
  font-weight: 900;
  font-size: 2rem;
  color: black;
}
.price-2 {
  color: #6e6e6eb4;
  font-size: 1rem;
}
.price-3 {
  color: #6e6e6e;
  border-radius: 15px;
  padding: 1px 9.5px 0px 9.5px;
  color: #6e6e6eb4;
  background-color: #17ee9d;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 4px;
}
.row-btn {
  margin-top: 30px;
  margin-right: -14px;
  margin-left: -14px;
}
.btn {
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
}
.btn-cadr {
  background-color: #3246d3;
  aspect-ratio: 16/3;
  border-radius: 9px;
}
.btn-p {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.row-title {
  margin-top: -22px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 600;
}
.p-plan {
  margin-top: -10px;
}
// ====================[بنر]=============
.all {
  display: flex;
  justify-content: center;
}
.baner-p {
  font-size: 1rem;
  font-weight: normal;
  position: relative;
}
.baner-h {
  font-size: 1.5rem;
  font-weight: bold;
}
.box-link {
  display: flex;
  align-items: center;
  text-align: center;
}
.link {
  color: white;
  transform: translate(-250px, 0px);
  background-color: #098b41;
  padding: 7px 19px 7px 19px;
  border-radius: 2px 18px 18px 18px;
  font-size: 1.1rem;
  margin-right: 15px;
}
.logo-i {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  padding: 0px 35px;
}
.logo {
  position: absolute;
  width: 7rem;
  aspect-ratio: 1/1;
  bottom: 44px;
  height: auto;
  object-fit: contain;
}
.baner {
  background-color: #f5f5f5;
  height: 105px;
  border-radius: 32px;
  margin-left: 10px;
  min-width: 490px;
}
.body {
  color: black;
  font-weight: 700;
  margin-right: -190px;
  margin-left: -179px;
  font-size: 1.2rem;
}
.box-body {
  display: flex;
  align-items: center;
}
