<div
  class="flex lg:flex-row flex-col mt-16 justify-center items-center gap-3 lg:gap-0"
>
  <div
    class="md:basis-[46%] xl:basis-full mt-4 max-w-[600px] items-center flex flex-col transition-all"
  >
    <h1
      class="font-black text-[#098B41] text-3xl line-height-1 sm:!text-[2.4rem] xl:!text-[3.2rem] select-none"
    >
      بررسی بروکر های فارکس
    </h1>

    <p class="text-justify text-xl mt-5 px-2 md:px-14 select-none">
      در بررسی بروکر های که توسط ایرانی اکسپرت انجام شده علاوه بر بررسی مناسب
      بروکر هایی که نتیجه بهتــری برای استفـاده از ربات های معاملــه گر دارند
      ،بروکـــر های امن و نا امن را باهم مقایسه میکنیم واز جدیدترین وضعیــت
      بروکر ها مطلع می شویم
    </p>

    <button
      class="min-w-fit px-4 text-sm text-white bg-[#098B41] font-medium h-9 rounded-s-3xl rounded-bl-3xl ml-12 mt-4 mr-auto flex items-center"
    >
      در ویدیو نحوه بررسی بروکر ها ببینید
      <span class="chevron-container"><i class="ie-chevron-left"></i></span>
    </button>
  </div>
  <div class="basis-1/2">
    <img
      src="../../../../../assets/img/Broker-Demo.png"
      alt="video-holder"
      class="border border-gray-500 rounded-lg opacity-70 hover:opacity-100 transition-opacity"
    />
    <!-- <app-video-player [VideoId]="0" [homeScreen]="false"></app-video-player> -->
  </div>
</div>
