<div
  class="flex lg:flex-row flex-col mt-16 justify-center items-center gap-3 lg:gap-0"
>
  <div
    class="md:basis-1/2 xl:basis-4/6 mt-4 items-center flex flex-col transition-all"
  >
    <h1 class="font-black text-3xl select-none mx-2 md:mr-[7.5rem] w-full">
      بررسی بروکر های فارکس
    </h1>
    <p class="font-black text-[#098B41] text-2xl select-none xl:-mr-12">
      <i
        class="ms-3 ie-icon scale-[0.8] small ie-thick translate-x-1 translate-y-1"
      ></i>
      بهترین بروکر برای ترید در بازار فارکس ایرانیان (Forex) 2023+ انواع بروکر
      ها
    </p>

    <p class="text-justify text-lg text-black mt-5 mx-2 md:mx-14 select-none">
      انتخاب بهترین بروکر برای ایرانیان، در بازار فارکس (Forex)، همواره چالشی
      است که به بسیاری از عوامل و نیازهای معامله‌گران ایرانی وابسته است. این
      عوامل شامل نوع معاملات، پلتفرم معاملاتی، میزان سرمایه آغازین، نیاز به
      تحلیل‌های مالی و آموزشی، خدمات پشتیبانی، نوع حساب معاملاتی، هزینه‌ها و سطح
      تجربه معامله‌گران می‌شود. انتخاب یک بروکر برای معاملات در بازارهای مالی،
      مهم و برای معامله‌گران، حیاتی است. انتخاب نادرست می‌تواند منجر به مشکلات
      مالی و اجرای معاملات نامناسب شود. بنابراین در ادامه، ایرانی اکسپرت، به
      بررسی مفاهیم بروکر و برخی از عوامل و معیارهایی که معامله‌گران باید در
      انتخاب بروکر مدنظر قرار دهند پرداخته، تا در انتخاب بهترین بروکر فارکس برای
      ایرانی‌ها کمک کند
    </p>

    <button
      (click)="navTo()"
      class="min-w-fit px-4 text-sm text-white bg-[#098B41] font-medium h-9 rounded-s-3xl rounded-bl-3xl ml-auto mt-4 mr-12 flex items-center"
    >
      بیشتر بخوانید
      <span class="chevron-container"><i class="ie-chevron-left"></i></span>
    </button>
  </div>
  <div class="basis-1/2">
    <img
      src="../../../../../assets/img/Broker-Demo.webp"
      alt="video-holder"
      class="border w-full h-full border-gray-500 rounded-lg opacity-70 hover:opacity-100 transition-opacity"
      width="637"
      height="357"
    />
    <!-- <app-video-player [VideoId]="0" [homeScreen]="false"></app-video-player> -->
  </div>
</div>
