.row{
    margin-right: 135px;
  }
  .divid-h{
      font-weight: bold;
      font-size: 15px;
      color: #3246D3;
      &::before {
        content: "";
       width: 26px;
       height: 5px;
       background-color: #3246D3;
       border-radius: 6px;
       display: inline-block;
       margin: 0px 6px;
      }
    }
    .l{
      font-size: 50px;
      font-weight: 900;
    }
    .faq-h{
      color: black;
          font-size: 25px;
          font-weight: 700;
        }
// ============[faq]===============
.box-shadow{
  padding-bottom: 30px;
}
.accordion {
    margin-top: 1rem;
  }
  .border{
    border:  1px solid #ccc;
    border-top: 1px solid #69686849;
    border-radius: 10px;
    margin-bottom: 3px;

  }
  .accordion .menu {
    position: relative;
    margin-top: 5px;
    padding: 15px 15px 15px 45px;
    color: #3E3E3E;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
  }
    
  .accordion li img {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #595959;
    transition: all 0.4s ease;
  }  
  .accordion li.active img {
    rotate: -90deg;
  }
    
  .submenu {
    height: 0;
    overflow: hidden;
    font-size: 14px;
    transition: height 0.4s ease;
  }
  
  .accordion li:last-child .submenu {
    border-radius: 0 0 4px 4px;
  }
  
  .accordion li:last-child .submenu li:last-child {
    border-bottom: 0;
  }
  
  .submenu p {
    display: block;
    text-decoration: none;
    padding: 12px;
    padding-left: 42px;
    transition: all 0.25s ease-in-out;
  }
  .p{
    background-color: green;
  }