<div class="lg:!mr-14 mr-4 ml-8">
  <span class="divid-h lg:!text-base">امکانات ویژه ربات معامله گر ATM </span>
  <p class="text-black text-base font-semibold mb-4 lg:!text-2xl">
    بخشی از مهمترین ویژگی‌های دستیار ترید خودکار فارکس ATM
  </p>
</div>
<!-- ===============[FAQ]=========== -->
<div class="pb-8 flex justify-center">
  <ul id="accordion" class="accordion mt-4 max-w-4xl mr-3 ml-3">
    <li
      class="border"
      *ngFor="let menu of data; let i = index"
      [class.active]="menu.isActive"
    >
      <div
        class="menu flex justify-between"
        (click)="toggle(i, !menu.isActive)"
      >
        {{ menu.title }}
        <i class="chevron"></i>
      </div>
      <ul
        class="submenu"
        #submenu
        [style.height.px]="menu.isActive ? submenu.scrollHeight : 0"
      >
        <li>
          <p>{{ menu.description }}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
