<div class="mainCards-design map bg-black">
  <ejs-maps id="rn-container">
    <e-layers>
      <e-layer
        [shapeData]="shapeData"
        [shapeDataPath]="shapeDataPath"
        [shapePropertyPath]="shapePropertyPath"
        [shapeSettings]="shapeSettings"
        [bubbleSettings]="bubbleSettings"
      ></e-layer>
    </e-layers>
  </ejs-maps>
  <div>
    <app-autoplay-slider></app-autoplay-slider>
  </div>
  <div class="flex items-center justify-center">
    <!-- <app-audio-player></app-audio-player> -->
  </div>
  <div class="m-16 flex justify-center">
    <div class="w-3/12"></div>
    <div class="w-9/12 flex flex-col">
      <div class="items-center p-4 bg-[#F3F3F3] rounded-2xl m-5">
        <app-eco-cal></app-eco-cal>
      </div>
      <div class="flex justify-center relative bottom-11">
        <button
          class="text-lg font-bold text-gray-400 border-solid border-2 border-gray-400 p-1 bg-[#fbfbfb] pe-5 ps-5 rounded-3xl"
        >
          نمایش بیشتر
        </button>
      </div>
      <div class="items-center p-8 bg-[#F3F3F3] rounded-2xl m-5">
        <app-tradingview></app-tradingview>
      </div>
    </div>
  </div>
</div>
