<div class="flex flex-col gap-10 scrollbar-custom">
  <app-important-news [currencyTrend]="data"
    ><h3 class="text-sm text-gray-800 sm:me-3 min-w-[6.5rem]">
      بخشی از اخبار مهم
    </h3></app-important-news
  >

  <div
    class="flex flex-col-reverse lg:flex-row justify-center items-center lg:items-stretch gap-5"
  >
    <div class="basis-full lg:basis-1/3 p-1 lg:p-0 max-w-[380px]">
      <a href="https://t.me/iraniexpertnews">
        <img
          class="rounded-2xl"
          src="assets/img/telegram-channel.webp"
          alt="ثبت نام در ربات تلگرام;"
        />
      </a>
      <div class="mt-2">
        <app-voice-player></app-voice-player>
      </div>
    </div>
    <div class="basis-full flex flex-col gap-3 bg-white rounded-2xl p-5">
      <div class="basis-full">
        <span class="block text-base">نقشه‌ی اخبار امروز</span>
        <span class="block text-sm text-[#0498FB]">{{ today }}</span>
      </div>
      <div class="basis-full">
        <app-map></app-map>
      </div>
    </div>
  </div>
  <app-countries-currency></app-countries-currency>
  <!-- <app-voice-player></app-voice-player> -->

  <div class="lg:flex hidden gap-5 items-start justify-center">
    <div class="flex flex-col basis-[26%]">
      <div class="bg-white rounded-2xl shadow-sm p-5">
        <app-date-picker (calDate)="setCalDate($event)"></app-date-picker>
      </div>
      <div class="bg-white rounded-2xl shadow-sm p-5 my-5">
        <app-symbols
          (listOfSelectedItems)="setSymbolServices($event)"
        ></app-symbols>
      </div>
      <div class="bg-white rounded-2xl shadow-sm p-5">
        <app-sector-filter
          (sections)="setSectionServices($event)"
        ></app-sector-filter>
      </div>
    </div>

    <div class="basis-[72%] flex flex-col gap-6">
      <div
        class="bg-white px-2 py-1 rounded-2xl shadow-sm border border-[#EAEAEA] relative"
      >
        <div class="w-full my-2 mx-2 flex items-center">
          <div class="mx-2">
            <i class="ie-news"></i>
          </div>
          <div class="mx-2">
            <span class="block text-sm">تقویم اقتصادی</span>
            <span class="inline-block text-[#0498FB] text-sm font-medium">
              {{ today }}
            </span>
          </div>
          <div class="flex items-center ml-4 mr-auto space-x-2">
            <span class="block text-sm ml-4"> اهمیت</span>
            <ng-container *ngFor="let i of importances">
              <span
                (click)="i.active = !i.active; setImportance(i)"
                class="rounded-md border-[1.5px] holder-icon cursor-pointer hover:bg-slate-200"
                [ngClass]="
                  i.active
                    ? 'bg-[#E7F3FB] border-[#0498FB]'
                    : 'bg-white border-[#BCBCBC]'
                "
              >
                <span
                  class="scale-95 block w-full"
                  [ngStyle]="{ '--importance-color': i.color }"
                >
                  <app-importance />
                </span>
              </span>
            </ng-container>
          </div>
        </div>
        <table-calendar />
      </div>
      <div #tradingView></div>
      <div *ngIf="device == 'lg'">
        <app-graph-container></app-graph-container>
      </div>

      <div
        class="p-5 bg-white rounded-2xl shadow-sm border border-[#EAEAEA]"
        *ngIf="tvStatus > 0"
      >
        <app-trading-view />
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center lg:hidden">
    <app-responsive-table></app-responsive-table>

    <div *ngIf="device == 'md'" class="p-5 basis-full w-full">
      <app-graph-container></app-graph-container>
    </div>
  </div>
  <!-- <div>
    <button
      class="bg-black rounded-xl w-20 text-white"
      (click)="showMore(pageNumber + 1, 'want-more')"
    >
      بیشتر
    </button>
    <button
      class="bg-black rounded-xl w-20 text-white"
      (click)="showMore(undefined, 'getted')"
    >
      بیشتر
    </button>
    <button class="bg-black rounded-xl w-20 text-white" (click)="showLess()">
      کمش کن
    </button>
  </div> -->
  <!-- <app-trading-view lazy="true" /> -->
  <app-calendar-description />
</div>
