<section
  class="custom-container p-3 md:px-7"
  [ngStyle]="{ '--flex-direction': flexDirection }"
>
  <div class="right-container">
    <img
      class="w-28 aspect-video object-contain"
      src="assets/img/logo.webp"
      alt="Irani-Expert"
    />
    <ng-container *ngIf="!changingPassword">
      <app-switch
        (output)="changeView()"
        [activeView]="view"
        [items]="switchItems"
      ></app-switch>
      <div class="w-full" [smoothHeight]="changed">
        <div>
          <app-signup
            (changingView)="changeViewFromSigup()"
            *ngIf="view == 'sign-up'"
          />
          <app-login
            *ngIf="view == 'login'"
            (changePassword)="changePasswordStatus($event)"
          />
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="changingPassword">
      <div class="w-full" [smoothHeight]="changed">
        <div>
          <app-forget-password
            (changePassword)="changePasswordStatus($event)"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="this.flexDirection == 'row'" class="left-container">
    <app-lottie [config]="lottieConfig" />
  </div>
</section>
