.custom-container {
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: space-between;
  align-items: center;
  @media (min-width: 1279px) {
    align-items: stretch;
  }
}
.right-container {
  flex-basis: 45%;
  padding: 1.75rem;
  @media (max-width: 768px) {
    padding: 0.75rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.left-container {
  background-color: #184cfa;
  flex-basis: 60%;
  display: flex;
}
