<h2 class="sr-only">چگونه معامله کنم ؟ نقطه شروع ترید کجاست؟</h2>
<div class="flex justify-center">
  <div class="m-5 mt-10 mb-7 flex flex-col justify-center">
    <p class="header-start">چگونه معامله کنیم؟</p>
    <p class="text-3xl text-black font-bold mb-3 rtl-grid lg:mb-6">
      نقطه شروع ترید کجاست؟
    </p>
    <div class="flex sm:flex-row flex-col sm:h-[24rem]">
      <div class="sm:w-1/2 flex items-center mb-4">
        <div class="box-shadow">
          <img
            loading="lazy"
            title="شروع ترید با ایرانی اکسپرت"
            src="../../../../../assets/img/trade-beginning.webp"
            style="scale: 1.2; opacity: 0.8"
            width="654"
            height="415"
            alt="trade-beginning"
          />
        </div>
      </div>
      <div class="sm:w-1/2 flex flex-col justify-around">
        <div class="flex">
          <div class="sm:w-2/12 w-3/12 flex justify-center pe-4 ps-4">
            <div
              class="rounded-lg w-[60px] h-[60px]"
              style="box-shadow: 0px 0px 21px 2px #d4d9ff"
            >
              <div
                class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
              >
                <p class="text-[#3246D3]">1</p>
              </div>
            </div>
          </div>
          <div class="pt-[5px]">
            <div
              class="flex items-center text-base text-[#3246D3] font-extrabold"
            >
              <div
                class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
              ></div>
              مرحله اول
            </div>
            <p class="text-base text-black">
              بازارمالی هدف را انتخاب نموده و با انواع تحلیل آشنا شوید.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="sm:w-2/12 w-3/12 flex justify-center pe-4 ps-4">
            <div
              class="rounded-lg w-[60px] h-[60px]"
              style="box-shadow: 0px 0px 21px 2px #d4d9ff"
            >
              <div
                class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
              >
                <p class="text-[#3246D3]">2</p>
              </div>
            </div>
          </div>
          <div class="pt-[5px]">
            <div
              class="flex items-center text-base text-[#3246D3] font-extrabold"
            >
              <div
                class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
              ></div>
              مرحله دوم
            </div>
            <p class="text-base text-black">
              در کارگزاری مدنظر ثبت‌نام کنید. 
            </p>
          </div>
          <div class="flex items-center justify-end mt-2 w-5/12">
            <button
              class="flex justify-center items-center bg-main-blue border-2 relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] sm:w-32 text-white rounded-full font-semibold text-base"
            >
              <a class="flex items-center text-sm px-2 py-1" routerLink="/brokers">
                انتخاب بروکر<i
                  class="fa fa-long-arrow-left text-xl ms-1 mr-2"
                ></i>
              </a>
            </button>
          </div>
        </div>
        <div class="flex">
          <div class="sm:w-2/12 w-3/12 flex justify-center pe-4 ps-4">
            <div
              class="rounded-lg w-[60px] h-[60px]"
              style="box-shadow: 0px 0px 21px 2px #d4d9ff"
            >
              <div
                class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
              >
                <p class="text-[#3246D3]">3</p>
              </div>
            </div>
          </div>
          <div class="pt-[5px]">
            <div
              class="flex items-center text-base text-[#3246D3] font-extrabold"
            >
              <div
                class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
              ></div>
              مرحله سوم
            </div>
            <p class="text-base text-black">
              استراتژی معاملاتی خود را طراحی کنید.
            </p>
          </div>
        </div>
        <div class="flex mt-4">
          <div class="sm:w-2/12 w-3/12 flex justify-center pe-4 ps-4">
            <div
              class="rounded-lg w-[60px] h-[60px]"
              style="box-shadow: 0px 0px 21px 2px #d4d9ff"
            >
              <div
                class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
              >
                <p class="text-[#3246D3]">4</p>
              </div>
            </div>
          </div>
          <div class="pt-[5px]">
            <div
              class="flex items-center text-base text-[#3246D3] font-extrabold"
            >
              <div
                class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
              ></div>
              مرحله چهارم
            </div>
            <p class="text-base text-black">
              استراتژی خود را طراحی و روی حساب Demo پیاده‌سازی کنید.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="sm:w-2/12 w-3/12 flex justify-center pe-4 ps-4 h-[52px]">
            <div
              class="rounded-lg w-[60px] h-[60px]"
              style="box-shadow: 0px 0px 21px 2px #d4d9ff"
            >
              <div
                class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
              >
                <p class="text-[#3246D3]">5</p>
              </div>
            </div>
          </div>
          <div class="pt-[5px]">
            <div
              class="flex items-center text-base text-[#3246D3] font-extrabold"
            >
              <div
                class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
              ></div>
              مرحله پنجم
            </div>
            <p class="text-base text-black">
              پس از اطمینان از سودده بودن مسیر، کسب تجربه کنید. 
            </p>
            <p class="text-base text-black">
              و نهایتا وارد مرحله پنجم شده و در حساب واقعی معامله کنید.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
