<div class="m-5 mt-10 mb-7">
  <h1 class="text-3xl font-bold">نقطه شروع ترید کجاست؟</h1>
  <div class="flex">
    <div class="w-1/2 flex items-center">
      <div class="box-shadow">
        <img src="../../../../../assets/img/Group 640.png" />
      </div>
    </div>
    <div class="w-1/2">
      <div class="flex m-5">
        <div class="w-3/12 flex justify-center">
          <div
            class="w-[60px] text-center p-1 h-[57px] text-[#3246D3] rounded-2xl"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div class="text-[41px] font-bold pt-[1px]">1</div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div class="flex items-center text-base font-semibold text-[#3246D3]">
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله اول ترید
          </div>
          <p class="text-base text-[18px] text-black">
            بازارمالی هدف را انتخاب نموده و با انواع تحلیل آشنا شوید.
          </p>
        </div>
      </div>
      <div class="flex m-5">
        <div class="w-3/12 flex justify-center">
          <div
            class="w-[60px] text-center p-1 h-[57px] text-[#3246D3] rounded-2xl"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div class="text-[41px] font-bold pt-[1px]">2</div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div class="flex items-center text-base font-semibold text-[#3246D3]">
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله دوم ترید
          </div>
          <p class="text-base text-[18px] text-black">
            کارگزاری مدنظر ثبت نام کنید.
          </p>
        </div>
        <div class="flex justify-end items-center w-[12rem]">
          <button
            class="bg-[#3246d3] flex justify-around items-center border-2 relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] text-white p-1 sm:w-32 rounded-full font-medium text-lg"
          >
            انتخاب بروکر <i class="fa fa-arrow-left text-sm"></i>
          </button>
        </div>
      </div>
      <div class="flex m-5">
        <div class="w-3/12 flex justify-center">
          <div
            class="w-[60px] text-center p-1 h-[57px] text-[#3246D3] rounded-2xl"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div class="text-[41px] font-bold pt-[1px]">3</div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div class="flex items-center text-base font-semibold text-[#3246D3]">
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله سوم ترید
          </div>
          <p class="text-base text-[18px] text-black">
            استراتژی معاملاتی خود را طراحی کنید .
          </p>
        </div>
      </div>
      <div class="flex m-5">
        <div class="w-3/12 flex justify-center">
          <div
            class="w-[60px] text-center p-1 h-[57px] text-[#3246D3] rounded-2xl"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div class="text-[41px] font-bold pt-[1px]">4</div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div class="flex items-center text-base font-semibold text-[#3246D3]">
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله چهارم ترید
          </div>
          <p class="text-base text-[18px] text-black">
            پیاده سازی کنید Demo .استراتژی خود را طراحی و روی حساب
          </p>
        </div>
      </div>
      <div class="flex m-5">
        <div class="w-3/12 flex justify-center">
          <div
            class="w-[60px] text-center p-1 h-[57px] text-[#3246D3] rounded-2xl"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div class="text-[41px] font-bold pt-[1px]">4</div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div class="flex items-center text-base font-semibold text-[#3246D3]">
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله پنجم ترید
          </div>
          <p class="text-base text-[18px] text-black">
            پس از اطمینان از سودده بودن مسیر، کسب تجربه کنید
          </p>
          <p class="text-base text-[18px] text-black" style="direction: rtl">
            . و نهایتا وارد مرحله پنجم شده و در حساب واقعی معامله کنید
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
