<div class="m-5 mt-10 mb-7 flex flex-col items-center">
  <h1 class="text-3xl font-bold mb-1 w-[85%] rtl-grid">
    نقطه شروع ترید کجاست؟
  </h1>
  <div class="flex h-[24rem]">
    <div class="w-5/12 flex items-center">
      <div class="box-shadow">
        <img
          src="../../../../../assets/img/Group 640.png"
          style="scale: 1.2; opacity: 0.8"
        />
      </div>
    </div>
    <div class="w-1/2 flex flex-col justify-around">
      <div class="flex">
        <div class="w-2/12 flex justify-center pe-4 ps-4">
          <div
            class="rounded-lg w-[60px] h-[60px]"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div
              class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
            >
              <p class="text-[#3246D3]">1</p>
            </div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div
            class="flex items-center text-base text-[#3246D3] font-extrabold"
          >
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله اول ترید
          </div>
          <p class="text-base text-black">
            بازارمالی هدف را انتخاب نموده و با انواع تحلیل آشنا شوید.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/12 flex justify-center pe-4 ps-4">
          <div
            class="rounded-lg w-[60px] h-[60px]"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div
              class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
            >
              <p class="text-[#3246D3]">2</p>
            </div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div
            class="flex items-center text-base text-[#3246D3] font-extrabold"
          >
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله دوم ترید
          </div>
          <p class="text-base text-black">.کارگزاری مدنظر ثبت نام کنید</p>
        </div>
        <div class="flex items-center justify-end mt-2 w-5/12">
          <button
            class="flex justify-center items-center bg-main-blue border-2 relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] sm:w-32 text-white rounded-full font-semibold text-base"
          >
            انتخاب بروکر<i class="fa fa-long-arrow-left text-xl ms-1"></i>
          </button>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/12 flex justify-center pe-4 ps-4">
          <div
            class="rounded-lg w-[60px] h-[60px]"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div
              class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
            >
              <p class="text-[#3246D3]">3</p>
            </div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div
            class="flex items-center text-base text-[#3246D3] font-extrabold"
          >
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله سوم ترید
          </div>
          <p class="text-base text-black">
            .استراتژی معاملاتی خود را طراحی کنید
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/12 flex justify-center pe-4 ps-4">
          <div
            class="rounded-lg w-[60px] h-[60px]"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div
              class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
            >
              <p class="text-[#3246D3]">4</p>
            </div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div
            class="flex items-center text-base text-[#3246D3] font-extrabold"
          >
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله چهارم ترید
          </div>
          <p class="text-base text-black">
            .پیاده سازی کنید Demo استراتژی خود را طراحی و روی حساب
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/12 flex justify-center pe-4 ps-4 h-[52px]">
          <div
            class="rounded-lg w-[60px] h-[60px]"
            style="box-shadow: 0px 0px 21px 2px #d4d9ff"
          >
            <div
              class="text-4xl flex justify-center items-center pt-2 font-bold h-full w-full"
            >
              <p class="text-[#3246D3]">5</p>
            </div>
          </div>
        </div>
        <div class="pt-[5px]">
          <div
            class="flex items-center text-base text-[#3246D3] font-extrabold"
          >
            <div
              class="me-2 w-[24px] h-[6px] inline-block bg--blue rounded-[5px]"
            ></div>
            مرحله پنجم ترید
          </div>
          <p class="text-base text-black">
            پس از اطمینان از سودده بودن مسیر، کسب تجربه کنید
          </p>
          <p class="text-base text-black">
            .و نهایتا وارد مرحله پنجم شده و در حساب واقعی معامله کنید
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
