<!-- ==========[هیرو]=========== -->
<ng-container *ngIf="!loading">
  <div class="sr-only" *ngIf="productService._product!.id == 1">
    <h1>خرید بهترین ربات معامله گر فارکس 2024 همراه با سیو سود</h1>
    <h2>انتخاب پلن‌ خرید ربات معامله گر ATM</h2>
    <h2>معرفی ربات ATM</h2>
    <h2>
      از برتری های استفاده از ربات ATM? <br />
      ربات ATM چه برتری هایی نسبت به دیگر ربات ها دارد?
    </h2>
    <h2>شرایط مورد نیاز برای راه‌اندازی ربات ATM</h2>
    <h2>نکات مهم درباره ربات ATM</h2>
    <h2>امکانات ویژه ربات معامله گر ATM</h2>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <app-shop-hero [data]="productService._product!"></app-shop-hero>
</ng-container>

<ng-container *ngIf="!loading">
  <!-- ==========[معرفی]=========== -->
  <div class="pt-10" #description>
    <app-scroll
      [activeId]="0"
      (scrollClick1)="scroll(description)"
      (scrollClick2)="scroll(option)"
      (scrollClick4)="scroll(question)"
      (scrollClick5)="scroll(comment)"
    ></app-scroll>
  </div>

  <div>
    <app-description></app-description>
  </div>
  <!-- ==========[امکانات]=========== -->

  <div class="pt-10" #option>
    <app-scroll
      [activeId]="1"
      (scrollClick1)="scroll(description)"
      (scrollClick2)="scroll(option)"
      (scrollClick4)="scroll(question)"
      (scrollClick5)="scroll(comment)"
    ></app-scroll>
  </div>

  <app-bot-options
    [data]="productService._product?.facilities!"
  ></app-bot-options>

  <!-- ==========[بک تست]=========== -->
  <!-- <div #backtest>
    <app-scroll
      [activeId]="2"
      (scrollClick1)="scroll(description)"
      (scrollClick2)="scroll(option)"
      (scrollClick3)="scroll(backtest)"
      (scrollClick4)="scroll(question)"
      (scrollClick5)="scroll(comment)"
    ></app-scroll>
  </div> -->

  <!-- <app-back-test [data]="productService._product?.backTests!"></app-back-test> -->

  <!-- ==========[سوالات]=========== -->
  <div class="pt-10" #question>
    <app-scroll
      [activeId]="2"
      (scrollClick1)="scroll(description)"
      (scrollClick2)="scroll(option)"
      (scrollClick4)="scroll(question)"
      (scrollClick5)="scroll(comment)"
    ></app-scroll>
  </div>

  <app-question-shop></app-question-shop>

  <!-- ==========[نظرات]=========== -->
  <div class="pt-10" #comment>
    <app-scroll
      [activeId]="3"
      (scrollClick1)="scroll(description)"
      (scrollClick2)="scroll(option)"
      (scrollClick4)="scroll(question)"
      (scrollClick5)="scroll(comment)"
    ></app-scroll>
  </div>

  <app-comments
    [tableType]="6"
    [rowId]="productService._product?.id"
  ></app-comments>
</ng-container>
