.box-card {
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    padding: 1rem 1.75rem;
    max-height: 415px;
}
.chart-js{
    transform: translate(-0.25rem, 0.4rem);
    width: 12rem;
    height: 11rem;
    position: absolute;
  }

.before{
    width: 1rem;
    height: 0.5rem;
    border-radius: 10px;
}
.chart-text{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    align-items: baseline;
    margin-right: -0.75rem;
    width: 12rem;
    color: #919191;
    font-size: 0.75rem;
    // line-height: 2.5rem;
}