<div class="flex h-full my-2">
    <div class="w-full flex flex-col box-card">

        <div class="flex justify-between items-center mt-3">
            <p class="text-black font-medium">{{data.title}}</p>
            <img [src]="data.icon" width="17" height="35" alt="icon-card-finance">
        </div>

       <!-- =====[بخش راست]==== -->

        <div *ngIf="type == 1" class="w-full flex flex-col">
            <p class="2xl:text-3xl text-2xl text-black font-black my-6">{{data.lastValue | number: '1.1-3'}}</p>
            <div class="flex items-center">
                <div class="flex items-baseline">
                    <ng-container *ngIf="!upTrend">
                        <i class="downTrend scale-75"></i>
                        <span class="text-[#FF4444] ml-2 font-bold text-sm">{{data.changePercent | number: '1.1-3'}}%</span>
                    </ng-container>
                    <ng-container *ngIf="upTrend">
                        <i class="upTrend scale-75"></i>
                        <span class="text-[#00CB85] font-bold text-sm">{{data.changePercent | number: '1.1-3'}}%</span>
                        <span class="text-[#00CB85] ml-2 font-bold text-sm">+</span>
                    </ng-container>
                </div>
                <p class="text-[#ACACAC] text-sm font-medium">{{data.subTitle}}</p>
            </div>
        </div>

        <!-- =====[بخش چپ]==== -->

        <div *ngIf="type == 2" class="w-full flex flex-col xl:h-full h-96">
            <p class="text-black font-bold text-3xl my-6">{{data.lastValue | number: '1.1-3'}}%</p>
            <div class="w-full flex h-full relative">
                <div class="chart-js">
                    <canvas
                    baseChart
                    class="chart"
                    [legend]="false"
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
                    </canvas>
                </div>
                <div class="flex flex-col items-end w-full justify-end mb-4">
                    <p class="text-[#919191] text-xs justify-end font-medium flex items-baseline w-48 -mr-3">
                        {{data.subTitle1}}
                        <span class="text-black mx-1 font-bold text-sm">{{data.lastValue | number: '1.1-3'}}%</span>
                        <span class="before" [style]="'background-color:' + data.color"></span>
                    </p>
                    <br>
                    <p class="text-[#919191] text-xs justify-end font-medium flex items-baseline w-48 -mr-3 mt-2">
                        {{data.subTitle2}}
                        <span class="text-black mx-1 font-bold text-sm">{{100 - data.lastValue | number: '1.1-3'}}%</span>
                        <span class="before" [style]="'background-color:' + data.color2"></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>