<div
  class="text-white flex justify-around h-[7rem] sm:h-[6rem] m-3 me-0 ms-0 rounded-2xl p-3 bg-cover bg-Img-t"
>
  <div class="sm:w-8/12 sm:flex">
    <span
      class="p-1 sm:text-[4.5rem] text-4xl text-[#ffee00] oblique contents pt-2"
      >20%</span
    >
    <p
      class="sm:text-2xl text-[0.6rem] text-white font-semibold text-justify pt-1"
    >
      تخفیف ویژه اشتراک پلن های سه ماهه و شش ماهه به مناسبات یک سالگـــــی ربات
      معامله گـری
    </p>
  </div>
  <div class="w-3/12 h-20 sm:flex justify-end hidden">
    <img
      *ngIf="!response"
      src="../../../../../assets/img/bot.png"
      class="relative h-[8rem] bottom-11"
    />
  </div>
  <img
    *ngIf="response"
    src="../../../assets/img/Mask Group 31.png"
    class="relative h-[7rem] bottom-6"
  />
</div>
