<!-- <div id="checkboxes">
  <label for="touch"><span>titre</span></label>
  <input type="checkbox" id="touch" />

  <div class="flex justify-between text-2xl">
    <label class="font-bold text-xl">دسته بندی</label>
    <i class="fa fa-caret-down"></i>
  </div>
  <ul class="pr-3.5 text-sm slid">
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اکسپرت </label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اسیلاتور</label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>آموزش</label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اندیکاتور </label>
    </li>
  </ul>
</div> -->
<nav>
  <div class="flex justify-between text-xl" (click)="droupMenw()">
    <label class="font-bold">دسته بندی</label>
    <i [ngClass]="opened ? 'fa fa-caret-left	' : 'fa fa-caret-down	'"></i>
  </div>

  <ul class="mr-3" [ngClass]="opened ? 'slide h-[100px]' : ''">
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اکسپرت </label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اسیلاتور</label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>آموزش</label>
    </li>
    <li class="flex items-start">
      <input class="w-3 ml-1 mt-0.5" type="checkbox" />
      <label>اندیکاتور </label>
    </li>
  </ul>
</nav>
