.input::after {
  display: block;
  background: url(../../../../assets/img/botAdvantageIcons-1.png);
  aspect-ratio: 1/1;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  width: 500000000px;
}
