<form [formGroup]="form" (ngSubmit)="login()">
  <div class="flex flex-col">
    <div ieInput class="flex flex-row items-center">
      <span class="mx-2 relative">
        <input
          class="input-with-icon"
          type="text"
          formControlName="username"
          placeholder="IraniExpert@gmail.com"
        />
      </span>
      <span class="right-icon">
        <img src="../../../../assets/images/email.svg" alt="email-icon" />
      </span>
      <span class="left-icon"
        ><img src="../../../../assets/images/eye-on.svg" alt="eye-open-icon" />
      </span>
    </div>

    <!-- <input type="text" formControlName="password" /> -->
    <button [disabled]="form.invalid" type="submit">وارد شوید</button>
  </div>
</form>
