<div class="flex justify-between bg-lightBlue rounded-2xl w-full my-32">
  <div class="p-10">
    <span class="text-xl font-semibold color--blue header-start"
      >ربات های معامله گری واقعا کار می کند؟</span
    >
    <h2 class="text-[2.1rem] text-black oblique">
      استفاده از هوش مصنوعی و ربات های معامله گر در فارکس چه مقدار کاربرد دارد؟
    </h2>
  </div>
  <div class="h-[8rem] me-24">
    <img
      src="../../../assets/img/Robot1.png"
      class="relative bottom-12 h-60"
      alt=""
    />
  </div>
</div>
<div class="flex flex-row-reverse w-full">
  <div class="w-9/12">
    <div class="flex justify-between">
      <div class="flex items-center blue-font font-semibold">
        <i class="ie-folder"></i>
        <span class="mt-2 ms-2">ترید فارکس</span>
      </div>
      <div
        class="flex items-center blue-font font-semibold bg-gray-100 p-1 px-4 rounded-full"
      >
        <span class="mt-1.5 me-2"> اشتراک گزاری </span>
        <i class="ie-meta-trader"></i>
      </div>
    </div>
    <h1 class="text-black font-bold text-4xl mt-3 mb-1">
      ربات معامله گر چگونه کار می‌کند؟
    </h1>
    <div>
      <small class="font-light">انتشار : 01 دی 1402</small>
      <small class="ms-6 font-light">زمان مطالعه 7 دقیقه</small>
    </div>
    <div class="flex relative my-4 bg-[#CFCFCF] rounded-2xl inside-box-shadow">
      <img class="img-blog opacity-70" src="../../../assets/img/botTitle.png" />
      <div class="absolute flex h-full w-full items-center">
        <div class="mt-40 mr-12">
          <div class="divider"></div>
          <h6 class="title-blog-img">ربات معامله گر چگونه کار می‌کند؟</h6>
        </div>
      </div>
    </div>
    <p class="text-justify text-lg font-medium mt-2 mb-4">
      ربات های معاملاتی از شاخص ها و الگوریتم های فنی مختلف برای تجزیه و تحلیل
      داده های بازار و تصمیم گیری در مورد معاملات استفاده می‌کنند. این
      اندیکاتورها می‌توانند شامل میانگین متحرک، اصلاحات فیبوناچی و غیره باشند.
      برنامه نویسی ربات تعیین می‌کند که از کدام شاخص ها استفاده شود و چگونه آنها
      را تفسیر کند.
      <br />
      هنگامی که ربات یک فرصت تجاری را شناسایی کرد که با معیارهای آن مطابقت دارد،
      یک معامله را به صورت خودکار انجام می‌دهد. سپس ربات معامله را کنترل می‌کند
      و زمانی که شرایط از پیش تعیین شده برآورده شد از آن خارج می‌شود.
      <br />
      هنگامی که یک سیگنال معاملاتی تولید شد، ربات، معامله را به صورت خودکار اجرا
      می‌کند. ربات به حساب معامله گر دسترسی پیدا می‌کند و معامله را از طرف او
      انجام می‌دهد. ربات همچنین سطوح حد ضرر و سود را برای به حداقل رساندن ریسک و
      به حداکثر رساندن سود تعیین می‌کند.
      <br />
      ربات های معامله گر به گونه ای طراحی شده اند که کارآمد و سریع باشند. آنها
      می‌توانند حجم وسیعی از داده ها را در مدت زمان کوتاهی تجزیه و تحلیل کنند و
      بر اساس آن داده ها تصمیم بگیرند. این به آنها اجازه می‌دهد تا از فرصت هایی
      در بازار استفاده کنند که ممکن است توسط معامله گران انسانی از دست برود.
      علاوه بر این، ربات های فارکس می‌توانند 24/7 معامله کنند، که برای معامله
      گران انسانی غیرممکن است.
      <br />
      بهترین ربات‌های معاملاتی، اطلاعات را از چندین منبع اجتماعی، سایت‌های خبری
      و بسیاری از منابع دیگر استخراج می‌کنند و از آنها نیز برای تحلیل بازار
      استفاده می‌کنند. این ربات ها اغلب از هوش مصنوعی و یادگیری ماشینی استفاده
      می‌کنند تا تشخیص دهند چه اخباری تأثیر اجتماعی دارند و احتمالاً بر قیمت‌
      بازار تأثیر زیادی خواهند گذاشت.
    </p>
  </div>
  <div class="w-3/12">2</div>
</div>
