<div class="justify-center sm:flex hidden mt-28 px-8">
  <div
    class="w-1/2 text-white m-3 me-0 flex rounded-lg p-6 bg-cover bg-Img max-h-32"
  >
    <div class="w-1/2 justify-end flex flex-col items-end">
      <h1
        class="text-white p-1 lg:text-3xl xl:text-4xl md:text-xl"
        style="font-style: oblique"
      >
        ربات معامله گر
      </h1>
      <a
        routerLink="products/1/اکسپرت_ATM"
        class="card bg-[#3246d3] rounded-tl-none flex rounded-3xl items-center w-fit"
      >
        <p class="text-white ms-2 text-xs md:text-sm">بیشتر بخوانید</p>
        <span
          class="m-2 flex bg-[#31344d] w-[14px] h-[14px] rounded-full justify-center items-center"
          ><i class="fa fa-angle-left"></i
        ></span>
      </a>
    </div>
    <div class="w-1/2 h-20 flex justify-end">
      <img
        src="../../../../../assets/img/profitHand.png"
        class="relative h-36 bottom-11"
      />
    </div>
  </div>
  <div
    class="w-1/2 text-white m-3 me-0 flex rounded-lg xl:p-6 p-4 max-h-32 colorful-bg"
  >
    <div class="w-8/12 justify-end flex flex-col items-end">
      <h1
        class="text-white p-2 lg:text-2xl xl:text-3xl md:text-xl"
        style="font-style: oblique"
      >
        پادکست های ایرانی اکسپرت
      </h1>
      <div
        class="card bg-[#007A39] rounded-tl-none flex rounded-3xl w-fit items-center"
      >
        <p class="text-white ms-2 text-xs md:text-sm">
          در قسمت پادکست ها بررسی کنید
        </p>
        <span
          class="m-2 flex bg-[#31344d] w-[14px] h-[14px] rounded-full justify-center items-center"
          ><i class="fa fa-angle-left"></i
        ></span>
      </div>
    </div>
    <div class="w-4/12 h-11 flex justify-end">
      <app-lottie [config]="lottieConfig"></app-lottie>
    </div>
  </div>
</div>
