<div class="block lg:hidden">
    <div class="flex w-full h-44 justify-center">
      <div class="w-[85%] p-4 rounded-xl flex bg-white h-full condition" [style]="'border-right-color:' + borderColor">
        <div class="flex flex-col w-full">
          <div class="flex flex-row w-full">
             <div class="flex basis-1/6">
                 <div class="flex flex-col w-full">
                   <i class="flag-icon"></i>
                   <p class="font-semibold text-lg mr-1 mt-2">USD</p>
                 </div>
             </div>
             <div class="pr-4 basis-5/6">
               <p class="text-black">17:30</p>
               <p class="text-black">گزارش موقعیت های شغلی اشغال نشده (اوت) </p>
             </div>
          </div>
          <!-- ===========[پارت پایین]==== -->
          <div class="flex items-center justify-around flex-row divider w-full pt-4 h-full">
            <p>8.920M</p>
            <div class="flex flex-col items-center">
              <p class="text-sm">قبلی</p>
            </div>
            <div class="flex flex-col items-center">
              <p>8.880M</p>
              <p class="text-sm">پیشبینی</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="refresh-icon scale-110"></i>
              <p class="text-sm mt-2">واقعی</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>