<div class="flex w-full mt-16 justify-center">
  <div class="checkout-card">
    <img
      [ngStyle]="{ '--img-width': '100%' }"
      class="img-top"
      width="173"
      height="247"
      src="assets/img/Box-checkout.png"
      alt="product-img"
    />
    <div class="details-product">
      <div class="pb-3 row">
        <p class="mt-7 row-p">
          <span
            ><i class="fa-solid fa-star"></i>ایرانی اکسپرت<i
              class="fa-solid fa-star"
            ></i
          ></span>
        </p>
        <p class="mt-2 row-p-2">
          <span><i class="fa-solid fa-star"></i>4.5</span>
          <span class="ml-3 mr-3"><i class="fa-solid fa-star"></i>EA</span>
          <span><i class="fa-solid fa-star"></i>MQL5</span>
        </p>
      </div>
      <div class="seperator-hz-1"></div>
      <div class="pt-3 pb-3 row">
        <p class="row-p-3">
          <span
            ><i class="fa-solid fa-star"></i>پشتیبانی دائمی تا زمان اشتراک
          </span>
        </p>
      </div>
    </div>
    <div class="seperator-ticket">
      <span class="circle-right"></span>
      <span class="dashed"></span>
      <span class="circle-left"></span>
    </div>
  </div>
</div>
