<div class="flex w-full mt-6 justify-center">
  <div class="checkout-card">
    <img
      [ngStyle]="{ '--img-width': '100%' }"
      class="img-top"
      width="173"
      height="247"
      src="assets/img/Box-checkout.png"
      alt="product-img"
    />
    <div class="details-product">
      <properties [verified]="true" [guarantee]="true">
        <p class="producer-name" producer>ایرانی اکسپرت</p>
        <p rate class="product-rate">4.5</p>
        <p category class="product-category">EA</p>
        <p platform class="product-platform">MQL5</p>
        <p guarantee class="product-guarantee">پشتیبانی دائمی تا زمان اشتراک</p>
      </properties>
      <div class="space-y-1 mt-2">
        <p class="font-bold text-black text-base">ربات معامله گر فارکس</p>
        <p class="font-bold text-black text-sm">
          پلن اعتماد (اعتبار تا پرافیت 100 دلاری)
        </p>
      </div>
    </div>
    <!-- Seperator-Ticket -->
    <div class="seperator-ticket">
      <span class="circle-right"></span>
      <span class="dashed"></span>
      <span class="circle-left"></span>
    </div>
    <!-- Seperator-Ticket -->
    <div class="detail-price-container">
      <div class="discount-content">
        <span class="discount-percent">10%</span>
        <span class="discount-price">$20</span>
      </div>
      <div class="price-content">
        <span class="icon"></span><span class="price">$18</span>
      </div>
    </div>
  </div>
</div>
