<div class="mx-4 translate-y-[61px] -mt-52 lg:-mt-4 mb-40">
  <div class="text-right">
    <b class="font-bold sm:text-3xl text-xl">
      <span class="symbol text-2xl">#</span> موضوعات پرطرفدار و هشتگ های داغ
      هفته
    </b>
  </div>
  <div class="flex flex-wrap m-5">
    <div class="min-w-fit m-2" *ngFor="let tags of data">
      <button
        (click)="searchTag(tags.title)"
        class="tag px-5 py-1 rounded-2xl text-lg font-normal mr-3"
      >
        <span>#</span>{{ tags.title}}
      </button>
    </div>
  </div>
</div>
