.tag {
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #f8f8f8;
  border-radius: 1.1rem;
  padding: 5px 20px 5px 20px;
}
.title-h {
  font-weight: bolder;
  font-size: 25px;
}
.hashtag {
  font-size: 26px;
  color: #098b41;
}
