<div class="container mx-auto mt-16 mb-10">
    <div class="text-right mb-7">
        <h5 class="titile-h w-full"> <span class="hashtag ">#</span> موضوعات پرطرفدار و هشتگ های داغ هفته</h5>
    </div>
        <div class="flex justify-center">
            <div class=""><a class="tag mr-3">آموزش رایگان</a></div>
            <div class=""><a class="tag mr-3">دمو رایگان</a></div>
            <div class=""><a class="tag mr-3">ربات فارکس</a></div>
            <div class=""><a class="tag mr-3">تقویم اقتصادی</a></div>
            <div class=""><a class="tag mr-3">مدرسه فارکس</a></div>    
        </div>
        <div class="flex justify-center mt-5">
            <div class=""><a class="tag mr-3">آموزش فارکس</a></div>
            <div class=""><a class="tag mr-3">ربات معامله گر ATM</a></div>
            <div class=""><a class="tag mr-3"> نحوه ران کردن و فعال کردن ربات </a></div>
            <div class=""><a class="tag mr-3">آموزش فاندا منتال </a></div>
        </div>
</div>  