<div class="flex mx-8 justify-center">
  <div class="w-1/2">
    <div class="flex items-center">
      <i class="ie-icon ie-comments me-2"></i>
      <h1 class="text-2xl font-bold">مشاوره رایگان</h1>
    </div>
    <p class="mb-5">
      <small class="font-light"
        >فرم مشاوره ایرانی اکسپرت را پر کنید تا در زود ترین زمان با شما تماس
        بگیریم</small
      >
    </p>
    <p class="text-base max-w-[42rem] text-justify">
      به منظور کمک به شما در راهنمایی و تصمیم‌گیری، ما مشاوره‌های رایگان فردی
      ارائه می‌دهیم. تیم مشاوران ما آماده است به شما در تحلیل بازار، راهنمایی در
      حوزه بازار فارکس و انتخاب ابزارهای معاملاتی، سرمایه گذاری، اکسپرت نویسی و
      ارائه نکات مفید کمک کنند.
    </p>
    <div>
      <p>برای مشاوره رایگان تلفنی می توانید با شماره های زیر تماس بگیرید</p>
      <div class="flex">
        <div class="num-card">0901 727 2018</div>
        <div class="num-card">0915 050 2018</div>
      </div>
    </div>
  </div>
  <app-consultation-form [isGreen]="true"></app-consultation-form>
</div>
