@import "../../../../../sass/colors";
@media only screen and (min-width: 640px) {
  @keyframes fadeUp {
    100% {
      transform: translate(-8.5vw, -50%);
    }
  }
  @keyframes fadeDown {
    0% {
      opacity: 1;
      transform: translate(-8.5vw, -50%);
    }

    100% {
      opacity: 0.7;
      transform: translate(0, 0);
    }
  }
  .disable-facilities {
    mix-blend-mode: luminosity;
  }
  .up-icon {
    animation: fadeUp 1s 0s normal forwards;
  }
  .down-icon {
    animation: fadeDown 1s 0s normal forwards;
  }
  .w-inher {
    width: inherit;
  }
}

@media only screen and (max-width: 640px) {
  .w-inher {
    width: 50px;
  }
  .img-container {
    bottom: 40px;
    position: relative;
  }
  .resclass {
    div:nth-of-type(3) {
      background-color: #fff;
    }
    div:nth-of-type(2) {
      background-color: #fff;
    }
  }

  .white-bg {
    background-color: #fffafa;
  }

  .res-img {
    bottom: 19px;
    position: relative;
  }
  .down-icon {
    position: relative;
    right: 36%;
    bottom: 12px;
  }
}
.bg-grey {
  background-color: $gray-200;
}

.f-btn {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 42px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 0px 2px;
  text-decoration: none;
}

.f-btn:active {
  position: relative;
  top: 1px;
}
