.items {
  height: 7rem;
  width: 22%;
  border-color: #d5d5d5;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  border-radius: 18px;
}
.active-Filter {
  filter: grayscale(100%);
}
.green-border {
  border-radius: 18px;

  border-color: #098b41;
  border-width: 1px;
}
.slide-right {
  animation: slide-right 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(+35px);
  }
  100% {
    transform: translateX(0);
  }
}
