<div
  class="sm:bg-[#f3f3f3] flex justify-around p-4 sm:mx-16 items-center rounded-xl"
>
  <p class="sm:text-lg text-justify pl-8">
    {{ paragraph }}
  </p>
  <button
    class="flex justify-center items-center bg-main-blue border-2 relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] sm:w-32 min-w-[8rem] text-white p-1 rounded-full font-semibold text-base"
  >
    <a class="flex items-center" routerLink="/shop">
      {{ btnName }}<i class="fa fa-long-arrow-left text-xl ms-1 mb-1 mr-2"></i>
    </a>
  </button>
</div>
