<ng-container *ngIf="sendDataToChild">
  <div id="ckeditor" [innerHTML]="articleHtml" class="mt-6 calendar"></div>
</ng-container>

<!-- <div class="p-3 lg:p-0">
  <div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h ">
        اخبار فارکس ایرانی اکسپرت
      </div>
      <br>
      <h1>
        <div class="font-semibold  text-black text-2xl mb-3">
          اخبار فاندامنتال فارکس آنلاین و لحظه ای در سایت فارسی + آپدیت 24 ساعته!
        </div>
      </h1>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        بازار فارکس، به‌صورت 24 ساعته و پنج روز هفته باز است که این یکی از مزایای انجام معامله در فارکس است. اخبار اقتصادی فارکس، یکی از عوامل اصلی تعیین کننده قیمت‌ها در بازار فارکس است.
         از آنجایی‌که اخبار بر حرکات بازار تاثیرگذار است، داده‌های اقتصادی می توانند به عنوان محرک اصلی حرکت‌های کوتاه مدت قیمت‌ها استفاده شوند.
        <br>
        <br>
        طیف گسترده‌ای از معامله‌گران در فارکس از این اطلاعات برای ورود و خروج از معاملات استفاده می‌کنند.
         به این نوع معاملات، معامله با اخبار یا نیوز تریدینگ می‌گویند. جالب است که بدانید بسیاری از معامله‌گران حرفه‌ای، فقط از طریق News Trading معامله می‌کنند! همچنین به دلیل تاثیر اخبار فارکس بر جهت بازار و معاملات در حال انجام، تریدر ها باید از زمان  اخبار مهم و تاثر گذار، آگاه باشند تا بتوانند سود بیشتری را از معاملات خود کسب کنند.
        <br>
        <br>
        بخش اخبار فارکس ایرانی اکسپرت، شامل تقویم اقتصادی اخبار فارکس فارسی به صورت روزانه و
         آنلاین برای استفاده معامله‌گران حرفه ای و با تجربه  یا صرفا افراد علاقه‌مند به کسب اطلاعات در مورد اخبار و رویدادهای مهم بازارهای مالی می باشد.
    </div>
    </div>
</div>

<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        ماهیت اخبار فارکس
      </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
          اخبار فارکس چیست؟
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        یکی‌ از مهمترین چالش‌های معامله‌گرانی که استراتژی شخصی دارند یا از استراتژی‌های مرسوم بازار استفاده می‌کنند، اخبار بنیادی فارکس یا همان اخبار فاندامنتال است که در بازار فارکس از آن به‌عنوان اخبار فارکس یاد می‌شود.
    </div>
    </div>
</div>

<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        اهمیت اخبار بر بازار فارکس
       </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
        چرا اخبار جهانی فارکس مهم است؟
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        از اخبار اقتصادی مهم و به روز فارکس برای ورود و خروج به دنیای بازارهای مالی برای انجام هر گونه معامله می توان استفاده کرد چرا که تاثیر بسزایی برای هر اقدامی در بازه کوتاه مدت به‌همراه دارد. اخبار فارکس به همراه تقویم اقتصادی مهم ترین اقدامات را برای سرمایه گذاران در بازارهای مالی رقم می زند. این اخبار در هر معامله‌ای در بازار فارکس تاثیر دارند اما، تحلیل اخبار فارکس بسیار مهم تر از گزارشات آن می‌باشد.
         مهم ترین عاملی که معامله گران را در بازار های مالی به حرکت وا می دارد چیزی جز اخبار فارکس نیست و هر بازار مالی خبرهای به‌خصوص خود را داراست.
        <br>
        <br>
        بنابراین، از مهمترین نقاط قوت ربات معامله گرATM ، تشخیص اخبار و داده‌های اقتصادی به صورت خودکار است که موجب شده تریدر با خاطری آسوده، ربات را تهیه و از آن استفاده کند.
         جهت دریافت اطلاعات بیشتر با پشتیبانی تماس گرفته یا از طریق تلگرام یا اینستاگرام پیام دهید. 
    </div>
    </div>
</div>


<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        اهمیت ترجمه صحیح اخبار
      </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
        ترجمه اخبار فارکس 
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        برای انجام معامله درزمینه نمادهای معاملاتی، نیازمند درک دقیق از بازار و مهمترین اخبار فارکس منتشر شده می‌باشید. این اخبار همان داده‌های اقتصادی هستند که در بازارهای مالی بسیار حیاتی می‌باشند.
         اخبار فارکس، عموما به زبان انگلیسی منتشر می‌شوند که برای برخی از تریدرهای فارکس در ایران که تسلط کافی به زبان انگلیسی ندارند چالش ایجاد کرده است.
        <br>
        <br>
        تاثیر اخبار فارکس  بر معاملات به گونه ایست که تریدرها برای تصمیم گیری آگاهانه در بازارهای مالی مخصوصا بازار فارکس نیازمند سطح زبان انگلیسی بالا، دانش کافی و تجربه مفید جهت تحلیل درست اخبار هستند. 
        <br>
        <br>
        بنابراین، برخی از سایت‌های فارسی زبان اقدام به ترجمه اخبار فارکس کردند، اما در لحظه انتشار آن داده، تاخیری در خواندن داده و نمایش آن دارند که برای معامله‌گران حتی یک ثانیه هم اهمیت دارد.
         به همین جهت، ایرانی اکسپرت اقدام به گردآوری داده‌های اقتصادی و اخبارفارکس کرده است و تمام این اطلاعات را به زبان فارسی ترجمه و روی وب‌سایت  خود در دسترسی عموم قرار داده است. برنامه اخبار فارکس ایرانی اکسپرت، به محض انتشار هر داده، در همان لحظه، آن را اتوماتیک خوانده و منتشر می‌نماید.
    </div>
    </div>
</div>

<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        مهم ترین مراجع اخبار اقتصادی
      </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
        بهترین سایت اخبار فارکس و تاثیرات اخبار به روز
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        داده‌های اقتصادی به دو دلیل مهم و
         تفکیک ناپذیر بر حرکت قیمت ارز تأثیر می گذارند. اولا، این داده‌ها عملکرد اقتصادی یک منطقه را نشان می دهند. برای مثال، اگر نرخ تورم در منطقه یورو بالاتر از سطح 2 درصدی باشد که ECB ( بانک مرکزی اروپا) درصدد حفظ آن است، ابزار اصلی ECB، برای مبارزه با تورم در حال افزایش، افزایش نرخ بهره  اروپا است. 
        <br>
        <br>
        بنابراین، معامله‌گران می توانند با پیش بینی افزایش نرخ بهره، خرید یورو را آغاز کنند و از آنجایی که اکثر معامله گران در حال خرید یورو هستند، ممکن است نرخ مبادله یورو/دلار افزایش یابد.
        <br>
        <br>
        دوما، داده‌های اقتصادی نیز بینشی از اقدامات بعدی بانک مرکزی منطقه ارائه می دهند.
         به عنوان مثال، اعلام افزایش نرخ بهره توسط بانک مرکزی یک منطقه یا تغییر در سیاست پولی می تواند منجر به تغییر در حرکت نرخ ارز شود.
         <br>
         <br>
         به همین دلیل، داده های اقتصادی نقش اساسی و حیاتی در تصمیم گیری معامله گران برای خرید و فروش ارز ایفا می کنند.
         <br>
         <br>
         بنابرابن، توانایی معامله‌گران در تجزیه و تحلیل اطلاعات، نقش بسیار مهمی در موفقیت معاملات آن‌ها دارد. یک معامله‌گر باید
          از اخبارتاثیرگذار بر بازار فارکس آگاه باشد تا بتواند اطلاعات را به خوبی تجزیه و تحلیل کند. یکی از بهترین راه‌ها برای کسب اطلاعات بیشتر در مورد این اخبار و اطلاعات، بازدید از بهترین سایت های اخبار فارکس است.
         <br>
         <br>
         در این خصوص سایت های معتبر و با سابقه‌ای بالا آمده و این داده‌های اقتصادی را گردآوری کرده، سرجمع کرده و منتشر می‌کنند.
         <br>
         <br>
         برخی از سایت‌های معتبر به زبان اصلی عبارتند از:
    </div>
    <div class="flex items-center justify-center my-12">
        <img class="w-80 object-cover" src="../../../../assets/img/describtion-calendar-1.webp" alt="table-calendar">
    </div>
    <br>
    <div class="text-black font-normal text-lg">
        اخبار منتشر شده در سایت های بالا به زبان اصلی است  ولی  ایرانی اکسپرت , سایت اخبار فارکس به زبان فارسی می‌باشد.
          هدف معامله گران همسو شدن با مسیر درست می باشد تا به در آمد بیشتری برسند در ایرانی اکسپرت ما شما را به این هدف می‌رسانیم.
          <br>
          <br>
          بنابراین جهت دیدن این اخبار، به آدرس ایرانی اکسپرت مراجعه کرده و با کلیک روی اخبار فارکس به صفحه اخبار فارکس امروز منتقل می‌شوید که شامل داده ها و تقویم اخبار اقتصادی می‌باشد.
    </div>
    </div>
</div>


<div class="flex justify-start w-full mt-6">
    <div>
      <h2>
        <div class="calendar-h ">
          عوامل حیاتی و مهم در اخبار فاندامنتال
        </div>
      </h2>
      <br>
      <div class="mr-4 font-semibold  text-black text-2xl mb-3">
        برخی از عوامل حیاتی در فاندامنتال که می‌توانند حائز اهمیت باشند عبارتند از:
       </div>
      <br>
      <br>
       <div class="mr-4 md:mr-10 lg:mr-20">
        <div class="font-normal text-black text-lg">
          <div class="flex items-baseline">
            <div class="text-[#098B41] text-3xl font-black">1.</div>
            <div class="font-medium mr-2">داده های اقتصادی:</div>
          </div>
          شاخص‌های اقتصادی مانند رشد تولید ناخالص داخلی، تورم و نرخ اشتغال می‌توانند دیدگاهی در مورد قدرت اقتصاد هر دولت ارائه دهند که در نتیجه روی صعود یا نزول ارزش پول آن کشور تأثیر بگذارند.
        </div>
        <br>
        <br>
        <div class="font-normal text-black text-lg">
          <div class="flex items-baseline">
            <div class="text-[#098B41] text-3xl font-black">2.</div>
            <div class="font-medium mr-2">نرخ بهره:</div>
          </div>
          بانک‌های مرکزی از نرخ بهره به عنوان ابزاری برای کنترل تورم و رشد اقتصادی استفاده می‌کنند که طبیعتا این امر می‌تواند روی نرخ مبادله هر جفت ارز تأثیر بگذارد. (لینک شود به مقاله جفت ارزها)
         </div>
         <br>
         <br>
        <div class="font-normal text-black text-lg">
          <div class="flex items-baseline">
            <div class="text-[#098B41] text-3xl font-black">3.</div>
            <div class="font-medium mr-2">اخبار و رویدادهای جهانی:</div>
          </div>
          انتخابات، بیماری‌هایی مانند کرونا، جنگ‌ها مانند جنگ روسیه و اوکراین، بلایای طبیعی و غیره می‌توانند تاثیر قابل توجهی روی ارزش ارز هر کشور یا کُل بازار فارکس داشته باشند.
        </div>
        <br>
        <br>
        <div class="font-normal text-black text-lg">
          <div class="flex items-baseline">
            <div class="text-[#098B41] text-3xl font-black">4.</div>
            <div class="font-medium mr-2">تصمیم‌گیری‌ها و مداخلات بانک‌های مرکزی:</div>
          </div>
          فعالیت‌های بانک‌های مرکزی هر کشور، که عموما توسط رئیس آن اعلام می‌شود. سه بانک مرکزی که بیشترین تاثیر را در بازارها دارند: بانک مرکزی آمریکا (Federal Reserve) ، به ریاست جروم پاول،  بانک مرکزی اروپا به ریاست کریستین لاگارد و بانک مرکزی انگلستان به ریاست مارک کارنی. این بانک‌ها نه تنها روی ارزش ارز کشور خود، بلکه روی کل بازار تاثیرگذار هستند. برخی از بانک‌های تاثیرگذار دیگر عبارتند از CitiBank، JPMorgan، UBS، Barclays، Goldman Sachs، HSBC، دویچه بانک آگ.
          بانک‌ها، نوعی‌نمایندگان پولی هر دولت هستند که فعالیت‌هایی از قبیل خرید یا فروش ارزهای خارجی، کسری بودجه، بسته‌های حمایتی، تعیین نرخ بهره بانکی و غیره  را انجام می‌دهند که برروی نرخ ارز آن کشور بسیار تاثیرگذارند.
        </div>
        <br>
        <br>
        <div class="font-normal text-black text-lg">
          <div class="flex items-baseline">
            <div class="text-[#098B41] text-3xl font-black">5.</div>
            <div class="font-medium mr-2">سود شرکت ها:</div>
          </div>
          عملکرد شرکت‌های بزرگی مانند ایکس، فورد و ... می تواند بر بازار ارز تأثیر بگذارد،
          زیرا سرمایه گذاران قطعا به دنبال سرمایه گذاری‌های مطمئن با عملکرد بالا هستند. بنابراین باید عملکرد و تصمیم گیری‌های شرکت‌های بزرگ را نیز به عنوان عوامل تاثیرگذار مد نظر قرار داد.
        </div> 
        <br>
        <br> 
       </div>
      <div class="font-normal text-black text-lg">
        نکته:  تحلیل بنیادی یا تحلیل فاندامنتال که بر اساس داده‌های اقتصادی انجام می‌شود،
         تنها یکی از جنبه‌های معامله‌گری و ترید فارکس است. عوامل دیگری مانند  مدیریت سرمایه  و نیز کنترل مدیریت ذهن هم از ملاحظات مهم برای تصمیم‌گیری در معامله‌گری می‌باشد که ربات معامله‌گر خودکار ATM، تمام این کارها را برای شما انجام می دهد و کار را برای شما راحت  می کند.
      </div>
    </div>
</div>



<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        برخی از مهم ترین کاربرد های اخبار
      </div>
      <br>
      <h2>
        <div  class="font-semibold  text-black text-2xl mb-3">
          کاربرد اخبار بنیادی فارکس ومهم
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-medium my-2">
        اگر می‌خواهید بدانید که قبل از انجام معامله در بازار فارکس چه چیزهایی لازم است بدانید، در پاسخ باید بگوییم، اخبار اقتصادی در بازار فارکس بسیار حیاتی هستند، 
        چرا که اولین ابزار موردنیاز برای تحلیل فاندامنتال فارکس به‌حساب می‌آیند. برای اطلاعات بیشتر می توانید به صفحه آموزش فارکس مراجعه کنید.
      </div>
      <br>
      <br>
      <div class="text-black font-medium text-xl my-6">برخی از  کاربردهای اخبار مهم فارکس عبارتند از:</div>
      <br>
      <br>
      <div class="mr-4 md:mr-10 lg:mr-20">
      <div class="font-normal flex items-baseline text-black text-lg">
        <div class="text-[#098B41] text-3xl font-black">1.</div>
        اخبار بنیادی فارکس، به شما کمک می کنند تا با رویدادهای اقتصادی تاثیرگذار بر وضعیت فعلی اقتصاد و بازار آشنا شوید. به کمک این داده‌ها،
         می توانید برنامه‌ها و استراتژی‌های معاملاتی خود را با توجه به شرایط بازار تغییر داده تا بهره بیشتری ببرید.
      </div>
      <br>
      <br>
        <div class="font-normal flex items-baseline text-black text-lg">
          <div class="text-[#098B41] text-3xl font-black">2.</div>
          با تقویم اخبار فارکس می توانید به صورت لحظه‌ای بر معاملات خود مدیریت داشته باشید، مثلا گاهی اوقات نمودار یک جفت ارز ممکن است در ایده آل ترین شرایط تکنیکال برای باز کردن معامله باشد، اما انتشار ناگهانی اخبار، معاملات را خراب کند. 
          بنابراین لازم است قبل از هر معامله‌ای اطمینان حاصل شود که هیچ خبر موثری وجود ندارد و اگر استراتژی مناسبی برای زمان انتشار خبر مهم  ندارید، بهتر است دست نگه دارید تا جهت بازار مشخص شود و سپس معامله کنید.
        </div>
        <br>
        <br>
        <div class="font-normal flex items-baseline text-black text-lg">
          <div class="text-[#098B41] text-3xl font-black">3.</div>
          کاربرد دیگری که باید به آن اشاره کنیم، قابلیت شخصی سازی  اخبار در تقویم اقتصادی فارکس است.
           می توانید اطلاعات مورد نیاز خود را فیلتر کنید و تنظیمات تقویم را بر اساس نیاز خود تغییر دهید. به عنوان مثال، می توانید رویدادهایی را انتخاب کنید که بیشترین تأثیر را بر بازار شما دارند و از آن‌ها آگاه باشید.
         </div>
         <br>
         <br>
      </div>
       <div class="font-normal text-black text-lg">
        بنابراین، تلاش برای اینکه مسیر درست را با توجه به اخبار فارکس انتخاب کنید بسیار مهم است چرا که باید مسیر صحیح را پیدا کنید و با آن همسو شوید.
       </div>
    </div>
</div>


<div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        انتشار اخبار
      </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
          زمان انتشار مهم ترین اخبار فارکس
        </div>
      </h2>
      <br>
      <br>
      <div class="text-black font-normal text-lg">
        ساعتی که اخبار فارکس منتشر می‌شوند بر اساس منطقه شرق ایالات متحده، که تقریبا 8.5 ساعت با ساعت ایران تفاوت دارد، محاسبه می‌شود. 
        اینکه زمان خروج ما کی باشد بسیار مهم است. از محاسبه‌گر زمان زیر می توانید برای محاسبه زمان انتشار دقیق خبر به وقت محلی خود کمک بگیرید.
      </div>
      <div class="flex items-center justify-center my-12">
        <img class="w-[32rem] object-cover" src="../../../../assets/img/describtion-calendar-2.webp" alt="table-calendar">
      </div>
    </div>
</div>

 <div class="flex justify-start w-full mt-6">
    <div>
      <div class="calendar-h margin-bottom">
        اخبار فارکس یا تقویم اقتصادی
      </div>
      <br>
      <h2>
        <div class="font-semibold  text-black text-2xl mb-3">
          تفاوت اخبار فارکس با تقویم اقتصادی در چیست؟
        </div>
      </h2>
      <br>
      <br>

      <div class="text-black font-normal text-lg">
        اخبار فارکس (Forex news)، همه اتفاق‌های مربوط به بازار فارکس را شامل می‌شود که تقویم اقتصادی بخشی از آن است.
        <br>
        <br>
        تقویم اقتصادی فارکس (Economic Calendar) ، برنامه‌ای از رویدادهای اقتصادی کلیدی در حرکت بازار است. این رویدادها می‌توانند تأثیر قابل توجهی بر بازارهای مالی مختلف از جمله سهام، فارکس یا کالاها داشته باشند.
        <br>
        <br>
        تقویم اقتصادی، اطلاعات ضروری در مورد زمان وقوع این رویدادها، آنچه در پی دارد و چگونه ممکن است بر قیمت دارایی ها تأثیر بگذارد، ارائه می دهد.
        <br>
        <br>
        یک تقویم اقتصادی به معامله گران اجازه می دهد تا بدانند رویدادها چه زمانی قرار است اتفاق بیفتد. بنابراین، اگر قصد دارید یک تریدر سودآور در بازار فارکس باشید، باید به اطلاعات تقویم اقتصادی فارکس کاملاً مسلط باشید؛ زیرا اخبار مختلف مستقیماً روی قیمت نمادهای فارکس تأثیر می‌گذارند.
        <br>
        <br>
        ایرانی اکسپرت،  یک تقویم اقتصادی بلادرنگ  به زبان فارسی ارائه می دهد که به صورت رایگان در دسترس است و تریدرهای عزیز میتوانند از آن در انجام بهتر معاملات خود بهره ببرند.
        <br>
        <br>
        در صفحه تقویم اقتصادی وب‌سایت ایرانی اکسپرت، مهمترین اخبار فارکس را به وقت ایران می توانید مشاهده کنید.
    </div>
    </div>
 </div>
</div> -->