<div class="my-10 opacity-30 select-none relative">
    <div class="flex justify-center my-12">
        <div class="bg-[#ECECEC] w-full h-40 rounded-3xl flex flex-col lg:flex-row justify-around">
            <div class="flex lg:basis-1/2 items-center justify-center">
                <a href="#" class="flex items-start">
                    <i class="shared-icon ml-3"></i>
                    <p class="text-black text-xl">اشتراک گذاری مطالب</p>
                </a>
            </div>
            <div class="flex lg:basis-1/2 items-center justify-center">
                    <p class="text-black text-xl ml-5">کپی لینک مطالب</p>
                    <a href="" class="ml-3"><i class="link-box-icon-1"></i></a>
                    <a href="" class="ml-3"><i class="link-box-icon-2"></i></a>
                    <a href="" class="ml-3"><i class="link-box-icon-3"></i></a>
                    <a href="" class="ml-3"><i class="link-box-icon-4"></i></a>
                    <a href="" class="ml-3"><i class="link-box-icon-5"></i></a>
            </div>
        </div>
      </div>
    <div
      class="absolute w-full h-full z-10 bg-transparent translate-x-[50%] translate-y-[-50%] top-[50%] right-[50%]"
    ></div>
  </div>
