<!-- ==================[فیلتر تگ ها]======== -->
<div
  class="hidden sm:flex sm:justify-center items-center mr-4 mb-6 sm:mt-20"
>
  <div class="flex xl:flex-nowrap sm:flex-wrap ">
    <ng-container *ngFor="let item of tags; let i = index">
      <button
        (click)="toggle(i)"
        (click)="changeViewItem(item.tableType)"
        [ngClass]="
          tags[i].active
            ? 'btn-tags-actived pt-1 pb-0 pr-6 pl-6 md:!text-lg'
            : 'btn-tags pt-1 pb-0 pr-6 pl-6 md:!text-lg'
        "
      >
        {{ item.name }}
      </button>
    </ng-container>
  </div>
</div>
<!-- =========[فیلتر تگ ها رسپانسیو]========= -->
<div
  class="sm:hidden overflow-scroll w-[98vw] flex flex-nowrap mr-4 items-center mt-7 pb-4"
>
  <ng-container *ngFor="let item of tags; let i = index">
    <button
      (click)="toggle(i)"
      (click)="changeViewItem(item.tableType)"
      [ngClass]="
        tags[i].active
          ? 'btn-tags-actived h-auto pr-4 pl-4'
          : 'btn-tags h-auto pr-4 pl-4'
      "
    >
      {{ item.name }}
    </button>
  </ng-container>
</div>
<!-- =========[ پیام بدون اطلاعات ]========= -->

<div *ngIf="massage == true" class="flex flex-col items-center">
  <div>
    <app-lottie [config]="lottieConfig" />
    <p class="rounded-3xl mx-4 bg-[#e6effd] text-[#2f65b9] text-3xl py-2 px-4">
      متاسفانه هیچ مطلبی در این رابطه پیدا نشد
    </p>
  </div>
</div>

<ng-container *ngIf="!loading">
  <div class="h-[33rem] overflow-auto" id="dropdown-item">
    <ng-container *ngFor="let hvr of showingItem; let i = index">
      <!-- ============[هاور به پایین]======================== -->
      <div  class="h-full menu-wrapper-down hidden lg:block 2xl:hidden">
        <ul [ngClass]="hvr.active ? 'show-menu-down' : 'hide-menu-down'">
          <div (mouseenter)="changesort(hvr)" class="box-hover-down">
            <div class="flex flex-row">
              <div class="basis-1/3">
                <img
                *ngIf="hvr.tableType !== 34"
                  class="img-hvr-item-down"
                  [src]="contentUrl + hvr.cardImagePath"
                  alt="img-item"
                  width="100"
                  height="75"
                />
                <i *ngIf="hvr.tableType == 34" class="scale-[7] my-16 fi fi-{{hvr.code | lowercase}}"></i>
              </div>
              <div class="basis-2/3 mr-4">
                <h6 class="title-hover-down" *ngIf="hvr.tableType !== 34">{{ hvr.title }}</h6>
                <h6 class="title-hover-down" *ngIf="hvr.tableType == 34">{{ hvr.secondName }}</h6>

                <div *ngIf="hvr.tableType == 6" class="relative -mt-4 mb-3">
                  <span class="star-rating relative block -z-30 w-40">
                    <app-rating [config]="star"></app-rating>
                  </span>
                  <p class="bot-rating relative text-sm font-bold">
                    <span class="Common">{{hvr.rate | number: "1.0-1"}}</span>
                    <span class="view mx-1 px-1">بازدید ها {{hvr.viewsCount}} </span>
                    <span class="Common">مشترک ها {{hvr.ordersCount}}</span>
                  </p>
                </div>
                <p>
                  {{ hvr.brief }}
                </p>
                <div *ngIf="hvr.tableType == 6" class="flex w-full pl-10 justify-end">
                  <div class="flex mt-8 mb-4 items-center">
                    <p class="ml-8 text-black text-xl font-black">شروع قیمت از :{{ hvr.minPrice !== 0 ? hvr.minPrice : ("20" | currency) }}</p>
                    <a href="shop/atm-expert" target="_blank" 
                    class="bg-blue-800 font-bold text-white px-6 py-2 rounded-3xl text-lg">بررسی پلن ها</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <!-- ============[هاور به چپ]======================== -->
      <div class="menu-wrapper hidden 2xl:block">
        <ul [ngClass]="hvr.active ? 'show-menu' : 'hide-menu'">
          <div (mouseenter)="changesort(hvr)" class="box-hover relative z-50">
            <div class="flex flex-col items-start">
              <h6 class="title-hover" *ngIf="hvr.tableType !== 34">{{ hvr.title }}</h6>
              <h6 class="title-hover" *ngIf="hvr.tableType == 34">{{hvr.secondName}}</h6>

              <img
              *ngIf="hvr.tableType !== 34"
                class="img-hvr-item"
                [src]="contentUrl + hvr.cardImagePath"
                alt="img-item"
                width="100"
                height="75"
              />
              <i *ngIf="hvr.tableType == 34" class="scale-[7] my-16 fi fi-{{hvr.code | lowercase}}"></i>

              <div *ngIf="hvr.tableType == 6" class="relative -mt-4 mb-3">
                <span class="star-rating relative block -z-30 w-40">
                  <app-rating [config]="star"></app-rating>
                </span>
                <p class="bot-rating relative text-sm font-bold">
                  <span class="Common">{{hvr.rate | number: "1.0-1"}}</span>
                  <span class="view mx-1 px-1">بازدید ها {{hvr.viewsCount}} </span>
                  <span class="Common">مشترک ها {{hvr.ordersCount}}</span>
                </p>
              </div>

              <p>
                {{ hvr.brief }}
              </p>
              <div *ngIf="hvr.tableType == 6" class="flex w-full pl-10 justify-end">
                <div class="flex mt-8 mb-4 items-center">
                  <p class="ml-8 text-black text-xl font-black">شروع قیمت از :{{ hvr.minPrice !== 0 ? hvr.minPrice : ("20" | currency) }}</p>
                  <a href="shop/atm-expert" target="_blank" 
                  class="bg-blue-800 font-bold text-white px-6 py-2 rounded-3xl text-lg">بررسی پلن ها</a>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <!-- ==============[سرچ آیتم]=============== -->
      <div class="selected mb-4">
        <div class="hidden lg:block">
          <a *ngIf="hvr.tableType == 1 || 6 || 36" target="_blank" [href]="'https://www.iraniexpert.com/' + tableTypeIdentifier(hvr.tableType,hvr.browserTitle)">
            <div
              (mouseenter)="changesort(hvr)"
              class="flex box-item"
              (mouseleave)="toggleMenuLeave(hvr)"
            >
              <div class="flex flex-row w-full">
                <div
                  class="basis-2/6 flex items-center justify-center max-w-[10rem]"
                >
                  <img

                  *ngIf="hvr.tableType !== 34"
                    class="item-img"
                    [src]="contentUrl + hvr.cardImagePath"
                    alt="item"
                    width="100"
                    height="75"
                  />
                  <i *ngIf="hvr.tableType == 34" class="scale-[7] fi fi-{{hvr.code | lowercase}}"></i>
                </div>
                <div class="basis-full flex flex-col justify-between mr-6">
                  <h5 class="title-item">{{ hvr.title }}</h5>
                  <h5 class="title-item" *ngIf="hvr.tableType == 34">{{hvr.secondName}}</h5>
                  <p class="mt-4 mb-4 text-lg item-desc">
                    {{ hvr.brief }}
                  </p>
                  <div *ngIf="hvr.tableType == 1" class="flex flex-row w-full">
                    <p class="details ml-8">نویسنده :{{ hvr.authorName }}</p>
                    <p class="details ml-8">امتیاز :{{ hvr.rate }}</p>
                  </div>
                  <div *ngIf="hvr.tableType == 6" class="flex flex-row w-full">
                    <p class="details ml-8">محصولات</p>
                    <p class="details ml-8">فروشنده :{{ hvr.seller }}</p>
                    <p class="details ml-8">کمترین قیمت :{{ hvr.minPrice !== 0 ? hvr.minPrice : ("20" | currency) }}</p>
                  </div>
                  <div *ngIf="hvr.tableType == 36" class="flex flex-row w-full">
                    <p class="details ml-8 flex w-28 "><i class="broker-search ml-2"></i>بررسی بروکر </p>
                    <p class="details ml-8">امتیاز :{{ hvr.staticRate }}</p>
                  </div>
                  <div *ngIf="hvr.tableType == 34" class="flex flex-row w-full">
                    <p class="details ml-8">اخبار فارکس</p>
                    <p class="details ml-8"> تاریخ انتشار: {{hvr.date_}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let hvr of showingItem; let i = index">
      <!-- ==============[ رسپانسیو سرچ آیتم]=============== -->
      <div class="flex justify-center lg:hidden mt-4">
        <div class="flex box-item-mobile">
          <div class="flex w-full flex-row">
            <a *ngIf="hvr.tableType == 1 || 6 || 36" target="_blank" [href]="'https://www.iraniexpert.com/' + tableTypeIdentifier(hvr.tableType,hvr.browserTitle)">
              <div
                class="basis-2/5 h-full flex items-center justify-center max-w-[240px]"
              >
                <img
                *ngIf="hvr.tableType !== 34"
                  class="item-img-mobile"
                  [src]="contentUrl + hvr.cardImagePath"
                  alt="item"
                  width="100"
                  height="75"
                />
                <i *ngIf="hvr.tableType == 34" class="scale-[7] fi fi-{{hvr.code | lowercase}}"></i>
              </div>
            </a>
            <div class="basis-3/5 flex flex-col justify-between mr-6">
              <h5 *ngIf="hvr.tableType !== 34" class="title-item-mobile sm:!text-2xl">{{ hvr.title }}</h5>
              <h5 *ngIf="hvr.tableType == 34" class="title-item-mobile sm:!text-2xl">{{hvr.secondName}}</h5>
              <p class="text-sm sm:text-lg mt-4 mb-4 item-desc">
                {{ hvr.brief }}
              </p>
              <div class="flex flex-row w-full">
                <div *ngIf="hvr.tableType == 1" class="flex flex-row w-full">
                  <p class="details ml-8">نویسنده :{{ hvr.authorName }}</p>
                  <p class="details ml-8">امتیاز :{{ hvr.rate }}</p>
                </div>
                <div *ngIf="hvr.tableType == 6" class="flex flex-row w-full">
                  <p class="details ml-8">فروشنده :{{ hvr.seller }}</p>
                  <p class="details ml-8">کمترین قیمت :{{ hvr.minPrice }}</p>
                </div>
                <div *ngIf="hvr.tableType == 36" class="flex flex-row w-full">
                  <p class="details ml-8"><i class="broker-search ml-2"></i>بررسی بروکر </p>
                  <p class="details ml-8">امتیاز :{{ hvr.staticRate }}</p>
                </div>
                <div *ngIf="hvr.tableType == 34" class="flex flex-row w-full">
                  <p class="details ml-8">اخبار فارکس</p>
                  <p class="details ml-8"> تاریخ انتشار: {{hvr.date_}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
