<div class="flex md:flex-row flex-col justify-center my-14">
  <div>
    <div class="flex items-center">
      <i class="ie-icon ie-comments me-2"></i>
      <span class="text-2xl font-bold">مشاوره رایگان</span>
    </div>
    <p class="mb-5">
      <small class="font-medium text-sm"
        >فرم مشاوره ایرانی اکسپرت را پر کنید تا در زود ترین زمان با شما تماس
        بگیریم.</small
      >
    </p>
    <p class="text-lg my-3 lg:p-5 p-2 md:pe-14 max-w-[42rem] text-justify">
      به منظور کمک به شما در راهنمایی و تصمیم‌گیری، ما مشاوره‌های رایگان فردی
      ارائه می‌دهیم. تیم مشاوران ما آماده است به شما در تحلیل بازار، راهنمایی در
      حوزه بازار فارکس و انتخاب ابزارهای معاملاتی، سرمایه گذاری، اکسپرت نویسی و
      ارائه نکات مفید کمک کنند.
    </p>
    <div>
      <p class="text-sm text-black font-medium">
        برای مشاوره رایگان تلفنی می توانید با شماره های زیر تماس بگیرید.
      </p>
      <div class="flex lg:flex-row flex-col items-center">
        <div class="num-card">
          <a href="tel:0901 727 2018">0901 727 2018</a>
        </div>
        <div class="num-card">
          <a href="tel:0915 050 2018">0915 050 2018</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <app-consultation-form
      [isGreen]="true"
      [toggleType]="2"
    ></app-consultation-form>
  </div>
</div>
