<ng-content></ng-content>
<div
  class="flex items-center sm:flex-row flex-col sm:max-h-[23rem] sm:m-12 m-3"
>
  <div class="w-[23rem] bg-suggestion rounded-2xl">
    <div class="flex pt-6 px-4">
      <img
        class="w-24 max-h-[6rem] relative bottom-12"
        src="../../../../../assets/img/virgol.png"
      />
      <h2 class="px-3 text-4xl font-extrabold">نظرات کاربران ایرانی اکسپرت</h2>
    </div>

    <p class="p-6 text-justify">
      کاربرانی که از ربات های معامله گر ایرانـــی اکسپرت استفاده کرده اند تجربه
      ی کاربری خــــود را از استفاده از ربات ها به اشتــــراک گذاشتـــــــه اند
    </p>
    <div class="flex justify-end px-4">
      <button
        (click)="sliderMovement(false)"
        [ngClass]="lowwerSlide >= 2 ? 'active-btn' : ''"
        class="flex justify-center items-center rounded-xl mx-2 h-16 w-16 pt-1 bg-[#ebebeb] cursor-context-menu"
      >
        <i class="ie-icon ie-dir w-3.5"></i>
      </button>
      <button
        (click)="sliderMovement(true)"
        [ngClass]="upperSlide < lenCommentModel.length ? 'active-btn' : ''"
        class="flex justify-center items-center rounded-xl mx-2 h-16 w-16 pt-1 bg-[#ebebeb] cursor-context-menu"
      >
        <i class="ie-icon ie-dir left w-3.5"></i>
      </button>
    </div>
  </div>
  <div
    class="flex flex-row sm:w-[70rem] max-sm:flex-col max-sm:overflow-hidden max-sm:h-[24rem]"
  >
    <div
      class="sm:w-[32%] sm:mx-9 mt-7"
      [ngClass]="slidDirection ? 'slide-right' : 'slide-left'"
      *ngFor="let x of lenCommentModel | slice : lowwerSlide : upperSlide"
    >
      <div
        class="flex sm:min-h-[15rem] flex-col justify-end border-solid bg-white z-50 border-[#d1d1d1] relative border-[1px] z rounded-xl rounded-br-none"
      >
        <p class="p-8 text-justify">
          {{ commentModel.text }}
        </p>
        <div
          class="relative mt-10 w-[7.9rem] sm:h-[0.07rem] h-[1.5rem] top-[1px] bg-[#ffffff]"
        ></div>
      </div>

      <div
        class="triangle !relative sm:right-[8.5%] right-[7.5%] bottom-[3rem] border-t-2"
      ></div>
      <div class="relative bottom-[4rem] ms-32 flex">
        <img
          src="../../../../../assets/img/maleComment.png"
          class="max-w-[58px]"
        />
        <div class="flex flex-col justify-around">
          <span class="text-lg font-bold"
            >آقای {{ this.commentModel.firstname }}</span
          >
          <span class="text-sm font-extralight"
            >رضایت مشتریان ایرانی اکسپرت</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
