<ng-content></ng-content>
<div
  class="flex items-center max-lg:flex-col lg:max-h-[23rem] md:m-12 max-sm:mt-12 m-3"
>
  <div class="min-w-[22rem] max-w-[25rem] bg-suggestion rounded-2xl">
    <div class="flex pt-6 px-4">
      <img
        class="w-24 max-h-[6rem] relative bottom-12"
        src="../../../../../assets/img/comma.webp"
        alt="comment" width="96" height="86"
      />
      <h2 class="px-3 text-4xl font-extrabold">نظرات کاربران ایرانی اکسپرت</h2>
    </div>

    <p class="p-6 text-justify">
      کاربرانی که از ربات های معامله گر ایرانـــی اکسپرت استفاده کرده اند تجربه
      ی کاربری خــــود را از استفاده از ربات ها به اشتــــراک گذاشتـــــــه اند
    </p>
    <div class="flex justify-end px-4 mb-4">
      <button
        (click)="sliderMovement(false)"
        [ngClass]="lowwerSlide >= 2 ? 'active-btn' : ''"
        class="flex justify-center items-center rounded-xl mx-2 h-14 w-14 pt-1 bg-[#ebebeb] cursor-context-menu"
      >
        <i class="ie-icon ie-dir w-3.5"></i>
      </button>
      <button
        (click)="sliderMovement(true)"
        [ngClass]="upperSlide < lenCommentModel.length ? 'active-btn' : ''"
        class="flex justify-center items-center rounded-xl mx-2 h-14 w-14 pt-1 bg-[#ebebeb] cursor-context-menu"
      >
        <i class="ie-icon ie-dir bottom-[5px] left w-3.5"></i>
      </button>
    </div>
  </div>
  <div
    class="flex flex-row md:w-[70rem] max-md:flex-col max-md:overflow-hidden max-md:h-[24rem]"
  >
    <div
      class="sm:min-w-[24rem] max-w-[27rem] sm:mx-9 mt-7"
      [ngClass]="slidDirection ? 'slide-right' : 'slide-left'"
      *ngFor="let x of lenCommentModel | slice : lowwerSlide : upperSlide"
    >
      <div
        class="flex sm:min-h-[15rem] flex-col justify-end border-solid bg-white z-50 border-[#d1d1d1] relative border-[1px] z rounded-xl rounded-br-none"
      >
        <p class="sm:p-8 p-6 py-10 text-justify">
          {{ commentModel.text }}
        </p>
        <div
          class="relative w-[7.67rem] sm:h-[0.7rem] h-[1.5rem] top-[3px] bg-[#ffffff]"
        ></div>
      </div>

      <div
        class="triangle !relative right-[7.5%] bottom-[3rem] border-t-2"
      ></div>
      <div class="relative bottom-[4rem] ms-32 flex">
        <img
          src="../../../../../assets/img/avatar-c.webp"
          class="max-w-[58px] aspect-auto object-cover"
          alt="avatar" width="58" height="58"
        />
        <div class="flex flex-col justify-around">
          <span class="text-lg font-bold"
            >آقای {{ this.commentModel.firstname }}</span
          >
          <span class="text-sm font-extralight"
            >رضایت مشتریان ایرانی اکسپرت</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
