<app-counter-number></app-counter-number>
<div class="w-full flex" >
<div class="text-[2.75rem] w-full flex font-bold main-sell-card text-white" >
    <div class="flex w-[31%] ">
        <div class="text-center grid pt-5" >
            <span  class="leading-5	">{{val[0][0]}}%</span>
            <small class=" text-base font-medium">وین ریت</small>
        </div>
    </div>
    <div class="flex w-[27%] ">
        <div class="	text-center grid pt-5">
            <span  class="leading-5">{{val[0][1]}}%</span>
            <small class=" text-base font-medium">سود ماقبل</small>
        </div>
</div>
    <div class="flex w-[27%] ">
                <div class="	text-center grid pt-5">
                    <span  class="leading-5">{{val[0][2]}}%</span>
                    <small class=" text-base font-medium">سود ماقبل</small>
                </div>
     </div>
    <div >        <div class="text-center grid pt-5" >
        <span class="leading-5">{{val[0][3]}}+</span>
        <small class=" text-base font-medium">حساب های فعال</small>
    </div>
</div>
</div>
</div>
