<div [ngClass]="device == 'lg' ? 'block' : 'hidden'" class="mt-8 mb-4">
    <div class="flex justify-start">
        <div class="">
            <p class="row-p"> مقالات ایرانی اکسپرت</p>
            <h6 class="title2 mt-2">جدیدترین و آخرین مقالات ایرانی اکسپرت</h6>
        </div>
    </div>
    <div class="flex justify-start">
        <div class="grid grid-cols-3 gap-3" >
            <div class="cart" *ngFor="let meal of meals | paginate: config">
              <app-blog-cart [item]="meal"></app-blog-cart>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-7">
        <pagination-template #p="paginationApi"
                     [id]="config.id!"
                     (pageChange)="idActive($event)">
           <div class="flex items-center">
               <div class="" [class.disabled]="p.isFirstPage()">
                   <button class="flex items-center" *ngIf="!p.isFirstPage()" (click)="p.previous()"><p class="icon">&lt;</p><p class="page-btn mr-3 ml-6">صفحه قبلی</p></button>
               </div>
               <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                   <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                       <button class="pagination-previous ml-2" [ngClass]="page.value == config.currentPage ? '': 'isavtive'">{{ page.label }}</button>
                   </a>
                   <div *ngIf="p.getCurrent() === page.value">
                       <button class="pagination-previous ml-2">{{ page.label }}</button>
                   </div>
               </div>
               <div class="" [class.disabled]="p.isLastPage()">
                   <button class="flex items-center" *ngIf="!p.isLastPage()" (click)="p.next()"><p class="page-btn ml-3 mr-6">صفحه بعدی</p> <p class="icon">&gt;</p></button>
               </div>
           </div>
        </pagination-template>
    </div>
</div>
<!-- =================[رسپانسیو]=========== -->
<div [ngClass]="device == 'sm' ? 'block' : 'hidden'">
    <div class="flex justify-start">
        <div class="grid grid-cols-3 gap-3" >
            <div class="cart" *ngFor="let meal of meals | paginate: config">
              <app-blog-cart [item]="meal"></app-blog-cart>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-7 mb-7">
        <pagination-template #p="paginationApi"
                     [id]="config.id!"
                     (pageChange)="idActive($event)">
           <div class="flex items-center">
               <div class="" [class.disabled]="p.isFirstPage()">
                   <button class="flex items-center" *ngIf="!p.isFirstPage()" (click)="p.previous()"><p class="icon">&lt;</p><p class="page-btn mr-3 ml-6">صفحه قبلی</p></button>
               </div>
               <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                   <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                       <button class="pagination-previous ml-2" [ngClass]="page.value == config.currentPage ? '': 'isavtive'">{{ page.label }}</button>
                   </a>
                   <div *ngIf="p.getCurrent() === page.value">
                       <button class="pagination-previous ml-2">{{ page.label }}</button>
                   </div>
               </div>
               <div class="" [class.disabled]="p.isLastPage()">
                   <button class="flex items-center" *ngIf="!p.isLastPage()" (click)="p.next()"><p class="page-btn ml-3 mr-6">صفحه بعدی</p> <p class="icon">&gt;</p></button>
               </div>
           </div>
        </pagination-template>
    </div>
    <!-- ===========[مدرسه فارکس]========== -->
    <div class="mr-6 ml-6">
       <div class="flex justify-center mb-4 mt-8">
           <div class="school-box">
               <div class="flex justify-start">
                   <div class="mb-4 mt-4">
                       <p class="title1-row">مدرسه فارکس</p>
                       <p class="title2-row">ویدیو گذشته</p>
                   </div>
               </div>
               <div class="flex justify-center">
                   <div class="box-video grid grid-cols-2 gap-2">
                       <div class="video">
       
                       </div>
                       <div class="mr-2">
                           <p class="video-title mb-12">ایرانی اکسپرت چیکار میکند؟ معرفی و اهداف تیم های ایرانی اکسپرت</p>
                           <div class="flex justify-end">
                               <p class="time-video"> 11:00 </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- ===========[ تبلیغات ]========== -->
       <img src="assets/img/add-blog(responsive).svg" alt="add">
    </div>
</div>