<div class="hidden lg:block"> 
  <div class="flex justify-center mt-8 mb-8">
    <div id="dropdown-component">
      <div class="selected flex justify-between" (click)="toggleMenu()">
        <div class="flex w-52 mt-4 mb-4 mr-4">
          <i class="ie-content-menu-icon"></i>
          <p class="text-xl font-medium mr-4">فهرست محتوا</p>
        </div>
        <div class="flex ml-4 mt-4 mb-4">
          <i class="ie-content-menu-open" *ngIf="!iconActive"></i>
          <i class="ie-content-menu-close" *ngIf="iconActive"></i>
        </div>
      </div>
      <div class="menu-wrapper">
        <ul #listElem #listElemHide>
          <li *ngFor="let item of listElems">
            <div class="divider"></div>
            <div class="flex flex-col justify-around">
            <button (click)="scrollToId(item.id)">
                <p class="flex title-menu text-xl">{{ item.title }}</p>
            </button>
            <ng-container *ngFor="let item of item.sub">
              <button (click)="scrollToId(item.id)">
                <p class="flex title2-menu text-base">{{item.title}}</p>
              </button>
            </ng-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- =======[رسپانسیو======= -->
<div class="block lg:hidden">

  <div class="flex justify-center mt-8 mb-8">
    <div id="dropdown-component-mobile">
      <div class="selected flex justify-between" (click)="NavbarsStatus(2)">
        <div class="flex w-52 mt-4 mb-4 mr-4">
          <i class="ie-content-menu-icon"></i>
          <p class="text-xl font-medium mr-4">فهرست محتوا</p>
        </div>
        <div class="flex ml-4 mt-4 mb-4">
          <i class="ie-content-menu-open"></i>
        </div>
      </div>
    </div>
  </div>

  <div
  class="sidenav p-4 shadow-sm rounded-t-3xl slide-top" [style]="'background-color:' + color" 
  [ngClass]="openNav != 0 ? 'block' : 'hidden'">
     <a
       class="closebtn flex flex-row-reverse justify-between w-11/12"
       (click)="NavbarsStatus(0)"
       ><i class="ie-content-menu-close"></i>
        <p class="text-xl font-medium mr-4">فهرست محتوا</p>
      </a>
     <div [ngClass]="openNav == 2 ? 'block' : 'hidden'">
       <!-- =========[]======= -->
       <div
         *ngFor="let item of listElems">
         <div class="divider"></div>
         <div class="flex flex-col justify-around">
         <button class="text-right"  (click)="scrollToId(item.id)">
             <p class="flex title-menu">{{ item.title }}</p>
         </button>
         <ng-container *ngFor="let item of item.sub">
           <button class="text-right" (click)="scrollToId(item.id)">
             <p class="flex title2-menu">{{item.title}}</p>
           </button>
         </ng-container>
         </div>
       </div>
     </div>
  </div>
</div>