.box-articles {
  background-color: white;
  height: auto;
  border: #eaeaea 1px solid;
  border-radius: 20px;
  padding: 1.5rem;
}
.box-articles h5 {
  font-size: 1.4rem;
  color: #0080ff;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
