<!-- <app-shop-hero></app-shop-hero> -->

<!-- <div *ngIf="!loading">
    <ng-container *ngFor="let item of _productService._paginatedPrd?.items">
      <app-detail-card [item]="item" />
    </ng-container>
  </div> -->
<div class="m-0 lg:px-4 py-10">
  <div class="flex flex-col m-3">
    <div class="flex">
      <div class="w-full" [ngClass]="choosenSlide == 1 ? '' : 'max-sm:hidden'">
        <app-discount-banner [response]="true"></app-discount-banner>
      </div>
      <div [ngClass]="choosenSlide == 2 ? '' : 'hidden'">
        <div
          class="text-white sm:hidden flex justify-around h-[7rem] sm:h-[6rem] m-3 me-0 ms-0 rounded-2xl p-4 bg-cover bg-black min-w-[18rem]"
        >
          <div class="flex flex-col justify-end">
            <p class="text-white">بررسی بروکر</p>
            <p class="text-white text-xl">Alpari - آلپاری</p>
          </div>
          <img src="assets/img/alpari-broker-forex.jpg" alt="alpari" />
        </div>
      </div>
    </div>
    <app-slider
      class="sm:hidden"
      [choosenSlide]="choosenSlide"
      (changednum)="changeSlide($event)"
    ></app-slider>
    <div class="flex justify-start lg:hidden gap-4">
      <span class="font-bold text-lg text-gray-900" (click)="NavbarsStatus(1)"
        >فیلتر ها</span
      >
      <span class="font-bold text-lg text-gray-900" (click)="NavbarsStatus(2)"
        >مرتب سازی</span
      >
    </div>
  </div>

  <div
    class="flex flex-row flex-wrap lg:flex-nowrap p-3 lg:bg-white bg-[#F6F6F6]"
  >
    <div class="basis-1/5 hidden lg:block">
      <div class="w-full hidden items-center flex-col justify-center sm:flex">
        <img
          src="assets/img/alpari-broker-forex.jpg"
          class="custom-img-product"
          alt="alpari"
        />
        <app-filter
          (deleteFilters)="deleteFilters($event)"
          [filterModel]="filter"
          [search]="true"
        >
          <search-bar
            searchBar
            (result)="search($event)"
            [placeholder]="
              filterModel.productName ? filterModel.productName : 'جستجو'
            "
          ></search-bar>
          <ng-container category *ngFor="let item of checkboxes">
            <checkbox
              [fillOrNot]="item.checked"
              (checked)="checkboxCategory($event, item.value)"
              ><p class="text-lg md:text-sm pt-1.5" title>
                {{ item.title }}
              </p></checkbox
            >
          </ng-container>
          <!-- <checkbox producer
              ><p class="text-lg md:text-sm pt-1.5" title>ایرانی اکسپرت</p></checkbox
            > -->
          <app-rating
            (output)="setRate($event)"
            rating
            [config]="ratingConfig"
          ></app-rating>
          <!-- <app-rating priceRange [config]="rangeConfig"></app-rating> -->
        </app-filter>
      </div>
    </div>
    <div class="basis-full lg:basis-4/5">
      <ng-container *ngIf="!loading && page">
        <ng-container *ngFor="let item of page?._items">
          <app-detail-card [item]="item" />
        </ng-container>
        <div *ngIf="page?._items?.length == 0">موردی یافت نشد</div>
      </ng-container>
    </div>
  </div>
</div>
<div
  class="sidenav p-4 shadow-sm bg-white rounded-t-3xl slide-top"
  [ngClass]="openNav != 0 ? 'block' : 'hidden'"
>
  <a
    class="closebtn flex flex-row-reverse justify-between w-11/12"
    (click)="NavbarsStatus(0)"
    >&times;
    <p class="text-2xl text-black mt-8 ms-2">
      {{ openNav === 1 ? "فیلتر ها" : "مرتب سازی" }}
    </p></a
  >
  <div [ngClass]="openNav == 1 ? 'block' : 'hidden'">
    <app-filter
      (deleteFilters)="deleteFilters($event)"
      [search]="false"
      [filterModel]="filter"
    >
      <ng-container category *ngFor="let item of checkboxes">
        <checkbox
          [fillOrNot]="item.checked"
          (checked)="checkboxCategory($event, item.value)"
          ><p class="text-small pt-1.5" title>{{ item.title }}</p></checkbox
        >
      </ng-container>
      <!-- <checkbox producer
          ><p class="text-small pt-1.5" title>ایرانی اکسپرت</p></checkbox
        > -->
      <app-rating
        (output)="setRate($event)"
        rating
        [config]="ratingConfig"
      ></app-rating>
      <!-- <app-rating priceRange [config]="rangeConfig"></app-rating> -->
    </app-filter>
  </div>
  <div [ngClass]="openNav == 2 ? 'block' : 'hidden'">
    <div *ngFor="let item of sortFilter">
      <p
        class="text-xl p-3.5 border-b border-solid border-gray-200"
        (click)="changesort(item.id)"
      >
        {{ item.name }}
        <span *ngIf="item.id === sorttype">&#10004;</span>
      </p>
    </div>
  </div>
</div>
<div
  (click)="NavbarsStatus(0)"
  *ngIf="openNav != 0"
  class="overlay3"
  style="width: 100%; opacity: 0.8"
></div>
<!-- ATM Comparison -->
<section class="content-static mx-2 md:mx-20">
  <div>
    <p class="part-seperator text-[#3246D3] font-bold text-lg">
      بهترین ربات ترید فارکس 2023
    </p>
    <h1 class="text-3xl font-bold">تضمینی با کاربردی ساده و امن</h1>
    <div class="mx-3 md:mx-9 mt-9">
      <p class="text-lg">ابزارهای معاملاتی، شامل چند دسته هستند:</p>
      <ul class="list-numeric m-4">
        <li>
          <p class="text-lg">
            <b class="text-black font-bold">اسکریپت,</b> که فقط یک‌بار قابل اجرا
            هستند. اسکریپ‌ها، فقط اطلاعات و داده‌های مربوط به چارت و صاحب حساب
            را نشان می‌دهند
          </p>
        </li>
        <li>
          <p class="text-lg">
            <b class="text-black font-bold">اندیکاتورها یا اوسیلاتورها,</b>
            که چندبار قابل اجرا هستند و طبق داده‌هایی که می‌خوانند، آنالیزهای
            لازم را انجام داده و نتایج را به صورت .شاخص یا نمودار نشان می‌دهند
          </p>
        </li>
        <li>
          <p class="text-lg">
            <b class="text-black font-bold">اکسپرت‌ها,</b>
            که عموما قابلیت معامله‌گری دارند و به صورت Auto Trade طراحی می‌شوند.
          </p>
        </li>
      </ul>
      <p class="text-lg mt-2 text-justify">
        ایرانی اکسپرت، تمامی این دسته‌ها را پوشش می‌دهد و همواره در صدد تولید
        بهترین ابزارهای معاملاتی برای تریدرها می باشد. <br /><br />
        Automated Trading Machineیا ATM یکی از این انواع، اکسپرت‌ است که هم
        اکنون از طریق وب‌سایت ما در دسترس می‌باشد. اکسپرت فارکس می‌باشد که توسط
        تیم ایرانی اکسپــرت طراحی شده است. استراتژی الگوریتــم ژنتیک، چندین مدل
        مدیریت سرمایه (Forex) قویتریــن ربات فارکس را به بهترین ربات
        معاملـــــــــه گری تبدیــــــل کرده است. این ربات از اول فوریــــــــه
        سال 2022 روی اکثــــــــر بروکـــرها ATM و تشخیـــص اخبار فارکس با
        سرمایه‌های مختلف اجرا شده و امنیت سرمایه و سوددهی را اثبات کرده استReal.
        و حساب‌های
      </p>
    </div>
  </div>
  <!-- ATM در معرفی ربات معامله گر -->
  <div class="mt-16">
    <p class="part-seperator text-[#3246D3] font-bold text-lg">
      ATM در معرفی ربات معامله گر
    </p>
    <h2 class="text-3xl font-bold">
      توجه کنید که با خرید ربات ATM برای فارکس:
    </h2>
    <div class="mx-3 md:mx-9 mt-9">
      <ul class="list-tick m-4">
        <li>
          <p class="text-lg mr-1">
            میتونید سود خوبی را با توجه به سطح ریسک پذیریتون بدست بیارید
          </p>
        </li>
        <li>
          <p class="text-lg mr-1">بدون نظارت و گزاشتن وقت به آن سود برسید</p>
        </li>
        <li>
          <p class="text-lg mr-1">تنظیمات را با توجه به نیاز خود تغییر دهید</p>
        </li>
        <li>
          <p class="text-lg mr-1">
            افت سرمایه احتمالی بسیار پایینی خواهید داشت
          </p>
        </li>
      </ul>
      <p class="text-lg mt-2 text-justify">
        همچنین
        <b class="text-black font-bold">نسخه دمو فارکس رایگان</b>
        این محصول، در صفحه جزئیات و خرید قابل دانلود می باشد
        <br /><br />مجموعه های بسیاری هستند که در زمینه تولید و فروش ربات های
        معامله گری فارکس و ارزدیجیتال فعالیت می کنند. تیم ایرانی اکسپرت اقدام به
        بررسی و مقایسه استراتژی ها، امکانات، پارامترها و قیمت آنها کرده است که
        در ادامه به صورت یکجا در قالب جدول مقایسه ربات ها برای شما منتشر می کند.
        <br />

        در این جدول، می‌توانید ویژگی‌های برخی از ربات‌های پرفروش رقبا را با
        ویژگی‌های ربات ATM مقایسه کنید تا با اطمینان بیشتری، تصمیم‌‌گیری و اقدام
        به خرید ربات معامله‌گر کنید.
      </p>
    </div>
  </div>
  <div class="mt-16">
    <p class="part-seperator text-[#3246D3] font-bold text-lg">
      ATM در معرفی ربات معامله گر
    </p>
    <h3 class="text-3xl font-bold">
      ATM جدول مقایسه ربات های معامله گر و ربات
    </h3>
    <app-table-compare></app-table-compare>
    <p class="font-bold text-center mt-10 text-2xl">
      مدعی هستیم که هیچ ربات معامله‌گری، نه تنها در ایران بلکه در کل جهان، این
      همه امکانات را یک‌جا ندارد!!
    </p>
  </div>
  <div class="mt-16">
    <p class="part-seperator text-[#3246D3] font-bold text-lg">
      فروش در ایرانی اکسپرت
    </p>
    <h4 class="text-3xl font-bold">جای اکسپرت شما، اینجا خالیست</h4>
    <div class="mx-3 md:mx-9 mt-9">
      <p class="text-lg text-justify">
        تریدرهای زیادی با جستجوی نیازهای خود، مانند خرید ربات هوشمند فارکس و
        قیمت ربات‌های فارکس در گوگل، ایرانی اکسپرت را در اولین نتایج می بینند
        لذا شما می توانید از این فرصت استفاده کرده و محصولات خود را بر بستر
        فروشگاه ما به فروش برسانید.
        <br />
        در همین راستا از تمامی برنامه‌نویسان هوش مصنوعی و اکسپرت دولوپرها که
        تخصص در اکسپرت‌نویسی MQL4 و MQL5 دارند دعوت به همکاری می نماییم. عزیزان
        می‌توانند با اثبات عملکرد محصولات خود, آن ها را بر بستر فروشگاه ایرانی
        اکسپرت به فروش بگذارند
      </p>
    </div>
    <div class="text-center">
      <p class="font-bold text-center mt-10 text-2xl">
        .شعار ما سرلوحه ماست ؛ سود ما در راستای سود شماست
      </p>
    </div>
  </div>
</section>
