.cart {
    border: 1px solid #EAEAEA;
    border-radius: 30px;
    background-color: white;
}
.img-card{
    height: 100%;
    object-fit: cover;
    border-radius: 20px; 
}

.date{
    color: #9F9F9F;
    font-size: 0.8rem;
}
.divider{
    border-bottom: 1px solid #EAEAEA;
}

.row2-title{
    color: #3246D3;
    font-weight: 600;
    font-size: 0.9rem;
}
.row2-body{
    color: #9F9F9F;
    font-weight: 600;
    font-size: 0.8rem;
}
.box-like{
    display: block ruby;
}
.like{
    color: #9F9F9F;
    font-size: 0.8rem;
    font-weight: 600;
}
// <!-- ======================[رسپانسیو}======== -->
.img-card2{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.date-card{
    color: #9F9F9F;
    font-size: 0.7rem;
}