.cart {
    border: 1px solid #EAEAEA;
    border-radius: 30px;    
}
.img-cart{
    padding: 1rem;
}
.date{
    color: #9F9F9F;
}
.divider{
    border-bottom: 1px solid #EAEAEA;
}
.row-1{
padding: 1rem;
}
.row-2{
    padding: 1rem;
}
.row2-title{
    color: #3246D3;
    font-weight: 500;
}
.row2-body{
    color: #9F9F9F;
    font-weight: 500;
}
.like{
    color: #9F9F9F;
}