<div class="flex justify-center">
    <div class="cart">
        <div class="flex justify-center img-cart">
            <img src="assets/img/blog-cart.svg" alt="cart">
        </div>
        <!-- ==========[پارت 1]========== -->
        <div class="row-1">
            <div class="flex justify-start">
                <h6 class="">
                    بررسی بروکر AMarkets
                </h6>
            </div>
            <div class="justify-end flex">
                <p class="date">
                    یک ماه پیش
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <!-- ==========[پارت 2]========== -->
        <div class="flex flex-row row-2">
            <div class="basis-2/3 inline-flex">
                <img src="assets/img/30.png" alt="avatar">
                <div>                    
                    <p class="row2-title">نویسنده: ایرانی اکسپرت</p>
                    <p class="row2-body">زمان مطالعه 4 دقیقه</p>
                </div>
            </div>
            <div class="basis-1/3 inline-flex justify-end items-center">
                <p class="like">753</p>
                <p class="like">425</p>
            </div>
        </div>
    </div>
</div>