<div class="hidden lg:block">
    <div class="flex justify-between mt-6">
       <div class="flex items-center w-44">
         <img src="assets/img/icon-carousel-card.svg" alt="icon" />
         <p class="icon-title mr-3">ترید فارکس</p>
       </div>
       <button disabled class="flex items-center box-share disabled:opacity-25">
         <p class="icon-title ml-3">اشتراک گذاری</p>
         <img class="icon" src="assets/img/shared-icon.svg" alt="icon" />
       </button>
   </div>
   <h6 class="title-blog">
     مدیریت سرمایه چیست و چرا در بازارهای مالی مهم است؟
   </h6>
   <div class="flex mt-3">
     <p class="date ml-10">
         انتشار : 01 دی 1402
     </p>
     <p class="date">
         زمان مطالعه 7 دقیقه
     </p>
   </div>
   <!-- ================[عکس شاخص]========== -->
   <div class="flex relative mt-4">
     <img
       class="img-blog"
       src="assets/img/money-m-img.svg"
       alt="img"
     />
     <div class="absolute flex h-full w-full items-center">
       <div class="mt-40 mr-12">
         <div class="divider" [style]="'background-color:' + color"></div>
         <h6 class="title-blog-img">
             مدیریت سرمایه چیست و چرا در بازارهای مالی مهم است؟
         </h6>
       </div>
     </div>
   </div>
   <!-- =========[توضیح]==== -->
   <p class=" mt-6">
     مدیریت سرمایه و مدیریت ریسک در بازارهای مالی، سنگ بنای موفقیت معامله‌گران و سرمایه‌گذاران است. جایی که می توان در یک چشم به هم زدن ثروت به دست آورد یا از دست داد. در ادامه ما 
     استراتژی‌ها، تکنیک‌ها و اصولی را که معامله‌گران موفق برای محافظت از دارایی‌های خود و به حداکثر رساندن سودآوری معاملاتشان به کار می‌گیرند را بررسی خواهیم کرد.
   </p>
</div>
<!-- ==========[رسپانسیو]=============== -->
<div class="block lg:hidden">
    <div class="flex relative mt-4">
        <img
          class="img-blog-mobile"
          src="assets/img/money-m-img.svg"
          alt="img"
           />
        <div class="absolute flex h-full w-full items-end">
          <div class="mr-8 ml-8">
            <div class="divider-mobile" [style]="'background-color:' + color"></div>
            <h6 class="title-blog-img-mobile">مدیریت سرمایه چیست و چرا در بازارهای مالی مهم است؟</h6>
          </div>
        </div>
      </div>
      <!-- ================[تایتل عکس]======= -->
      <div class="flex justify-between mt-6">
        <div class="flex items-center scale-90">
          <img src="assets/img/icon-carousel-card.svg" alt="icon" />
          <p class="icon-title mr-3">ترید فارکس</p>
        </div>
        <a class="flex items-center box-share-mobile opacity-50">
          <p class="icon-title ml-3">اشتراک گذاری</p>
          <img class="icon" src="assets/img/shared-icon.svg" alt="icon" />
        </a>
      </div>
      <h6 class="title-blog-mobile mt-3">مدیریت سرمایه چیست و چرا در بازارهای مالی مهم است؟</h6>
      <div class="flex mt-3">
        <p class="date-mobile ml-10">
            انتشار : 01 دی 1402
        </p>
        <p class="date-mobile">
            زمان مطالعه 7 دقیقه
        </p>
      </div>
      <p class="mt-8">
        مدیریت سرمایه و مدیریت ریسک در بازارهای مالی، سنگ بنای موفقیت معامله‌گران و سرمایه‌گذاران است. جایی که می توان در یک چشم به هم زدن ثروت به دست آورد یا از دست داد. در ادامه ما 
        استراتژی‌ها، تکنیک‌ها و اصولی را که معامله‌گران موفق برای محافظت از دارایی‌های خود و به حداکثر رساندن سودآوری معاملاتشان به کار می‌گیرند را بررسی خواهیم کرد.
      </p>
</div>