<div class="hidden lg:block">
  <div class="flex justify-between mt-6">
    <div class="flex items-center w-44">
      <i class="icon-carousel-card"></i>
      <p class="icon-title mr-3">ترید فارکس</p>
    </div>
    <button disabled class="flex items-center box-share disabled:opacity-25">
      <p class="icon-title ml-3">اشتراک گذاری</p>
      <i class="shared-icon icon"></i>
    </button>
  </div>
  <h1 class="title-blog">
    {{articleModel.title}}
  </h1>
  <div class="flex mt-3">
    <p class="date ml-10">انتشار : {{articleModel.publishDate | date}}</p>
    <p class="date">زمان مطالعه {{articleModel.studyTime.split(':')[1]}} دقیقه</p>
  </div>
  <!-- ================[عکس شاخص]========== -->
  <div class="flex relative mt-4">
    <img class="img-blog" [src]=" contentUrl + articleModel.cardImagePath" alt="img" width="1125" height="400"/>
    <div class="absolute flex h-full w-full justify-end flex-col mr-12 pb-12">
      <div class="divider" [style]="'background-color:' + color"></div>
      <span class="title-blog-img">
        {{articleModel.title}}
      </span>
    </div>
  </div>
  <!-- =========[توضیح]==== -->
  <p class="mt-6">
  {{articleModel.brief}}
  </p>
</div>
<!-- ==========[رسپانسیو]=============== -->
<div class="block lg:hidden">
  <div class="flex relative mt-4">
    <img class="img-blog-mobile" [src]=" contentUrl + articleModel.cardImagePath" alt="img" width="1125" height="400"/>
    <div class="absolute flex h-full w-full items-end">
      <div class="mr-8 ml-8">
        <div class="divider-mobile" [style]="'background-color:' + color"></div>
        <span class="title-blog-img-mobile">
          {{articleModel.title}}
        </span>
      </div>
    </div>
  </div>
  <!-- ================[تایتل عکس]======= -->
  <div class="flex justify-between mt-6 max-md:hidden">
    <div class="flex items-center scale-90">
      <i class="icon-carousel-card"></i>
      <p class="icon-title mr-3">ترید فارکس</p>
    </div>
    <a class="flex items-center box-share-mobile opacity-50">
      <p class="icon-title ml-3">اشتراک گذاری</p>
      <i class="shared-icon icon"></i>
    </a>
  </div>
  <span class="title-blog-mobile mt-3">
    {{articleModel.title}}
  </span>
  <div class="flex mt-3">
    <p class="date-mobile ml-10">انتشار : {{articleModel.publishDate | date}}</p>
    <p class="date-mobile">زمان مطالعه {{articleModel.studyTime.split(':')[1]}} دقیقه</p>
  </div>
  <p class="mt-8">
    {{articleModel.brief}}
  </p>
</div>
