.bg-all{
    background-color: #FAFAFA;
}
.part-1{
  max-width: 22rem;
}
// <!-- ==========[رسپانسیو]=========== -->
.title-offer{
  color: #098B41;
  font-weight: 600;
}
.title-offer2{
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: -.5rem;
  margin-bottom: 1.5rem;
}
// <!-- ===================[مدرسه فارکس ]=================== -->
.school-box{
    background-color: white;
    border: #EAEAEA solid 2px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
  }
  .box-video{
    background-color: #FAFAFA;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
  }
  .video{
      background-color: white;
  }
  .video-title{
    font-weight: 500;
    color: #7D7D7D;
  }
  .time-video{
  color: #7D7D7D;
  font-size: 0.8rem;
  background-color: #F5F5F5;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border-radius: 22px;
  }
  .title1-row{
    color: black;
  }
  .title2-row{
    color: #098B41;
    font-size: 1.2rem;
  }