<div class="flex justify-center relative">
    <img class="baner" src="assets/img/search-baner.svg" alt="baner" >
    <div class="absolute box mt-28">
        <h5 class="baner-titile flex justify-center">مقاله آموزشی یا اکسپرتی که به دنبال آن هستید را جست و جو کنید</h5>
        <div class="flex flex-row box-search">
            <div class="basis-1/4">
            </div>
            <div class="basis-3/4">
                <input class="h-full search-input" placeholder="جستجو" type="text">
                
            </div>
        </div>
    </div>
</div>