<div class="flex-col flex items-center bg-white lg:bg-inherit">
  <div class="px-6">
    <brokers-hero />
    <!-- Row Cards -->

    <div
      *ngIf="loadTable"
      class="my-8 flex flex-row flex-wrap items-center justify-center gap-16"
    >
      <ng-container *ngFor="let b of brokersInHero">
        <broker-img-card [linkCard]="true" [data]="b" />
      </ng-container>
    </div>

    <!-- Row Cards -->
  </div>
  <app-table-brokers />

  <!-- Alert Component -->
  <div
    class="bg-[#FFD5D5] mx-6 flex flex-row items-center min-h-[4.5rem] rounded-2xl border border-[#CC3A39]"
  >
    <triangle class="inline-block" [scale]="'0.7'" />

    <div class="relative">
      <div class="flex flex-col py-2">
        <b class="text-[#CC3A39] text-sm font-fat">توجه مهم&nbsp; !!</b>
        <p class="text-[#CC3A39] text-sm font-medium word-spacing-0 pl-2">
          توجه داشته باشید که در شرایط فعلی "بهترین کارگزار فارکس" وجود ندارد و
          همه دارای اشکالاتی هستند. ما هیچ کارگزاری را صد در صد تایید نمی کنیم.
          تاکید می کنیم که بروکر کاملی وجود ندارد و همه بروکرها مشکلاتی دارند.
          شما مسئول معاملات خود هستید. از خطرات ذاتی بازارهای مالی آگاه باشید.
        </p>
      </div>
      <!-- <span class="colse-btn">&times;</span> -->
    </div>
  </div>

  <!-- Alert Component -->

  <!-- Last Part of Landing -->

  <div id="readMore" class="flex flex-col lg:flex-row mx-4 my-5">
    <ng-container *ngIf="sendDataToChild">

    <div class="basis-full hidden lg:block max-w-[370px] min-w-[270px]">
      <app-blog-filter [type]="'tags'" [categoryTags]="tags">
        <p header>دسترسی سریع</p>
      </app-blog-filter>
    </div>

<div class="basis-full lg:basis3/4 flex flex-col mx-4">
 <div id="ckeditor" [innerHTML]="articleHtml" class="mt-6 broker"></div>
</div>
  </ng-container>
  </div>

  <!-- <div class="flex flex-col gap-5 justify-center my-14 items-center max-w-6xl mx-6">
    <b class="text-[#098B41] font-black text-3xl">
      فاکتورهای مهم برای انتخاب بهترین بروکر فارکس
    </b>
    <p class="text-[#646464] text-justify text-lg">
      برای درک بیشتر مفهوم رگوله بهتر است ابتدا معنی «AFTF» را متوجه بشوید. در
      حقیقت «ای اف تی اف» ارگانی در سطح جهانی است که به منظور مبارزه با اهداف
      پول شویی طراحی و تاسیس شده است. تقریبا از 33 سال پیش این نهاد به بررسی
      حرکت های مالی در کشورهای مختلف می پردازد تا موسساتی که در حال جمع آوری پول
      های غیر قانونی هستند، یا اینکه می خواهند مسیر دستیابی به درآمدشان را مخفی
      نگه دارند را شناسایی کند. برخی نهادها برای اینکه مسیر جابه جایی هزینه
      هایشان مشخص نشود، آن را در جاهای مخفی جابه جا می کنند. ولی AFTF با بررسی
      های دقیقی که انجام می دهد، شفافیت مالی را در آن مرکز مشخص می کند. حالا در
      اینجا چون بروکرها با درآمد مستقیم معامله گران در ارتباط هستند و در حال
      ورود و خروج انبوه زیادی پول به سر می برند، باید حتما بررسی شوند تا از کلاه
      برداری در آنها جلوگیری شود. در اینجا چون خود کارگزاری در ارتباط مستقیم با
      ای اف تی اف نیست، باید رگوله ها وارد عمل شوند. چطوری؟ به این شکل که رگوله
      ها می توانند از بروکرها بخواهند که مسیری شفاف از مسیر مالی خود و طرز حفاظت
      از سرمایه کاربرانشان را نشان دهند. رگوله در این شرایط می تواند برای
      جلوگیری از نابود شدن پول مشتریان توسط بروکر، در شرایطی خاص مثل (ورشکستگی)
      وارد عمل شده و بوسیله ایجاد برخی بیمه ها از آن محافظت کند.
    </p>
  </div> -->
</div>

<!-- Last Part of Landing -->
