.word-spacing-0 {
  word-spacing: 0;
}
.colse-btn {
  cursor: pointer;
  position: absolute;
  transform: translate(50%, 0%);
  font-size: 1.5rem;
  left: 5px;
  color: #cc3a39;
  top: -4px;
  font-weight: 900;
}
