<div class="flex 2xl:w-60 lg:w-44 justify-end">
  <button
  type="button"
  class="flex items-center justify-center align-middle all-search-transform"
  (click)="isSearchOpened()"
>
  <div class="search-heder-btn" (mouseleave)="mouseUnHover()" (mouseenter)="mouseHover()" *ngIf="!isSearchClicked">
    <i class="search-icon-gray scale-75" *ngIf="!onHover"></i>
    <i class="search-icon-white scale-75" *ngIf="onHover"></i>
  </div>
  <div class="flex flex-col items-end" *ngIf="isSearchClicked">
    <button type="button" class="close-search-header-btn">
      <span class="icon-cross"></span>
    </button>

    <div class="absolute top-12" (click)="onEvent($event)">
      <label
        for="search-bar"
        class="block text-sm font-medium leading-6 text-gray-900"
      ></label>
      <div class="input-transform" style="width: 160px; z-index: 1001">
        <ng-container *ngIf="!loading">       
        <input
        (input)="fillValue($any($event.target).value)"
          type="text"
          name="search-bar"
          id="search-bar"
          autocomplete="off"
          class="search-input-header"
          placeholder="جستجو مطلب مورد نظر"
          />
          <!-- class="block w-full text-sm rounded-md border-0 py-2.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-100 sm:text-sm sm:leading-6 bg-white" -->
        </ng-container>
      </div>
    </div>
  </div>
</button>
</div>