.box-shadow-ac {
  transition: box-shadow 0.2s linear, transform 0.2s linear,
    border-color 0.2s linear;
}
.box-shadow-ac:hover {
  box-shadow: -6px 5px 4px 0px #d8d8d8;
  transform: translate(2px, -2px);
  border-color: #3246d3;
}
