<div class="sm:absolute mt-6 mb-6 flex justify-center flex-col alig">
  <h1 class="sm:text-4xl text-3xl text-green-800 oblique text-center">
    جدیدترین مطالب آموزشی و مقالات ایرانی اکسپرت
  </h1>
  <span class="sm:text-2xl text-2xl sm:text-start text-center"
    >معرفی آخرین خدمات و امکانات مجله ایرانی اکسپرت</span
  >
</div>

<div class="flex sm:flex-col flex-col-reverse items-center">
  <div class="flex sm:justify-end justify-center w-full mt-6 mb-6">
    <div class="circle me-2">
      <i class="fa fa-long-arrow-right" style="font-size: 26px"></i>
    </div>
    <div class="circle full">
      <i class="fa fa-long-arrow-left" style="font-size: 26px"></i>
    </div>
  </div>
  <div class="flex justify-center sm:h-[36rem]">
    <div class="hidden sm:flex ml-9 flex-col justify-between">
      <div class="flex justify-center mt-3">
        <div
          class="border-separate border rounded-2xl p-4 ltr box-shadow-ac hidden sm:block"
        >
          <div class="flex h-56">
            <div
              class="w-1/2 rounded-l-2xl flex bg-black"
              style="height: inherit"
            >
              <img
                style="object-fit: contain; object-position: center"
                src="../../../../../assets/img/alpari-broker-forex.jpg "
              />
            </div>
            <div class="w-1/2 rtl flex flex-col justify-between">
              <div>
                <div class="flex">
                  <img
                    src="../../../../../assets/img/Group 132.png"
                    class="h-[30px]"
                  />
                  <span
                    class="mr-2 text-sm font-medium justify-end flex flex-col color--blue"
                    >دربررسی بروکر ها<small
                      class="text-sm font-medium color--grey500"
                      >امرداد 1402</small
                    ></span
                  >
                </div>
                <h1 class="m-4 ms-0 text-4xl font-semibold">
                  برسی بروکر الپاری Alpari
                </h1>
              </div>
              <div
                class="border-t ml-2 flex justify-between border-gray-300 items-center"
              >
                <div style="display: flex">
                  <img
                    src="../../../../../assets/img/30.png"
                    class="h-[30px]"
                  />
                  <span
                    class="flex-col flex mr-1 text-sm justify-evenly color--blue font-medium"
                    >نویسنده ؛ ایرانی اکسپرت<small
                      class="text-sm color--grey500 font-normal"
                      >زمان مطالعه 6 دقیقه</small
                    ></span
                  >
                </div>
                <div class="m-2 me-0 text-sm flex flex-col color--grey500 ltr">
                  <span
                    ><i
                      class="fa fa-heart-o color--grey500 font-extralight"
                    ></i>
                    386
                  </span>
                  <span class="ltr"
                    ><i class="fa fa-eye color--grey500 font-extralight"></i>
                    1253
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-3">
        <div
          class="border-separate border rounded-2xl p-4 ltr box-shadow-ac hidden sm:block"
        >
          <div class="flex h-56">
            <div
              class="w-1/2 rounded-l-2xl flex bg-black"
              style="height: inherit"
            >
              <img
                style="object-fit: contain; object-position: center"
                src="../../../../../assets/img/alpari-broker-forex.jpg "
              />
            </div>
            <div class="w-1/2 rtl flex flex-col justify-between">
              <div>
                <div class="flex">
                  <img
                    src="../../../../../assets/img/Group 132.png"
                    class="h-[30px]"
                  />
                  <span
                    class="mr-2 text-sm font-medium justify-end flex flex-col color--blue"
                    >دربررسی بروکر ها<small
                      class="text-sm font-medium color--grey500"
                      >امرداد 1402</small
                    ></span
                  >
                </div>
                <h1 class="m-4 ms-0 text-4xl font-semibold">
                  برسی بروکر الپاری Alpari
                </h1>
              </div>
              <div
                class="border-t ml-2 flex justify-between border-gray-300 items-center"
              >
                <div style="display: flex">
                  <img
                    src="../../../../../assets/img/30.png"
                    class="h-[30px]"
                  />
                  <span
                    class="flex-col flex mr-1 text-sm justify-evenly color--blue font-medium"
                    >نویسنده ؛ ایرانی اکسپرت<small
                      class="text-sm color--grey500 font-normal"
                      >زمان مطالعه 6 دقیقه</small
                    ></span
                  >
                </div>
                <div class="m-2 me-0 text-sm flex flex-col color--grey500 ltr">
                  <span
                    ><i
                      class="fa fa-heart-o color--grey500 font-extralight"
                    ></i>
                    386
                  </span>
                  <span class="ltr"
                    ><i class="fa fa-eye color--grey500 font-extralight"></i>
                    1253
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex mt-3 justify-center w-9/12 sm:w-8/12">
      <div
        class="border-separate border rounded-3xl sm:rounded-2xl p-3 sm:p-4 ltr box-shadow-ac w-9/ w-full"
      >
        <div class="h-full flex flex-col">
          <div class="w-full flex rounded-t-lg bg-black sm:h-80">
            <img
              class="rounded-t-lg"
              style="object-fit: contain; object-position: center"
              src="../../../../../assets/img/alpari-broker-forex.jpg "
            />
          </div>
          <div class="w-full rtl flex flex-col justify-between">
            <div>
              <div class="flex m-2">
                <img
                  src="../../../../../assets/img/Group 132.png"
                  class="sm:h-11 h-[20px]"
                />
                <span
                  class="mr-2 sm:text-sm text-[8px] font-medium justify-end flex flex-col color--blue"
                  >دربررسی بروکر ها<small
                    class="sm:text-sm font-medium color--grey500"
                    >امرداد 1402</small
                  ></span
                >
              </div>
              <h1 class="sm:m-4 m-3 ms-0 sm:text-4xl font-semibold text-xl">
                امارکت برسی بروکر aMarket
              </h1>
            </div>
            <div
              class="border-t pl-0 pr-0 flex justify-between border-gray-300 items-center p-2"
            >
              <div style="display: flex">
                <img
                  src="../../../../../assets/img/30.png"
                  class="sm:h-[30px] h-[20px]"
                />
                <span
                  class="flex-col flex mr-1 sm:text-sm text-[8px] justify-evenly color--blue font-medium"
                  >نویسنده ؛ ایرانی اکسپرت<small
                    class="sm:text-sm color--grey500 font-normal"
                    >زمان مطالعه 6 دقیقه</small
                  ></span
                >
              </div>
              <div class="sm:m-2 me-0 sm:text-xl text-[8px] color--grey500 ltr">
                <span class="me-2"
                  ><i class="fa fa-heart-o color--grey500 font-extralight"></i>
                  386
                </span>
                <span class="ltr"
                  ><i class="fa fa-eye color--grey500 font-extralight"></i>
                  1253
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
