.map {
  position: relative;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/12;
}
.custom-popover {
  width: 100px;
  display: block;
  height: 100px;
  background-color: blue;
  position: absolute;
}

.datamaps-bubble {
  fill: transparent !important;
  stroke-width: 0 !important;
  /* stroke: blue !important; */
}

.custom-bubble {
  position: relative;
  animation: pulse 1.5s linear infinite both;
  animation-delay: var(--animation-delay);
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }

  75% {
    r: var(--radius-max);
    opacity: 0.1;
  }

  100% {
    r: var(--radius);
    opacity: 0.7;
  }
}
