.footer-seprator {
  height: 6rem;
  background: inherit;
  border-radius: 0 0 45px 45px;
  bottom: 100%;
  z-index: 45;
  transform: translateY(40px);
}
.padding-all {
  @media (min-width: 768px) {
    padding: 0px calc(100% - 95vw);
  }
}
