<main
  class="m-0 p-0 gap-0 flex flex-col min-h-screen overflow-hidden lg:overflow-y-hidden lg:overflow-x-auto bg-white"
>
  <app-header-layout></app-header-layout>
  <span class="circle-on-top"></span>
  <div
    class="self-auto padding-all transition-all lg:self-center max-w-screen-2xl flex-grow w-full relative rounded-b-[2rem] z-0"
  >
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <div class="footer-seprator"></div>
  <app-footer></app-footer>
</main>
<ng-container *ngIf="_platformValue">
  <app-loader class="block" [ngClass]="httpLoader ? '' : 'hidden'">
    <app-lottie [config]="lottieConfig"></app-lottie>
  </app-loader>
</ng-container>
