<main class="overflow-hidden">
  <app-header-layout></app-header-layout>
  <router-outlet></router-outlet>
  <!-- <app-filter [search]="true" [filterModel]="filter">
    <search-bar searchBar></search-bar>
    <checkbox category><p class="text-13 pt-1.5" title>اکسپرت</p></checkbox>
    <checkbox producer
      ><p class="text-13 pt-1.5" title>ایرانی اکسپرت</p></checkbox
    >
    <app-rating rating [config]="ratingConfig"></app-rating>
    <app-rating priceRange [config]="rangeConfig"></app-rating>
  </app-filter> -->
  <app-footer></app-footer>
</main>
