.calendar-h{
    font-size: 1.3rem;
    font-weight: 600;
    color: #098b41;
    &::before {
      content: "";
      width: 1.7rem;
      height: 7px;
      background-color: #098b41;
      border-radius: 6px;
      display: inline-block;
      margin: 2px 6px;
    }
  }