<div
  class="m-4 rounded-xl animation-hover cursor-pointer inline-block h-[316px] bg-[#f3f3f3] w-[342px] overflow-hidden"
  [routerLink]="'shop/' + Data.id + '/' + Data.title.split(' ').join('_')"
>
  <div class="h-[57%] overflow-hidden">
    <img
      class="w-full h-full h-img"
      src="https://dl.iraniexpert.com{{ Data.imgUrl }}"
    />
  </div>
  <div class="h-[43%] justify-between flex-col flex">
    <div class="h-full flex flex-col justify-evenly items-center">
      <p class="text-[22px] text-black font-extrabold">
        {{ Data.title }}
      </p>
      <p
        class="text-xl font-medium"
        [style.color]="Data.colorCode"
        *ngIf="Data.price == 0"
      >
        رایگان
      </p>
      <p
        class="text-xl font-medium"
        [style.color]="Data.colorCode"
        *ngIf="Data.price != 0"
      >
        {{ Data.price }} میلیون تومان
      </p>
    </div>
    <div
      class="bg-[#E6E6E6] flex justify-center items-center h-bottom w-full"
      [style.background-color]="Data.bgColorCode"
      *ngIf="Data.type == 1"
    >
      <span class="flex flex-row items-center justify-center w-20 m-1">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="h-[14px] w-[15px]"
        >
          <path
            d="M0 0 C5.94 0 11.88 0 18 0 C17.67 0.99 17.34 1.98 17 3 C11.72 3 6.44 3 1 3 C0.67 2.01 0.34 1.02 0 0 Z "
            fill="#ED9029"
            [style.Fill]="Data.colorCode"
            transform="translate(0,11)"
          />
          <path
            d="M0 0 C4.62 0 9.24 0 14 0 C14 0.99 14 1.98 14 3 C9.38 3 4.76 3 0 3 C0 2.01 0 1.02 0 0 Z "
            fill="#ED9029"
            [style.Fill]="Data.colorCode"
            transform="translate(4,5)"
          />
          <path
            [style.Fill]="Data.colorCode"
            d="M0 0 C5.94 0 11.88 0 18 0 C18 0.66 18 1.32 18 2 C12.06 2 6.12 2 0 2 C0 1.34 0 0.68 0 0 Z "
            fill="#EC9029"
            transform="translate(0,0)"
          />
        </svg>

        <p class="text-base font-normal text-gray-600 mt-1 ms-1">3 جلسه</p>
      </span>
      <span class="flex flex-row items-center justify-center w-24 m-1">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="h-[22px] w-[22px] scale-[0.7]"
        >
          <path
            [style.Fill]="Data.colorCode"
            d="M0 0 C3.00947682 2.00631788 4.50462948 3.46435138 5.625 6.9375 C6.23205567 10.2763062 6.13379583 12.66551043 4.875 15.8125 C2.65883242 18.39802885 1.1806324 19.72774704 -2 21 C-6.82843714 21 -8.9903514 20.67309907 -13 18 C-15.36659113 14.4501133 -15.66380999 12.34199986 -15.43359375 8.15625 C-14.79285558 4.96987639 -13.33398654 3.19669322 -11 1 C-7.51118574 -0.74440713 -3.80666824 -0.56541186 0 0 Z M-5 2 C-4.67 4.64 -4.34 7.28 -4 10 C-2.68 10 -1.36 10 0 10 C0 10.99 0 11.98 0 13 C-2.97 12.505 -2.97 12.505 -6 12 C-6 9.03 -6 6.06 -6 3 C-8.49004504 3.56076801 -8.49004504 3.56076801 -11 5 C-12.67073042 7.76214972 -12.67073042 7.76214972 -13 11 C-11.66873553 13.92878184 -10.26695035 15.73304965 -8 18 C-5.12762267 18.58442963 -5.12762267 18.58442963 -2 18 C1.36344489 15.51397551 2.80057749 14.08574477 3.5625 9.9375 C2.87380287 6.34097053 1.90567935 5.17925951 -1 3 C-3.1381966 2.2127322 -3.1381966 2.2127322 -5 2 Z "
            fill="#ED9028"
            transform="translate(15,0)"
          />
        </svg>
        <p class="text-base font-normal text-gray-600 mt-1 ms-1">2:36 ساعت</p>
      </span>
    </div>
    <div
      class="bg-[#E6E6E6] flex justify-center items-center h-bottom"
      [style.background-color]="Data.bgColorCode"
      *ngIf="Data.type == 0"
    >
      <div class="text-base font-medium m-1 items-center flex">
        <img
          class="w-4"
          src="../../../../../assets/img/icons8-instagram-verification-badge-144.png"
        />
        <p class="mt-1">iraniExpert</p>
      </div>
    </div>
  </div>
</div>
