<div class="custom-table-responsive">
  <table class="table custom-table">
    <thead>
      <tr class="hidden lg:table-row">
        <ng-container *ngFor="let item of tableHeaders">
          <th>{{ item.engTitle | translateHeader }}</th>
        </ng-container>
      </tr>
      <tr class="table-row lg:hidden">
        <th>{{ "logoSrc" | translateHeader }}</th>
        <th>{{ "name" | translateHeader }}</th>
        <th>{{ "بررسی و ثبت نام" | translateHeader }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr scope="row">
          <td class="hidden lg:table-cell">
            <p>{{ item.rate }}</p>
          </td>
          <td class="td-logo-broker">
            <img src="assets/img/alpari-broker-forex.webp" class="w-full h-full" alt="business-logo" width="100" height="50"/>
          </td>
          <td>
            <p class="px-2">{{ item.name }}</p>
          </td>
          <td class="hidden lg:table-cell">{{ item.establishedYear }}</td>
          <td class="hidden lg:table-cell">{{ item.insurance }}</td>
          <td class="hidden lg:table-cell">
            <p>
              <ng-container *ngFor="let requlate of item.regulate">
                {{ requlate }},
              </ng-container>
            </p>
          </td>
          <td class="hidden lg:table-cell">
            <p>{{ item.minimumDesposit }}</p>
          </td>
          <td class="hidden lg:table-cell">
            <p>{{ item.leverage }}</p>
          </td>

          <td class="hidden lg:table-cell td-deposit">
            <p>
              <ng-container *ngFor="let deposit of item.deposit">
                {{ deposit }},
              </ng-container>
            </p>
          </td>
          <td class="hidden lg:table-cell td-platform">
            <p>
              <ng-container *ngFor="let platform of item.platform">
                {{ platform }},
              </ng-container>
            </p>
          </td>
          <td class="td-actions">
            <div class="flex flex-col gap-2">
              <ng-container *ngIf="item.linkSite">
                <a [routerLink]="item.linkSite.split(' ').join('_')">
                  <button
                    class="w-full h-7 bg-[#3246D3] rounded-2xl text-white"
                  >
                    بررسی بروکر
                  </button>
                </a>
              </ng-container>
              <ng-container *ngIf="!item.linkSite">
                <a [href]="'https://www.trustpilot.com/review/' + item.extLink">
                  <button
                    class="w-full h-7 bg-[#3246D3] rounded-2xl text-white"
                  >
                    بررسی بروکر
                  </button>
                </a>
              </ng-container>
              <ng-container *ngIf="item.refCode">
                <a href="#">
                  <button
                    class="w-full h-7 bg-[#CC3A39] rounded-2xl text-white"
                  >
                    افتتاح حساب
                  </button>
                </a></ng-container
              >
              <ng-container *ngIf="!item.refCode">
                <a href="#">
                  <button
                    class="w-full h-7 bg-[#CC3A39] rounded-2xl text-white"
                  >
                    افتتاح حساب
                  </button>
                </a>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
