<div class="custom-table-responsive">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>امتیاز</th>
        <th>نماد تجاری</th>
        <th>نام بروکر</th>
        <th>حداقل واریزی</th>
        <th>لوریج(اهرم)</th>
        <th>رگوله</th>
        <th>واریز و برداشت</th>
        <th>پلتفرم</th>
        <th>بررسی و ثبت نام</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr scope="row">
          <td>
            <p>4.5</p>
          </td>
          <td class="td-logo-broker">
            <img src="assets/img/alpari-broker-forex.jpg" alt="business-logo" />
          </td>
          <td>
            <p class="px-2">آی اف سی مارکت</p>
            <!-- <img src="assets/img/Online-broker-AMarkets.png" alt="business-logo"> -->
          </td>
          <td>
            <p>{{ "1" | currency }}</p>
          </td>
          <td>
            <p>400</p>
          </td>
          <td>
            <p>BVI FSC, LFSA, CySec</p>
          </td>
          <td class="td-deposit">
            <p>ریالی مستقیم ، ریالی تاپ چنج ، وبمانی پرفکت مانی ، رمز ارز</p>
          </td>
          <td class="td-platform">
            <p>MT4, MT5, NetTradeX Web Terminal</p>
          </td>
          <td class="td-actions">
            <div class="flex flex-col gap-2">
              <button class="w-full h-7 bg-[#3246D3] rounded-2xl text-white">
                بررسی بروکر
              </button>
              <button class="w-full h-7 bg-[#CC3A39] rounded-2xl text-white">
                افتتاح حساب
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
