<div class="min-h-fit pb-20 pt-5 bg-[#F3F3F3] w-full rounded-b-[110px]">
  <div
    class="flex items-start justify-center lg:justify-around xl:justify-between"
  >
    <div
      class="flex flex-col lg:flex-row items-stretch justify-center mt-10 mx-2 lg:mx-10 h-full gap-5"
    >
      <div class="img-container">
        <img
          src="../../../../../assets/img/IFC.png"
          alt="Demo-Single-Broker"
          width="245"
          height="137"
        />
      </div>
      <div
        class="mt-[0.15rem] flex-col flex items-start flex-wrap content-start"
      >
        <b class="text-[#098B41] font-black text-3xl">بروکر آی اف سی مارکت</b>
        <div class="flex items-center gap-1 mt-3">
          <span class="inline-block">
            <img class="w-6" src="assets/icon/uk@2x.svg" alt="Flag-UK" />
          </span>
          <p class="inline-block text-sm">دفتر مرکزی انگلستان</p>
        </div>
        <div
          class="inline-flex min-w-max px-2 py-0 border border-[#707070] items-center rounded-full mt-2"
        >
          <i class="ie-verified"></i>
          <p class="text-[#646464] text-xs pt-1 font-medium">
            MT5 , MT4 , Net TradeX
          </p>
        </div>
        <div class="flex-grow mt-5">
          <button
            class="h-full min-w-[220px] w-max bg-[#098B41] rounded-lg text-white font-bold min-h-[42.95px]"
          >
            ورود به سایت اصلی بروکر
            <i class="ie-go-to-page scale-75 mr-1 align-middle"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-stretch gap-1 lg:gap-5 mt-10">
      <div
        class="border border-gray-400 rounded-[9px] max-w-[150px] min-w-[149px]"
      >
        <div
          class="flex flex-col items-center justify-center h-full px-2 gap-6"
        >
          <p class="text-[#646464] font-medium text-xs mt-3">امتیاز کاربران</p>
          <p class="text-[#646464] font-black text-rate">
            <i class="ie-star"></i>
            4
          </p>
        </div>
      </div>
      <div
        class="border border-gray-400 rounded-[9px] max-w-[150px] min-w-[149px]"
      >
        <div
          class="flex flex-col items-center justify-center h-full px-2 gap-6"
        >
          <p class="text-[#646464] font-medium text-xs mt-3">
            امتیاز ایرانی اکسپرت
          </p>
          <p class="text-[#646464] font-black text-rate">9.1</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="inline-block border border-gray-400 rounded-[9px] min-w-[26px]">
  <p class="mx-4 my-2 text-sm font-medium">
    جدیدترین خبر های بروکر را به من اطلاع بده
  </p>
</div> -->
