<div
  class="min-h-fit pb-20 justify-center pt-5 bg-[#F3F3F3] w-full rounded-b-[110px] flex"
>
  <div
    class="flex flex-col md:flex-row items-stretch justify-center mt-10 mx-10 h-full gap-5"
  >
    <div class="img-container">
      <img
        src="../../../../../assets/img/IFC.png"
        alt="Demo-Single-Broker"
        width="245"
        height="137"
      />
    </div>
    <div class="mt-[0.15rem] flex-col flex items-start flex-wrap content-start">
      <b class="text-[#098B41] font-black text-3xl">بروکر آی اف سی مارکت</b>
      <div class="flex items-center gap-1 mt-3">
        <span class="inline-block">
          <img class="w-6" src="assets/icon/uk@2x.svg" alt="Flag-UK" />
        </span>
        <p class="inline-block text-sm">دفتر مرکزی انگلستان</p>
      </div>
      <div
        class="inline-flex min-w-max px-2 py-0 border border-[#707070] items-center rounded-full mt-2"
      >
        <i class="ie-verified"></i>
        <p class="text-[#646464] text-xs pt-1 font-medium">
          MT5 , MT4 , Net TradeX
        </p>
      </div>
      <div class="flex-grow mt-5">
        <button
          class="h-full min-w-[220px] w-max bg-[#098B41] rounded-lg text-white font-bold min-h-[42.95px]"
        >
          ورود به سایت اصلی بروکر
          <i class="ie-go-to-page scale-75 mr-1 align-middle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
