<div class="flex mt-16">
    <div class="w-72">
        <div class="flex justify-center">
            <div class="relative overflow-hidden">
                <img src="assets/img/blog-cart.svg" alt="card">
                <div class="box-shadow" [style]="'box-shadow: 0px -20px 36px 66px'+ color"></div>
                <div class="img-description-row">
                    <div class="divider-mobile" [style]="'background-color:'+ color"></div>
                    <h6 class="img-title">چگونه بهترین بروکر را انتخاب کنیم؟</h6>
                    <div class="flex gap-8 mt-4">
                        <p class="img-description"> نویسنده:ایرانی اکسپرت</p>
                        <p class="img-description">4 ساعت پیش</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-start">
            <div class="mt-4">
                <h6 class="title"> چگونه بهترین بروکر را انتخاب کنیم؟ </h6>
                <div class="flex mt-2">
                <img class="icon" src="assets/img/icon-carousel-card.svg" alt="card">
                <p class="icon-title">ترید فارکس</p></div>
            </div>
        </div>
        <div class="flex justify-start mt-3">
            <p class="pl-3 carousel-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsum excepturi molestiae
                 id autem, enim ab aperiam esse nihil officiis incidunt delectus. Veniam est, unde et aut animi dolorem explicabo.
            </p>
        </div>
        <div class="flex justify-start mt-5">
            <p class="date-carousel">انتشار :25آذر1402</p>
            <p class="date-carousel mr-4">زمان مطالعه 7 دقیقه </p>
        </div>
    </div>
</div>