<!-- <app-hero />
<div class="sm:bg-white sm:flex sm:flex-col items-center sm:mt-3">
  <div class="bg-[#F5F5F5] sm:bg-white rounded-b-[2.5rem] pb-16">
    <app-tags />
    <app-service-baner />
    <app-instagram-baner />
    <app-trade-beginning />
  </div>
  <app-bot-showcase class="relative bottom-[9rem]" />
  <div class="sm:bg-white bg-[#F5F5F5] rounded-b-[2.5rem]">
    <app-gift-form></app-gift-form>
  </div>
  <div class="sm:w-[75%] w-11/12 mb-6 mt-4">
    <app-card-title
      [title]="'فروشگاه محصولات'"
      [type]="'محصولات ایرانی اکسپرت'"
      [iconlink]="'../../../assets/img/Group 553.png '"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data2"
        [Data]="data"
      ></app-product-card>
    </div>
    <app-card-link
      [btnName]="'فروشگاه'"
      [paragraph]="
        '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
      "
    ></app-card-link>
    <app-card-title
      [title]="'مدرسه ترید'"
      [type]="'دوره اموزشی'"
      [iconlink]="'../../../assets/img/Union 25.png'"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data"
        [Data]="data"
      ></app-product-card>
    </div>
    <app-card-link
      [btnName]="'مدرسه ترید'"
      [paragraph]="
        'در مدرسه ترید ایرانی اکسپرت می توانید آخرین آموزش های مرتبط به بازار های مالی را مشاهده و بررسی کنید'
      "
    ></app-card-link>
  </div>

  <app-banners></app-banners>
  <app-landing-article class="hidden sm:block" />
  <div class="bg-[#F5F5F5] rounded-b-[2.5rem] pb-16">
    <div class="flex overflow-y-scroll">
      <app-landing-article-responsive
        *ngFor="let i of [0, 1, 2]"
        class="block sm:hidden"
      />
    </div>
  </div>

  <div class="sm:bg-[#F5F5F5] flex justify-center flex-col">
    <div class="w-9/12 bg-cover bgi-world-map1 sm:h-[37rem] flex items-center">
      <app-bot-advantages />
    </div>
    <h1 class="sm:text-4xl text-2xl text-green-800 text-center oblique mt-30">
      درخواست مشاوره
    </h1>
    <p class="text-center text-black text-xl sm:text-3xl">
      لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
      بگیرند
    </p>
    <app-consultation-form></app-consultation-form>
  </div>

  <div class="pb-4 pt-2 mb-2">
    <app-questions></app-questions>
    <div class="flex justify-center">
      <div class="w-[64rem]">
        <h2 class="text-3xl font-bold">مقدمه ای بر ایرانی اکسپرت</h2>
        <p>
          ایرانی اکسپرت، از ۱ فوریه سال ۲۰۲۱، با تحقیق و توسعه استراتژی‌ها و
          ابزارهای مختلف معاملاتی بازار فارکس، به مقایسه مزایا ومعایب ربات‌های
          معامله‌گرفارکس موجود .تولید کرد (Automated Trading Machine) ATM
          پرداخت. که در نهایت، با بکارگیری قویترین استراتژی معاملاتی، دستیارترید
          کاملا خودکار کم نظیر خود را با عنوان ربات همچنان بی نظیر بود و نه تنها
          ضرر نکرد، بلکه با سود ATM باید بگیم که تنها ۲۴ روز بعد، در ۲۴ فوریه
          ۲۰۲۲، جنگ روسیه و اوکراین شروع شد. در این زمان، عملکرد ربات .از
          نوسانات وحشتناک دوران جنگ خارج شد ،
          <br />
          مجموعه‌ ایرانی اکسپرت، تصمیم به فروش ربات معامله‌گرفارکس خود گرفتATM.
          <br />

          پس از گذشت ۳ ماه، با اثبات عملکرد بی نظیر ربات ، مشخص شد که شامل این
          موارد می باشدATM: ما، بزرگترین ایرادات ربات‌های معامله‌گررقبا نسبت به
          ربات D&R با توجه به تحقیق و بررسی تیم  مدیریت سرمایه ندارند 
          استراتژی قابل قبولی ندارند  اخبار فاندامنتال را تشخیص نمی‌دهند 
          امکان مدیریت معاملات باز را ندارند در نتیجه، اکسپرت فارکس ما، ازلحظه
          تولید تا به اکنون، اول نوامبر ۲۰۲۳، به صورت متداول در حال آپدیت می
          باشد، که موفق به تولید ورژن ۸ از آن شده‌ایم و تمام نقاط .ضعف ذکر شده
          را رفع کرده‌ایم . عزیزان می‌توانند جهت ثبت سفارش به صفحه فروشگاه سایت
          ایرانی اکسپرت مراجعه نمایند . ایرانی اکسپرت، در کنار فروش ربات، در
          زمینه آموزش ترید در فارکس، انواع تحلیل و برنامه نویسی بازارهای مالی
          نیز، به صورت حضوری یا آنلاین، فعالیت دارد تیم ما همچنین، با توجه به
          اهمیت تحلیل فاندامنتال در بحث ترید، اخبار اقتصادی سایت‌های معتبر و مهم
          را گردآوری و به زبان فارسی ترجمه کرده است. این اخبار، در .دسترس همه
          تریدرها، روی سایت ایرانی اکسپرت به نمایش گذاشته شده است ، همواره درحال
          به‌روزرسانی بوده و یکی از افتخارات ما اینست که آغوش ما همیشه روی معایب
          و انتقادات تریدرها، جهت استفاده از تجربه گرانبهای آن‌ها درATM ربات
          .تقویت عملکرد ربات، بازاست
        </p>
      </div>
    </div>

    <app-video-player [VideoId]="0" [homeScreen]="true"></app-video-player>
  </div>
</div> -->
<div class="sm:bg-white bg-[#F5F5F5]">
  <div>
    <app-hero (scroll)="scroll($event)" />
    <app-tags />
    <app-service-baner />
    <app-instagram-baner />
    <app-trade-beginning />
  </div>

  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[27px] bg-[#F5F5F5] z-10"
    style="position: relative; top: 27px"
  ></div>

  <div class="bg-white">
    <app-bot-showcase
      (scroll)="scroll($event)"
      class="relative bottom-[5rem] z-20"
    />
  </div>
  <div class="px-4 py-3">
    <!-- <app-gift-form></app-gift-form> -->
    <app-card-title
      [title]="'فروشگاه محصولات'"
      [type]="'محصولات ایرانی اکسپرت'"
      [iconlink]="'icon-shop'"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data2"
        [Data]="data"
      ></app-product-card>
    </div>
  </div>
  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[27px] bg-[#F5F5F5] z-10"
    style="position: relative; top: 16px"
  ></div>

  <div class="bg-white z-20 pt-5">
    <app-card-link
      [btnName]="'فروشگاه'"
      [paragraph]="
        '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
      "
    ></app-card-link>
  </div>

  <div class="mt-10 px-4 py-3">
    <app-card-title
      [title]="'مدرسه ترید'"
      [type]="'دوره آموزشی'"
      [iconlink]="'icon-trade-school'"
    ></app-card-title>
  </div>
  <!-- ================[به زودی]============== -->
  <div class="flex justify-center flex-col relative mt-32">
    <div
      class="flex justify-center sm:overflow-y-hidden overflow-y-auto opacity-40"
    >
      <app-product-card
        *ngFor="let data of card_data"
        [Data]="data"
      ></app-product-card>
    </div>
    <div
      class="absolute -translate-x-1/2 left-1/2 bg-opacity-50 bg-black flex flex-col justify-center py-12 gap-5 w-[98vw] px-4"
    >
      <img
        loading="lazy"
        src="../../../../../assets/img/Trade-School-Coming-Soon.webp"
        class="max-h-[414px] aspect-[3/4] object-contain w-auto"
        width="342"
        height="180"
        alt="Trade-School"
      />
      <p class="text-center text-3xl font-bold text-black">
        صفحه مدرسه ترید در حال به‌روز‌رسانی میباشد
      </p>
    </div>
  </div>
  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[99px] bg-[#F5F5F5] z-10"
  ></div>

  <app-banners> </app-banners>
  <h2 class="sr-only">آخرین بلاگ های به روز</h2>
  <div class="bg-[#F5F5F5] rounded-b-[2.5rem] pb-16">
    <div class="flex overflow-y-scroll">
      <app-landing-article-responsive
        *ngFor="let i of blogData"
        [blogs]="i"
        class="block lg:hidden mb-16"
      />
    </div>
  </div>
  <app-landing-article
    [blogs]="blogData"
    *ngIf="isRecived"
    class="hidden lg:block"
  />
</div>
<div
  class="rounded-b-[3.5rem] w-full sm:h-[140px] h-[40px] sticky sm:bg-white bg-[#F5F5F5] sm:z-10"
></div>
<div
  class="sm:bg-[#F5F5F5] sm:py-32 relative sm:bottom-20 bottom-8 px-2 md:px-0"
>
  <div class="bg-cover bgi-world-map1 lg:mx-32 pb-16 bg-cover-custom">
    <app-bot-advantages />
  </div>
  <span
    id="form-consulting"
    class="sm:text-4xl text-2xl text-green-800 text-center oblique sm:mt-8 block"
  >
    درخواست مشاوره
  </span>
  <p class="text-center text-black text-xl sm:text-3xl">
    لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
    بگیرند
  </p>
  <!-- =================[اسکرول]======= -->
  <div>
    <app-consultation-form></app-consultation-form>
  </div>
</div>
<div class="py-4 mb-2 px-2">
  <app-questions></app-questions>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">مقدمه ای بر ایرانی اکسپرت</h2>
      <p class="mt-5 font-medium text-justify">
        ایرانی اکسپرت، از ۱ فوریه سال ۲۰۲۱، با تحقیق و توسعه استراتژی‌ها و
        ابزارهای مختلف معاملاتی بازار فارکس، به مقایسه مزایا ومعایب ربات‌های
        معامله‌گرفارکس موجود .تولید کرد (Automated Trading Machine) ATM پرداخت.
        که در نهایت، با بکارگیری قویترین استراتژی معاملاتی، دستیارترید کاملا
        خودکار کم نظیر خود را با عنوان ربات همچنان بی نظیر بود و نه تنها ضرر
        نکرد، بلکه با سود ATM باید بگیم که تنها ۲۴ روز بعد، در ۲۴ فوریه ۲۰۲۲،
        جنگ روسیه و اوکراین شروع شد. در این زمان، عملکرد ربات .از نوسانات
        وحشتناک دوران جنگ خارج شد ،
        <br />
        مجموعه‌ ایرانی اکسپرت، تصمیم به فروش ربات معامله‌گرفارکس خود گرفتATM.
        <br />

        پس از گذشت ۳ ماه، با اثبات عملکرد بی نظیر ربات ، مشخص شد که شامل این
        موارد می باشدATM: ما، بزرگترین ایرادات ربات‌های معامله‌گررقبا نسبت به
        ربات D&R با توجه به تحقیق و بررسی تیم  مدیریت سرمایه ندارند  استراتژی
        قابل قبولی ندارند  اخبار فاندامنتال را تشخیص نمی‌دهند  امکان مدیریت
        معاملات باز را ندارند در نتیجه، اکسپرت فارکس ما، ازلحظه تولید تا به
        اکنون، اول نوامبر ۲۰۲۳، به صورت متداول در حال آپدیت می باشد، که موفق به
        تولید ورژن ۸ از آن شده‌ایم و تمام نقاط .ضعف ذکر شده را رفع کرده‌ایم .
        عزیزان می‌توانند جهت ثبت سفارش به صفحه فروشگاه سایت ایرانی اکسپرت مراجعه
        نمایند . ایرانی اکسپرت، در کنار فروش ربات، در زمینه آموزش ترید در فارکس،
        انواع تحلیل و برنامه نویسی بازارهای مالی نیز، به صورت حضوری یا آنلاین،
        فعالیت دارد تیم ما همچنین، با توجه به اهمیت تحلیل فاندامنتال در بحث
        ترید، اخبار اقتصادی سایت‌های معتبر و مهم را گردآوری و به زبان فارسی
        ترجمه کرده است. این اخبار، در .دسترس همه تریدرها، روی سایت ایرانی اکسپرت
        به نمایش گذاشته شده است ، همواره درحال به‌روزرسانی بوده و یکی از
        افتخارات ما اینست که آغوش ما همیشه روی معایب و انتقادات تریدرها، جهت
        استفاده از تجربه گرانبهای آن‌ها درATM ربات .تقویت عملکرد ربات، بازاست
      </p>
    </div>
  </div>

  <!-- <app-video-player
    [VideoId]="0"
    [homeScreen]="true"
    [Link]="'https://www.w3schools.com/html/mov_bbb.ogg'"
  ></app-video-player> -->
  <div class="flex justify-center mt-10 mb-5">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">
        چگونه معامله کنم؟ نقطه شروع ترید کجاست؟
      </h2>
      <p class="mt-5 font-medium text-justify">
        نقطه شروع ترید در بازار فارکس، می‌تواند برای اکثریت یک مسئله گیج‌کننده
        باشد. اما با رعایت کردن مواردی که ایرانی اکسپرت لیست کرده است، می‌توانید
        به عنوان مبتدی شروع به معامله کنید:
        <br />
        ۱- آموزش و یادگیری: قبل از شروع ترید در فارکس، باید مفاهیم و اصول اساسی
        را درک کنید. گذراندن دوره‌های آموزشی، مطالعه کتاب‌های پایه و مطالعه
        کتاب‌های سطحی در حوزه اقتصاد می‌تواند کمک کننده باشند.
        <br />
        ۲- تجزیه و تحلیل بازار: برای شروع ترید، باید با انواع روش‌های معاملاتی،
        روش‌های تحلیلی، اکسپرت‌ها یا همان ربات‌های معامله‌گر، بروکرهای فارکس،
        پلتفرم‌های معامله گری، سشن‌های معاملاتی و غیره آشنا شوید.
      </p>
    </div>
  </div>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">
        به عنوان نمونه، روش‌های معاملاتی و تحلیلی را به صورت کلی شرح می دهیم:
      </h2>
      <div class="mt-5 space-y-2 container-text text-justify">
        <p>روش‌های معاملاتی مرسوم، شامل پنج روش است:</p>
        <p>۱. معامله دستی</p>
        <p>۲. استفاده از اکسپرت‌ها ربات‌های معامله‌گر</p>
        <p>۳. کپی ترید</p>
        <p>۴. پَم یا سبدهای سرمایه گذاری</p>
        <p>۵. باینری آپشن</p>
        <p>همچنین در روش‌های تحلیلی در فارکس، دو روش مهم عبارتند از:</p>
        <p>
          ۱. تحلیل تکنیکال (به کمک نمودارها، شاخص‌ها و الگوهای قیمتی) و ۲. تحلیل
          فاندامنتال یا بنیادی (به کمک بررسی داده های اقتصادی، اخبار اقتصادی،
          سیاسی و
        </p>
        <p>.اجتماعی)، که تأثیر زیادی بر بازار فارکس دارند</p>
        <p>
          با سرمایه آزمایشی و غیرواقعی را دارند. با استفاده از این نوع حساب‌،
          می‌توانید بدون Demo ۳- افتتاح حساب آزمایشی: اکثر بروکرهای فارکس، امکان
          افتتاح حساب
        </p>
        <p>
          ریسک، با پول مجازی، تجربه ترید در شرایط واقعی را پیدا کنید. اینگونه می
          توانید استراتژی‌های خود و اکسپرت‌ها یا همان ربات‌های معامله‌گر را تست
          کنید
        </p>
        <p>
          ۴- مدیریت سرمایه: قبل از شروع ترید، باید برای مدیریت سرمایه برنامه
          ریزی کنید. چه برای معاملات دستی، چه برای استفاده از اکسپرت یا همان
          ربات‌های معامله گر
        </p>
        <p>
          کلیات مدیریت سرمایه شامل تعیین حداکثر میزان ریسک برای هر معامله،
          تعیین. حداکثر تعداد معاملات باز همزمان و تعیین استراتژی خروج از
          معاملات می‌شود
        </p>
        <p>
          ۵- کسب تجربه: این نکته یادتان بماند که موفقیت معامله‌گری در
          بازارفارکس، نیازمند یادگیری پیوسته است. بررسی تاریخچه معاملات،
          به‌روزرسانی استراتژی، تسلط بر
        </p>
        <p>
          اکسپرت یا همان ربات معامله‌گر، تحلیل نتایج و یادگیری از خطاها و
          اشتباهات و همچنین استفاده از روزهای تعطیل در فارکس (شنبه ها و یکشنبه
          ها) با محور مطالعه و
        </p>
        <p>.آموزش، می‌تواند در بهبود عملکرد به شما کمک کند</p>
        <p>
          در صفحه ATM سخن پایانی: ایرانی اکسپرت، در نهایت پیشنهاد می‌کند که با
          ما همراه باشید. بازدید از وب‌سایت ایرانی اکسپرت و مشاهده ویژگی‌های
          ربات معامله‌گر
        </p>
        <p>
          فروشگاه، همچنین، بازید از صفحه اینستاگرام و کانال تلگرام را در
          برنامه‌ها و پلن خود قرار دهید. زمانی را برای مطالعه مقالات، دیدن
          آموزش‌ها، گوش دادن به
        </p>
        <p>
          پادکست‌ها و استفاده از تجربیات تریدرهای قدیمی تعریف کنید. تیم‌های
          مختلف در ایرانی اکسپرت، آمادگی خود را اعلام می کند تا شما را، در این
          مسیر پُر از چالش، فرصت
        </p>
        <p>.و موفقیت همراهی کند</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">چرا ایرانی اکسپرت؟</h2>
      <div class="mt-5 space-y-3 container-text text-justify">
        <p>
          تجربه و تخصص: ما با بیش از یک دهه تجربه در بازار فارکس و هوش مصنوعی و
          دارا بودن افراد مدرس در سطح کشوری و بین المللی در معتبرترین
          دانشگاه‌های جهان، مانند دانشگاه لیورپول، به عنوان تیمی متخصص و
          کارآزموده در این حوزه فعالیت داریم.
        </p>
        <p>
          هرآنچه بخواهید: اولین دستاورد ایرانی اکسپرت، خلق ربات معامله گر ATM
          بود. پس از آن، اخبار فارکس و داده‌های اقتصادی را گردآوری، ترجمه و به
          صورت لحظه‌ای روی سایت منتشر می‌نماید. همچنین پیوسته درحال ارتقاء مدرسه
          ترید، با تولید محتوای آموزش، ضبط پادکست ها و نوشتن مقالات برای تریدرها
          و علاقه مندان است.
        </p>
        <p>
          تحقیق، توسعه و به‌روزرسانی: تیم R&D در ایرانی اکسپرت موظف است با کمک
          گرفتن از اقتصاددان‌ها و تریدرهای فارکس، در جهت به‌روزرسانی ربات‌های
          معامله گر و اخبار فارکس گام بردارد.
        </p>
        <p>
          رویکرد نوآورانه: ما در ایرانی اکسپرت، به دنبال استراتژی‌ها،
          الگوریتم‌ها و راهکارهای نوآورانه در حوزه بازارهای مالی هستیم. به دلیل
          اینکه سود ما در راستای سود شماست، با کمک قوی‌ترین تکنولوژی‌ها در حوزه
          برنامه نویسی، موفق شده‌ایم که ربات معامله گر ATM را با وین ریت بالا،
          سوددهی معقول و دراداون پایین ارائه دهیم.
        </p>
        <p>
          راهنمایی و پشتیبانی قوی: به عنوان یک شرکت ایرانی با وجود تمام
          محدودیت‌ها و تهدیدها، در ارائه خدمات مشاوره قبل ازخرید و پشتیبانی بعد
          خرید متعهد هستیم. تیم پشتیبانی ما در تمامی مراحل خرید، دانلود از
          پروفایل، نصب و راه اندازی و تنظیمات مناسب در کنار شماست.
        </p>
        <p>
          اکنون اُمیدواریم با توجه به توضیحات ارائه شده: تجربه و تخصص، هرآنچه
          بخواهید موجود است، تحقیق و توسعه و بروزرسانی، رویکرد نوآورانه و نهایتا
          راهنمایی و پشتیبانی قوی، پاسخ چرا ما را دریافت کرده باشید و با خیالی
          آسوده، با ربات ما شروع به معامله کنبد.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">همکاری با ایرانی اکسپرت</h2>
      <div class="mt-5 container-text text-justify">
        <p>
          ایرانی اکسپرت آمادگی خود را جهت همکاری با موسسات آموزشی و شرکت‌های
          سرمایه‌گذاری اعلام می‌دارد. خرسندیم اعلام کنیم آغوش ما به روی متخصصین
          این حوزه باز است، جهت استخدام تریدر رزومه خود را ارسال نمایید
        </p>
        <!-- <div class="flex max-sm:justify-center m-2 sm:ms-0">
          <button
            class="bg-main-blue border-2 relative border-[#3246d3] border-solid hover:bg-white hover:text-[#3246d3] text-white sm:px-2 px-6 p-1.5 sm:w-40 rounded-full font-semibold sm:text-base text-sm"
          >
            ارسال رزومه
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">آخرین اخبار فارکس</h2>
      <div class="mt-5 space-y-3 container-text text-justify">
        <p>
          یکی‌از مهمترین چالش‌های معامله‌گران و تریدرهایی که استراتژی شخصی دارند
          یا از استراتژی‌های مرسوم بازار استفاده می‌کنند، اخبار فاندامنتال یا
          همان اخبار بنیادی است که در بازار فارکس از آن به‌عنوان اخبار فارکس یاد
          می‌شود.
        </p>
        <p>
          اخبار بنیادی فارکس، همان داده‌های اقتصادی هستند که در بازارهای مالی
          بسیار حیاتی می‌باشند. تریدرها برای تصمیم‌گیری آگاهانه در بازارهای
          مالی، مخصوصا بازار فارکس، نیازمند سطح زبان انگلیسی بالا، دانش کافی و
          تجربه مفید جهت تحلیل اخبار فارکس .هستند
        </p>
        <p>
          داده‌های اقتصادی هر کشور منحصر به همان کشور است، که در نتیجه‌ی سیاست
          های پولی، مالی، تصمیمات کلان دولتی وتصمیمات بانک مرکزی آن کشور، موجب
          می‌شود که داده های اقتصادی بر حسب عدد و رقم و شاخص، به صورت عمومی شکل
          گیرد.
        </p>
        <p>
          در این خصوص سایت‌های معتبر و با سابقه ای بالا آمده اند، که این داده
          های اقتصادی را گردآوری کرده، سرجمع کرده و منتشر می‌کنند.
        </p>
        <p>
          توجه کنید که اخبار منتشر شده در این سایت‌ها به زبان اصلی هستند، اما
          ایرانی اکسپرت از معدود سایت‌هایی است که شامل اخبار به روز فارکس به
          زبان فارسی می باشد.
        </p>
        <p>
          انتشار اخبار جهانی فارکس، به زبان انگلیسی، برای برخی از تریدرها در
          ایران که تسلط کافی به زبان انگلیسی ندارند چالش بزرگی است. در این
          راستا، برخی از سایت‌های فارسی زبان، اقدام به ترجمه اخبار فارکس کردند‌،
          اما باز هم در لحظه انتشار داده‌ها، درخواندن و ترجمه اخبار فارکس به
          زبان فارسی، تاخیر دارند. اما همینطور که می‌دانید، حتی یک ثانیه هم برای
          معامله گران اهمیت دارد.
        </p>
        <p>
          بنابراین، به دلیل تاثیر اخبار فارکس، ایرانی اکسپرت اقدام به گردآوری
          داده‌های اقتصادی و اخبار فارکس کرده است، که تمام این اطلاعات، به زبان
          فارسی ترجمه شده و روی سایت ایرانی اکسپرت، به عنوان بهترین سایت اخبار
          فارکس فارسی، در دسترسی عموم قرار دارد.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center my-3">
    <div class="mx-8">
      <b class="text-3xl font-bold">
        مسیر آموزشی در ایرانی اکسپرت از مدسه ترید می گذرد!!
      </b>
      <div class="mt-5 space-y-3 container-text text-justify">
        <p>تمرکز اصلی آموزشی ما در ایرانی اکسپرت، روی آموزش فارکس است.</p>
        <p>
          سرفصل‌های آموزشی ما عبارتند از: بازارفارکس، آموزش کار با متاتریدر،
          تحلیل تکنیکال، تحلیل فاندامنتال یا بنیادی، استراتژی‌های معاملاتی،
          تحلیل اخبار مای اف ایکس بوک (My fxbook)، برنامه نویسی MQL،
          برنامه‌نویسی هوش مصنوعی، ربات نویسی و اکسپرت نویسی و … می باشد.
        </p>
        <p>
          برخی از این آموزش‌ها به صورت رایگان در دسترس هستند که با عضویت در سایت
          می توانید از آن‌ها استفاده کنید.
        </p>
        <p></p>
        <p>
          از دیگر خدمات مدرسه ترید در ایرانی اکسپرت، تولید محتوای تخصصی در قالب
          مقالات است که بر روی وب‌سایت ایرانی اکسپرت، در دسترس می‌باشند.
        </p>
        <p>مدرسه ترید همچنین شامل معرفی و بررسی بروکرهاست.</p>
        <p>
          انتخاب بروکرمناسب، همیشه از چالش‌های معامله گری در بازار فارکس، حتی
          برای تریدرهای با تجربه، بوده است. بنابراین، ما در ایرانی اکسپرت کمک می
          کنیم تمام مزایا و معایب بروکرها را بشناسید و انتخاب درستی داشته باشید.
        </p>
        <p>
          از خدمات جذاب مدرسه ترید، ارائه پادکست های آموزشی در حوزه‌های مختلف
          بازار مالی است.
        </p>
        <p>
          محتوای پادکست‌ها توسط مختصصین این حوزه تولید شده و به زبان عامیانه،
          توسط گوینده‌های به نام، ضبط و روی سایت منتشر می‌شود.
        </p>
      </div>
    </div>
  </div>
</div>
