<!-- <app-hero />
<div class="sm:bg-white sm:flex sm:flex-col items-center sm:mt-3">
  <div class="bg-[#F5F5F5] sm:bg-white rounded-b-[2.5rem] pb-16">
    <app-tags />
    <app-service-baner />
    <app-instagram-baner />
    <app-trade-beginning />
  </div>
  <app-bot-showcase class="relative bottom-[9rem]" />
  <div class="sm:bg-white bg-[#F5F5F5] rounded-b-[2.5rem]">
    <app-gift-form></app-gift-form>
  </div>
  <div class="sm:w-[75%] w-11/12 mb-6 mt-4">
    <app-card-title
      [title]="'فروشگاه محصولات'"
      [type]="'محصولات ایرانی اکسپرت'"
      [iconlink]="'../../../assets/img/Group 553.png '"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data2"
        [Data]="data"
      ></app-product-card>
    </div>
    <app-card-link
      [btnName]="'فروشگاه'"
      [paragraph]="
        '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
      "
    ></app-card-link>
    <app-card-title
      [title]="'مدرسه ترید'"
      [type]="'دوره اموزشی'"
      [iconlink]="'../../../assets/img/Union 25.png'"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data"
        [Data]="data"
      ></app-product-card>
    </div>
    <app-card-link
      [btnName]="'مدرسه ترید'"
      [paragraph]="
        'در مدرسه ترید ایرانی اکسپرت می توانید آخرین آموزش های مرتبط به بازار های مالی را مشاهده و بررسی کنید'
      "
    ></app-card-link>
  </div>

  <app-banners></app-banners>
  <app-landing-article class="hidden sm:block" />
  <div class="bg-[#F5F5F5] rounded-b-[2.5rem] pb-16">
    <div class="flex overflow-y-scroll">
      <app-landing-article-responsive
        *ngFor="let i of [0, 1, 2]"
        class="block sm:hidden"
      />
    </div>
  </div>

  <div class="sm:bg-[#F5F5F5] flex justify-center flex-col">
    <div class="w-9/12 bg-cover bgi-world-map1 sm:h-[37rem] flex items-center">
      <app-bot-advantages />
    </div>
    <h1 class="sm:text-4xl text-2xl text-green-800 text-center oblique mt-30">
      درخواست مشاوره
    </h1>
    <p class="text-center text-black text-xl sm:text-3xl">
      لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
      بگیرند
    </p>
    <app-consultation-form></app-consultation-form>
  </div>

  <div class="pb-4 pt-2 mb-2">
    <app-questions></app-questions>
    <div class="flex justify-center">
      <div class="w-[64rem]">
        <h2 class="text-3xl font-bold">مقدمه ای بر ایرانی اکسپرت</h2>
        <p>
          ایرانی اکسپرت، از ۱ فوریه سال ۲۰۲۱، با تحقیق و توسعه استراتژی‌ها و
          ابزارهای مختلف معاملاتی بازار فارکس، به مقایسه مزایا ومعایب ربات‌های
          معامله‌گرفارکس موجود .تولید کرد (Automated Trading Machine) ATM
          پرداخت. که در نهایت، با بکارگیری قویترین استراتژی معاملاتی، دستیارترید
          کاملا خودکار کم نظیر خود را با عنوان ربات همچنان بی نظیر بود و نه تنها
          ضرر نکرد، بلکه با سود ATM باید بگیم که تنها ۲۴ روز بعد، در ۲۴ فوریه
          ۲۰۲۲، جنگ روسیه و اوکراین شروع شد. در این زمان، عملکرد ربات .از
          نوسانات وحشتناک دوران جنگ خارج شد ،
          <br />
          مجموعه‌ ایرانی اکسپرت، تصمیم به فروش ربات معامله‌گرفارکس خود گرفتATM.
          <br />

          پس از گذشت ۳ ماه، با اثبات عملکرد بی نظیر ربات ، مشخص شد که شامل این
          موارد می باشدATM: ما، بزرگترین ایرادات ربات‌های معامله‌گررقبا نسبت به
          ربات D&R با توجه به تحقیق و بررسی تیم  مدیریت سرمایه ندارند 
          استراتژی قابل قبولی ندارند  اخبار فاندامنتال را تشخیص نمی‌دهند 
          امکان مدیریت معاملات باز را ندارند در نتیجه، اکسپرت فارکس ما، ازلحظه
          تولید تا به اکنون، اول نوامبر ۲۰۲۳، به صورت متداول در حال آپدیت می
          باشد، که موفق به تولید ورژن ۸ از آن شده‌ایم و تمام نقاط .ضعف ذکر شده
          را رفع کرده‌ایم . عزیزان می‌توانند جهت ثبت سفارش به صفحه فروشگاه سایت
          ایرانی اکسپرت مراجعه نمایند . ایرانی اکسپرت، در کنار فروش ربات، در
          زمینه آموزش ترید در فارکس، انواع تحلیل و برنامه نویسی بازارهای مالی
          نیز، به صورت حضوری یا آنلاین، فعالیت دارد تیم ما همچنین، با توجه به
          اهمیت تحلیل فاندامنتال در بحث ترید، اخبار اقتصادی سایت‌های معتبر و مهم
          را گردآوری و به زبان فارسی ترجمه کرده است. این اخبار، در .دسترس همه
          تریدرها، روی سایت ایرانی اکسپرت به نمایش گذاشته شده است ، همواره درحال
          به‌روزرسانی بوده و یکی از افتخارات ما اینست که آغوش ما همیشه روی معایب
          و انتقادات تریدرها، جهت استفاده از تجربه گرانبهای آن‌ها درATM ربات
          .تقویت عملکرد ربات، بازاست
        </p>
      </div>
    </div>

    <app-video-player [VideoId]="0" [homeScreen]="true"></app-video-player>
  </div>
</div> -->
<div class="sm:bg-white bg-[#F5F5F5]">
  <div>
    <app-hero (scroll)="scroll($event)" />
    <app-tags />
    <app-service-baner />
    <app-instagram-baner />
    <app-trade-beginning />
  </div>

  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[27px] bg-[#F5F5F5] z-10"
    style="position: relative; top: 27px"
  ></div>

  <div class="bg-white">
    <app-bot-showcase
      (scroll)="scroll($event)"
      class="relative bottom-[5rem] z-20"
    />
  </div>
  <div class="px-4 py-3">
    <!-- <app-gift-form></app-gift-form> -->
    <app-card-title
      [title]="'فروشگاه محصولات'"
      [type]="'محصولات ایرانی اکسپرت'"
      [iconlink]="'icon-shop'"
    ></app-card-title>
    <div class="flex justify-center sm:overflow-y-visible overflow-y-auto">
      <app-product-card
        *ngFor="let data of card_data2"
        [Data]="data"
      ></app-product-card>
    </div>
  </div>
  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[27px] bg-[#F5F5F5] z-10"
    style="position: relative; top: 16px"
  ></div>

  <div class="bg-white z-20 pt-5">
    <app-card-link
      [btnName]="'فروشگاه'"
      [paragraph]="
        '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
      "
    ></app-card-link>
  </div>

  <div class="mt-10 px-4 py-3">
    <app-card-title
      [title]="'مدرسه ترید'"
      [type]="'دوره آموزشی'"
      [iconlink]="'icon-trade-school'"
    ></app-card-title>
  </div>
  <!-- ================[به زودی]============== -->
  <div class="flex justify-center flex-col relative mt-32">
    <div
      class="flex justify-center sm:overflow-y-hidden overflow-y-auto opacity-40"
    >
      <app-product-card
        *ngFor="let data of card_data"
        [Data]="data"
      ></app-product-card>
    </div>
    <div
      class="absolute -translate-x-1/2 left-1/2 bg-opacity-50 bg-black flex flex-col justify-center py-12 gap-5 w-[98vw] px-4"
    >
      <img
        loading="lazy"
        src="../../../../../assets/img/Trade-School-Coming-Soon.webp"
        class="max-h-[414px] aspect-[3/4] object-contain w-auto"
        width="342"
        height="180"
        alt="Trade-School"
      />
      <p class="text-center text-3xl font-bold text-black">
        صفحه مدرسه ترید در حال به‌روز‌رسانی میباشد
      </p>
    </div>
  </div>
  <div
    class="rounded-[3.5rem] w-full h-[50px] sm:hidden relative top-[99px] bg-[#F5F5F5] z-10"
  ></div>

  <app-banners> </app-banners>
  <h2 class="sr-only">آخرین بلاگ های به روز</h2>
  <div class="bg-[#F5F5F5] rounded-b-[2.5rem] pb-16">
    <div class="flex overflow-y-scroll">
      <app-landing-article-responsive
        *ngFor="let i of blogData"
        [blogs]="i"
        class="block lg:hidden mb-16"
      />
    </div>
  </div>
  <app-landing-article
    [blogs]="blogData"
    *ngIf="isRecived"
    class="hidden lg:block"
  />
</div>
<div
  class="rounded-b-[3.5rem] w-full sm:h-[140px] h-[40px] sticky sm:bg-white bg-[#F5F5F5] sm:z-10"
></div>
<div
  class="sm:bg-[#F5F5F5] sm:py-32 relative sm:bottom-20 bottom-8 px-2 md:px-0"
>
  <div class="bg-cover bgi-world-map1 lg:mx-32 pb-16 bg-cover-custom">
    <app-bot-advantages />
  </div>
  <span
    id="form-consulting"
    class="sm:text-4xl text-2xl text-green-800 text-center oblique sm:mt-8 block"
  >
    درخواست مشاوره
  </span>
  <p class="text-center text-black text-xl sm:text-3xl">
    لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
    بگیرند
  </p>
  <!-- =================[اسکرول]======= -->
  <div>
    <app-consultation-form></app-consultation-form>
  </div>
</div>
<div class="py-4 mb-2 px-2">
  <app-questions></app-questions>

  <div class="flex justify-center my-3">
    <div class="mx-8">
      <h2 class="text-3xl font-bold">مقدمه ای بر ایرانی اکسپرت</h2>
      <p class="mt-5 font-medium text-justify">
        ایرانی اکسپرت، از ۱ فوریه سال ۲۰۲۱، با تحقیق و توسعه استراتژی‌ها و
        ابزارهای مختلف معاملاتی بازار فارکس، به مقایسه مزایا و معایب ربات‌های
        معامله‌گر فارکس موجود پرداخت. که در نهایت، با بکارگیری قویترین استراتژی
        معاملاتی، دستیار ترید کاملا خودکار کم نظیر خود را با عنوان ربات
        (Automated Trading Machine) ATM تولید کرد.
        <br />
        باید بگیم که تنها ۲۴ روز بعد، در ۲۴ فوریه ۲۰۲۲، جنگ روسیه و اوکراین شروع
        شد. در این زمان، عملکرد ربات ATM همچنان بی‌نظیر بود و نه تنها ضرر نکرد،
        بلکه با سود از نوسانات وحشتناک دوران جنگ خارج شد.
        <br />
        پس از گذشت ۳ ماه، با اثبات عملکرد بی نظیر ربات ATM، مجموعه‌ ایرانی
        اکسپرت، تصمیم به فروش ربات معامله‌گرفارکس خود گرفت.
        <br />
        با توجه به تحقیق و بررسی تیم D&R ما، بزرگترین ایرادات ربات‌های
        معامله‌گررقبا نسبت به ربات ATM، مشخص شد که شامل این موارد می باشد:
        <br />
        مدیریت سرمایه ندارند
        <br />
        استراتژی قابل قبولی ندارند
        <br />
        اخبار فاندامنتال را تشخیص نمی‌دهند
        <br />
        امکان مدیریت معاملات باز را ندارند
        <br />
        در نتیجه، اکسپرت فارکس ما، ازلحظه تولید تا به اکنون، اول نوامبر ۲۰۲۳، به
        صورت متداول در حال آپدیت می باشد، که موفق به تولید ورژن ۸ از آن شده‌ایم
        و تمام نقاط ضعف ذکر شده را رفع کرده‌ایم.
        <br />
        عزیزان می‌توانند جهت ثبت سفارش به صفحه فروشگاه سایت ایرانی اکسپرت مراجعه
        نمایند.
        <br />
        ایرانی اکسپرت، در کنار فروش ربات، در زمینه آموزش ترید در فارکس، انواع
        تحلیل و برنامه نویسی بازارهای مالی نیز، به صورت حضوری یا آنلاین، فعالیت
        دارد.
        <br />
        تیم ما همچنین، با توجه به اهمیت تحلیل فاندامنتال در بحث ترید، اخبار
        اقتصادی سایت‌های معتبر و مهم را گردآوری و به زبان فارسی ترجمه کرده است.
        این اخبار، در دسترس همه تریدرها، روی سایت ایرانی اکسپرت به نمایش گذاشته
        شده است.
        <br />
        ربات ATM، همواره درحال به‌روزرسانی بوده و یکی از افتخارات ما اینست که
        آغوش ما همیشه روی معایب و انتقادات تریدرها، جهت استفاده از تجربه
        گرانبهای آن‌ها در تقویت عملکرد ربات، بازاست.
      </p>
    </div>
  </div>
  <div id="ckeditor" [innerHTML]="articleHtml" class="mt-6 Home"></div>

  <!-- <app-video-player
    [VideoId]="0"
    [homeScreen]="true"
    [Link]="'https://www.w3schools.com/html/mov_bbb.ogg'"
  ></app-video-player> -->
</div>

<!-- <app-favorite /> -->
