<!-- <app-hero />
<div class="bg-white mb-20 pb-6 rounded-b-[2.5rem] items-center">
  <app-tags />
  <app-service-baner />
  <app-instagram-baner />

  <app-bot-showcase />
  <app-trade-beginning />

  <app-gift-form></app-gift-form>

  <div class="flex justify-center">
    <div class="w-[72%]">
      <app-card-title
        [title]="'مدرسه ترید'"
        [type]="'دوره اموزشی'"
        [iconlink]="'../../../assets/img/Union 25.png'"
      ></app-card-title>
      <div class="flex justify-center">
        <app-product-card
          *ngFor="let data of card_data"
          [Data]="data"
        ></app-product-card>
      </div>
      <app-card-link
        [btnName]="'مدرسه ترید'"
        [paragraph]="
          'در مدرسه ترید ایرانی اکسپرت می توانید آخرین آموزش های مرتبط به بازار های مالی را مشاهده و بررسی کنید'
        "
      ></app-card-link>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-[72%] mt-5">
      <app-discount-banner></app-discount-banner>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-[72%]">
      <app-card-title
        [title]="'فروشگاه محصولات'"
        [type]="'محصولات ایرانی اکسپرت'"
        [iconlink]="'../../../assets/img/Group 553.png '"
      ></app-card-title>
      <div class="flex justify-center">
        <app-product-card
          *ngFor="let data of card_data2"
          [Data]="data"
        ></app-product-card>
      </div>
      <app-card-link
        [btnName]="'فروشگاه'"
        [paragraph]="
          '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
        "
      ></app-card-link>
    </div>
  </div>
    <div class="w-[70%] mt-5">
      <app-discount-banner></app-discount-banner>
    </div>
  </div>
</div>

<div
  class="bg-white mb-20 pb-6 sm:rounded-b-[2.5rem] flex flex-col items-center"
>
  <div class="w-9/12 flex flex-col">
    <app-landing-article></app-landing-article>
    <app-banners></app-banners>
    <div class="text-center">
      <h2 class="text-2xl">ویدیو معرفی ربات معامله گر ایرانی اکسپرتATM</h2>
      <p class="text-xl">
        یرانی اکسپرت بر خلاف بسیاری از مجموعه ها که اکسپرت های خود را پس از
        فروش، مشاوره و پشتیبانی نمیدهند، با افتخار اعلام می کند که پس از تحویل
        اکسپرت، تازه شروع سرویس دهی، راهنمایی و خدمات است و متعهد می شود همواره
        در کنار مشتریان خواهد بود. ضمن اینکه ایرانی اکسپرت آمادگی خود را اعلام
        می کند جهت مشاوره و راهنمایی در خصوص انتخاب مناسب ترین بروکر، نقل و
        انتقالات ارزی، نصب و راه اندازی اکسپرت ها، سرور مجازی VPS، انواع تحلیل،
        ترید و....
      </p>
    </div>
    <app-video-player [VideoId]="0" [homeScreen]="true"></app-video-player>
  </div>
</div>
<div>
  <h1 class="text-4xl text-green-800 text-center oblique">
    یک ربات با چندین مزایا
  </h1>
  <p class="text-center text-black text-3xl">سود ما در راستای سود شماست</p>
  <div class="flex justify-center">
    <div class="w-9/12 bg-cover bgi-world-map1 sm:h-[37rem] flex items-center">
      <app-bot-advantages />
    </div>
  </div>

  <h1 class="sm:text-4xl text-2xl text-green-800 text-center oblique mt-30">
    درخواست مشاوره
  </h1>
  <p class="text-center text-black text-xl sm:text-3xl">
    لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
    بگیرند
  </p>
  <app-consultation-form></app-consultation-form>
</div>
 -->
<!-- <div class="">
  <h1 class="text-4xl text-green-800 text-center oblique">
    یک ربات با چندین مزایا
  </h1>
  <p class="text-center text-black text-3xl">سود ما در راستای سود شماست</p>
  <div class="flex justify-center">
    <div class="w-9/12 bg-cover bgi-world-map1 h-[37rem] flex items-center">
      <app-bot-advantages />
    </div>
  </div>

  <h1 class="text-4xl text-green-800 text-center oblique">درخواست مشاوره</h1>
  <p class="text-center text-black text-3xl">
    لطفا اطلاعات خود را ثبت کنید تا همکاران ما در ایرانی اکسپرت با شما تماس
    بگیرند
  </p>
  <app-consultation-form></app-consultation-form>
</div> -->
<!-- <app-slider /> -->
<!-- <app-bot-advantages /> -->
<!-- <app-landing-article /> -->
<!-- <app-sell-info></app-sell-info> -->
<app-hero></app-hero>
<app-tags />
<app-service-baner></app-service-baner>
<app-instagram-baner></app-instagram-baner>
<app-bot-showcase></app-bot-showcase>
<app-questions></app-questions>

<!-- Cards -->

<!-- <div class="flex justify-center">
    <div class="w-[68%]">
      <app-card-title
        [title]="'فروشگاه محصولات'"
        [type]="'محصولات ایرانی اکسپرت'"
        [iconlink]="'../../../assets/img/Group 553.png '"
      ></app-card-title>
      <div class="flex justify-center">
        <app-product-card
          *ngFor="let data of card_data2"
          [Data]="data"
        ></app-product-card>
      </div>
      <app-card-link
        [btnName]="'فروشگاه'"
        [paragraph]="
          '  لیست کامل محصولات ایرانی اکسپرت را در صفحه فروشگاه می توانید بررسی و خریداری کنید'
        "
      ></app-card-link>
    </div>
  </div> -->

<!-- <div class="flex justify-center">
    <div class="w-[68%]">
      <app-card-title
        [title]="'مدرسه ترید'"
        [type]="'دوره اموزشی'"
        [iconlink]="'../../../assets/img/Union 25.png'"
      ></app-card-title>
      <div class="flex justify-center">
        <app-product-card
          *ngFor="let data of card_data"
          [Data]="data"
        ></app-product-card>
      </div>
      <app-card-link
        [btnName]="'مدرسه ترید'"
        [paragraph]="
          'در مدرسه ترید ایرانی اکسپرت می توانید آخرین آموزش های مرتبط به بازار های مالی را مشاهده و بررسی کنید'
        "
      ></app-card-link>
    </div>
  </div> -->

<!-- Removed Designs -->

<!-- <app-sell-info class="w-100" />
  <h1 class="sm:text-5xl text-3xl text-green-800 text-center oblique">
    بخشی از امکانات ویژه ربات معامله گر ؛ ایرانی اکسپرت
  </h1>
  <p class="text-center text-black sm:text-3xl text-xl">
    این محصول دستیار تریدرهاست با قابلیت ترید خودکار که بر اساس الگوریتم هوش
    مصنوعی ژنتیک کار می کند
  </p>
  <app-bot-facilities />
  <h1 class="sm:text-5xl text-3xl text-green-800 text-center oblique">
    برای دریافت جایزه اطلاعات را تکمیل کنید
  </h1>

  <p class="text-center text-black text-xl sm:text-4xl">
    اطلاعات زیر را تکمیل کنید و شانس خود را برای دریافت جایزه امتحان کنید
  </p>
  <div class="flex justify-center">
    <div class="w-9/12">
      <app-trade-beginning></app-trade-beginning>
    </div>
  </div> -->

<!-- <h3 class="text-3xl text-green-800 text-center oblique">
    بخشی از پرتکرارترین سوالات شما
  </h3>
  <p class="text-center text-black text-4xl">اکسپرت چیست و چگونه کار می کند؟</p>
  <div class="flex justify-center">
    <div
      class="sm:w-7/12 w-10/12 flex border-[0.25px] rounded-2xl flex-col sm:flex-row items-center mb-6"
      style="
        box-shadow: 0px 0px 24px -13px rgba(0, 0, 0, 0.75);
        background-image: linear-gradient(
          to bottom,
          #fafafa,
          #f7f7f7,
          #f3f3f3,
          #f0f0f0,
          #ededed
        );
      "
    >
      <div class="sm:w-14 flex items-center secend-order">
        <app-slider class="slider-class" />
      </div>
      <p class="text-2xl p-8 pt-24 sm:w-8/12 text-justify text-black third-order">
        بله، باید مذاکره و نیازسنجی کنیم تا ببینیم چنددرصد از استراتژی شما قابلیت
        پیاده سازی را دارد. امکان دارد 100% از استراتژی شما قابلیت اجرا داشته
        باشد.
        <br />همچنین از تریدرها و همکاران دعوت بعمل می آید؛ اگر ربات با عملکرد
        عالی دارید، میتوانید محصول خود را در فروشگاه ایرانی اکسپرت به فروش
        برسانید.
      </p>
      <div class="sm:w-5/12 w-8/12 border-s-[0.25px] rounded-2xl first-order">
        <img
          class="grey-filter"
          style="
            filter: brightness(79%) saturate(0%);
            -webkit-filter: brightness(79%) saturate(0%);
          "
          src="../../../../../assets/img/Mask Group 11.png"
        />
      </div>
    </div>
  </div> -->
