<div
  class="flex flex-col bg-white p-3 border border-[#EAEAEA] rounded-2xl gap-5"
>
  <div class="flex flex-row justify-between items-center">
    <p>لیست مورد علاقه</p>
    <button
      [disabled]="currencies.length == 0"
      (click)="changingList = !changingList"
      [ngClass]="
        changingList
          ? 'border border-[#0080FF] bg-[#d2e9e6]'
          : 'border border-transparent hover:border-[#0080FF]'
      "
      class="inline-flex items-center gap-2 ml-4 rounded-full px-3 pt-1 pb-0.5 transition-colors text-[#0080FF] disabled:opacity-25"
    >
      <p class="text-inherit">مدیریت لیست</p>
      <span class="inline-flex"><i class="ie-icon ie-config"></i></span>
    </button>
  </div>
  <div dir="ltr" class="basis-full flex flex-row flex-wrap py-0 px-3 gap-3">
    <ng-container *ngIf="currencies.length > 0">
      <ng-container *ngFor="let currency of currencies">
        <!-- Each Graph -->
        <div
          dir="rtl"
          *ngIf="loadGraphComponent"
          class="relative inline-block min-h-[202px]"
        >
          <app-graph-finance
            [currency]="currency"
            [ngClass]="changingList ? 'blur-[1px]' : ''"
          ></app-graph-finance>
          <div @fadeIn *ngIf="changingList" class="fav-card-container">
            <div
              class="flex justify-center items-center flex-col h-full select-none"
            >
              <button
                [disabled]="disableBtn"
                [ngClass]="disableBtn ? 'cursor-wait' : ''"
                class="delete-fav-btn"
                (click)="deleteFav(currency.id)"
              >
                &times;
              </button>
              <p class="text-[#888888] font-medium text-lg">
                حذف از علاقه مندی
              </p>
            </div>
          </div>
        </div>
        <!-- Each Graph -->
      </ng-container>
    </ng-container>

    <!-- Holder -->
    <div
      *ngIf="!loadGraphComponent"
      class="relative inline-block min-h-[202px] min-w-[200px]"
    ></div>
    <!-- Holder -->

    <ng-container *ngIf="currencies.length == 0 && loadGraphComponent">
      <div
        class="relative flex flex-col min-h-[202px] w-full items-center justify-center gap-3"
      >
        <p class="text-[#0080FF] font-medium text-lg text-center">
          شما در حال حاضر ارزی را برای نمایش داده انتخاب نکرده‌اید
        </p>
        <button
          (click)="openModal()"
          class="inline-flex items-center gap-2 ml-4 rounded-full px-3 pt-1 pb-0.5 transition-colors text-[#0080FF] border border-[#0080FF] hover:bg-[#d2e9e6]"
        >
          <p class="text-inherit">افزودن به لیست</p>
          <span class="inline-flex w-fit text-xl font-bold">+</span>
        </button>
      </div>
    </ng-container>

    <!-- Add More and Open Modal Button -->
    <ng-container *ngIf="loadGraphComponent && currencies.length > 0">
      <div
        (click)="openModal()"
        @fadeIn
        class="relative flex min-h-[202px] min-w-[200px] h-full cursor-pointer"
      >
        <div
          class="bg-[#FAFAFA] border-[#EAEAEA] border rounded-2xl flex basis-full justify-center items-center"
        >
          <span class="block"><i class="ie-icon ie-plus"></i></span>
        </div>
      </div>
    </ng-container>
    <!-- Add More and Open Modal Button -->
  </div>
</div>

<app-modal [header]="true" [overflow]="'hidden'" *ngIf="showModal">
  <div header>
    <p class="font-black text-lg text-[#0080FF]">تمامی جفت ارزهای سایت</p>
  </div>
  <div content class="bg-white my-12 md:w-[50vw] md:max-w-[520px]">
    <ul class="list-none max-h-[90vh] overflow-auto scroll-custom" dir="ltr">
      <ng-container *ngFor="let currency of allCurrencies; let i = index">
        <li class="hover:bg-[#FAFAFA] py-2 cursor-pointer">
          <button
            [disabled]="disableBtn"
            [ngClass]="disableBtn ? 'cursor-wait' : ''"
            (click)="addFav(currency.id)"
            class="w-full text-start"
          >
            <p class="font-medium pl-6">
              {{ currency.title.slice(0, 3) + " " + currency.title.slice(3) }}
            </p>
          </button>
        </li>

        <!-- Spacer -->
        <li
          *ngIf="i < allCurrencies.length - 1"
          class="border-b border-[#E8E8E8]"
        ></li>
        <!-- Spacer -->
      </ng-container>
    </ul>
  </div>
</app-modal>
