<div
  class="flex flex-col bg-white p-3 border border-[#EAEAEA] rounded-2xl gap-5"
>
  <div class="flex flex-row justify-between items-center">
    <p>لیست مورد علاقه</p>
    <button
      (click)="changingList = !changingList; openCurrenciesModal()"
      [ngClass]="
        changingList
          ? 'border border-[#0080FF] bg-[#d2e9e6]'
          : 'border border-transparent hover:border-[#0080FF]'
      "
      class="inline-flex items-center gap-2 ml-4 rounded-full px-3 pt-1 pb-0.5 transition-colors text-[#0080FF]"
    >
      <p class="text-inherit">مدیریت لیست</p>
      <span class="inline-flex"><i class="ie-icon ie-config"></i></span>
    </button>
  </div>
  <div class="basis-full flex flex-row flex-wrap justify-end py-0 px-3 gap-3">
    <ng-container *ngFor="let currency of currencies">
      <!-- Each Graph -->
      <div *ngIf="loadGraphComponent" class="relative inline-block">
        <app-graph-finance
          [currency]="currency"
          [ngClass]="changingList ? 'blur-[1px]' : ''"
        ></app-graph-finance>
        <div @fadeIn *ngIf="changingList" class="fav-card-container">
          <div
            class="flex justify-center items-center flex-col h-full select-none"
          >
            <button
              [disabled]="disableBtn"
              [ngClass]="disableBtn ? 'cursor-wait' : ''"
              class="delete-fav-btn"
              (click)="deleteFav(currency.id)"
            >
              &times;
            </button>
            <p class="text-[#888888] font-medium text-lg">حذف از علاقه مندی</p>
          </div>
        </div>
      </div>
      <!-- Each Graph -->
    </ng-container>
    <!-- <div class="relative inline-block">
      <div class="h-full"></div>
      <div @fadeIn *ngIf="changingList" class="fav-card-container">
        <div
          class="flex justify-center items-center flex-col h-full select-none"
        >
          <span class="delete-fav-btn" (click)="changingList = false"
            >&times;</span
          >
          <p class="text-[#888888] font-medium text-lg">حذف از علاقه مندی</p>
        </div>
      </div>
    </div> -->
  </div>
</div>

<app-modal [header]="true" [overflow]="'auto'" *ngIf="showModal">
  <div content class="bg-slate-400">
    <ng-container *ngFor="let currency of allCurrencies">
      <p (click)="addFav(currency.id)">
        {{ currency.title }}
      </p>
    </ng-container>
  </div>
</app-modal>
