<div
  class="flex flex-row max-w-screen-2xl justify-center py-5 px-2 md:px-16 lg:px-20 items-start"
>
  <checkout-detail-card
    *ngIf="loadDetailSection"
    class="hidden lg:block basis-1/5"
  />

  <!-- Session User Details -------------------------------------------------------------->

  <div class="basis-full lg:basis-4/5" *ngIf="session == 0">
    <div class="flex flex-col px-5">
      <div class="space-y-2">
        <strong
          *ngIf="loadDetailSection"
          class="text-base md:text-lg lg:text-2xl"
          >کاربر گرامی {{ user.firstName }} {{ user.lastName }}</strong
        >
        <p class="text-black">
          لطفا اطلاعات خود را جهت تکمیل فرآیند خرید کامل کنید
        </p>
      </div>
      <div class="seperator-hz-1 lg:hidden my-4"></div>

      <div class="lg:hidden flex flex-row gap-4">
        <div class="basis-full max-w-[6.25rem] rounded-xl">
          <img
            [src]="imageUrl"
            class="w-full rounded-xl aspect-square object-cover"
            alt="product-img"
            width="20"
            height="30"
          />
        </div>
        <div
          *ngIf="basket.length > 0"
          class="basis-full flex flex-col px-1 py-2"
        >
          <strong> {{ basket[0].title || "" }}</strong>
          <small class="block mt-2 mb-1"> {{ basket[1].title || "" }}</small>
          <!-- <small class="block">{{ basket[1].title }}</small> -->
          <div class="flex flex-row justify-between items-center mt-auto">
            <p>
              <b (click)="locateBack()" class="text-sm text-[#0088FF] font-bold"
                >تغییر پلن</b
              >
            </p>
            <strong class="text-3xl font-bold">{{ price | currency }}</strong>
          </div>
        </div>
      </div>
      <div class="seperator-hz-1 lg:hidden mt-4"></div>

      <div class="form-control form-control-lg">
        <form [formGroup]="formGroup" (ngSubmit)="nextSession()">
          <div class="each-row flex-col lg:flex-row">
            <div
              class="relative basis-full lg:basis1/2 space-y-2"
              (mouseleave)="showDialog(false)"
            >
              <label [for]="formsControlInit[0].name">{{
                formsControlInit[0].label
              }}</label>
              <input
                [id]="formsControlInit[0].name"
                [ngClass]="formsControlInit[0].hasErr ? 'has-error' : ''"
                type="text"
                formControlName="{{ formsControlInit[0].name }}"
                [placeholder]="
                  formsControlInit[0].placeholder
                    ? formsControlInit[0].placeholder
                    : ''
                "
                class="input-with-icon"
              />
              <span class="left-icon !top-4 !left-4">
                <img
                  (mouseenter)="showDialog(true)"
                  src="assets/icon/info.svg"
                  alt="info"
                  width="33"
                  height="33"
                  class="relative top-2"
                />
              </span>
              <span
                *ngIf="isShowDialog"
                (mouseleave)="showDialog(false)"
                class="tutorial-vid-container"
              >
                <a
                  routerLink="../assets/Gif/account-number-gif.gif"
                  target="_blank"
                >
                  <img
                    src="assets/Gif/account-number-gif.gif"
                    alt="tutorial-gif"
                    width="250"
                  /> </a
              ></span>
            </div>
            <div class="relative basis-full lg:basis1/2 space-y-2">
              <label [for]="formsControlInit[1].name">{{
                formsControlInit[1].label
              }}</label>
              <input
                [id]="formsControlInit[1].name"
                type="date"
                [min]="today"
                (input)="OnChangeDate($any($event.target).value)"
                formControlName="{{ formsControlInit[1].name }}"
                [placeholder]="
                  formsControlInit[1].placeholder
                    ? formsControlInit[1].placeholder
                    : ''
                "
                class="input-with-icon"
              />
            </div>
          </div>
          <div class="each-row flex-col lg:flex-row">
            <div
              class="basis-full lg:basis1/2 discount-container justify-around flex flex-col gap-4"
            >
              <strong>روش پرداخت خود را مشخص کنید</strong>
              <div class="flex flex-row gap-5">
                <ng-container *ngFor="let item of paymentMethods">
                  <div
                    (click)="changePaymentMethod(item)"
                    [class.disabled]="item.disabled"
                    [ngClass]="item.active ? 'active' : ''"
                    class="basis-1/2 gap-2 px-5 py-1 payment-method-container"
                  >
                    <span class="right-section">
                      <b [ngClass]="item.id == 2 ? 'translate-y-2' : ''">{{
                        item.title
                      }}</b>
                      <small *ngIf="item.cap">{{ item.cap }}</small></span
                    >
                    <span class="left-section">
                      <img
                        [src]="item.img"
                        [alt]="item.imgAlt ? item.imgAlt : ''"
                        width="205"
                        height="100"
                      />
                    </span>
                  </div>
                </ng-container>
                <!-- <div
                  class="basis-1/2 gap-2 px-5 py-1 payment-method-container disabled"
                >
                  <span class="right-section">
                    <b class="translate-y-2">TC Pay</b>
                  </span>
                  <span class="left-section -z-10">
                    <img src="assets/img/tcpay.svg" alt="TC-PAY" />
                  </span>
                </div> -->
              </div>
            </div>
            <div
              class="basis-full lg:basis1/2 discount-container flex flex-row gap-4 items-end"
            >
              <div class="relative basis-3/4 space-y-2">
                <label [for]="formsControlInit[2].name">{{
                  formsControlInit[2].label
                }}</label>
                <input
                  type="text"
                  [id]="formsControlInit[2].name"
                  formControlName="{{ formsControlInit[2].name }}"
                  [placeholder]="
                    formsControlInit[2].placeholder
                      ? formsControlInit[2].placeholder
                      : ''
                  "
                  class="input-without-icon input-discount"
                />
              </div>
              <button
                [disabled]="
                  orderModel.discountCode ||
                  formGroup.controls[formsControlInit[2].name].value ==
                    undefined ||
                  formGroup.controls[formsControlInit[2].name].value == '' ||
                  formGroup.controls[formsControlInit[2].name].value == null ||
                  formGroup.controls[formsControlInit[2].name].value.trim()
                    .length == 0
                "
                (click)="checkDiscount()"
                type="button"
                class="basis-1/4 text-white disabled:opacity-25 bg-blue-700 rounded-lg text-lg btn-discount"
              >
                ثبت
              </button>
            </div>
          </div>
          <div class="each-row flex-col lg:flex-row">
            <div class="basis-1/2 h-custom pt-2">
              <checkbox [size]="'lg'" (checked)="changeCheckboxValue($event)">
                <p class="text-lg pt-1.5 font-medium" title>
                  خرید از سایت ایرانی اکسپرت به منزله قبول
                  <button
                    (click)="rulesModal()"
                    type="button"
                    class="text-blue-800 p-0 m-0 bg-transparent cursor-pointer"
                  >
                    قوانین</button
                  >میباشد
                </p>
              </checkbox>
            </div>
            <div class="basis-1/2 h-custom flex gap-2 flex-row-reverse">
              <button
                class="lg:hidden btn btn-prev-session"
                (click)="locateBack()"
                type="reset"
              >
                انصراف
              </button>
              <button
                [disabled]="!(formGroup.valid && acceptRules)"
                (click)="nextSession()"
                type="submit"
                class="w-full bg-blue-700 rounded-lg h-full text-2xl font-black disabled:opacity-50 text-white"
              >
                مرحله بعد
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Session User Details -------------------------------------------------------------->

  <!-- Payment Details -------------------------------------------------------------->

  <div class="basis-full lg:basis-4/5" *ngIf="session == 1">
    <div class="flex flex-col px-5">
      <div class="space-y-2">
        <strong class="text-base md:text-lg lg:text-2xl"
          >برای شماره حساب "{{ orderModel.accountNumber }}" ثبت شد</strong
        >
        <p class="text-black">
          را وارد کنید TX مقدار {{ orderModel.totalPrice }} تتر به آدرس کیف پول
          زیر واریز کنید و کد تایید تراکنش
        </p>
      </div>
      <div class="seperator-hz-1 lg:hidden my-4"></div>

      <div class="lg:hidden flex flex-row gap-4">
        <div class="basis-full max-w-[6.25rem] rounded-xl">
          <img
            src="assets/img/Expert 1.webp"
            class="w-full rounded-xl"
            alt="product-img"
            width="205"
            height="100"
          />
        </div>
        <div class="basis-full flex flex-col px-1 py-2">
          <strong> {{ basket[0].title }}</strong>
          <small class="block mt-2 mb-1"> {{ basket[1].title }}</small>
          <!-- <small class="block">{{ basket[1].title }}</small> -->
          <div class="flex flex-row justify-between items-center mt-auto">
            <p>
              <b (click)="locateBack()" class="text-sm text-[#0088FF] font-bold"
                >تغییر پلن</b
              >
            </p>
            <strong class="text-3xl font-bold">{{
              orderModel.totalPrice | currency
            }}</strong>
          </div>
        </div>
      </div>
      <div class="seperator-hz-1 lg:hidden mt-4"></div>

      <div class="flex flex-row mt-6 mb-2">
        <div class="basis-2/5 hidden select-none lg:inline-flex items-center">
          <img
            class="mt-2 select-none w-full"
            alt="QR-CODE-WAllet"
            src="assets/img/qrcode.svg"
            width="205"
            height="100"
          />
        </div>
        <div
          class="form-control form-control-lg lg:!basis-3/4 !basis-full !mt-0"
        >
          <form>
            <div class="each-row flex-col lg:flex-row">
              <div
                class="relative basis-full lg:basis1/2 space-y-2"
                (mouseleave)="showDialog(false)"
              >
                <label for="">آدرس کیف پول</label>
                <input
                  #wallet
                  type="text"
                  class="input-with-icon custom-disabled !text-xs lg:!text-lg"
                  disabled
                  value="TPpBFr6NfgtVCAaTqenzRi8yLAEx4m93wE"
                />
                <span class="left-icon !top-6 !left-4">
                  <img
                    (click)="copyToClipboard(wallet); timeout()"
                    [src]="
                      ticked
                        ? 'assets/icon/copy-icon-ticked.svg'
                        : 'assets/icon/copy-icon.svg'
                    "
                    alt="copy-icon"
                    width="205"
                    height="100"
                    class="w-full"
                  />
                  <span
                    (click)="showClipboardContent = false; deleteTimeOut()"
                    [ngClass]="showClipboardContent ? 'ticked' : 'not-ticked'"
                    class="absolute w-40 clipboard-toast"
                  >
                    <p>آدرس کیف پول کپی شد</p>
                  </span>
                </span>
              </div>
            </div>
            <div class="each-row flex-col lg:flex-row">
              <div class="relative basis-full lg:basis1/2 space-y-2">
                <label for="">کد تایید تراکنش</label>
                <input
                  type="text"
                  class="input-with-icon"
                  (input)="trxCode($any($event.target).value)"
                />
              </div>
            </div>
            <div class="each-row flex-col lg:flex-row">
              <div class="relative basis-full lg:basis1/2 space-y-2">
                <label for="">رمز عبور سرمایه گذار</label>
                <input
                  type="text"
                  class="input-with-icon"
                  (input)="investMentCode($any($event.target).value)"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="h-52 space-y-2">
        <strong class="block font-medium">توضیحات</strong>
        <textarea
          class="w-full h-full max-h-44 rounded-lg"
          placeholder="اگر نیاز به ارائه توضیح دارید در این قسمت قرار دهید"
        ></textarea>
      </div>
      <div class="flex lg:flex-row flex-col basis-full mt-4">
        <div class="basis-1/2">
          <p class="text-sm font-normal pl-5 text-black text-justify">
            ایرانی اکسپـــرت هیچ مسئولیتـی نسبــت به واریزی هــای اشتبــاه شما
            ندارد لـذا نسبـت به انتخاب ورژن درسـت انتقــال ارز اطمینان حاصل
            فرمایید
          </p>
        </div>
        <div class="basis-1/2 flex items-center h-14 gap-4 mt-2">
          <button class="btn btn-prev-session" (click)="session = 0">
            مرحله قبل
          </button>
          <button (click)="createOrder()" class="btn btn-submit">
            ثبت سفارش
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [header]="true" [overflow]="'auto'" *ngIf="modalStatus">
  <div content class="p-4 overflow-auto">
    <ul class="space-y-3">
      <li>
        1. کاربر تایید می‏نماید پیش از اجرای اکسپرت، راهنمای PDF و ویـدیوها را
        خواهد دید که به نـحوه نصب، اجرا و کـارکرد اکسپرت مسلط شود.
      </li>
      <li>
        2. کاربر تـایید می‏نماید پیش از اجرای اکسپرت در محیط Real، اکسپرت را در
        محیط آزمایشی اجرا کرده و تنظیمات و مدیریت سرمایه را متناسب با سرمایه و
        ریسک پذیری خودش بدست آورده است.
      </li>
      <li>
        3. سرمایه کاربر در کابین و حساب معاملاتی خود در کارگزاری با انتخاب خود
        می‏باشد و تحت هیچ شرایطی هیچ‏یک از رمز / رمزهای عبور (رمز کابین / رمز
        تریدر) را در اختیار هیچ فردی (حتی ایرانی اکسپرت) قرار نمی‏دهد. در غیر
        اینصورت مسئولیت تمام مخاطرات برعهده خودش می‏باشد.
      </li>
      <li>
        4. تمام مسائل جانبی لازم بـرای استفاده از اکسپرت مانند بند 5 و 6 شـامل
        سیستم مورد نیاز یا VPS، کـارگزاری و تنظیمات به عهده کاربر می‏باشد.
      </li>
      <li>
        5. کاربر تایید می‏نماید در مورد بروکر و کارگزاری، تحقیقات لازم را انجام
        داده و خودش تصمیم‌گیری و انتخاب می نماید.
      </li>
      <li>
        6. کاربر تایید می‏نماید سیستم مورد نیاز (کامپیوتر شخصی یا سرور VPS) را
        خودش تصمیم‏گیری، انتخاب و خرید / تمدید نماید
      </li>
      <li>
        7. فعالیت در بازارهای مالی نیازمند گذراندن آموزش و کسب تجربه می باشد،
        حتی فعالیت به صورت AutoTrade و استفاده از اکسپرت هم نیازمند مهارت است.
        هنگامیکه سرمایه در حساب کاربر است و استراتژی معاملاتی یا مدیریت اکسپرت
        بر عهده کاربر است و شرایط جوی مانند نرم افزار متاتریدر و VPS تحت مدیریت
        کاربر است، در نتیجه سود / زیان حاصله بر عهده کاربر بوده و هیچ فرد حقیقی
        / حقوقی نمی تواند مسئولیت سود یا زیان یا سرمایه را بپذیرد.
      </li>
      <li>
        8. بازارهای مالی پـُر ریسک مانند بورس تهران، فارکس و ارزدیجیتال دارای
        ریسک بالایی هستند و همواره خطر از دست رفتن تمام سرمایه یا بخشی از آن
        وجود دارد. لذا مسئولیت هرگونه سود / زیان، حتی در اصل سرمایه بر عهده
        کاربر می‏باشد
      </li>
    </ul>
    <div class="flex justify-end items-end p-4">
      <button
        (click)="submitModal()"
        type="button"
        class="btn-buy font-bold px-5 py-3 text-white flex rounded-full bg-[#3246d3]"
      >
        تایید و نهایی کردن خرید
      </button>
    </div>
  </div>
</app-modal>
