.filter-icn {
  filter: drop-shadow(0px 0px 1px rgb(209, 207, 207));
  border-radius: 4px;
  font-size: 1.725rem;
}
.symbol-active-tab {
  background: #e4f1ff !important;
  border-color: #0080ff !important;
}
.symbol-card {
  min-width: 5.5rem;

  scale: 0.9;
  max-width: 7.5rem;
  justify-content: space-around;
  border-width: 2px;
  border-radius: 10px;
  border-color: #eaeaea;
  font-weight: 500;
}
