.carousel-box{
    background: rgb(223,237,255);
    background: linear-gradient(180deg, rgba(223,237,255,1) 45%, rgba(255,255,255,1) 70%);  
    width: 100%;
    border-radius: 25px;
}
.title{
    font-style: oblique;
    color: #3246D3;
    font-size: 1.7rem;
}
// <!-- ==============[کاروسل]============= -->
.row-btn{
    display: flex;
    justify-content: center;
}
.cart{
  scale: 0.8;
  margin-left: -1rem;
  margin-bottom: -2rem;
  margin-right: -2.5rem;
  margin-top: -2rem;
}
drag-scroll{
  width: 100%;
}
.btn{
  border: #0080FF solid 2.5px;
  border-radius: 41px;
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-btn{
  font-family: monospace;
  color: #0080FF;
  font-size: 2rem;
  font-weight: 900;
}
.icon-disable{
    color: #8D8D8D;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
}
.btn-disable{
  border: #8d8d8d solid 2.5px;
  border-radius: 41px;
  width: 2.3rem;
  height: 2.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}