// <!-- ===================[دسته بندی]=================== -->
.category-box{
  background-color: white;
  border: #EAEAEA solid 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  width: 100%;
}
.title-box{
    color: black;
}
.category-row{
    display: inline-flex;
    margin: 1rem;
}
.link-detail{
  color: #717171;
  background: #F3F3F3;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 30px;
  margin-top: 0.5rem;
}
// <!-- ===================[مدرسه فارکس ]=================== -->
.school-box{
  background-color: white;
  border: #EAEAEA solid 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
}
.box-video{
  background-color: #FAFAFA;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
}
.video{
    background-color: white;
}
.video-title{
  font-weight: 600;
  color: #7D7D7D;
  font-size: 0.9rem;
}
.time-video{
color: #7D7D7D;
font-size: 0.8rem;
background-color: #F5F5F5;
padding: 0.2rem 0.8rem 0.2rem 0.8rem;
border-radius: 22px;
}
.title1-row{
  color: black;
}
.title2-row{
  color: #098B41;
  font-size: 1.2rem;
}
// // <!-- ============[تبلیغات]========= -->
.add-box{
  position: sticky;
  top: 5px;
}
.add-blog{
width: 100% ;
object-fit: cover;
}