.row{
  margin-right: 135px;
}
.divid-h{
    font-weight: bold;
    font-size: 15px;
    color: #3246D3;
  }
  .l{
    font-size: 50px;
    font-weight: 900;
  }
  .faq-h{
    margin-top: -19px;
    color: black;
        font-size: 25px;
        font-weight: 700;
      }
  