.divid-h{
    font-weight: bold;
    font-size: 15px;
    color: #3246D3;
  }
  .l{
    font-size: 50px;
    font-weight: 900;
  }
  .bot-h{
    color: black;
        font-size: 25px;
        font-weight: 700;
      }
  