<form [formGroup]="form" (ngSubmit)="signup()">
  <div class="container-inputs gap-3">
    <ng-container *ngFor="let control of formControls; let i = index">
      <div class="input-container">
        <div class="relative">
          <label [for]="control.name"></label>
          <input
            [id]="control.name"
            autocomplete="off"
            [ngClass]="control?.hasErr ? 'has-error' : ''"
            [class]="control.class ? control.class : 'input-without-icon'"
            [type]="control?.type ? control.type : 'text'"
            formControlName="{{ control.name }}"
            [placeholder]="control?.placeholder ? control.placeholder : ''"
          />
          <ng-container *ngFor="let icon of control?.icon">
            <span [class]="icon.placement">
              <ng-container *ngIf="icon.placement == 'left-icon'">
                <img
                  loading="lazy"
                  (click)="showPassClick(icon, i)"
                  [@rotatedState]="state"
                  [src]="icon.src"
                  [alt]="icon.alt"
                  width="20px"
                  height="15px"
                />
              </ng-container>
              <ng-container *ngIf="icon.placement == 'right-icon'">
                <img
                  [src]="icon.src"
                  [alt]="icon.alt"
                  loading="lazy"
                  width="20px"
                  height="15px"
                />
              </ng-container>
            </span>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div>
          <!-- ==========[شماره موبایل]======== -->
           <div class="border-input-box rounded-md w-[16.6rem] overflow-hidden mb-3" [ngClass]="!showCountriesList ? 'h-12' : 'h-[12200px]'">

            <div class="flex box-selected-countries">
    
              <input (input)="fillMobileValue($any($event.target).value)" type="text" class="bg-white outline-input w-[8.75rem] mr-2 top-1 relative text-sm" placeholder="شماره همراه">
              <div class="flex scale-90 relative top-1 cursor-pointer" dir="ltr" (click)="countriesDropDown()">
                <i class="scale-6 icon-modal mr-2" [ngClass]="!showCountriesList ? 'icon-up' : 'icon-down'"></i>
                <i class="w-8 h-6 rounded-md mr-3 relative -top-1 flag fi fi-{{ countrieIcon| lowercase}}"></i>
                <p class="text-black">{{'(+' + countriePhone + ')'}}</p>
              </div>
              
            </div>
    
            <div class="w-[16.6rem]">
    
              <div class="relative flex w-64 mb-4 bg-[bisque] rounded-md h-8 mr-1 mt-2">
                <i class="search-icon-white absolute z-10 scale-6 top-1 right-56"></i>
                <input (input)="fillSearchValue($any($event.target).value)" type="search" class="bg-[bisque] outline-input w-52 h-7 mr-2 top-1 relative text-sm" dir="ltr" placeholder="search-country">
              </div>
    
              <ng-container *ngFor="let item of countries| serchFilter:search">
                <div class="flex countries-row" (click)="countriesSelected(item.code, item.phone)">
                  <i class="w-8 h-6 rounded-md mr-3 relative -top-1 flag fi fi-{{ item.code| lowercase}}"></i>
                  <p class="text-black mr-2">{{item.name}}</p>
                  <p class="text-black">{{'(+' + item.phone + ')'}}</p>
                </div>
              </ng-container>
    
            </div>
    
          </div>

      <!-- ==========[نحوه آشنایی]======== -->
      <div class="flex drop-down flex-col overflow-hidden w-[268px] max-w-[287px]"  [ngClass]="!dropDown ? 'h-[9.5rem]' : 'h-12'">
        <div class="flex items-center justify-between mt-1 cursor-pointer" (click)="toggleDropDown()">
          <div class="flex">
            <ng-container *ngIf="wayKnowTypeIcon">
              <img class="ml-2" [src]="wayKnowTypeIcon" alt="icon-modal">
            </ng-container>
            <p>{{wayKnowTypeName}}</p>
          </div>
          <i class="icon-modal" [ngClass]="!dropDown ? 'icon-up' : 'icon-down'"></i>
        </div>
  
        <div class="grid grid-cols-2 gap-6 mb-3 mt-6 w-[250px] max-w-[287px]">
            <ng-container *ngFor="let item of wayKnowType; let i = index">
              <div class="flex mx-2 cursor-pointer hover:opacity-100" [ngClass]="knowType == item.id ? 'opacity-100' : 'opacity-25'" (click)="toggle(i , item.label , item.icon)">
                <img [src]="item.icon" alt="icon-modal">
                <p class="mr-2 text-black">{{item.label}}</p>
              </div>
            </ng-container>
          </div>
      </div>



      <ng-container *ngIf="activeError1">
        <p class="text-red-700 md:text-base text-sm w-56 mt-3">لطفا نحوه آشنایی با ما را بیان کنید</p>
      </ng-container>
      <ng-container *ngIf="activeError2">
        <p class="text-red-700 md:text-base text-sm w-56 mt-3">لطفا شماره موبایل را وارد کنید</p>
      </ng-container>
      <!-- <ng-container *ngIf="activeError3">
        <p class="text-red-700 md:text-base text-sm w-56 mt-3">لطفا فرمت موبایل را به درستی وارد کنید</p>
      </ng-container> -->
      <!-- <ng-container *ngIf="activeError2">
        <p class="text-red-700 md:text-base text-sm w-56 mt-3">لطفا کد معرف ار وارد کنید</p>
      </ng-container> -->
    </div>

    <button
    class="button-submit rounded-lg text-white font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 col-span-2"
      type="submit"
    >
      عضویت
    </button>
  </div>
</form>
<p class="text-small font-black text-black mt-2">
  حساب کاربری دارید؟<button
    (click)="changeView.emit(true)"
    class="text-blue-800 p-0 m-0 bg-transparent cursor-pointer"
  >
    وارد شوید
  </button>
</p>

<div class="flex flex-row my-2 items-center">
  <span class="flex-1 border-b-2 border-b-gray-400 mx-1"></span>
  <div class="flex-initial">
    <p class="text-xs font-semibold">یا از روش های زیر اقدام به ورود کنید</p>
  </div>
  <span class="flex-1 border-b-2 border-b-gray-400 mx-1"></span>
</div>
<div class="flex flex-row justify-center">
  <span
    class="flex p-2.5 mx-2 bg-slate-50 border border-gray-300 rounded-full hover:bg-slate-200 transition-colors cursor-pointer"
    ><img
      loading="lazy"
      src="assets/icon/google.svg"
      alt="Google-Icon"
      width="20px"
      height="15px"
  /></span>
  <span class="flex p-2.5 mx-2 facebook-icon border rounded-full cursor-pointer"
    ><img
      loading="lazy"
      src="assets/icon/facebook.svg"
      alt="Facebook-Icon"
      width="20px"
      height="15px"
  /></span>
</div>
