@import "src/sass/colors";

.container-inputs {
  min-width: 280px;
  max-width: 290px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 0.5fr));
}
.input-container {
  min-width: unset;
  grid-column: span 2 / span 2;
}

.button-submit {
  font-size: 18px;
  padding: 6px 26px 5px 27px;
  transition: background-color 0.2s ease;
  background-color: $blue;
  &:hover {
    box-shadow: -7px 11px 9px #00000016;
  }
  &:disabled {
    background-color: #c1c2ca !important;
  }
}
.code-box {
  margin: 0 0.25rem;
  text-align: center;
  display: block;
  width: 43px;
  border-radius: 12px;
  padding: 6px 5px 2px 4px;
  border: 2px solid #e3e3e3;
}
.code-input {
  font-size: 1.4rem !important;
  font-weight: 500;
  text-align: center;
  outline: 0;
  background-color: transparent !important;
  width: 100%;
}
