<div class="flex flex-col justify-center items-center gap-5">
  <img
    class="w-32 aspect-video object-contain"
    src="assets/img/logo.webp"
    alt="Irani-Expert"
  />
  <div class="flex flex-col items-center justify-center my-5 px-7">
    <strong class="font-black sm:text-lg text-sm">بازیابی رمز عبور</strong>
    <p class="sm:text-sm text-xs">
      لطفا برای دریافت رمز جدید اطلاعات را تکمیل کنید
    </p>
  </div>
</div>

<form class="flex justify-center">
  <div class="container-inputs gap-3">
    <ng-container *ngFor="let control of formControl; let i = index">
      <div class="input-container">
        <div class="relative">
          <label [for]="control.name"></label>
          <input
            [id]="control.name"
            autocomplete="off"
            class="input-without-icon"
            [type]="control?.type ? control.type : 'text'"
            [placeholder]="control?.placeholder ? control.placeholder : ''"
          />
          <ng-container *ngFor="let icon of control?.icon">
            <span [class]="icon.placement">
              <ng-container *ngIf="icon.placement == 'right-icon'">
                <img [src]="icon.src" [alt]="icon.alt" />
              </ng-container>
            </span>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="col-span-2 text-center">
      <small class="text-12">کد تائید به شماره 09302656539 ارسال شد</small>
    </div>
    <!-- <div class="px-2 col-span-2 flex max-w-full justify-center items-center">
      
    </div> -->
    <button
      [disabled]="loading"
      (click)="sendReq(session)"
      class="relative button-submit rounded-lg text-white font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 col-span-2"
      type="button"
    >
      {{ btnText }} <spin *ngIf="loading" />
    </button>
  </div>
</form>
<!-- <ng-container *ngIf="icon.placement == 'left-icon'">
                <img
                  (click)="showPassClick(icon, i)"
                  [@rotatedState]="state"
                  [src]="icon.src"
                  [alt]="icon.alt"
                />
              </ng-container> -->
