<div class="lg:!mr-14 row">
  <span class="divid-h lg:!text-base">عملکرد ربات معامله گر ATM </span>
  <h6 class="text-base text-black font-semibold mb-4 lg:!text-2xl">
    {{data[0].title}}
  </h6>
</div>
<div class="flex justify-center">
  <div class="mt-5 mb-10">
    <div class="text-center mb-8 mx-4 lg:mx-0">
      <div id="ckeditor" [innerHTML]="articleHtml" class="mt-6"></div>
      <!-- <p class="text-black text-sm">
        {{data[0].description}}
      </p> -->
    </div>
    <!-- ==========[ویدیو]=========== -->
    <div class="aspect-video mx-4 lg:mx-0">
      <app-video-player
        class="lg:w-1/2 sm:h-[27rem] h-[50vw]"
        [VideoId]="0"
        [Link]="videoUrl"
      ></app-video-player>
    </div>
  </div>
</div>
