<div class="row">
    <span class="divid-h">عملکرد ربات معامله گر ATM </span>
    <h6 class="b-t-h mb-4">
      بک تست 6 ماهه با بالانس 500 دلاری (EUR/USD)
    </h6>
</div>
<div class="w-full row-body">
    <div class="body mt-16 mb-10">
        <div class="text-center mb-8">
            <p class="body-p">
                چند نکته درباره بک تست:1.در بک تست شما امکان استفاده از پنل مانیتورینگ رو ندارید 2.اخبار
                در بک تست لحاظ نمیشه
            </p>    
        </div>
        <!-- ==========[ویدیو]=========== -->
            <app-video-player [VideoId]="0" [homeScreen]="false"></app-video-player>
    </div>
</div>