<div class="lg:!mr-14 row">
  <span class="divid-h lg:!text-base">عملکرد ربات معامله گر ATM </span>
  <h6 class="text-base text-black font-semibold mb-4 lg:!text-2xl">
    بک تست 6 ماهه با بالانس 500 دلاری (EUR/USD)
  </h6>
</div>
<div class="flex justify-center">
  <div class="mt-5 mb-10">
    <div class="text-center mb-8">
      <p class="text-black text-sm">
        چند نکته درباره بک تست:1.در بک تست شما امکان استفاده از پنل مانیتورینگ
        رو ندارید 2.اخبار در بک تست لحاظ نمیشه
      </p>
    </div>
    <!-- ==========[ویدیو]=========== -->
    <div>
      <app-video-player
        [VideoId]="0"
        [Link]="'https://www.w3schools.com/html/mov_bbb.ogg'"
      ></app-video-player>
    </div>
  </div>
</div>
