<div class="flex justify-evenly overflow-x-scroll min-h-[10rem]">
  <div class="w-fit box-main">
    <div class="box-color bg-linear-red"></div>
    <img src="../../../assets/img/JPYflag.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">JPY</div>
      <div>جمهور ژاپن</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-darkBlue"></div>
    <img src="../../../assets/img/Mask Group 129.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">KRW</div>
      <div>جمهوری کره</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-dark-red"></div>
    <img src="../../../assets/img/chinaflag.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">CNY</div>
      <div>جمهوری خلق چین</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-blue"></div>
    <img src="../../../assets/img/franceFlag.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">EUR</div>
      <div>جمهوری فرانسه</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-dark-red"></div>
    <img src="../../../assets/img/Cad Flag.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">CAD</div>
      <div>کانادا</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-yellow"></div>
    <img src="../../../assets/img/german.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-lg:text-base"
    >
      <div dir="ltr">EUR</div>
      <div>آلمان</div>
    </div>
  </div>
  <div class="w-fit box-main">
    <div class="box-color bg-linear-red"></div>
    <img src="../../../assets/img/USAflag.png" alt="" />
    <div
      class="font-bold w-full text-white md:px-3 px-1 text-lg currencyInfo max-md:text-base"
    >
      <div dir="ltr">USD</div>
      <div>ایالات متحده آمریکا</div>
    </div>
  </div>
</div>
