#ckeditor {
  // &.money-m {

  // }
  table {
    width: 100% !important;
  }
  ul {
    padding-inline-start: inherit !important;
  }
  li::marker {
    // object-fit: contain !important;
    font-size: 1.5rem;
    color: #161616;
  }
  a {
    color: #0058ff;
    &:hover {
      text-decoration: underline;
    }
  }
  thead {
    tr,
    th {
      font-weight: 500;
      font-size: 1rem;
    }
    tr {
      overflow: hidden;
      border-radius: 15px;
      th {
        padding: 12px 5px;

        background: #f3f3f3;
        border: none;
        vertical-align: middle;
      }
    }
  }
  tbody {
    th,
    td {
      vertical-align: middle;
      color: #646464;
      font-weight: 500;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 0.95rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
    }
    tr {
      border-radius: 15px;
      overflow: hidden;
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
      &:nth-child(odd) {
        background-color: #fff;
      }
      th,
      td {
        text-align: center;
        border: none;
      }

      &:hover {
        filter: drop-shadow(0px 1px 2px #bababa);
      }
    }
  }
  img {
    width: fit-content;
    margin: 2rem auto !important;
  }
  &.money-m {
    p {
      font-weight: 700;
    }
    .img-articles {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    .links {
      background: white;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 20px;
      margin-top: 1rem;
      text-align: end;
    }
    .amalgar {
      color: #0086ff;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      font-size: 1.4rem;
    }
    .box-articles{
      background-color: white;
      height: auto;
      border: #EAEAEA 1px solid;
      border-radius: 20px;
      padding: 1.5rem;
  }
   .box-articles-title {
      font-size: 1.3rem;
      color: #0080FF;
      font-weight: 500;
      margin-bottom: 0.75rem;
  }
  drag-scroll{
      width: 25rem;
      height: 20rem;
  }
  .box-articles-m {
      background-color: white;
      height: auto;
      width: 100%;
      border: #EAEAEA 1px solid;
      border-radius: 20px;
      padding: 1.5rem;
  }
  }
}
