.calendar-table {
  width: 100%;
  max-width: 1536px;
  tbody {
    td {
      vertical-align: middle;
      color: #646464;
      font-weight: 500;
      padding: 10px 12px;

      font-size: 0.95rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
    }
    tr {
      transition: background-color 0.4s ease;
      &:hover {
        background-color: #fafafa;
      }
      border-radius: 13px;
      overflow: hidden;
      background-color: #fff;
      td {
        &.importance {
          padding: 0;
          width: 3px;
          span {
            display: inline-block;
            width: 3px;
            border-radius: 25px;
            height: 54px;
          }
        }
        &.country {
          width: 64px;
          div {
            display: inline-flex;
            flex-direction: column;
            gap: 0.25rem;
            justify-content: space-between;
            align-items: flex-end;
            i {
              filter: drop-shadow(0px 0px 1px rgb(209, 207, 207));
              border-radius: 4px;
              font-size: 1.725rem;
            }
            span {
              display: inline-flex;
              color: #000000;
            }
          }
        }
        // &.event {

        // }
        &.forecast-value,
        &.pre-value {
          color: #000000;
          text-align: center;
          span {
            text-align: center;
            display: block;
          }
        }
        &.actual-value {
          text-align: center;
          span {
            text-align: center;
            display: block;
          }
        }
        &:first-child {
          width: 1px;
          padding: 0;
          border-top-right-radius: 13px;
          border-bottom-right-radius: 13px;
        }
        &:last-child {
          border-top-left-radius: 13px;
          border-bottom-left-radius: 13px;
        }
      }

      &.deactive {
        opacity: 0.4;
      }
      &.active {
        border: 1px solid #eaeaea;
      }
    }
  }
}
