.calendar-table {
  width: 100%;
  max-width: 1536px;
  tbody {
    td {
      vertical-align: middle;
      color: #646464;
      font-weight: 500;
      padding: 10px 12px;

      font-size: 0.95rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
    }
    tr {
      transition: background-color 0.4s ease;
      &:hover {
        background-color: #fafafa;
      }
      border-radius: 13px;
      overflow: hidden;
      background-color: #fff;
      td {
        div {
          &.td-country {
            font-size: 2rem;
          }
        }
        &:first-child {
          border-top-right-radius: 13px;
          border-bottom-right-radius: 13px;
        }
        &:last-child {
          border-top-left-radius: 13px;
          border-bottom-left-radius: 13px;
        }
      }

      &.deactive {
        opacity: 0.4;
      }
      &.active {
        border: 1px solid #eaeaea;
      }
    }
  }
}
