.lottie-container {
  width: var(--width) !important;
  max-width: var(--max-width) !important;
  min-width: var(--min-width) !important;
  opacity: var(--opacity) !important;
  height: var(--height) !important;
}
