.leaflet-control {
  display: none;
}
.leaflet-control-zoom {
  display: none;
}
.leaflet-container {
  background: transparent;
}
.leaflet-grab {
  cursor: default;
}
#map_access {
  display: none !important;
}


.translate-custom {
 transform:translateY(-10%) ;
}
.map {
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  max-width: 100%;
  max-height: 405px;
  height: auto;
  aspect-ratio: 16/9;
}
.custom-popover {
  width: 100px;
  display: block;
  height: 100px;
  background-color: blue;
  position: absolute;
}

.datamaps-bubble {
  fill: transparent !important;
  stroke-width: 0 !important;
  /* stroke: blue !important; */
}

.custom-bubble {
  aspect-ratio: 1/1;
  width: 20px; /* Adjust width and height as needed */
  height: 20px;
  max-height: 20px; /* Adjust width and height as needed */
  border: 1px solid red;
  transition: max-height 1.5 linear;
  border-radius: 50%; /* Creates a circle with a radius of 50% */
  
}

@keyframes pulse-cirlce {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }

  75% {
    width: 35px; /* Adjust width and height as needed */
    max-height: 35px; /* Adjust width and height as needed */
    height: 35px;
    opacity: 0.1;
  }

  100% {
    width: 20px; /* Adjust width and height as needed */
    max-height: 20px; /* Adjust width and height as needed */
    height: 20px;
    opacity: 0.7;
  }
}
