.leaflet-control {
  display: none;
}
.leaflet-control-zoom {
  display: none;
}
.leaflet-container {
  &:focus {
    outline: 0 !important;
  }
  background: transparent;
  font-family: $font-family-base !important;
}
.leaflet-grab {
  cursor: default;
}
#map_access {
  display: none !important;
}

.map {
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 440.438px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: unset !important;
  box-shadow: unset !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 5px;
}
