$md: 768px;
$lg: 1018px;
$xlg: 1270px;

.modal-backdrop {
  @include justify-align-center;
  @include full-backdrop;
  z-index: 1000;
}

.modal {
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $dim-green;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  overflow: auto;
  @include absolute-center;
  z-index: 1001;
  max-width: 97vw;
  height: auto;
  max-height: 97vh;
  border: $dim-green 1px solid;
  background-color: $white;
  border-radius: 15px;
  .modal-header {
    @include justify-between;
    font-size: 18px;
    padding: 10px;

    flex-direction: row-reverse;
  }

  .modal-content {
    &::-webkit-scrollbar {
      width: 6px;
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $dim-green;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    overflow: var(--overflow);
    width: var(--width);
    max-width: inherit;
    margin-bottom: 20px;
    min-width: 310px;
  }

  .modal-footer {
    @include justify-end;
  }

  .modal-close {
    @include justify-align-center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-size: 24px;
    &:hover {
      background-color: $close-btn-hover;
    }
    span {
      margin-top: 2px;
    }
    cursor: pointer;
  }
}
