.triangle {
  position: relative;
  text-align: right;
}
.triangle:after,
.triangle:before {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
// .triangle:after 
.triangle:before {
  width: 5rem;
  height: 5rem;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(210deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
  border-color: #d1d1d1;
  border-top-width: 1px;
  border-right-width: 1px;
}
// .triangle:after {
//   transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
// }
