<div
  class="text-gray-400 px-6"
  style="font-size: 15px; font-weight: 500; direction: rtl"
>
  <div class="flex">
    <div class="flex">
      <a href="https://www.iraniexpert.com">خانه</a>
      <span class="px-1"> &#62; </span>
    </div>
    <div class="flex" *ngFor="let x of browserUrl; let i = index">

      <ng-container *ngIf="!activeRoute">
        <a href="{{ x.url }}">{{ x.persianRoute | async }}</a>
      </ng-container>
      <ng-container *ngIf="activeRoute">
        <p>{{ x.persianRoute | async }}</p>
      </ng-container>
      

      <span class="px-1" *ngIf="browserUrl.indexOf(x) !== browserUrl.length - 1">
        &#62;
      </span>
    </div>
  </div>
</div>
