<div
  id="main{{ this.vId }}"
  class="box-shadow-ac h-full onFullScreen-change"
  [ngClass]="{ 'border-change': isFullScreen }"
  [ngStyle]="{ cursor: mouseDisplay }"
  (mouseenter)="aftermouseenter()"
  (mousemove)="aftermouseMoved()"
  (keydown.esc)="onMouseMove($event)"
>
  <div class="absolute h-full w-full">
    <video
      width="100%"
      height="20%"
      id="{{ this.vId }}"
      class="rounded-xl"
      [ngClass]="{ ' video-opa': !pauseplay }"
      webkit-playsinline="true"
      loop="true"
      (timeupdate)="onTimeUpdate()"
      webkit-playsinline="true"
      playsinline
      type="video/mp4"
      title="video"
    >
      <source *ngIf="firstPlay" src="{{ videoLink }}" type="video/mp4" />
    </video>
  </div>

  <div class="flex w-full h-full content-end flex-wrap">
    <div class="p-div d-flex justify-center align-middle btn-span h-[60%]">
      <span
        class="fa-stack fa-4x opacity-100 flex justify-center items-center"
        [ngClass]="{
          'hide-centerVideobtn ': hidePuase
        }"
      >
        <div
          class="flex justify-center items-center bg-[#3246d3] md:w-28 md:h-28 w-20 h-20 rounded-full"
        >
          <i
            class="ie-icon cursor-pointer"
            [ngClass]="{
              'ie-puase-xl mt-1': pauseplay,
              'ie-Polygon large-polygon  white-filter max-md:mt-2 me-1.5 mt-2.5':
                !pauseplay
            }"
            (click)="puasePaceVideo()"
          ></i>
        </div>
      </span>
    </div>

    <div
      class="flex flex-start items-center p-div text-2xl p-2"
      [ngClass]="{ 'hidden-hover': mouseDisplay == 'none' }"
      style="height: 37px; bottom: 3vh"
    >
      <i
        class="ie-icon text-base text-white flex items-center cursor-pointer drop-shadow-md ml-5 pt-2.5 opacity-80"
        style="height: inherit"
        [ngClass]="{
          'ie-expand ': !isFullScreen,
          'ie-compress ': isFullScreen
        }"
        (click)="fullScreen()"
      ></i>

      <span
        class="items-center drop-shadow-md ml-3 text-[#464646b7] font-bold"
        style="height: inherit; height: 38px; line-height: 47px"
      >
        {{ videoCurrentTime }}
      </span>

      <div class="w-full">
        <progress
          dir="ltr"
          class="pr-Before cursor-pointer w-full mt-3.5"
          (click)="handleClick($event)"
          (mousedown)="startUpdateSlider()"
          (mouseup)="endUpdateSlider()"
          (mouseleave)="endUpdateSlider()"
          (mousemove)="updateSlider($event)"
          (touchstart)="startUpdateSlider()"
          (touchmove)="updateSlider($event)"
          [value]="progressValue"
          min="0"
          max="100"
          [ngStyle]="{ '--movement': progressbarLeft }"
        ></progress>
      </div>
      <div style="width: 50px">
        <i
          class="ie-icon text-white flex items-center text-base cursor-pointer drop-shadow-md play-icon mr-4"
          style="height: inherit"
          [ngClass]="{
            'ie-puase w-[14px] ': pauseplay,
            'ie-Polygon  small-polygon pt-1.5 blue-filter ': !pauseplay
          }"
          (click)="puasePaceVideo()"
        ></i>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>
