<div class="scroll-nav flex justify-start ">
    <button class="box-s"><a (click)="onClick1($event)" class="box-body">معرفی</a></button>
    <button class="box-s"><a (click)="onClick2($event)" class="box-body">امکانات</a></button>
    <button class="box-s"><a (click)="onClick3($event)" class="box-body">بک تست</a></button>
    <button class="box-s"><a (click)="onClick4($event)" class="box-body">سوالات متداول</a></button>
    <button class="box-s"><a (click)="onClick5($event)" class="box-body">نظرات</a></button>
</div>
