<div class="scroll-nav flex justify-start ">
    <button class="box-s"><a (click)="onClick($event)" class="box-body">معرفی</a></button>
    <button class="box-s"><a (click)="onClick($event)" class="box-body">امکانات</a></button>
    <button class="box-s"><a (click)="onClick($event)" class="box-body">بک تست</a></button>
    <button class="box-s"><a (click)="onClick($event)" class="box-body">سوالات متداول</a></button>
    <button class="box-s"><a (click)="onClick($event)" class="box-body">نظرات</a></button>
</div>
