<div
  class="data-chart-card select-none bg-white inline-flex flex-col items-stretch border-[#EAEAEA] border-2 overflow-hidden rounded-xl justify-center mx-auto"
>
  <div class="data-container flex-row flex p-2">
    <div class="right-container flex-col flex basis-1/2">
      <span class="block text-base text-[#0080FF]"> 1H </span>
      <span
        *ngIf="card_data"
        dir="rtl"
        [ngClass]="
          card_data.percentChange > 0 ? 'text-[#2FCE7A] ' : 'text-[#ff2a2a]'
        "
        class="inline-flex text-base scale-95"
      >
        <i
          [ngClass]="card_data.percentChange > 0 ? 'upTrend' : 'downTrend'"
          class="ie-icon mx-1 pb-1.5"
        ></i>
        <span dir="ltr">
          %{{ card_data.percentChange | number : "1.1-3" }}</span
        >
      </span>
    </div>
    <div class="left-container basis-1/2 text-end">
      <span class="block text-base"
        >{{ currency.title.slice(0, 3) + " " + currency.title.slice(3) }}
      </span>
      <span class="block text-base font-light" *ngIf="showGraph">
        {{
          card_data.transactions[card_data.transactions.length - 1].close
            | number : "1.1-4"
        }}
      </span>
      <span
        class="block text-base font-light text-start"
        dir="ltr"
        *ngIf="card_data"
      >
        {{ card_data.pip }}Pip
      </span>
    </div>
  </div>
  <div class="chart-container">
    <ng-container *ngIf="showGraph">
      <canvas
        class="chart-itself"
        width="16"
        height="9"
        baseChart
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="false"
      >
      </canvas
    ></ng-container>
  </div>
</div>
