<!-- =========[بنر]===== -->
<div class="hidden lg:block land-bg">
  <div class="flex justify-center mt-12 mb-8">
      <div class="baner flex flex-row ml-4 mr-4">
        <div class="basis-3/4 flex items-center">
          <div class="mr-12">
            <span class="divid-h">
              مدیریت سرمایه و مدیریت ریسک در بازارهای مالی
            </span>
            <span class="title-h">
              مدیریت سرمایه و مدیریت ریسک در بازارهای مالی، سنگ بنای موفقیت معامله‌گران و سرمایه‌گذاران است
            </span>
          </div>
        </div>
        <div class="flex justify-center basis-1/4">
          <img class="logo" src="assets/img/money-m-logo.webp" alt="logo" width="200" height="100"/>
        </div>
      </div>
  </div>
</div>
  <div class="lg:grid lg:grid-cols-4 lg:mx-4
    py-16 px-4">
    <div class="ml-4 lg:block hidden">
      <app-blog-filter [type]="'tags'" [categoryTags]="tags">
        <p header class="text-black">دسترسی سریع</p>
      </app-blog-filter>
    </div>
     <div class="lg:col-span-3 lg:mr-4">
       <app-hero-m></app-hero-m>
       <app-articles-money></app-articles-money>
       <app-free-advice></app-free-advice>
       <app-vote></app-vote>
       <app-comments></app-comments>
     </div>
  </div>
