<div class="hidden lg:block land-bg">
  <!-- =========[بنر]===== -->
  <div class="flex justify-center mt-12 mb-8">
      <div class="baner flex flex-row ml-4 mr-4">
        <div class="basis-3/4 flex items-center">
          <div class="mr-12">
            <span class="divid-h">
              مدیریت سرمایه و مدیریت ریسک در بازارهای مالی
            </span>
            <h6 class="title-h">
              مدیریت سرمایه و مدیریت ریسک در بازارهای مالی، سنگ بنای موفقیت معامله‌گران و سرمایه‌گذاران است
            </h6>
          </div>
        </div>
        <div class="flex justify-center basis-1/4">
          <img class="logo" src="assets/img/money-m-logo.webp" alt="logo" width="200" height="100"/>
        </div>
      </div>
  </div>
  <div class="grid grid-cols-4  ml-4 mr-4">
    <div class="ml-4">
      <app-blog-filter>
        <p header class="text-black">دسترسی سریع</p>
      </app-blog-filter>
      </div>
     <div class="col-span-3 mr-4">
       <app-hero-m></app-hero-m>
       <app-articles-money></app-articles-money>
     </div>
  </div>
</div>
<!-- =========[رسپانسیو]===== -->
<div class="block lg:hidden pt-16 pb-10 pr-4 pl-4 land-bg">
<app-hero-m></app-hero-m>
<app-articles-money></app-articles-money>
</div>