<header #headerMain class="relative z-10">
  <app-header-lg
    (modal)="openedModal($event)"
    class="flex justify-center"
    [ngClass]="device == 'lg' || device == '4k' ? ' bg-white block' : 'hidden'"
  />
  <app-header-sm
    (modal)="openedModal($event)"
    [ngClass]="device == 'sm' ? ' bg-[#F6F6F6] block' : 'hidden'"
  />
  <!-- <app-header-alt /> -->
</header>
<app-modal
  [header]="true"
  [overflow]="'auto'"
  [width]="modalWidth"
  *ngIf="_modalStatus"
>
  <div content>
    <app-auth [view]="_modalView" />
  </div>
</app-modal>
