<header class="relative z-10">
  <app-header-lg
    (modal)="openedModal($event)"
    class="lg:flex justify-center hidden bg-white"
  />
  <!-- <app-header-sm
    (modal)="openedModal($event)"
    class="lg:hidden block bg-[#F6F6F6]"
  /> -->
  <div class="lg:hidden w-full fixed items-center h-20 flex bg-[#F6F6F6]">
    <app-header-mobile class="w-full" (modal)="openedModal($event)">
    </app-header-mobile>
  </div>
  <!-- <app-header-alt /> -->
</header>
<app-modal
  [header]="true"
  [overflow]="'auto'"
  [width]="modalWidth"
  *ngIf="_modalStatus"
>
  <div content>
    <app-auth [view]="_modalView" />
  </div>
</app-modal>
