.app-container {
  position: relative;
  width: 98vw;
  overflow: hidden;
  right: 50%;
  transform: translateX(50%);
}

.animation-move {
  @media (width < 800px) {
    animation: autoScrollSm 60s linear infinite;
  }
  @media (width > 800px) {
    animation: autoScroll 20s linear infinite;
  }
}
@keyframes autoScrollSm {
  0% {
    transform: translateX(-56%);
  }
  50%{
    transform: translateX(354%);
  }
  100%{
    transform: translateX(828%);

  }
}
@keyframes autoScroll {

  to {
      transform: translateX(150%);
  }
  
  // 0% {
  //   transform: translateX(0%);
  // }
  // 50% {
  //   transform: translateX(40%);
  // }
  // 100% {
  //   transform: translateX(0%);
  // }
}
