.app-container {
  position: relative;
  width: 98vw;
  overflow: hidden;
  right: 50%;

  transform: translateX(50%);
}
.animation-move {
  animation: autoScroll 40s infinite;
}
@keyframes autoScroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0%);
  }
}
