<div class="mt-8 hidden lg:block">
  <div class="flex justify-between mt-6">
    <div class="flex items-center w-44">
      <i class="icon-carousel-card"></i>
      <p class="icon-title mr-3">{{ articleModel.group }}</p>
    </div>
    <button disabled class="flex items-center box-share disabled:opacity-25">
      <p class="icon-title ml-3">اشتراک گذاری</p>
      <i class="shared-icon"></i>
    </button>
  </div>
  <h1 class="title-blog">{{ articleModel.title }}</h1>
  <div class="flex mt-3">
    <p class="date ml-10">اننتشار :{{ articleModel.createDate | date }}</p>
    <p class="date">
      زمان مطالعه {{ articleModel.studyTime.split(":")[1] }}دقیقه
    </p>
  </div>
  <!-- ================[عکس شاخص]========== -->
  <div class="flex relative mt-4">
    <img
      class="img-blog"
      [src]="contentUrl + articleModel.cardImagePath"
      alt="{{ articleModel.title }}"
      width="100"
      height="100"
    />
    <div class="absolute flex h-full w-full items-center">
      <div class="sm:mt-40 sm:mr-12">
        <div class="divider" [style]="'background-color:' + color"></div>
        <p class="title-blog-img" [style]="'color:' + color">
          {{ articleModel.title }}
        </p>
      </div>
    </div>
  </div>
  <p class="mt-8">{{ articleModel.brief }}</p>
</div>

<!-- ====================[رسپانسیو]========= -->
<div class="block lg:hidden">
  <div class="flex relative mt-4">
    <img
      class="img-blog-mobile w-full"
      [src]="contentUrl + articleModel.cardImagePath"
      alt="icon"
      width="100"
      height="100"
    />
    <div class="absolute flex h-full w-full items-end">
      <div class="mr-12">
        <div class="divider-mobile" [style]="'background-color:' + color"></div>
        <p class="title-blog-img-mobile" [style]="'color:' + color">
          {{ articleModel.title }}
        </p>
      </div>
    </div>
  </div>
  <!-- ================[تایتل عکس]======= -->
  <div class="flex justify-between mt-6">
    <div class="flex items-center scale-90">
      <i class="icon-carousel-card"></i>
      <p class="icon-title mr-3">{{ articleModel.group }}</p>
    </div>
    <button disabled class="flex items-center box-share disabled:opacity-25">
      <p class="icon-title ml-3">اشتراک گذاری</p>
      <i class="shared-icon icon"></i>
    </button>
  </div>
  <p class="title-blog-mobile mt-3" [style]="'color:' + color">
    {{ articleModel.title }}
  </p>
  <div class="flex mt-3">
    <p class="date-mobile ml-10">
      اننتشار :{{ articleModel.createDate | date }}
    </p>
    <p class="date-mobile">
      زمان مطالعه : {{ articleModel.studyTime.split(":")[1] }}دقیقه
    </p>
  </div>
  <p class="mt-8">
    {{ articleModel.brief }}
  </p>
</div>

  <!-- =================[منو تایتل ها]========= -->
  <app-content-menu  [wid]="100"></app-content-menu>
  <!-- =================[آرتیکلز]========= -->
  <div id="ckeditor" [innerHTML]="articleHtml" class="mt-6"></div>

  <!-- ===============[ نویسنده]==============     -->
  <div class="flex mt-8 items-center flex-wrap gap-2">
    <img src="assets/img/avatar-2.webp" alt="avatar" width="74" height="74" />
    <div class="basis-3/4 flex flex-col gap-2">
      <p class="ml-4 writer">
        {{ articleModel.updatedByFirstName }}&nbsp;
        {{ articleModel.updatedByLastName }}
      </p>
      <p class="writer-date">تعداد بازدید کل:{{ articleModel.viewsCount }}</p>
    </div>
  </div>