.icon-title{
  color: #0080FF;
  font-size: 1.1rem;
  font-weight: 700;
}
.icon{
    scale: 0.9;
}
.box-share{
  background-color: #EEE;
  width: 10rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 25px;
  scale: 0.9;
}
.title-blog{
  font-style: oblique;
  font-size: 2rem;
}
.date {
  color: black;
  font-size: 0.9rem;
}
.title-blog-img{
  font-style: oblique;
  font-size: 1.8rem;
  color: white;
}
.img-blog{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.divider{
  height: 0.3rem;
  width: 27%;
  border-radius: 30px;
  margin-bottom: 0.5rem;
}
.title-1{
    font-size: 1.7rem;
    font-weight: 700;
}
.title-2{
    font-size: 1.4rem;
    font-weight: 600;
    display: flow-root list-item;
    margin-right: 1.2rem;
}