.d-sm-none {
  display: none;
}
ul {
  box-shadow: 200px 23px 386px 175px rgb(255 255 255 / 55%);
}
.top-10 {
  top: 10%;
}
.p-fixed {
  position: fixed;
}
.active-tabe {
  background-color: #293dc8;
}
.item {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 30px;
}
.mobile-menu {
  top: 0;
  left: 0;
  height: 100%;
  background: #3246d3;
}

nav {
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
button {
  background: #6db500;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 11px;
}
.actived-tab {
  background-color: #293dc8;
}
@media (max-width: 480px) {
  button {
    width: 60% !important;
  }
  .d-sm-none {
    display: unset !important;
  }
  .mobile-menu {
    right: 20%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .d-sm-none {
    display: unset !important;
  }

  .mobile-menu {
    right: 55%;
  }
}
