<nav class="d-sm-none">
    <div class="toggle top-10" >
        <a (click)="openandClose()" style="background-color: black;width: 25%" href="#">محل </a>
    </div>  
    <ul [@slideInOut]="menuState" class="menu active  p-fixed  mobile-menu"  style="font-size: 1.5rem;">
      <li  >
            <a (click)="openandClose()" style="background-color: black;width: 25%" href="#">محل </a>
      </li>  
      <li class="item actived-tab" style="margin-top: 50%;" ><a href="#">خانه
      </a></li>
      <li class="item"  ><a href="#">جستجو
    </a></li>
    <li class="item"  ><a href="#">فروشگاه
    </a></li>
    <li class="item" ><a href="#">تقویم اقتصادی
    </a></li>
    <li class="item" ><a href="#">مجله ایرانی اکسپرت
    </a></li>
    <li class="item"  ><a href="#">چرا ما؟
    </a></li>
    <li class="item" >
    <button>
        ورود|عضویت
    </button>
    </li>
    </ul>
  </nav>