.box-articles{
    background-color: white;
    height: auto;
    width: 100%;
    border: #EAEAEA 1px solid;
    border-radius: 20px;
    padding: 1.5rem;
}
.box-articles h6 {
    font-size: 1.3rem;
    color: #0080FF;
    font-weight: 500;
    margin-bottom: 0.75rem;
}