<div class="hidden lg:block">
    <div class="grid grid-cols-3 gap-6">
        <div class="flex flex-col">
           <ng-container *ngFor="let item1 of boxCol1">
           <div class="box-articles mb-4">
               <span>
                {{item1.title}}  
               </span>
               <p>
                {{item1.desc}}
               </p>
           </div>
           </ng-container> 
        </div>
        <!-- ========== -->
        <div class="flex flex-col">
            <div class="box-articles mb-4" *ngFor="let item2 of boxCol2">
                <span>
                    {{item2.title}}    
                </span>
                <p>
                    {{item2.desc}}
                </p>
            </div> 
        </div>
         <!-- ============= -->
        <div class="flex flex-col">
            <div class="box-articles mb-4" *ngFor="let item3 of boxCol3">
                <span>
                    {{item3.title}}    
                </span>
                <p>
                    {{item3.desc}}
                </p>
            </div> 
        </div>
    </div>
</div>

<div class="flex flex-nowrap items-start lg:hidden overflow-auto">
        <div class="flex ml-4 mb-4 " *ngFor="let item3 of boxCol3">
            <div class="box-articles !w-72">
                <span>
                    {{item3.title}}    
                </span>
                <p>
                    {{item3.desc}}
                </p>
            </div>
        </div> 
        <div class="flex ml-4 mb-4" *ngFor="let item2 of boxCol2">
            <div class="box-articles !w-72">
                <span>
                    {{item2.title}}    
                </span>
                <p>
                    {{item2.desc}}
                </p>
            </div>
        </div>
        <div class="flex ml-4 mb-4" *ngFor="let item1 of boxCol1">
            <div class="box-articles !w-72">
                <span>
                 {{item1.title}}  
                </span>
                <p>
                 {{item1.desc}}
                </p>
            </div>
        </div>
</div>