<div class="grid grid-cols-3 gap-6">
    <div class="flex flex-col">
       <ng-container *ngFor="let item1 of boxCol1">
       <div class="box-articles mb-4">
           <h6>
            {{item1.title}}  
           </h6>
           <p>
            {{item1.desc}}
           </p>
       </div>
       </ng-container> 
    </div>
    <!-- ========== -->
    <div class="flex flex-col">
        <div class="box-articles mb-4" *ngFor="let item2 of boxCol2">
            <h6>
                {{item2.title}}    
            </h6>
            <p>
                {{item2.desc}}
            </p>
        </div> 
    </div>
     <!-- ============= -->
    <div class="flex flex-col">
        <div class="box-articles mb-4" *ngFor="let item3 of boxCol3">
            <h6>
                {{item3.title}}    
            </h6>
            <p>
                {{item3.desc}}
            </p>
        </div> 
    </div>
</div>