<table class="w-full">
  <thead>
    <tr
      class="bg--blue text-white p-16 h-12"
      style="z-index: 11; position: sticky"
    >
      <th>قبلی</th>
      <th>واقعی</th>
      <th>پیش بینی</th>
      <th>توضیح خبر</th>
      <th>زمان</th>
      <th>اهمیت</th>
      <th>جفت ارز</th>
    </tr>
    <tr
      class="bg-[#B7C0FF] text-white h-12 p-3"
      style="
        position: relative;
        bottom: 2rem;
        vertical-align: bottom;
        display: table-row;
      "
    >
      <th class="text-right" colspan="7" style="border-radius: 8px">
        05/09/2023
      </th>
    </tr>
  </thead>
  <tbody class="relative bottom-4">
    <tr
      class="fields mt-5 cursor-pointer"
      [ngClass]="openTab ? 'opened-tab' : ''"
      (click)="openTableTab()"
    >
      <td class="w-[10%]">
        <div>
          <span class="font-bold text-lg flex justify-center items-baseline"
            ><i class="fi fi-fr text-3xl m-1"></i>JPY</span
          >
        </div>
      </td>
      <td class="w-[5%]"><div class="text-xl">icons</div></td>
      <td class="w-1/12">
        <div dir="ltr">
          <span class="font-bold text-2xl flex pt-1.5"
            >12:30 <small>Am</small></span
          >
        </div>
      </td>
      <td class="w-5/12">
        <div
          class="flex text-xl p-2 items-baseline pt-1.5"
          style="align-items: baseline !important"
        >
          شاخص اعتماد مصرف کنندگان
        </div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">101.9B</div>
      </td>
      <td class="w-1/12">
        <div><i class="fa fa-refresh text-2xl text-gray-500"></i></div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">103.2B</div>
      </td>
    </tr>
    <tr class="bg-white pt-6 pb-6" scope="row" *ngIf="openTab">
      <td colspan="8">
        <app-cal-detail></app-cal-detail>
      </td>
    </tr>
    <tr class="fields mt-5">
      <td class="w-[10%]">
        <div>
          <span class="font-bold text-lg flex justify-center items-baseline"
            ><i class="fi fi-fr text-3xl m-1"></i>JPY</span
          >
        </div>
      </td>
      <td class="w-[5%]"><div class="text-xl">icons</div></td>
      <td class="w-1/12">
        <div dir="ltr">
          <span class="font-bold text-2xl flex pt-1.5"
            >12:30 <small>Am</small></span
          >
        </div>
      </td>
      <td class="w-5/12">
        <div
          class="flex text-xl p-2 items-baseline pt-1.5"
          style="align-items: baseline !important"
        >
          شاخص اعتماد مصرف کنندگان
        </div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">101.9B</div>
      </td>
      <td class="w-1/12">
        <div><i class="fa fa-refresh text-2xl text-gray-500"></i></div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">103.2B</div>
      </td>
    </tr>
    <tr class="fields mt-5">
      <td class="w-[10%]">
        <div>
          <span class="font-bold text-lg flex justify-center items-baseline"
            ><i class="fi fi-fr text-3xl m-1"></i>JPY</span
          >
        </div>
      </td>
      <td class="w-[5%]"><div class="text-xl">icons</div></td>
      <td class="w-1/12">
        <div dir="ltr">
          <span class="font-bold text-2xl flex pt-1.5"
            >12:30 <small>Am</small></span
          >
        </div>
      </td>
      <td class="w-5/12">
        <div
          class="flex text-xl p-2 items-baseline pt-1.5"
          style="align-items: baseline !important"
        >
          شاخص اعتماد مصرف کنندگان
        </div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">101.9B</div>
      </td>
      <td class="w-1/12">
        <div><i class="fa fa-refresh text-2xl text-gray-500"></i></div>
      </td>
      <td class="w-1/12">
        <div class="text-base font-bold text-gray-500 pt-1.5">103.2B</div>
      </td>
    </tr>
  </tbody>
</table>
