table {
  min-width: 350px;

  border-spacing: 0 7px;
  border-collapse: separate;
}

table tr:first-child th:first-child {
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}
.Am-Pm {
  font-size: 10px;
  color: #afaeab;
}
/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
.fields {
  height: 45px;
  td {
    height: inherit;
  }
  td div {
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    border-radius: 8px;
    margin: 3px;
    display: flex;
    flex-direction: column;
  }
}
.opened-tab {
  background-color: #d8d8d8;
  td:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  td:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  td div {
    background-color: #d8d8d8 !important;
  }
}
