<!-- =========[تگ های h]======= -->
<h1 class="sr-only">معتبرترین سایت تقویم اقتصادی |در فارکس به روز باشید!</h1>
<h2 class="sr-only">معرفی تقویم اقتصادی و کاربرد آن</h2>
<h3 class="sr-only">چرا تقویم اقتصادی بسیار مجبوب می باشد؟</h3>
<h2 class="sr-only">استفاده از تقویم اقتصادی به چه صورت می باشد؟</h2>
<h3 class="sr-only"> تحلیل تقویم اقتصادی</h3>
<h3 class="sr-only">نکات کلیدی استفاده از تقویم اقتصادی</h3>
<h3 class="sr-only">مهم ترین رویداد های تاثیرگذار در تقویم اقتصادی فارکس</h3>
<h2 class="sr-only">مزایای استفاده از تقویم اقتصادی</h2>

<div class="bg-[#FAFAFA] p-4">

    <app-country-detail></app-country-detail>

    <!-- ========================[کارت فایننس]========= -->
    <div class="flex justify-center">
        <div class="flex w-[328px] md:w-[748px] xl:w-full xl:h-[25rem] flex-col xl:flex-row">
        
            <!-- =====[بخش راست]==== -->
        
            <div class="md:flex md:basis-full xl:basis-[45%] xl:ml-4 ">
                <div class="md:grid md:grid-cols-2 md:gap-4 flex flex-col w-full">
                    <ng-container *ngFor="let card1 of groupCardPart1.items">
                        <app-card-finance [type]="groupCardPart1.type" [data]="card1" ></app-card-finance>
                    </ng-container>
                </div>
            </div>
        
            <!-- =====[بخش چپ]==== -->
            
            <div class="md:flex md:basis-full md:mt-6 xl:mt-0 xl:basis-[55%]">
                <div class="md:grid md:grid-cols-2 md:gap-4 flex flex-col w-full">
                    <ng-container *ngFor="let card2 of groupCardPart2.items">
                        <app-card-finance [type]="groupCardPart2.type" [data]="card2"></app-card-finance>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>