<!-- =========[تگ های h]======= -->
<h1 class="sr-only">معتبرترین سایت تقویم اقتصادی |در فارکس به روز باشید!</h1>
<h2 class="sr-only">معرفی تقویم اقتصادی و کاربرد آن</h2>
<h3 class="sr-only">چرا تقویم اقتصادی بسیار مجبوب می باشد؟</h3>
<h2 class="sr-only">استفاده از تقویم اقتصادی به چه صورت می باشد؟</h2>
<h3 class="sr-only">تحلیل تقویم اقتصادی</h3>
<h3 class="sr-only">نکات کلیدی استفاده از تقویم اقتصادی</h3>
<h3 class="sr-only">مهم ترین رویداد های تاثیرگذار در تقویم اقتصادی فارکس</h3>
<h2 class="sr-only">مزایای استفاده از تقویم اقتصادی</h2>

<div class="p-4">
  <app-country-detail
    *ngIf="indicatorsData"
    [data]="indicatorsData"
  ></app-country-detail>

  <!-- ========================[کارت فایننس]========= -->
  <div class="flex justify-center">
    <div
      class="flex w-[328px] md:w-[748px] xl:w-full xl:h-[25rem] flex-col xl:flex-row"
    >
      <!-- =====[بخش راست]==== -->

      <div class="md:flex md:basis-full xl:basis-[45%] xl:ml-4">
        <div class="md:grid md:grid-cols-2 md:gap-4 flex flex-col w-full">
          <ng-container *ngIf="indicatorsData">
            <ng-container *ngFor="let card1 of groupCardPart1.items">
              <app-card-finance
                [type]="groupCardPart1.type"
                [data]="card1"
              ></app-card-finance>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!-- =====[بخش چپ]==== -->

      <div class="md:flex md:basis-full md:mt-6 xl:mt-0 xl:basis-[55%]">
        <div class="md:grid md:grid-cols-2 md:gap-4 flex flex-col w-full">
          <ng-container *ngIf="indicatorsData">
            <ng-container *ngFor="let card2 of groupCardPart2.items">
              <app-card-finance
                [type]="groupCardPart2.type"
                [data]="card2"
              ></app-card-finance>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center my-10">
    <div
      id="tableEvents"
      class="basis-full bg-white px-2 py-1 rounded-2xl shadow-sm border border-[#EAEAEA] relative gap-6 mt-2"
    >
      <!-- Change Between LastWeek & LastValues  -->
      <div class="flex flex-row items-center gap-2 my-2 mx-2">
        <button
          (click)="changeValueType(item)"
          class="pill-container"
          [ngClass]="item.active ? 'active' : ''"
          *ngFor="let item of valueTypes"
        >
          <span class="icon-container"><i class="ie-icon ie-news"></i></span>
          <p class="mx-2">
            {{ item.value }}
          </p>
        </button>
        <!-- <div class="flex items-center ml-4 mr-auto space-x-2">
          <span class="block text-sm ml-4"> اهمیت</span>
          <ng-container *ngFor="let i of importances">
            <span
              (click)="setImportance(i)"
              class="rounded-md border-[1.5px] holder-icon cursor-pointer hover:bg-slate-200"
              [ngClass]="
                i.active
                  ? 'bg-[#E7F3FB] border-[#0498FB]'
                  : 'bg-white border-[#BCBCBC]'
              "
            >
              <span
                class="scale-95 block w-full"
                [ngStyle]="{ '--importance-color': i.color }"
              >
                <app-importance />
              </span>
            </span>
          </ng-container>
        </div> -->
      </div>

      <!-- Change Between LastWeek & LastValues  -->

      <!-- Table -->
      <table-calendar />
      <!-- Table -->

      <ng-container *ngIf="hasPagaination">
        <pagination-control (changePage)="setPage($event)"></pagination-control>
      </ng-container>
    </div>
  </div>
</div>
