<section class="">
  <div class="flex columns-2 mr-24">
    <div class="flex flex-col w-full items-start" style="margin-top: 30px">
      <h1 class="text-60">ربات معامله گر فارکس</h1>
      <h2 class="text-40 font-medium">بر مبنای هوش مصنوعی</h2>
      <h6 class="w-80 font-medium text-justify">
        این ربات دستیار تریدرهاست، با قابلیت ترید خودکار که بر اساس الگوریتم هوش
        مصنوعی و ژنتیک کار می کند. این اکسپرت امکان مدیریت سرمایه، پارامترهای
        ورودی زیاد و نظارت انسانی دارد.
      </h6>
      <div class="flex gap-3 mt-3 items-center">
        <button
          type="button"
          class="button-right rounded-full text-white font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 mx-1"
        >
          مقایسه پلن ها
        </button>
        <button
          type="button"
          class="button-left rounded-full text-white font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 mx-1"
        >
          رضایت مشتری
        </button>
      </div>
    </div>
    <div class="flex-col ml-10 w-full">
      <img class="w-full" src="../../../../../assets/img/hero.webp" alt="" />
    </div>
  </div>
</section>
