<div class="circle">
  <img src="assets/img/circle.png" alt="">
</div>  
<div class="mx-auto pr-5">
  <div class="flex flex-row flex-wrap hero">
    <div class="grid grid-cols-2 gap-2 matn-h mt-16">
      <div>
        <span class="divid-h">
          <span class="l">_</span>با ایرانی اکسپرت مطمئن و آسان ترید کن
        </span>
        <br>
        <span class="titile-h">
          ایرانی اکسپرت
          <br>
          در دسترس همه ایرانیان
        </span>
        <br>
        <span class="title-b">
          ما از فوریه 2022 شروع کردیم.مجموعه ای متشکل از تیم برنامه نویسی هوش مصنوعی،طراحی سایت و
           سئو،دیجیتال مارکتینگ و گرافیک،تحلیل و ترید،اکنون ربات معامله گر یکی از محصولات ماست.در حوزه ارائه 
          آموزش،مقالات مشاوره و نیز تحلیل اقتصادی،اخبارفارکس و پادکست ارائه خدمات میدهیم
        </span>
        <br>
        <br>
        <span class="h-f">
          سود ما در راستای سود شماست
        </span>  
      </div>
      <div class="hero-f">
          <img src="assets/img/mosalas.png" class="mosalas" alt="m">
          <img class="hero-image" src="assets/img/hero.webp" alt="hero">
      </div>  
    </div>
  </div>
  
  <div class="flex flex-col gap-3 lg:flex-row lg:justify-between r-h">
    <div class="">
      <button class="btn"> خرید ربات معامله گر  <i class="fa-solid fa-arrow-left"></i></button>
      <a class="link"><i class="fa-solid fa-phone"></i> رایگان مشاوره بگیرید</a>
    </div>
    <div class="sod">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 sood">
        <div class="mizan-sod">
          <span class="darsad">22%</span>
          <br>
          <p class="title-d">سود ماه قبل</p> 
        </div>
        <div class="mizan-sod">
          <span class="darsad">7%</span>
          <br>
          <p class="title-d">ماکسیموم درادون</p> 
        </div>
        <div class="mizan-sod">
          <span class="darsad">70%</span>
          <br>
          <p class="title-d">وین ریت</p> 
        </div>
        </div>
    </div>
  </div>
</div>