.row{
    margin-right: 135px;
  }
  .divid-h{
      font-weight: bold;
      font-size: 15px;
      color: #3246D3;
      &::before {
        content: "";
       width: 26px;
       height: 5px;
       background-color: #3246D3;
       border-radius: 6px;
       display: inline-block;
       margin: 0px 6px;
      }
    }
    .l{
      font-size: 50px;
      font-weight: 900;
    }
    .faq-h{
      color: black;
          font-size: 25px;
          font-weight: 700;
        }