<div class="row">
    <span class="divid-h">از برتری های استفاده از ربات  ATM </span>
    <h6 class="faq-h mb-4">
      ربات ATM چه برتری هایی نسبت به دیگر ربات ها دارد؟
    </h6>
</div>
<!-- ===================[باکس اعداد]=============== -->
<div class="flex justify-around row-box">
  <div class="flex flex-col box">
    <p class="box-body">امکان نظارت انسانی با پنل مانیتورینگ</p>
    <span class="box-number">1</span>
  </div>
  <div class="flex flex-col box">
    <p class="box-body">امکان معامله روی تمامی جفت ارزها نمادها و شاخص ها</p>
    <span class="box-number">2</span>
  </div>
  <div class="flex flex-col box">
    <p class="box-body">ارایه حساب دمو رایگان قبل از خرید ربات فارکس</p>
    <span class="box-number">3</span>
  </div>
</div>
<!-- ===================[ پیش نیازها]=============== -->
<div class="row mt-16">
  <span class="divid-h">پیش نیاز های استفاده از ربات  ATM </span>
  <h6 class="faq-h mb-4">
    شرایط مورد نیاز برای برای راه اندازی ربات ATM
  </h6>
</div>
<!-- ===================[ نکات]=============== -->
<div class="row mt-16">
  <span class="divid-h">نکات مهم استفاده از ربات  ATM </span>
  <h6 class="faq-h mb-4">
    نکات مهم در مورد ربات ATM
  </h6>
</div>
