  <div class="lg:!mr-14 row">
      <span class="divid-h lg:!text-base">از برتری های استفاده از ربات  ATM </span>
      <h6 class="faq-h mb-4 lg:!text-2xl">
        ربات ATM چه برتری هایی نسبت به دیگر ربات ها دارد؟
      </h6>
  </div>
<!-- ===================[باکس اعداد]=============== -->
<div class="lg:mr-40">
  <div class="row-box grid grid-cols-1 gap-3 lg:grid-cols-3">
    <div class="box">
      <p class="box-body">امکان نظارت انسانی با پنل مانیتورینگ</p>
      <span class="box-number">1</span>
    </div>
    <div class="box">
      <p class="box-body">امکان معامله روی تمامی جفت ارزها نمادها و شاخص ها</p>
      <span class="box-number">2</span>
    </div>
    <div class="box">
      <p class="box-body">ارایه حساب دمو رایگان قبل از خرید ربات فارکس</p>
      <span class="box-number">3</span>
    </div>  
  </div>
</div>
<!-- ===================[ پیش نیازها]=============== -->
  <div class="lg:!mr-14 row mt-16">
    <span class="divid-h lg:!text-base">پیش نیاز های استفاده از ربات  ATM </span>
    <h6 class="faq-h mb-4 lg:!text-2xl">
      شرایط مورد نیاز برای برای راه اندازی ربات ATM
    </h6>
  </div>
  <div class="first-line:w-full row-body mt-16 ">
    <div class="lg:mr-40">
      <div class="row-p">
        <p class="body-p lg:!text-lg">
          استفاده از تمامی انواع حساب ها مجاز می باشد به جز حساب های Neting اهرم 1:500 به بالا باشد
        </p>    
      </div>
      <br>
      <div class="row-p">
        <p class="body-title lg:!text-lg">
          مشخصات سخت افزاری سرور/سیستم :
        </p>      
        <p class="body-p lg:!text-lg">
          هرچه بالاتر باشد،عملکرد بهتر است.اما حداقل:
        </p>    
      </div>
    </div>
      <div class="box-description-row grid grid-cols-1 gap-3 lg:!ml-20 lg:!mr-20 lg:grid-cols-4">
        <div class="box-description">
          <p class="b-d-p">نیازی نیست</p>
          <p class="b-d-title">:GPU</p>
        </div>
        <div class="box-description">
          <p class="b-d-p"> 50 GB</p>
          <p class="b-d-title">:HDD</p>
        </div>
        <div class="box-description">
          <p class="b-d-p"> 2 GB</p>
          <p class="b-d-title">:RAM</p>
        </div>
        <div class="box-description">
          <p class="b-d-p"> تک هسته</p>
          <p class="b-d-title">:CPU</p>
        </div>
      </div>
      <div class="lg:!mr-40 row-p">
        <p class="body-title">
          مشخصات سخت افزاری سرور/سیستم :
        </p>      
      </div>
    <div class="lg:ml-20 lg:mr-20">
      <div class="box-description-row grid grid-cols-1 gap-1 lg:grid-cols-2">
        <div class="box-description">
          <p class="b-d-p"> متاتریدر 5</p>
          <p class="b-d-title">:سرور</p>
        </div>
        <div class="box-description">
          <p class="b-d-p"> سیستم عامل</p>
          <p class="b-d-title">:ویندوز</p>
        </div>
      </div>
    </div>
  </div>
<!-- ===================[ نکات]=============== -->
<div class="lg:mr-14">
  <div class="row mt-16">
    <span class="divid-h lg:!text-base">نکات مهم استفاده از ربات  ATM </span>
    <h6 class="faq-h mb-4 lg:!text-2xl">
      نکات مهم در مورد ربات ATM
    </h6>
  </div>
</div>
<div class="row-nokat lg:!mr-40">
  <p class="nokat-p lg:!text-lg">
    استفاده از تمامی انواع حساب ها مجاز می باشد به جز حساب های Neting اهرم 1:500 به بالا باشد
  </p>      
  <p class="nokat-p lg:!text-lg">
    استفاده از تمامی  مجاز می باشد به جز <span class="p-danger">انواع حساب ها</span> حساب های Neting اهرم 1:500 به بالا باشد
  </p>      
</div>


