<div class="container mx-auto mb-10">
    <div class="flex justify-center">
        <div class="baner">
            <img class="baner-1" src="assets/img/mask2.png" alt="b">
            <div class="baner-2">
            </div>
            <img class="nemodar" src="assets/img/nemodar.png" alt="n">
        </div>
    </div>
    <div class="flex justify-between baner-matn">
        <div>
            <div class="divider-baner"></div>
            <p class="baner-title"> محصولات و خدمات ایرانی اکسپرت </p>
        </div>
        <div>
            <p class="baner-title2"> ایرانی اکسپرت در تلاش است که با استفاده از تیمی مجرب عمده <br>
                نیازهایی که یک تریدر ایرانی دارد را شناسایی و بر طرف نماید </p>
        </div>
    </div>
    <div class="flex justify-around cart-row">
        <div class="cart">
            <div class="flex flex-col ">
                <div class="icon mb-3"><img class="icon-image" src="assets/img/icon-1.png" alt="i"></div>
                <div class="mb-4"><h4 class="icon-titile">پادکست</h4></div>
                <div><p class="icon-body">نیاز علاقه مندان به بازار های مالی در قالب پادکست،ضبط شده , در دسترس میباشد</p></div>
            </div>
        </div>
        <div class="cart">
            <div class="flex flex-col">
                <div class="icon mb-3"><img class="icon-image2" src="assets/img/icon-2.png" alt="i"></div>
                <div class="mb-4"><h4 class="icon-titile">مقالات</h4></div>
                <div><p class="icon-body">پیوسته درحال تولید مقالات جامع جهت کمک به تریدرها برای کسب اطلاعات مرتبط در مسیر موفقیت</p></div>
            </div>
        </div>
        <div class="cart">
            <div class="flex flex-col">
                <div class="icon mb-3"><img class="icon-image" src="assets/img/icon-3.png" alt="i"></div>
                <div class="mb-4"><h4 class="icon-titile">اخبار فارکس</h4></div>
                <div><p class="icon-body">داده های اقتصادی  از سایت های معتبر گرد آوری،ترجمه روی سایت منتشر میشود</p></div>
            </div>
        </div>
        <div class="cart">
            <div class="flex flex-col">
                <div class="icon mb-3"><img class="icon-image3" src="assets/img/icon-4.png" alt="i"></div>
                <div class="mb-4"><h4 class="icon-titile">ربات معامله گر ATM</h4></div>
                <div><p class="icon-body">با الگوریتم ژنتیک و 3 مدیریت سرمایه وتشخیص اخبار اتوماتیک عمل میکند</p></div>
            </div>
        </div>
    </div>
</div>
  











