@media (max-width: 640px) {
  .cart-box {
    min-height: 7rem !important;
  }
  .cart-row {
    bottom: 60px;
  }
  .box-baner {
    background-color: #3246d3;
    min-width: 110vh;
  }
}
@media (min-width: 640px) {
  .cart-box {
    width: 222px;
  }
  .baner-title2 {
    font-size: 15px !important;
  }
  .baner-2 {
    height: 300px;
    border-radius: 15px;
    transform: translate(7px, 0px);
    width: 94%;
    min-width: 92%;
    margin-top: 56px;
  }
  .box-1 {
    margin-top: 56px;
    margin-left: 210px;
  }
}

.baner-1 {
  position: absolute;
  background-color: #eff0fc;
  width: 95%;
  height: 306px;
  border-radius: 30px;
  rotate: -2deg;
}
.baner-2 {
  position: relative;
  background-color: #3246d3;
  box-shadow: rgb(50 69 211 / 14%) 32px 115px 212px;
}

.candel {
  position: absolute;
  z-index: -7;
  height: auto;
  width: 1400px;
  max-height: 301px;
}
.divider-baner {
  margin-bottom: 7px;
  background-color: #96f900;
  width: 70px;
  height: 0.25rem;
  border-radius: 40px;
}
.baner-title {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.baner-title2 {
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.cart-box {
  min-width: 222px;
  flex-basis: 33%;
  max-width: 16rem !important;
  margin-right: 5px;
  padding: 25px 16px 0px 21px;
  border-radius: 20px;
  min-height: 204px;
  background-color: white;
  position: relative;
}
.absolute-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: 2rem;
    color: #ff0000;
    padding: 0.25rem 2.25rem;
    border-radius: 12px;
    border: 5px solid #ff0000;
    transform: rotate(-20deg);
  }
  border-radius: 12px;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
