<div class="all mb-7 sm:min-h-[25rem]">
  <!-- =========================[بنر ]============== -->
  <div class="flex justify-center p-4 sm:w-auto w-max">
    <div class="baner-1 sm:block hidden"></div>
    <div class="baner-2 flex sm:justify-around sm:flex-row flex-col baner-body">
      <div class="flex flex-col box-1 sm:m-0 m-2">
        <div class="divider-baner"></div>
        <p class="baner-title">محصولات و خدمات ایرانی اکسپرت</p>
      </div>
      <div class="flex flex-col text-center box-2 m-4 sm:m-0">
        <p class="baner-title2">
          ایرانی اکسپرت در تلاش است که با استفاده از تیمی مجرب عمده <br />
          نیازهایی که یک تریدر ایرانی دارد را شناسایی و بر طرف نماید
        </p>
      </div>
      <img
        class="candel hidden sm:block"
        src="assets/img/nemodar.png"
        alt="candel"
      />
    </div>
  </div>
  <!-- =========================[باکس کارت]============== -->
</div>
<div class="flex justify-around cart-row sm:flex-row flex-col items-center">
  <div class="cart-b sm:m-0 m-2">
    <div class="flex sm:flex-col">
      <div class="icon mb-3 p-2">
        <img
          class="icon-image min-w-[55px]"
          src="assets/img/icon-1.png"
          alt="i"
        />
      </div>
      <div>
        <h4 class="icon-titile mb-4">پادکست</h4>

        <p class="icon-body">
          نیاز علاقه مندان به بازار های مالی در قالب پادکست،ضبط شده , در دسترس
          میباشد
        </p>
      </div>
    </div>
  </div>
  <div class="cart-b sm:m-0 m-2">
    <div class="flex sm:flex-col">
      <div class="icon mb-3 min-w-[4rem]">
        <img class="icon-image2 p-2" src="assets/img/icon-2.png" alt="i" />
      </div>
      <div>
        <h4 class="icon-titile mb-4">مقالات</h4>
        <p class="icon-body">
          پیوسته درحال تولید مقالات جامع جهت کمک به تریدرها برای کسب اطلاعات
          مرتبط در مسیر موفقیت
        </p>
      </div>
    </div>
  </div>
  <div class="cart-b sm:m-0 m-2">
    <div class="flex sm:flex-col">
      <div class="icon mb-3 min-w-[4rem]">
        <img class="icon-image" src="assets/img/icon-3.png" alt="i" />
      </div>
      <div>
        <h4 class="icon-titile mb-4">اخبار فارکس</h4>

        <p class="icon-body">
          داده های اقتصادی از سایت های معتبر گرد آوری،ترجمه روی سایت منتشر میشود
        </p>
      </div>
    </div>
  </div>
  <div class="cart-b sm:m-0 m-2">
    <div class="flex sm:flex-col">
      <div class="icon mb-3 min-w-[4rem]">
        <img class="icon-image3" src="assets/img/icon-4.png" alt="i" />
      </div>
      <div>
        <h4 class="icon-titile mb-4">ربات معامله گر ATM</h4>
        <p class="icon-body">
          با الگوریتم ژنتیک و 3 مدیریت سرمایه وتشخیص اخبار اتوماتیک عمل میکند
        </p>
      </div>
    </div>
  </div>
</div>
