<div class="box-baner relative mt-20 mb-7 sm:min-h-[25rem]">
  <!-- =========================[بنر ]============== -->
  <div class="flex justify-center p-4 sm:w-auto w-max">
    <div class="baner-1 sm:block hidden"></div>
    <div class="baner-2 flex sm:justify-around sm:flex-row flex-col baner-body">
      <div
        class="flex flex-col md:flex-row md:justify-around w-full mr-4 ml-4 h-40"
      >
        <div class="flex flex-col box-1 sm:m-0 m-2">
          <div class="divider-baner mb-2"></div>
          <p class="text-white font-bold text-xl">
            محصولات و خدمات ایرانی اکسپرت
          </p>
        </div>
        <div
          class="flex md:items-center md:justify-center text-center box-2 m-4 sm:m-0"
        >
          <p class="text-white font-medium text-sm -mr-6 lg:text-xl sm:-mr-0">
            ایرانی اکسپرت در تلاش است که با استفاده از تیمی مجرب عمده <br />
            نیازهایی که یک تریدر ایرانی دارد را شناسایی و بر طرف نماید
          </p>
        </div>
      </div>
      <img
        loading="lazy"
        class="candel hidden sm:block"
        src="assets/img/candel.webp"
        alt="candel"
        width="1400"
        height="320"
      />
    </div>
  </div>
  <!-- =========================[باکس کارت]============== -->
</div>
<div
  class="flex justify-around sm:bottom-52 -left-1 relative mx-8 sm:flex-row flex-col items-stretch"
>
  <div class="cart-box sm:m-0 m-2">
    <div>
      <div class="absolute-custom">
        <p><b class="font-fat">به زودی</b></p>
      </div>
      <div class="flex sm:flex-col opacity-50">
        <div class="mb-3 p-2">
          <i class="icon-service-baner-1 scale-75 -mr-2"></i>
        </div>
        <div>
          <b class="font-extrabold text-lg mb-4">پادکست</b>
          <p class="font-light text-sm mb-8">
            نیاز علاقه مندان به بازار های مالی در قالب پادکست،ضبط شده , در دسترس
            میباشد
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-box sm:m-0 m-2">
    <a class="block" [routerLink]="'articles'" target="_blank">
      <div class="flex sm:flex-col">
        <div class="mb-3 min-w-[4rem]">
          <i class="icon-service-baner-2 scale-75 -mr-2"></i>
        </div>

        <div>
          <b class="font-extrabold text-lg mb-4">مقالات</b>
          <p class="font-light text-sm mb-8">
            پیوسته درحال تولید مقالات جامع جهت کمک به تریدرها برای کسب اطلاعات
            مرتبط در مسیر موفقیت
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="cart-box sm:m-0 m-2">
    <div>
      <div class="absolute-custom">
        <p><b class="font-fat">به زودی</b></p>
      </div>
      <div class="flex sm:flex-col opacity-50">
        <div class="mb-3 min-w-[4rem]">
          <i class="icon-service-baner-3 scale-75 -mr-2"></i>
        </div>
        <div>
          <b class="font-extrabold text-lg mb-4">اخبار فارکس</b>
          <p class="font-light text-sm mb-8">
            داده های اقتصادی از سایت های معتبر گرد آوری،ترجمه روی سایت منتشر
            میشود
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-box sm:m-0 m-2">
    <a class="block" [routerLink]="'shop/atm-expert'" target="_blank">
      <div class="flex sm:flex-col">
        <div class="mb-3 min-w-[4rem]">
          <i class="icon-service-baner-4 scale-75 -mr-2"></i>
        </div>

        <div>
          <b class="font-extrabold text-lg mb-4">ربات معامله گر ATM</b>
          <p class="font-light text-sm mb-8">
            با الگوریتم ژنتیک و 3 مدیریت سرمایه وتشخیص اخبار اتوماتیک عمل میکند
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
