<!-- <div class="flex justify-center mt-8 mb-8">
  <div id="dropdown-component" class="p-2">
    <div class="selected flex justify-between" (click)="toggleMenu()">
      <div class="flex w-52 mt-4 mb-4 mr-4">
        <i class="ie-content-menu-icon"></i>
        <p class="text-xl font-medium mr-4">{{ question }}</p>
      </div>
      <div class="flex ml-4 mt-4 mb-4">
        <i class="ie-content-menu-open" *ngIf="!iconActive"></i>
        <i class="ie-content-menu-close" *ngIf="iconActive"></i>
      </div>
    </div>
    <div class="menu-wrapper">
      <p [ngClass]="iconActive ? 'show-menu' : 'hide-menu'" #listElemHide>
        {{ answer }}
      </p>
    </div>
  </div>
</div> -->


<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6" id="1">
    مدیریت سرمایه چیست و چرا در بازارهای مالی مهم است؟
  </div>
  <p class="">
    مدیریت ریسک و سرمایه گذاری نقش مهمی در برایند معاملات دارد. بدون تکنیک‌های
    مناسب مدیریت سرمایه، ترید تفاوت چندانی با قمار نخواهد داشت. اگر معامله‌گر
    حداقل به مهمترین مفاهیم در مدیریت سرمایه احترام نگذارد، حتی سودآورترین
    استراتژی معاملاتی نیز نتایج مثبتی برای او به همراه نخواهد داشت.
    <br />
    مدیریت سرمایه گذاری چیست؟ مدیریت سرمایه به زبان ساده سیستمی از قوانین است که
    انتخاب حجم معاملاتی را بسته به سیستم معاملاتی و مقدار سرمایه شما توصیف
    می‌کند. مدیریت سرمایه به زبان ساده، الگوریتمی است که به شما می‌گوید با توجه
    به سبک تحلیل و مقدار سرمایه‌ای که دارید، چه حجمی از سرمایه خود را به یک
    معامله اختصاص دهید.
  </p>
</div>
<div class="flex flex-col mb-8 mt-8" id="2">
  <div class="text-xl font-medium mb-6">
    چرا مدیریت سرمایه برای معامله‌گران مهم است؟
  </div>
  <p class="">
    مدیریت سرمایه موثر به معامله‌گران کمک می‌کند تا ریسک زیان‌های قابل توجه را
    کاهش دهند. با تخصیص بخش خاصی از سرمایه خود به هر معامله، معامله‌گران
    می‌توانند از خود در برابر ضرر‌های مالی قابل توجه محافظت کنند. هدف مدیریت
    سرمایه حفظ سرمایه در بلندمدت است. این کار تضمین می‌کند که حتی پس از یک سری
    معاملات زیان‌ده، یک معامله‌گر سرمایه کافی برای ادامه معاملات و بازیابی
    زیان‌های احتمالی دارد.
    <br />
    <br />
    مدیریت سرمایه صحیح به معامله‌گران کمک می‌کند تا هنگام معامله و گرفتن تصمیم
    برای ورود یا خروج از معامله آرامش خود را حفظ کنند. بدون آن، معامله‌گران ممکن
    است وسوسه شوند که از اهرم‌های بالا استفاده کنند یا به قصد انتقام از بازار
    معامله باز کنند که می‌تواند منجر به زیان بیشتر شود. داشتن آرامش هنگام ورود
    به معالمه همچنین به شما کمک می‌کند که تصمیمات دقیق‌تری بگیرید و تحلیل درستی
    نسبت به بازار داشته باشید.
    <br />
    <br />
    با مدیریت سرمایه موثر ، معامله‌گران می‌توانند تاثیر اثر مرکب را در طول زمان
    ببینند. سود ثابت، زمانی که مجدداً عاقلانه سرمایه‌گذاری شود، می‌تواند منجر به
    رشد تصاعدی در سرمایه شود. همچنین مدیریت سرمایه به معامله‌گران اجازه می‌دهد
    تا خود را با شرایط متغیر بازار وفق دهند. این تضمین می‌کند که آنها می‌توانند
    حجم پوزیشن و حد ضرر خود را حتی هنگام نوسانات شدید بازار به درستی تنظیم کنند.
    <br />
    <br />
    این را در نظر بگیرید که حتی بهترین معامله‌گران نیز ضرر می‌کنند. مدیریت
    سرمایه صحیح به معامله‌گران کمک می‌کند تا زیان‌ها را به عنوان بخشی از فرآیند
    معاملاتی بپذیرند و تضمین می‌کند که این زیان‌ها برآیند معاملاتی آنها را خراب
    نمی‌کند. مدیریت سرمایه در معاملات ضروری است زیرا به معامله‌گران کمک می‌کند
    از سرمایه خود محافظت کنند، احساسات خود را کنترل کنند، ثبات داشته باشند و با
    شرایط متغیر بازار سازگار شوند. این یک جنبه اساسی از مدیریت ریسک است که
    می‌تواند به طور قابل توجهی بر موفقیت و پایداری طولانی مدت یک معامله‌گر در
    بازارهای مالی تأثیر بگذارد.
  </p>
</div>
<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6" id="3">
    مدیریت سرمایه مناسب چه افرادی است؟
  </div>
  <p class="">
    اگر بخواهیم به طور خلاصه به این پرسش پاسخ دهیم، باید بگوییم مدیریت سرمایه
    بدون استثنا برای همه تریدرها و افرادی که در بازارهای مالی فعالیت می‌کنند
    لازم است. این به آنها کمک می‌کند تا از سرمایه خود محافظت کنند، خطر زیان‌های
    قابل توجه را کاهش دهند و اطمینان حاصل کنند که سرمایه لازم برای ادامه حضور در
    بازارهای مالی در بلندمدت را دارند.
    <br />
    <br />
    مدیریت سرمایه به حدی اهمیت دارد که حتی موسسات مالی مانند بانک‌ها و شرکت‌های
    مدیریت دارایی، از استراتژی‌های مدیریت سرمایه برای محافظت از دارایی‌ها و
    سرمایه‌گذاری‌های مشتریان خود استفاده می‌کنند. در اصل، مدیریت سرمایه یک جنبه
    اساسی از تصمیم گیری مالی برای طیف وسیعی از افراد، سازمان‌ها و موسسات است.
    این به آنها کمک می‌کند تا ظمن حفظ سرمایه خود، آن را رشد دهند و در عین حال
    ریسک معاملات خود را مدیریت کنند.
  </p>
</div>
<div class="flex flex-col mb-16">
  <div class="text-xl font-medium mb-6" id="4">
    اهمیت و اهداف مدیریت سرمایه برای ترید در بازار فارکس
  </div>
  <p class="">
    معامله‌گران موفق فارکس اهمیت مدیریت ریسک و سرمایه در ترید را درک می‌کنند.
    آنها می‌دانند که باید سرمایه خود را عاقلانه تخصیص دهند و از استراتژی‌های
    مدیریت ریسک مناسب برای ماندن در بازار استفاده کنند. تجارت فارکس می‌تواند یک
    تجارت پرخطر باشد، و داشتن یک برنامه مدیریت سرمایه مناسب برای به حداقل رساندن
    ریسک ضروری است.
  </p>
</div>

<app-instagram-baner></app-instagram-baner>

<div class="flex mt-8 mb-8">
  <img
    class="img-articles"
    src="assets/img/money-m-img-2.webp"
    alt="img-blog"
  />
</div>

<div class="flex flex-col mb-8 mt-8" id="5">
  <div class="text-xl font-medium mb-6">
    چرا باید از مدیریت سرمایه در ترید بازار فارکس استفاده کرد
  </div>
  <p class="">
    بازار فارکس یکی از پر ریسک‌ترین بازارهای مالی است و یک استراتژی سرمایه خوب
    می‌تواند به کنترل این ریسک کمک کند. با مدیریت دقیق سرمایه خود، می‌توانید
    مقدار پولی را که در هر معامله‌ای از دست می‌دهید را به حداقل برسانید.
    <br />
    <br />
    با استفاده از استراتژی‌های مدیریت ریسک مناسب، می‌توانید از سرمایه خود محافظت
    کنید و اطمینان حاصل کنید که سرمایه کافی برای ادامه معامله دارید. البته
    مدیریت سرمایه فقط برای به حداقل رساندن ضرر نیست. این کار به شما کمک می‌کند
    سود خود را به حداکثر برسانید. با استفاده از استراتژی‌های مدیریت سرمایه
    مناسب، می‌توانید سودآوری خود را افزایش دهید.
    <br />
    <br />
    تجارت فارکس نیاز به نظم و انضباط دارد و یک استراتژی خوب مدیریت سرمایه در
    ترید می‌تواند به حفظ این نظم کمک کند. با پایبندی به برنامه خود و مدیریت دقیق
    وجوه خود، می‌توانید از تصمیم گیری‌های تکانشی که می‌تواند منجر به ضرر شود
    جلوگیری کنید.
  </p>
</div>

<div class="flex flex-col mb-8 mt-8" id="6">
  <div class="text-xl font-medium mb-6">
    اشتباهات رایج معامله‌گران هنگام مدیریت سرمایه چیست وچگونه می‌توان پیشگیری
    کرد؟
  </div>
  <p class="">
    معامله‌گران اغلب در هنگام مدیریت سرمایه خود مرتکب چندین اشتباه رایج می‌شوند
    که می‌تواند اثرات مضری بر عملکرد معاملاتی آنها داشته باشد. در اینجا برخی از
    این اشتباهات رایج آورده شده است:
  </p>
</div>


<div class="flex flex-nowrap items-start overflow-auto lg:grid lg:grid-cols-3 lg:gap-6">
    <div class="flex lg:flex-col">
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
           <div class="box-articles-title">
            معامله بیش از حد
           </div>
           <p>
            معامله بیش از حد زمانی اتفاق می‌افتد که معامله‌گران سرمایه خود را در یک معامله به خطر می‌اندازند و سعی در جبران آن و انتقام از بازار دارند یا زمانی که تریدر به دلیل نداشتن فرمول مدیریت سرمایه در ترید، احساساتی عمل کرده و طمع او باعث می‌شود 
            تا معاملات زیادی را باز کند که در اغلب موارد این معاملات با ضرر روبرو می‌شوند. باز کردن معامله بیش از حد نه‌تنها استرس شما را هنگام معامله بیشتر می‌کند، بلکه باعث ضرر‌های متوالی و سنگین در بازار می‌شود
           </p>
       </div>
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          انتقام از بازار
        </div>
        <p>
          برخی از معامله‌گران پس از تجربه ضرر و زیان وارد فاز انتقام از بازار می‌شوند. زمانی که یک تریدر سعی در انتقام از بازار دارد، کنترل احساسات خود را از دست داده و تصمیماتی می‌گیرد که ریسک بالایی دارند و اغلب منجر به زیان‌های بزرگ می‌شود
        </p>
        </div>
        <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            R/R نادیده گرفتن نسبت
          </div>
          <p>
             به این معنی است که R/R نادیده گرفتن نسبت معامله‌گران ممکن است وارد معاملاتی شوند که به نسبت سودی که دریافت می‌کنند ریسک بالایی داشته باشند. همین امر موجب منفی شدن برایند فرد در طولانی مدت خواهد شد. پیشنهاد میکنیم اگر تجربه زیادی در بازارهای مالی ندارید آنها R/R به هیچ عنوان وارد معاملاتی که نسبتکمتر از ۲ است نشوید
          </p>
        </div>
        <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            نادیده گرفتن شرایط بازار
          </div>
          <p>
            عدم تطبیق با شرایط متغیر بازار می‌تواند منجر به زیانهای سنگنین شود. معامله‌گران باید استراتژی‌ها و مدیریت ریسک خود را بر اساس شرایط فعلی بازار تنظیم کنند
          </p>
        </div>
    </div>
    <!-- ========== -->
    <div class="flex lg:flex-col">
      <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          فقدان برنامه معاملاتی
        </div>
        <p>
         نداشتن یک برنامه معاملاتی کاملاً تعریف شده که شامل استراتژي‌های مدیریت سرمایه در ترید باشد، یک اشتباه رایج است. معامله‌گران بدون برنامه به احتمال زیاد بر اساس احساسات وارد معامله می‌شوند
        </p>
       </div> 
        <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            استفاده از اهرم بالا
          </div>
          <p>
          استفاده از اهرم بالا می‌تواند سود را چندین برابر کند، اما در عین حال می‌تواند تمام سرمایه شما را از بین ببرد. معامله‌گرانی که در استراتژی سرمایه خود، ریسک معاملات را محاسبه نمی‌کنند، اغلب در این دام می‌افتند و تمام سرمایه خود را به مرور از دست می‌دهند
          </p>
         </div> 
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          عدم محاسبه حجم ورود به معامله
         </div>
         <p>
         معامله‌گرانی که حجم مناسبی را برای ورود به معامله انتخاب نمی‌کنند در اغلب اوقات در چند معامله پی‌درپی تمام سرمایه خود را از دست می‌دهند. محاسبه حجم برای ورود به معامله به شما کمک می‌کند که نه‌تنها ضرر و زیان خود را به حداقل برسانید بلکه حداکثر سود ممکن را از معامله دریافت کنید. همچنین محاسبه حجم مناسب برای ورود به معامله به شما کمک می‌کند که روی احساسات خود کنترل بیشتری داشته باشید و از گرفتن تصمیمات احساسی دوری کنید
         </p>
        </div> 
        <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            عدم صبر
          </div>
          <p>
          بی حوصلگی می‌تواند منجر به خروج یا ورود زودهنگام شود و باعث شود معامله‌گران سودهای احتمالی را از دست بدهند یا متحمل زیان‌های غیر ضروری شوند.برای جلوگیری از این اشتباهات رایج مدیریت سرمایه، معامله‌گران باید یک برنامه معاملاتی ساختاریافته ایجاد کنند، به آن پایبند باشند، حتما در هر شرایطی از حد ضرر استفاده کنند، سبد سرمایه داشته باشند و به طور مداوم در مورد بازارها و استراتژی‌های معاملاتی آموزش ببینند. علاوه بر این، کنترل احساسات و بررسی معاملات قبلی و درک دلیل شکست معامله از اهمیت بالایی برخوردار است
          </p>
        </div> 
    </div>
     <!-- ============= -->
     <div class="flex lg:flex-col">
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          نادیده گرفتن حد ضرر
        </div>
         <p>
          عدم استفاده از حد ضرر یا نادیده گرفتن آن یک اشتباه خطرناک است که اغلب تریدر‌های مبتدی و تازه‌کار این اشتباه را مرتکب می‌شوند. حد ضرر برای محدود کردن ضررهای سنگین احتمالی و حفظ سرمایه ضروری است
        </p>
        </div> 
         <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            پخش نکردن سرمایه و نداشتن سبد سرمایه
          </div>
           <p>
            اگر سرمایه به صورت کامل در یک معامله یا دارایی خاص سرمایه‌گذاری شود، معامله‌گر به طور نامعقولی بیشتر در معرض ریسک می‌افتد. در صورتی که این معامله به خوبی پیش نرود، می‌تواند منجر به خسارتهای قابل توجهی شود. در صورتی که معامله‌گر تمام سرمایه خود را در یک معامله قرار دهد، هر تغییر کوچک در قیمت می‌تواند تأثیر قابل توجهی بر سرمایه وی داشته باشد
          </p>
          </div> 
        <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
          <div class="box-articles-title">
            اطمینان بیش از حد به تحلیل
          </div>
          <p>
            اعتماد بیش از حد می‌تواند معامله‌گران را به سمت باز کردن معامله با حجم‌های بزرگتر یا نادیده گرفتن قوانین مدیریت ریسک سوق دهد. تواضع و واقع بین بودن در مورد توانایی‌های معاملاتی خود بسیار ضروری است
          </p>
         </div> 
     </div>
</div>
<div class="flex mt-8 mb-8">
  <img
    class="img-articles"
    src="assets/img/money-m-img-3.webp"
    alt="img-blog"
  />
</div>

<div class="flex flex-col mb-8 mt-8" id="7">
  <div class="text-xl font-medium mb-6">
    تقسیم سرمایه در بازار فارکس به چه صورت است؟
  </div>
  <p class="">
    وقتی صحبت از سرمایه‌گذاری به میان می‌آید، داشتن یک سبد سرمایه‌گذاری استراتژی
    کلیدی است که می‌تواند به کاهش ریسک و به حداکثر رساندن بازدهی کمک کند. این
    اصل برای بازار فارکس نیز صادق است. با سرمایه‌گذاری در جفت‌ارزهای مختلف،
    معامله‌گران فارکس می‌توانند ریسک خود را در جفت ارزهای مختلف پخش کنند و به
    طور بالقوه شانس موفقیت خود را افزایش دهند.
    <br />
    مفهوم لات در معاملات فارکس به اندازه موقعیت یک معامله‌گر اشاره دارد. یک لات
    معادل 100000 واحد ارز پایه است که همان ارز خرید و فروش می‌شود. برای مثال،
    اگر یک معامله‌گر یک لات یورو/دلار آمریکا بخرد، اساساً 100000 یورو می‌خرند و
    معادل آن را به دلار آمریکا می‌فروشند.
    <br />
    سرمایه‌گذاری در چندین بخش به دلایل مختلفی می‌تواند سودمند باشد. اولا، به
    معامله‌گران اجازه می‌دهد تا از ضررهای سنگین احتمالی دوری کنند. بازار فارکس
    تحت تأثیر طیف گسترده ای از عوامل از جمله شاخص‌های اقتصادی و سیاست‌های بانک
    مرکزی قرار دارد. با سرمایه‌گذاری در جفت ارزهای مختلف، معامله‌گران می‌توانند
    ریسک معاملات را پخش کرده و تأثیر یک ارز واحد را کاهش دهند.
    <br />
    به عنوان مثال، اگر یک معامله‌گر تمام سرمایه خود را روی یک جفت ارز
    سرمایه‌گذاری کند و ارزش آن جفت کاهش ناگهانی و قابل توجهی را تجربه کند، کل
    پرتفوی او در معرض خطر خواهد بود. اما با پخش کردن سرمایه و داشتن یک پورتفو با
    جفت‌ارزهای متنوع، می‌توان تأثیر هر گونه ضرر بر روی یک جفت ارز واحد را کاهش
    داد.
    <br />
    علاوه بر این، سرمایه‌گذاری روی جفت‌ارزهای متنوع می‌تواند فرصت‌های مناسبی را
    برای سود فراهم کند. جفت ارزهای مختلف دارای سطوح متفاوتی از نوسانات و نقدینگی
    هستند. با ایجاد یک سبد سرمایه‌گذاری مناسب، معامله‌گران می‌توانند از شرایط
    مختلف بازار استفاده کنند و به طور بالقوه شانس خود را برای معاملات سودآور
    افزایش دهند.
    <br />
    علاوه بر این، سرمایه‌گذاری در لات‌های متعدد به معامله‌گران اجازه می‌دهد تا
    از استراتژی‌های معاملاتی مختلف استفاده کنند. برخی از جفت‌های ارز ممکن است
    برای اسکالپینگ مناسب‌تر باشند، جایی که معامله‌گران قصد دارند از نوسانات
    کوتاه‌مدت قیمت سود کسب کنند، در حالی که برخی دیگر ممکن است برای استراتژی‌های
    طولانی‌مدت و دنبال کردن روند مناسب‌تر باشند. با داشتن یک استراتژی سرمایه
    مناسب، معامله‌گران می‌توانند رویکرد معاملاتی خود را با جفت ارزهای مختلف و
    شرایط بازار تطبیق دهند.
    <br />
    شایان ذکر است که در استفاده از استراتژی‌های مدیریت ریسک و مدیریت سرمایه هیچ
    تضمینی برای حفظ سرمایه شما وجود ندارد. معامله در فارکس و هر بازار مالی دیگری
    ذاتاً ریسکی است و همیشه احتمال ضرر وجود دارد. با این حال، معامله‌گران با
    داشتن یک پورتفو مناسب، به طور بالقوه می‌توانند تأثیر هر گونه ضرر را کاهش
    دهند و شانس موفقیت بلندمدت خود را افزایش دهند.
    <br />
    نکته مهمی که باید در نظر داشته باشید این است که اگر به تازگی شروع به ترید
    کرده اید، ترید با سرمایه کم را به شما پیشنهاد می‌کنیم. با بیشتر شدن تجربه
    می‌توانید به همان نسبت سرمایه خود را برای ترید افزایش دهید.
    <br />
    معامله‌گران فارکس برای تنوع بخشیدن به سبد سهام خود باید چندین عامل را در نظر
    بگیرند. اولاً، آنها باید جفت ارزهایی را که همبستگی کمی با یکدیگر دارند را با
    دقت انتخاب کنند. جفت ارزهایی که تحت تأثیر عوامل مشابه هستند یا دارای همبستگی
    قوی هستند و ممکن است در یک جهت حرکت کنند می‌تواند پورتفو شما را خراب کند.
    <br />
    در مرحله دوم، معامله‌گران باید میزان سرمایه تخصیص یافته به هر جفت ارز را در
    نظر بگیرند. تخصیص باید بر اساس تجزیه و تحلیل دقیق و در نظر گرفتن نسبت R/R،
    شرایط بازار و میزان سرمایه باشد. تخصیص سرمایه بیش از حد به یک جفت ارز واحد
    می‌تواند ریسک را افزایش دهد، در حالی که تخصیص بسیار کم ممکن است پتانسیل سود
    را کاهش دهد.
    <br />
    علاوه بر این، معامله‌گران همچنین باید به طور مستمر پرتفوی خود را نظارت و
    ارزیابی کنند. شرایط بازار و همبستگی بین جفت ارزها می‌تواند در طول زمان تغییر
    کند و تنظیم پرتفوی بر این اساس مهم است. بررسی منظم عملکرد هر جفت ارز و انجام
    تنظیمات لازم می‌تواند به حفظ یک سبد موثر و متنوع کمک کند.
  </p>
</div>

<div class="flex flex-col mb-8 mt-8" id="8">
  <div class="text-xl font-medium mb-6">
    مهم ترین فاکتور مدیریت سرمایه در بازار فارکس چیست؟
  </div>
  <p class="">
    بدون شک داشن یک سبد سرمایه مهمترین فاکتور مدیریت سرمایه در بازار فارکس است.
    تنوع بخشیدن به سبد خود با سرمایه‌گذاری روی جفت‌ارزهای متنوع، یک استراتژی مهم
    در معاملات فارکس است. معامله‌گران با توزیع ریسک در جفت ارزهای مختلف، به طور
    بالقوه می‌توانند تأثیر هر گونه ضرر را کاهش دهند و شانس موفقیت خود را افزایش
    دهند. با این حال، انتخاب دقیق جفت ارزها، تخصیص عاقلانه سرمایه و ارزیابی منظم
    پرتفوی برای اطمینان از اثربخشی آن، مهم است. در حالی که داشتن سبد سرمایه سود
    را تضمین نمی کند، اما ابزار ارزشمندی برای مدیریت ریسک و به حداکثر رساندن
    بازده در بازار پویا و همیشه در حال تغییر فارکس است.
  </p>
</div>

<div class="flex mt-8 mb-8">
  <img
    class="img-articles"
    src="assets/img/money-m-img-4.webp"
    alt="img-blog"
  />
</div>

<div class="flex flex-col mb-8 mt-8" id="9">
  <div class="text-xl font-medium mb-6">
    حداقل سرمایه در بازار فارکس به چه صورت است؟
  </div>
  <p class="">
    معامله در بازار فارکس نیاز به سرمایه دارد و میزان سرمایه مورد نیاز شما به
    عوامل مختلفی بستگی دارد. این عوامل شامل استراتژی معاملاتی شما، ریسک پذیری،
    تجربه معاملاتی و بروکری است که شما در آن معامله می‌کنید. در اینجا چند فاکتور
    کلیدی وجود دارد که تعیین می‌کند برای شروع تجارت فارکس به چه میزان سرمایه
    نیاز دارید
  </p>
</div>



<div class="flex flex-nowrap items-start overflow-auto lg:grid lg:grid-cols-3 lg:gap-6">
  <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        استراتژی معاملاتی
        </div>
         <p>
          استراتژی معاملاتی شما یکی از مهم ترین عواملی است که تعیین می‌کند برای شروع معاملات فارکس به چه میزان سرمایه نیاز دارید. اگر شما یک معامله‌گر روزانه هستید، به سرمایه بیشتری نسبت به یک معامله‌گر سوئینگ نیاز دارید. 
          معامله‌گران روزانه باید سرمایه کافی برای پوشش مارجین مورد نیاز خود داشته باشند، از سوی دیگر، معامله‌گران سوئینگ سرمایه کمتری برای شروع معاملات فارکس نیاز دارند.
        </p>
     </div>
  </div>
  <!-- ========== -->
  <div class="flex lg:flex-col">
      <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          تجربه
        </div>
        <p>
          تجربه معاملاتی شما در میزان سرمایه مورد نیاز برای شروع معامله در فارکس نیز نقش دارد. اگر در ترید تازه کار هستید، 
          بهتر است با سرمایه کمتری شروع کنید تا تجربه بیشتری از بازار کسب کنید. با کسب تجربه بیشتر، می‌توانید سرمایه خود را افزایش دهید و ریسک بیشتری بپذیرید.
        </p>
      </div> 
  </div>
   <!-- ============= -->
   <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        بروکر
      </div>
       <p>
         بروکری که انتخاب می‌کنید همچنین تعیین می‌کند که برای شروع تجارت فارکس به چه میزان سرمایه نیاز دارید. برخی از بروکرها به حداقل سپرده 100 دلاری نیاز دارند،
         در حالی که برخی دیگر به حداقل سپرده 10000 دلاری یا بیشتر نیاز دارند. شما باید بروکری را انتخاب کنید که شرایط معاملاتی متناسب با استراتژی معاملاتی و ریسکشما را ارائه دهد
      </p>
      </div> 
   </div>
</div>

<div class="flex flex-col mb-8 mt-8">
  <p>
    اما در کل، به عنوان یک قانون کلی، شما بهتر است حداقل 1000 دلار برای شروع
    معامله در فارکس داشته باشید. این مقدار سرمایه به شما این امکان را می‌دهد که
    سود مناسبی از بازار کسب کنید. با این حال، اگر یک معامله‌گر مبتدی هستید، بهتر
    است با سرمایه کمتری شروع کنید و با کسب تجربه و اعتماد بیشتر در استراتژی
    معاملاتی خود، به تدریج سرمایه خود را افزایش دهید. این به شما امکان می‌دهد
    ریسک خود را به حداقل برسانید.
  </p>
</div>

<div class="flex flex-col mb-8 mt-8" id="13">
  <div class="text-xl font-medium mb-6">بهترین روش مدیریت سرمایه در ترید</div>
  <p class="">
    بهترین استراتژی مدیریت ریسک و سرمایه در ترید، به اهداف مالی فردی، تحمل ریسک
    و سبک معاملاتی شما بستگی دارد. با این حال، چندین اصل و استراتژی کلیدی وجود
    دارد که می‌تواند به شما در مدیریت موثر سرمایه کمک کند. در ادامه به بررسی
    انواع استراتژی مدیریت سرمایه می‌پردازیم
  </p>
</div>

<div class="flex mt-8 mb-8">
  <a href="shop/atm-expert">
    <img
      class="rounded-xl object-cover h-full hidden lg:block"
      src="assets/img/robot-trader.webp"
      alt="link-bot"
    />
    <img
      src="../../../assets/img/robot-trader-res.webp"
      class="cursor-pointer sm:hidden w-full h-full"
      alt="bot-img"
    />
  </a>
</div>

<div class="flex flex-col mb-8 mt-8" id="14">
  <div class="text-xl font-medium mb-2"
    >انواع استراتژی مدیریت سرمایه چیست؟</div
  >
</div>


<div class="flex flex-nowrap items-start overflow-auto lg:grid lg:grid-cols-3 lg:gap-6">
  <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        با سرمایه آزاد خود ترید کنید
        </div>
         <p>
          اولین نکته مدیریت سرمایه در فارکس، این است که فقط با پولی معامله کنید که توان از دست دادن آن را داشته باشید. به عنوان یک معامله‌گر مبتدی، فقط باید با سرمایه ای معامله کنید که اگر آن را از دست دادید ضرر سنگینی متحمل نشوید. در این روش شما فقط سرمایه ای را به خطر می‌اندازید که در صورت از دست دادن آن، زندگی شما را به شدت تغییر نمی دهد. هرگز با پولی که برای اقلام ضروری نیاز دارید معامله نکنید.
           پول اجاره، مسکن، غذا و غیره به هیچ عنوان برای ترید مناسب نیستند. هیچ ضمانتی در سودده بودن بازار فارکس نیست پس روی پولی که برای شما مهم است ریسک نکنید
        </p>
     </div>
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        تعیین یک درصد ثابت
      </div>
      <p>
        رویکرد دیگر این است که در هر معامله درصد ثابتی از موجودی حساب خود را به خطر بیندازید. بنابراین، اگر یک معامله‌گر موجودی حساب 10000 پوندی داشته باشد و تصمیم بگیرد که می‌خواهد 2% از سرمایه خود را روی هر معامله ریسک کند، اولین معامله او 200 پوند ریسک خواهد داشت. مزیت استفاده از این روش در استراتژي مدیریت سرمایه فارکس شما این است که بر خلاف استفاده از مبلغ ثابت، ریسک شما در هر معامله همراه با مانده حساب شما در نوسان است. به همین دلیل اگر به آن پایبند باشد، هرگز نمی‌توانید موجودی حساب خود را به طور کامل از بین ببرید و زمانی که معاملات خوبی را باز کنید،
         ریسک شما افزایش می‌یابد تا از میزان سرمایه بالاتری که در اختیار دارید استفاده کنید. و زمانی که معاملات شما با ضرر مواجه می‌شوند ریسک شما پایین می‌آید تا کال مارجین نشوید.
      </p>
      </div>
  </div>
  <!-- ========== -->
  <div class="flex lg:flex-col">
    <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        تعین حد ضرر برای هر معامله
      </div>
      <p>
        هنگامی که در مورد مقدار پولی که می‌خواهید با آن معامله کنید تصمیم گرفتید، گام بعدی در ایجاد یک مدیریت سرمایه استراتژیک این است که تعیین کنید چقدر در هر معامله ریسک می‌کنید و چگونه می‌خواهید این را اندازه گیری کنید. دو روش متداول برای تعیین مقدار ریسک وجود دارد که هر کدام مزایا و معایب خود را دارند.
      </p>
     </div> 
      <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          مد نظر خود را R/R نسبت تعیین کنید
        </div>
        <p>
          این انتخاب به استراتژی و شخصیت معاملاتی و به ویژه ریسک پذیری شما بستگی دارد. برای مثال، نسبت R/R ۱ به این معنی است که اگر حداکثر ضرر قابل قبول شما 100 دلار باشد، حد سود شما نیز 100 دلار خواهد بود. اما، نسبت 3 برای همان مقدار ریسک، حد سود 300 دلار را به همراه خواهد داشت.
           به طور کلی پذیرفته شده است که نسبت R/R باید بالاتر از 1 باشد. این به این دلیل است که اگر سه معامله متوالی را در سود بستید و سپس سه معامله متوالی را با ضرر خارج شدید و نسبت ریسک به پاداش شما 1 بود، در مجموع سودی نخواهید کرد. در حالی که اگر با نسبت R/R 1:2 معامله می‌کردید و سه سود و سه ضرر داشتید، چون حد سود شما بیشتر از حد ضرر هر معامله بود، باز هم در سود خواهید بود.
        </p>
       </div> 
  </div>
   <!-- ============= -->
   <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        تعیین یک مبلغ ثابت 
      </div>
       <p>
        برخی از معامله‌گران حداکثر ریسک خود را در هر معامله به عنوان یک مقدار سرمایه ثابت تعیین می‌کنند. به عنوان مثال، یک معامله‌گر ممکن است 10000 دلار سرمایه داشته باشد و تعیین کند که در هر معامله 500 دلار ریسک خواهد کرد. اجرای این روش بسیار ساده است. برای هر معامله،
         صرف نظر از اینکه شرایط بازار چگونه است، شما دقیقا می‌دانید که چقدر قرار است ریسک کنید. اگر روزانه 10 معامله انجام دهید، بدون محاسبه زیاد می‌دانید که کل ریسک شما 5000 دلار خواهد بود.
      </p>
      </div> 
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          از اهرم‌های بالا استفاده نکنید
        </div>
         <p>
          اهرم به معامله‌گران فارکس این امکان را می‌دهد که پوزیشن‌های بزرگتری نسبت به سرمایه خود باز کنند. اساساً، معامله‌گر برای باز کردن یک پوزیشن اهرمی، از بروکر خود پول قرض می‌کند. به عنوان مثال، اگر معامله‌گری دارای اهرم 1:20 باشد، می‌تواند پوزیشنی به ارزش 10000 پوند با تنها 500 پوند در حساب خود باز کند. معاملات اهرمی در نگاه اول بسیار سودده به نظر می‌رسند و اگر به درستی استفاده شود، می‌تواند سود بسیار خوبی برای شما داشته باشد.
           با این حال، اهرم یک شمشیر دو لبه است. وقتی از اهرم استفاده می‌کنید در کنار سودهای بزرگ زیان‌های بزرگی نیز خواهید داشت. بنابراین، استفاده از اهرم باید بسیار با دقت انجام شود.
        </p>
        </div> 
      <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          برداشت سود
        </div>
        <p>
          چیزی که بسیاری از معامله‌گران در آن مقصر هستند این است که هرگز سود خود را برداشت نمی کنند. اگر سود قابل توجهی در معاملات خود کردید مقداری از آن را برداشت کنید، از آن لذت ببرید، کاری ارزشمند با پول انجام دهید. همانطور که در ابتدا گفتیم، یکی از وظایف استراتژی مدیریت سرمایه، به حداکثر رساندن سود شما است. برای انجام این کار،
           باید در صورت سود کردن، مراقب سود خود باشید. هر چه پول بیشتر در حساب معاملاتی شما بماند، احتمال اینکه با آن معامله کنید و احتمالاً آن را از دست بدهید، بیشتر می‌شود.
        </p>
       </div> 
   </div>
</div>


<div class="flex flex-col mb-8 mt-8" id="15">
  <div class="text-xl font-medium mb-6">
    عوامل مهم در سیستم مدیریت سرمایه چیست؟
  </div>
  <p class="">
    عوامل مهمی روی سیستم مدیریت سرمایه شما تاثیر می‌گذارند مانند مقدار سرمایه،
    شخصیت معامله‌گری ریسک پذیری. شما باید با استراتژی های مدیریت سرمایه گذاری
    پیشرفته آشنا شده و سپس بتوانید از‌ آنها با توجه به شرایط مالی و ذهنی خود
    استفاده کنید.
    <br />
    به عنوان مثال مقدار سرمایه شما یک عامل مهم در تعیین سیستم مدیریت سرمایه شما
    است. این بر حد ریسک، حجم معاملات، پورتفو و استراتژی کلی معاملات شما تأثیر
    می‌گذارد. صرف نظر از اندازه حساب شما، نکته کلیدی این است که یک برنامه مدیریت
    سرمایه سنجیده داشته باشید که با اهداف مالی و تحمل ریسک شما همسو باشد.
    <br />
    شخصیت معاملاتی شما تاثیر بزرگی روی سیستم مدیریت سرمایه شما دارد. شناخت شخصیت
    معاملاتی خود به شما اجازه می‌دهد تا رویکرد خود را برای مدیریت ریسک و تخصیص
    سرمایه به گونه ای تنظیم کنید که با مشخصات روانشناختی و اهداف مالی شما مطابقت
    داشته باشد. توانایی شما در کنترل احساسات، که جنبه مهمی از شخصیت معاملاتی
    شماست، بر نحوه مدیریت ریسک تاثیر می‌گذارد.
    <br />
    معامله‌گرانی که از نظر احساسی افراد پایدارتر و صبورتری هستند، مجاز هستند تا
    ریسک به نسبت بیشتری را در معاملات قبول کنند، در حالی که آنهایی که اغلب
    تصمیم‌های احساسی می‌گیرند ممکن است هنگام مواجهه با ضرر از سیستم مدیریت
    سرمایه خود منحرف شوند.
  </p>
</div>

<div class="flex mt-8 mb-8">
  <img
    class="img-articles"
    src="assets/img/money-m-img-5.webp"
    alt="img-blog"
  />
</div>

<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6" id="16">
    عدم استفاده از مدیریت ریسک چه عواقبی دارد؟
  </div>
  <p class="">
    عدم استفاده از مدیریت ریسک در معاملات می‌تواند عواقب شدید و بالقوه مخربی
    داشته باشد. بدون مدیریت ریسک، شما خود را در معرض زیان‌های قابل توجه قرار
    می‌دهید. ریسک کنترل نشده می‌تواند منجر به از بین رفتن سریع سرمایه شما شود و
    بازیابی آن را چالش برانگیز کند. این ضررهای بزرگ و غیرمنتظره می‌تواند منجر به
    استرس و اضطراب شود که می‌تواند تصمیم گیری شما را مختل کند. احساساتی مانند
    ترس و طمع ممکن است باعث ورود به معاملات اشتباه شوند.
    <br />
    معامله بدون مدیریت ریسک می‌تواند منجر به فرسودگی زودهنگام یا ترک بازار شود.
    بسیاری از معامله‌گرانی که به دلیل مدیریت ریسک ضعیف متحمل ضررهای قابل توجهی
    می‌شوند، در نهایت معامله و ترید را رها می‌کنند. غفلت از مدیریت ریسک به این
    معنی است که شما حفظ سرمایه خود را در اولویت قرار نمی دهید. حفاظت از سرمایه
    برای پایداری بلندمدت در بازارها یکی از مواردی است که تریدرهای تازه وارد آن
    را راعایت نمی‌کنند.
    <br />
    متحمل شدن ضررهای قابل توجه بدون مدیریت ریسک می‌تواند اعتماد شما را نسبت به
    توانایی‌های معاملاتی شما از بین ببرد. ممکن است شما را در انجام معاملات مردد
    کند، حتی زمانی که آنها با استراتژی شما هماهنگ هستند. همچنین این ضررهای مالی
    و استرس ناشی از معامله می‌تواند به زندگی شخصی شما سرایت کند و بر روند کلی
    زندگی شما تأثیر بگذارد.
    <br />
    عدم استفاده از مدیریت ریسک در معاملات می‌تواند منجر به زیان‌های مالی، روانی
    و حتی تاثیر منفی روی رفاه کلی شما شود. مدیریت ریسک یک جزء ضروری از شیوه‌های
    معاملاتی مسئولانه و پایدار است که به شما کمک می‌کند از سرمایه خود محافظت
    کنید و در ماهیت غیرقابل پیش‌بینی بازارهای مالی حرکت کنید.
  </p>
</div>

<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6" id="17">
    عملکرد موثر تریدرها برای بهبود مدیریت سرمایه و بازدهی بیشتر استفاده میکنند؟
  </div>
  <p class="">
    توانایی به حداکثر رساندن بازده و در عین حال به حداقل رساندن ریسک یک هدف
    اساسی برای هر تریدر و سرمایه‌گذاری است. در ادامه استراتژی‌ها و ترفندهایی که
    معامله‌گران برای افزایش بازدهی خود در معاملات به کار می‌برند را بررسی خواهیم
    کرد.
  </p>
</div>



<div class="flex flex-nowrap items-start overflow-auto lg:grid lg:grid-cols-3 lg:gap-6">
  <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        استفاده از یک استراتژی معاملاتی صحیح
        </div>
         <p>
          اولین نکته مدیریت سرمایه در فارکس، این است که فقط با پولی معامله کنید که توان از دست دادن آن را داشته باشید. به عنوان یک معامله‌گر مبتدی، فقط باید با سرمایه ای معامله کنید که اگر آن را از دست دادید ضرر سنگینی متحمل نشوید. در این روش شما فقط سرمایه ای را به خطر می‌اندازید که در صورت از دست دادن آن، زندگی شما را به شدت تغییر نمی دهد. هرگز با پولی که برای اقلام ضروری نیاز دارید معامله نکنید.
           پول اجاره، مسکن، غذا و غیره به هیچ عنوان برای ترید مناسب نیستند. هیچ ضمانتی در سودده بودن بازار فارکس نیست پس روی پولی که برای شما مهم است ریسک نکنید
        </p>
     </div>
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        استفاده از اهرم با توجه به مدیریت ریسک
      </div>
      <p>
        استفاده از اهرم در حالی که می‌تواند سود را افزایش دهد،
         در صورت عدم استفاده عاقلانه می‌تواند منجر به زیان‌های قابل توجهی نیز شود. معامله‌گران باید خطرات مرتبط با معاملات اهرمی را درک کنند و بسیار با احتیاط از آن استفاده کنند. 
      </p>
      </div>
  </div>
  <!-- ========== -->
  <div class="flex lg:flex-col">
    <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        آموزش دیدن به طور مستمر
      </div>
      <p>
        بازارهای مالی همچون فارکس و کریپتو، بسیار پویا هستند. به روز ماندن و اطلاع از آخرین اخبار در این بازارها بسیار مهم است. معامله‌گران باید برای یادگیری در مورد تحلیل‌های بنیادی و فنی، شاخص‌های اقتصادی و
         احساسات بازار زمان بگذارند. منابع آموزشی متعددی مانند کتاب ها، دوره‌های آنلاین، وبینارها و انجمن‌ها می‌توانند به معامله‌گران کمک کنند تا دانش و مهارت‌های خود را افزایش دهند.
      </p>
     </div> 
      <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          حفظ انضباط و کنترل احساسات
        </div>
        <p>
          همانطور که بالاتر گفته شد، بازارهای مالی بسیار پر نوسان هستند پس  ضروری است که هنگام تحلیل بازار و ورود به معامله احساسات خود را کنترل کنید و به استراتژی معاملاتی خود پایبند باشید، مخصوصا هنگام ضرر کردن. احساساتی مانند ترس و
           طمع می‌توانند تحلیل شما را تحت الشعاع قرار دهند و منجر به تصمیمات هیجانی شوند. داشتن قوانین سختگیرانه برای ورود به معامله و تمرین خودکنترلی می‌تواند به جلوگیری از گرفتن تصمیمات هیجانی کمک کند.
        </p>
       </div> 
  </div>
   <!-- ============= -->
   <div class="flex lg:flex-col">
     <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
      <div class="box-articles-title">
        استفاده از تکنیک‌های مدیریت ریسک
      </div>
       <p>
        برخی از معامله‌گران حداکثر ریسک خود را در هر معامله به عنوان یک مقدار سرمایه ثابت تعیین می‌کنند. به عنوان مثال، یک معامله‌گر ممکن است 10000 دلار سرمایه داشته باشد و تعیین کند که در هر معامله 500 دلار ریسک خواهد کرد. اجرای این روش بسیار ساده است. برای هر معامله،
         صرف نظر از اینکه شرایط بازار چگونه است، شما دقیقا می‌دانید که چقدر قرار است ریسک کنید. اگر روزانه 10 معامله انجام دهید، بدون محاسبه زیاد می‌دانید که کل ریسک شما 5000 دلار خواهد بود.
      </p>
      </div> 
       <div class="box-articles ml-6 lg:ml-0 w-72 lg:w-full mb-4">
        <div class="box-articles-title">
          داشتن ژورنال معاملاتی
        </div>
         <p>
          این به معامله‌گران اجازه می‌دهد تا معاملات خود را تجزیه و تحلیل کنند، الگوها را شناسایی کنند و از اشتباهات گذشته درس بگیرند. ژورنال شما باید شامل جزئیاتی مانند نقاط ورود و خروج،
           دلایل ورود به معامله، احساسات شما هنگام ورود و در طول معامله و نتیجه آن معامله باشد. مرور منظم این ژورنال می‌تواند به بهبود و اصلاح استراتژی‌های معاملاتی شما کمک کند.
        </p>
        </div> 
   </div>
</div>


<div class="flex mt-8 mb-8">
  <img
    class="img-articles"
    src="assets/img/money-m-img-6.webp"
    alt="img-blog"
  />
</div>

<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6" id="18">
    تحلیل مالی(سود و زیان) برای مدیریت سرمایه به چه صورت است؟
  </div>
  <p class="">
    اولین قدم در محاسبه سود و زیان در فارکس، درک اصطلاحات اساسی مورد استفاده در
    معاملات فارکس است. مهمترین اصطلاحات عبارتند از "pip" و "lot". پیپ کوچکترین
    واحد اندازه گیری در معاملات فارکس است و به حرکت قیمت یک جفت ارز اشاره دارد.
    و لات واحد اندازه گیری استاندارد در معاملات فارکس است و یک مقدار مشخص ارز را
    نشان می‌دهد.
    <br />
    <br />
    هستید و 1 لات را با نرخ 1.1200 EUR/USD را در نظر بگیرید. به عنوان مثال، اگر
    شما در حال معامله (buy/sell) برای محاسبه سود و زیان در فارکس، باید حجم، نرخ
    و جهت معامله خریداری می‌کنید، اندازه معامله شما 100000 یورو خواهد بود. اگر
    نرخ ارز به 1.1300 برسد و شما از معامله خارج شوید، 100 پیپ سود خواهید داشت.
  </p>
</div>

<div class="flex flex-col mb-8 mt-8">
  <div class="text-xl font-medium mb-6">فرمول محاسبه سود و ضرر در فارکس</div>
  <div class="flex text-sm justify-end items-center font-bold lg:!text-2xl">
    سود/ضرر <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">=</div> مقدار
    لات
    <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl"> &times; </div> مقدار
    پیپ <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl"> &times; </div>
    <div>{{ "{قیمت ورود" }}</div
    ><div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">-</div>
    <div>{{ "قیمت خروج}" }}</div>
  </div>
  <p class="mb-4 mt-4">بیایید این فرمول را بشکنیم</p>
  <div class="block lg:flex">
    <p class="mb-4 mr-3 text-lg font-medium">
      قیمت خروج: قیمتی که معامله خود را در آن بسته اید.
    </p>
    <p class="mb-4 mr-3 text-lg font-medium">
      مقدار لات: مقدار لات ارزی که با آن در معامله هستید.
    </p>
  </div>
  <div class="block lg:flex">
    <p class="mb-4 mr-3 text-lg font-medium">
      قیمت ورود: قیمتی که معامله خود را در آن باز کرده اید.
    </p>
    <p class="mb-4 mr-3 text-lg font-medium">
      ارزش پیپ: ارزش یک پیپ ارزی که معامله می‌کنید.
    </p>
  </div>
  <p>
    به عنوان مثال، فرض کنید که شما 1 لات یورو/دلار آمریکا را با نرخ 1.1200
    خریداری می‌کنید و معامله خود را با نرخ 1.1300 می‌بندید. سود شما خواهد بود:
  </p>
  <div
    class="flex justify-end items-center mt-4 mb-4 text-base sm:!text-lg lg:!text-2xl font-bold"
  >
    $1,000 <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">=</div> 0.0001
    <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">&times;</div> 100,000
    <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">&times;</div>
    <div>{{ "{1.1200" }}</div
    ><div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">-</div>
    <div>{{ "1.1300}" }}</div>
  </div>
  <p>
    از طرف دیگر، اگر 1 لات یورو/دلار آمریکا را با نرخ 1.1200 فروخته باشید: و
    موقعیت خود را با نرخ مبادله 1.1300 ببندید، ضرر شما به این صورت خواهد بود:
  </p>
  <div
    class="flex justify-end items-center text-base sm:!text-lg mt-4 mb-4 font-bold lg:!text-2xl"
  >
    $1.000- <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">=</div> 0.0001
    <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">&times;</div> 100,000
    <div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">&times;</div>
    <div>{{ "{1.1200" }}</div
    ><div class="amalgar md:!mr-3 md:!ml-3 lg:!text-4xl">-</div>
    <div>{{ "1.1300}" }}</div>
  </div>
  <p>در این مثال، شما 1000 دلار در معامله خود از دست داده اید.</p>
</div>

<a href="copy-trade" target="_blank">
  <div class="hidden lg:flex mt-8 mb-8">
    <img
      class="img-articles"
      src="assets/img/baner-copyTrade.webp"
      alt="baner"
    />
  </div>
  <div class="flex justify-center lg:hidden mt-8 mb-8">
    <img
      class="img-articles max-w-[350px]"
      src="assets/img/baner-copyTrade-2.webp"
      alt="baner"
    />
  </div>
</a>

<div class="flex flex-col mb-8 mt-8" id="19">
  <div class="text-xl font-medium mb-6">
    اجرای استراتژی مدیریت سرمایه برای محدود کردن ضررهای احتمالی
  </div>
  <p class="">
    حداکثر مقدار سرمایه ای را که می‌خواهید در یک معامله به خطر بیاندازید، تعیین
    کنید. یک قانون کلی رایج این است که در هر معامله ای بیش از 1 تا 2 درصد از کل
    سرمایه خود را ریسک نکنید. از قرار دادن تمام سرمایه خود روی یک معامله خودداری
    کنید. و حتما یک پرتفوی مناسب حجم سرمایه خود داشته باشید. داشتن پرتفو (سبد
    سرمایه‌گذاری) می‌تواند به کاهش ریسک معاملات کمک کند.
    <br />
    <br />
    به یاد داشته باشید که مدیریت سرمایه یک رویکرد یکسان نیست. باید متناسب با
    تحمل ریسک فردی و سبک معاملاتی شما باشد. با اجرای شیوه‌های صحیح مدیریت
    سرمایه، می‌توانید به حفظ سرمایه تجاری خود کمک کرده و شانس موفقیت بلندمدت خود
    را در بازارها افزایش دهید.
  </p>
  <p class="flex justify-end ml-2">منابع</p>
  <div class="flex flex-col items-end">
    <a
      class="links"
      href="https://www.forex.academy/what-is-money-management-in-forex/"
      >https://www.forex.academy/what-is-money-management-in-forex</a
    >
    <a
      class="links"
      href="https://www.forex.academy/diversifying-your-portfolio-the-importance-of-investing-in-multiple-lots-in-forex/"
      >https://www.forex.academy/diversifying-your-portfolio-the-importance-of-investing-in-multiple-lots-in-forex</a
    >
    <a
      class="links"
      href="https://admiralmarkets.com/education/articles/forex-basics/forex-money-management-tips"
      >https://admiralmarkets.com/education/articles/forex-basics/forex-money-management-tips</a
    >
    <a
      class="links"
      href="https://www.forex.academy/the-importance-of-using-risk-management-strategies-in-forex-trading"
      >https://www.forex.academy/the-importance-of-using-risk-management-strategies-in-forex-trading</a
    >
    <a
      class="links"
      href="https://www.forex.academy/how-to-calculate-profit-and-loss-in-forex/"
      >https://www.forex.academy/how-to-calculate-profit-and-loss-in-forex</a
    >
  </div>
</div>