
$test:#0b0b0c;
$nu:0;
.counter-block {
    font-size: 2.5rem;
	position: relative;
	span {
		display: inline-block;
	}
	.counter-text {
		position: relative;
	}
	&:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
		height: 0;
		width: 0;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		margin-top: -12px;
	}
}
@keyframes countdown {
    from{
        transform: translateY(900%);

    }
  to {
    transform: translateY(0);
  }
}
.counter-number {
  position: relative;
  
  
  animation: countdown 1s forwards;
  
  @for $i from 1 to 4{ 
    &:nth-of-type( #{$i} ) {
      animation-delay: $i * 0.1 + s;
    }
	}
  i {
    z-index: -1;

  	position: absolute;
    @for $i from 1 to 10 {

      &:nth-child( #{$i} ) {
        top: $i * -100%;
        $time:(10-$i) *0.1+s;

        animation: cssAnimation 0s $time forwards;

}
    }

  }
}
// #showMe {
//   animation: cssAnimation 0s .5s forwards;
//   visibility: visible;
// }
// #showMe2 {
//   animation: cssAnimation 0s .4s forwards;
//   visibility: visible;
// }
// #showMe3 {
//   animation: cssAnimation 0s .25s forwards;
//   visibility: visible;
// }

// #showMe4 {
//   animation: cssAnimation 0s 0.125s forwards;
//   visibility: visible;
// }

@keyframes cssAnimation {
  from {
    visibility: visible;  }
    to{
        visibility: hidden;

    }
}