<span>
  <div>
  <div class="counter-block" style="line-height: 0px;" [attr.translateYVariable]="900">
      <div class="counter-text" style="line-height: 36px;">
        <strong>
          <span  class="counter-number"#myElement (ngchaned)="sendElementInfo(myElement)"  >
          <i class="vi-1">5</i>
          <i class="vi-2">4</i>
          <i class="vi-3">6</i>
          <i class="vi-4">7</i>
          <i class="vi-5">8</i>
          <i class="vi-6">3</i>
          <i class="vi-7">2</i>
          <i class="vi-8">1</i>
          {{value}}</span>%
        </strong>
      </div>
              <small class=" text-base font-medium">ماکسیموم درادون</small>

    </div>
  </div>
  </span>
