<div class="sm:mt-32">
  <div class="flex sm:flex-row flex-col mt-3">
    <div class="basis-1/3 flex justify-center">
      <img
        title="ربات ATM ایرانی اکسپرت"
        loading="lazy"
        alt="IraniExpert - ATM"
        class="w-44 relative top-11 h-72"
        src="assets/img/bot-showcase.webp"
        width="50"
        height="70"
      />
    </div>
    <div class="basis-2/3 pt-14 mr-4 ml-4">
      <span class="title block"> راه اندازی ربات معامله گر </span>
      <b class="text-3xl font-semibold mb-5">ربات معامله گر فارکس ATM</b>
      <p>
        اما برای معامله با ربات معامله گر فارکس ATM کافیست نسخه دمو DEMO را
        دریافت و روی هر بروکری که خواستید آن را اجرا کنیدو هر زمان مطمئن شدید
        وارد REAL شده و ازین سیستم معاملاتی سود ده بهره ببرید و از خدمات
        پشتیبانی و مشاوره رایگان استفاده کنید
      </p>
      <div
        class="mt-7 flex items-center flex-wrap lg:flex-nowrap lg:justify-start"
      >
        <a
          routerLink="shop/atm-expert"
          class="button-styles flex items-center ml-4 mb-4 mt-4 py-2 px-5 rounded-3xl font-semibold text-white"
        >
          دانلود دمو رایگان
          <i class="Arrow-left-icon-white scale-75 mb-1 mr-2"></i>
        </a>
        <button
          (click)="scrollToView()"
          class="link lg:mr-12 flex items-center"
        >
          <i class="call-icon scale-75 ml-2"></i>
          رایگان مشاوره بگیرید
        </button>
      </div>
    </div>
  </div>
</div>
