<div class="all sm:px-16">
  <div class="flex sm:flex-row flex-col mt-3">
    <div class="basis-1/3 flex justify-center">
      <img
        class="img-bot"
        src="assets/img/bot-showcase.png"
        alt="bot-showcase"
      />
    </div>
    <div class="basis-2/3 pt-14">
      <span class="title-b"> راه اندازی ربات معامله گر </span>
      <h6 class="bot-h mb-5">ربات معامله گر فارکس ATM</h6>
      <p>
        اما برای معامله با ربات معامله گر فارکس ATM کافیست نسخه دمو DEMO را
        دریافت و روی هر بروکری که خواستید آن را اجرا کنیدو هر زمان مطمئن شدید
        وارد REAL شده و ازین سیستم معاملاتی سود ده بهره ببرید و از خدمات
        پشتیبانی و مشاوره رایگان استفاده کنید
      </p>
      <div class="mt-7 flex items-center">
          <a href="" routerLink="products/1/اکسپرت_ATM" class="button-styles flex items-center">
            دانلود دمو رایگان
            <img class="icon-btn" src="assets/img/Arrow-left-icon(white).svg" alt="icon">
          </a>
        <a href="" class="link mr-12 flex items-center">
          <img class="scale-75 ml-2" src="assets/img/call-icon.svg" alt="icon">
          رایگان مشاوره بگیرید
        </a>
      </div>
    </div>
  </div>
</div>
