<div class="all">
    <div class="flex flex-row mt-3">
        <div class="basis-1/3">
            <img class="img-bot" src="assets/img/bot-showcase.png" alt="bot-showcase">
        </div>
        <div class="basis-2/3 pt-14">
                <span class="title-b"> <span class="l">_</span>راه اندازی ربات معامله گر </span>
                <h6 class="bot-h mb-5">ربات معامله گر فارکس ATM</h6>
                <p>
                اما برای معامله با ربات معامله گر فارکس ATM کافیست نسخه دمو DEMO را دریافت و روی هر بروکری که خواستید آن را اجرا کنیدو هر زمان مطمئن شدید
                وارد REAL شده و ازین سیستم معاملاتی سود ده بهره ببرید و از خدمات پشتیبانی و مشاوره رایگان استفاده کنید
                </p>
                <div class="mt-7">
                    <button><span class="button-styles">دانلود دمو رایگان<i class="fa-solid fa-arrow-left btn-icon"></i></span></button>                
                    <a class="link mr-12"> <i class="fa-solid fa-phone link-icon"></i>رایگان مشاوره بگیرید</a>    
                </div>    
        </div>
    </div>
</div>  
