<div class="w-10/12">
  <div class="dynamic-list">
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select1' ? 'activated-tab' : ''"
      (click)="selectState('select1')"
    >
      لیست اخبار
    </div>
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select2' ? 'activated-tab' : ''"
      (click)="selectState('select2')"
    >
      نماد
    </div>
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select3' ? 'activated-tab' : ''"
      (click)="selectState('select3')"
    >
      بخش
    </div>
  </div>
  <div [@openClose]="myState">
    <div class="bg-[#0498fb] w-[34px] h-[3.5px]"></div>
  </div>
</div>
<div class="flex flex-col mt-3">
  <div [ngClass]="myState == 'select1' ? 'showtab ' : 'hideTab absolute'">
    <div
      class="max-[350px]:scale-[0.65] max-[410px]:scale-[0.8]"
      style="width: 30rem"
    >
      <div
        class="flex flex-row-reverse justify-between h-[2.4rem] bg-[#0498fb] px-8 items-center"
      >
        <div class="flex text-white mt-2">
          <select
            class="w-[109px] bg-[#0498fb] !text-base"
            [(ngModel)]="selectedMonth"
            (change)="selectDate(selectedDay)"
          >
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">august</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
          </select>
          <strong
            class="flex items-center text-lg cursor-pointer"
            (click)="openyearselector()"
            >{{ selectedYear }}</strong
          >
        </div>
        <i class="ie-icon ie-calendar h-4" (click)="choosRangeDate()"></i>
      </div>
      <div class="cal-date px-3 cursor-grabbing">
        <div class="flex relative overflow-x-scroll">
          <div class="flex">
            <div
              class="cal-date-field w-[6rem] py-3 cursor-grabbing"
              *ngFor="let item of resdate"
              (click)="selectDate(item.day)"
              [ngClass]="{ calActive: item.day == selectedDay }"
            >
              <span class="text-xl">{{ item.day }}</span>
              <small>{{ item.name }}</small>
            </div>
          </div>

          <!-- 
          <div class="cal-date-field w-1/5 py-3">
            <span class="text-xl"> 12</span>
            <small>پنج شنبه</small>
          </div>
          <div class="cal-date-field w-1/5 py-3">
            <span class="text-xl"> 11</span>
            <small>چهار شنبه</small>
          </div>
          <div class="cal-date-field w-1/5 py-3">
            <span class="text-xl"> 10</span>
            <small>سه شنبه</small>
          </div>
          <div class="cal-date-field w-1/5 py-3">
            <span class="text-xl"> 09</span>
            <small>دو شنبه</small>
          </div> -->
        </div>
      </div>
    </div>
    <app-calendar-card-responsive
      *ngFor="let item of table"
      [row]="item"
    ></app-calendar-card-responsive>
  </div>
  <div [ngClass]="myState == 'select2' ? 'showtab ' : 'hideTab absolute'">
    <app-symbols
      (listOfSelectedItems)="setSymbolServices($event)"
    ></app-symbols>
  </div>
  <div [ngClass]="myState == 'select3' ? 'showtab ' : 'hideTab absolute'">
    <app-sector-filter
      (sections)="setSectionServices($event)"
    ></app-sector-filter>
  </div>
</div>

<app-modal
  [header]="true"
  *ngIf="modalStatus"
  [overflow]="'auto'"
  [width]="'10'"
>
  <div content>
    <app-date-picker
      (yearDate)="closeYearModal($event)"
      (calDate)="setCalDate($event)"
      [selectorType]="dateType"
    ></app-date-picker>
  </div>
</app-modal>
