<div class="w-10/12">
  <div class="dynamic-list">
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select1' ? 'activated-tab' : ''"
      (click)="selectState('select1')"
    >
      لیست اخبار
    </div>
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select2' ? 'activated-tab' : ''"
      (click)="selectState('select2')"
    >
      نماد
    </div>
    <div
      class="cursor-pointer"
      [ngClass]="myState == 'select3' ? 'activated-tab' : ''"
      (click)="selectState('select3')"
    >
      بخش
    </div>
  </div>
  <div [@openClose]="myState">
    <div class="bg-[#0498fb] w-[34px] h-[3.5px]"></div>
  </div>
</div>
<div class="flex flex-col mt-3">
  <div [ngClass]="myState == 'select1' ? 'showtab ' : 'hideTab absolute'">
    <div>
      <div
        class="flex flex-row-reverse justify-between h-[2.4rem] bg-[#0498fb] px-8"
      >
        <div class="flex text-white mt-2">
          <select class="w-[109px] bg-[#0498fb] text-base">
            <option value="">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <strong class="flex items-center text-lg">2023</strong>
        </div>
        <div class="flex items-center">
          <i class="ie-icon ie-calendar h-4"></i>
        </div>
      </div>
      <div class="cal-date px-3">
        <div class="cal-date-field w-1/5 py-3">
          <span class="text-xl"> 13</span>
          <small>جمعه</small>
        </div>

        <div class="cal-date-field w-1/5 py-3">
          <span class="text-xl"> 12</span>
          <small>پنج شنبه</small>
        </div>
        <div class="cal-date-field w-1/5 py-3">
          <span class="text-xl"> 11</span>
          <small>چهار شنبه</small>
        </div>
        <div class="cal-date-field w-1/5 py-3 calActive">
          <span class="text-xl"> 10</span>
          <small>سه شنبه</small>
        </div>
        <div class="cal-date-field w-1/5 py-3">
          <span class="text-xl"> 09</span>
          <small>دو شنبه</small>
        </div>
      </div>
    </div>
    <app-calendar-card-responsive
      *ngFor="let item of table"
      [row]="item"
    ></app-calendar-card-responsive>
  </div>
  <div [ngClass]="myState == 'select2' ? 'showtab ' : 'hideTab absolute'">
    <app-symbols></app-symbols>
  </div>
  <div [ngClass]="myState == 'select3' ? 'showtab ' : 'hideTab absolute'">
    <app-sector-filter></app-sector-filter>
  </div>
</div>
